@use 'main' as main;

.mat-mdc-chip-set {
  mat-chip-row {
    height: 28px !important;
    background-color: main.$secondary-color !important;
    border: 1px solid main.$secondary-color;

    span {
      padding-left: 0 !important;
      font-size: 1.0rem !important;
      color: main.$secondary-dark-color !important;
    }

    mat-icon {
      padding: 0 !important;
    }

    .mdc-evolution-chip__text-label {
      color: main.$secondary-dark-color !important;
    }

    ::ng-deep.mdc-evolution-chip__cell {
      margin-right: 5px;
      margin-left: 3px;
    }
  }
}

.candidate-label-outer {
  padding: 5px 10px;
  margin-bottom: 20px;
  background: main.$gray-light-color;
  border: 2px solid main.$gray-light-color;
  border-radius: 5px;

  .mdc-evolution-chip {
    padding-right: 8px !important;
    padding-left: 8px !important;
    border-radius: 16px !important;
  }

}

.mat-mdc-form-field {
  width: 100%;
}

::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
  --mat-form-field-container-height: auto;
  --mat-form-field-filled-label-display: block;
  --mat-form-field-container-vertical-padding: 8px !important;
}
