// ---- main-search-box.component.scss

.mat-mdc-chip-set {
  mat-chip-row {
    height: 28px !important;
    background-color: var(--sec-clr-5) !important;
    border: 1px solid var(--sec-clr-5);

    span {
      padding-left: 0 !important;
      font-size: 1.0rem !important;
      color: var(--sec-clr-7) !important;
    }

    mat-icon {
      padding: 0 !important;
    }

    .mdc-evolution-chip__text-label {
      color: var(--sec-clr-7) !important;
    }

    ::ng-deep.mdc-evolution-chip__cell {
      margin-right: 5px;
      margin-left: 3px;
    }
  }
}

.candidate-label-outer {
  padding: 5px 10px;
  margin-bottom: 20px;
  background: var(--gray-clr-2);
  border: 2px solid var(--gray-clr-2);
  border-radius: 5px;

  .mdc-evolution-chip {
    padding-right: 8px !important;
    padding-left: 8px !important;
    border-radius: 16px !important;
  }

}

.mat-mdc-form-field {
  width: 100%;
}

::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
  --mat-form-field-container-height: auto;
  --mat-form-field-filled-label-display: block;
  --mat-form-field-container-vertical-padding: 8px !important;
}
