<mat-form-field appearance="fill" class="chip-list">
  <mat-chip-grid #chipList aria-label="keyword selection">
    @for (label of labels; track label) {
      <mat-chip-row (removed)="removeLabel(label)"
                    [removable]="removable" selected>
        {{ label }}
        @if (removable) {
          <mat-icon matChipRemove>cancel</mat-icon>
        }
      </mat-chip-row>
    }
    <input #labelInput
           (matChipInputTokenEnd)="add($event)" [formControl]="labelCtrl"
           [matAutocomplete]="auto" [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
  </mat-chip-grid>
  <!-- autocompletion does not work ATM, needs wiring up on the TS side -->
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    @let filtered = (filteredLabels | async) ?? [];
    @for (label of filtered; track label) {
      <mat-option [value]="label">
        {{ label }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
<!--<div class="candidate-label-outer">-->
<!--  <mat-chip-listbox class="candidate-labels">-->
<!--    <mat-chip-option (click)="clicked($event)" *ngFor="let label of getCandidateLabels()" class="label">-->
<!--      {{label}}-->
<!--    </mat-chip-option>-->
<!--  </mat-chip-listbox>-->
<!--</div>-->
<!-- <button mat-flat-button color="primary" type="button" (click)="saveLabels()" class="save-label-btn">
  <mat-icon>add</mat-icon>
  Save as a new tab
</button> -->
