<form [formGroup]="workspaceCreationFormGroup">
  <ng-container *ngIf="data.isCreationMode;else editMode">
    <h2>Create New Workspace</h2>
    <div class="instruction">
      <span class="material-icons"> help_outline </span>
      <div class="instruction-text">
        <h3 class="question"> What is the workspace ? </h3>
        <p class="answer">
          Explanations Explanations Explanations Explanations Explanations Explanations Explanations Explanations
          Explanations Explanations
        </p>
      </div>
    </div>
  </ng-container>
  <ng-template #editMode>
    <h2>Edit Workspace</h2>
  </ng-template>
  <div class="plain-form-container">
    <!-- Name -->
    <mat-form-field appearance="fill">
      <mat-label>New workspace name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <br>
    <!-- Description-->
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <!-- Submit -->
    <div class="button-row">
      <ng-container *ngIf="data.isCreationMode;else updateButton">
        <button class="submit-button" mat-flat-button color="primary" (click)="createWorkspace()">Create</button>
      </ng-container>
      <ng-template #updateButton>
        <button class="submit-button" mat-flat-button color="primary" (click)="updateWorkspace()">Update</button>
      </ng-template>
      <button class="cancel-button" mat-flat-button (click)="closeForm()">Cancel</button>
    </div>
  </div>
</form>
