<div class="mat-typography dialog-container" ngClass.lt-sm="mobile">
  <form [formGroup]="workspaceQuotaForm" novalidate>
    <h1 class="mat-dialog-title mat-headline">Change workspace Quota</h1>
    <div class="mb-20 form-description center__v">
      <!--    <mat-icon fontSet="material-icons-outlined" class="">face</mat-icon>-->
      Current workspace quota for
      <mat-chip class="mat-chip-sm ml-5 mr-5">{{ data.email }}</mat-chip>
      <span class="mr-10">: <em>{{data.workspaceQuota}}</em></span>
    </div>
    <div class="form-container mb-10">
      <button mat-icon-button aria-label="remove" class="shadow-s mr-5" color="primary" (click)="changeQuotas(-1)"
              [disabled]="!isMinusActive">
        <mat-icon fontSet="material-icons-outlined">remove</mat-icon>
      </button>
      <mat-form-field appearance="outline">
        <input matInput formControlName="newValue" type="number">
        <mat-error *ngIf="errorHandling('newValue', 'min')">
          The value should be greater than 0
        </mat-error>
      </mat-form-field>
      <button mat-icon-button aria-label="add" class="shadow-s ml-5" color="primary" (click)="changeQuotas(1)">
        <mat-icon fontSet="material-icons-outlined">add</mat-icon>
      </button>
    </div>
    <button mat-flat-button color="accent" aria-label="update" class="update-button full__w"
            [disabled]="!workspaceQuotaForm.valid"
            (click)="updateQuotas()">
      Update
    </button>
    <div>
      <button mat-button aria-label="cancel" class="cancel-button button-link button-sm full__w u-line"
              (click)="dialogRef.close()">
        close
      </button>
    </div>
  </form>
</div>
