//@import "src/styles/main.scss";

.form-description {
  text-align: center;

  em {
    font-size: 2.4rem;
    font-style: normal;
  }
}

.form-container {
  input {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
