<div class="content-header-container"
     fxLayout="row" fxLayoutAlign="space-between stretch">
  <app-main-content-header
    fxFlex="grow"
    fxLayout="row"
    fxLayoutAlign="start center"
    [content]="content"
    [isSearchOn]="false"
    [labels]="null">
  </app-main-content-header>
</div>
<section id="account-container" class="content-container">
  <div class="info-body content-cutout">
    <form role="form">
      <dl class="user-info" ngClass.gt-sm="grid">
        <dt>Username</dt>
        <dd>{{ user?.ext_id }}</dd>
        <!-- TODO: replace with workspace quota display -->
        <dt>Role</dt>
        <dd>
          <ng-container *ngIf="user?.is_admin; then admin; else not_admin"></ng-container>
          <ng-template #admin>Admin</ng-template>
          <ng-template #not_admin>
            <ng-container *ngIf="isWorkspaceOwner() then workspace_owner; else not_workspace_owner">
            </ng-container>
          </ng-template>
          <ng-template #workspace_owner>Workspace Owner</ng-template>
          <ng-template #not_workspace_owner>
            <!-- TODO : Check how to integrate workspace manager depending on rest of UI design -->
            <ng-container *ngIf=" user ; then regular_user else workspace_manager">
            </ng-container>
          </ng-template>
          <ng-template #workspace_manager>Workspace Manager</ng-template>
          <ng-template #regular_user>Active</ng-template>
        </dd>
        <dt>Desktop notifications</dt>
        <dd>
          <ng-container [ngSwitch]="getDesktopNotificationPermissionState()">
            <div *ngSwitchCase="'default'">
              <p>
                We can show desktop notifications when environment sessions are started or are about to expire.
              </p>
              <button mat-flat-button color="warn" (click)="askForDesktopNotificationPermission()">
                <mat-icon class="mr-5">notifications</mat-icon>
                Initialize desktop notifications
              </button>
            </div>
            <div *ngSwitchCase="'granted'">
              <p class="icon__notification-on center__v mb-10 mat-subheading-2">Desktop notifications are active</p>
              You can control the permissions in your browser's preferences.
            </div>
            <div *ngSwitchCase="'denied'">
              <p class="icon__notification-off center__v mb-10 mat-subheading-2">Desktop notifications are blocked.</p>
              You can control the permissions in your browser's preferences.
            </div>
            <div *ngSwitchCase="'asking'">
              Waiting for permission dialog.
            </div>
            <div *ngSwitchCase="null">
              This browser does not support desktop notifications.
            </div>
          </ng-container>
        </dd>
      </dl>
    </form>
  </div>
</section>
