@use "main" as main;

.content-container {
  position: relative;
  min-height: calc(100vh - 80px);
  padding: 15px 40px;
  background: map-get(main.$app-primary, 100);

  .info-body {
    padding: 20px;
    background: white;
    border: 2px solid map-get(main.$app-primary, 300);
    border-radius: 3px !important;

    dd {
      margin-bottom: 10px;
    }

    #initialize-desktop-notifications-btn {
      display: flex;
      margin-top: 10px;
    }

    .dl-section {
      padding-top: 30px;
      margin-top: 30px;
      border-top-style: groove;
      border-top-width: thin;
    }

    #request-account-deletion-btn {
      display: flex;
      margin-top: 10px;
      background-color: main.$warn-color !important;
    }
  }

  a {
    color: main.$primary-dark-color;
    text-decoration: underline dotted;

    &:hover {
      color: main.$primary-color;
      text-decoration: underline;
    }
  }
}
