<footer id="footer" class="footer inversion dark u-line">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between">
    <div class="footer-column">
      <div class="footer-links">
        <p>About Notebooks</p>
        <ul>
          <li>
            <a href="https://research.csc.fi/en/notebooks-terms-of-use" target="_blank" rel="noopener"> Terms of use </a>
          </li>
          <li>
            <a href="https://notebooks.csc.fi/accessibility_statement.html" target="_blank" rel="noopener"> Accessibility </a>
          </li>
          <li>
            <a href="https://research.csc.fi/en/notebooks-terms-of-use#4" target="_blank" rel="noopener"> Cookies </a>
          </li>
          <li>
            <a href="https://research.csc.fi/en/notebooks-terms-of-use#6" target="_blank" rel="noopener"> Privacy </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-column">
      <p>Notebooks Team</p>
      <dl>
        <dt>SERVICE DESK</dt>
        <dd>Open Monday to Friday (9:00 - 16:00)</dd>
        <dd><a href="mailto:servicedesk@csc.fi" rel="noopener">servicedesk@csc.fi</a></dd>
        <!-- <dd>
          <a href="http://www.csc.fi/careers" target="_blank" rel="noopener">
          Open positions
          </a>
        </dd> -->
      </dl>
    </div>
    <div class="footer-column">
      <p>About CSC</p>
      <dl>
        <dt>CSC - IT CENTER FOR SCIENCE LTD.</dt>
        <dd>
          Life Science Center Keilaniemi:
          Keilaranta 14, Espoo, Finland
        </dd>
        <dd>
          Datacenter CSC Kajaani:
          Tehdaskatu 15 P21 87100 Kajaani, Finland
        </dd>
        <dd>
          <a href="http://www.csc.fi/contact-info" target="_blank" rel="noopener">
          Detailed Contact Information
          </a>
        </dd>
      </dl>
    </div>
    <!-- <div class="footer-column">
    <ul>
      <li>
        <a href="https://www.facebook.com/CSCfi" target="_blank" rel="noreferrer" class="facebook">
          Facebook
        </a>
      </li>
      <li>
        <a href="https://twitter.com/CSCfi" target="_blank" rel="noreferrer" class="twitter">
          Twitter
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCFv-76jNZlBFp6O9umdnyDA" target="_blank" rel="noreferrer" class="youtube">
          YouTube
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/company/csc---it-center-for-science" target="_blank" rel="noreferrer" class="linkedin"> LinkedIn </a>
      </li>
    </ul>
  </div> -->

  </div>
</footer>
