<ng-container *ngIf="application">
  <mat-card class="card grid-col mb-5"
            [ngClass]="{'expired': isExpiredTimestamp(application.info.workspace_expiry_ts) }"
            ngClass.lt-sm="mobile" ngClass.lt-md="tablet"
            [attr.id]="'env-'+application.id">
    <!-- Card LEFT section -->
    <div class="card-media-container bg__primary-light grid-center"
         [ngClass]="application?.application_type">
      <div class="thumbnail mat-headline">
        <fa-icon [icon]="applicationIcon" class="mb-2 md-48"></fa-icon>
        <span>{{ applicationTypeName }}</span>
      </div>
    </div>
    <!-- //// End of Left section -->

    <!-- Card CENTER section -->
    <div class="card-info-container grid-row">
      <mat-card-header>
        <mat-card-title class="application-name mat-title mb-0">
          <span [innerHTML]="application.name"></span>
        </mat-card-title>

        <mat-card-subtitle>
          <div *ngIf="context?.identifier==='catalog'"
               class="workspace-info center__vi"
               [ngClass]="membershipType">
            <ng-container *ngIf="!application.workspace_name.startsWith('System.'); else publicBlock">
              <div class="workspace-name grid-icon-text">
                <mat-icon class="user-role-icon md-16" [matTooltip]="membershipType">apps</mat-icon>
                {{ application.workspace_name }}
              </div>
              <div class="expiry-date mat-caption">
                <mat-icon class="md-16" matTooltip="Expired by">event_available</mat-icon>
                Valid till {{ application.info.workspace_expiry_ts | dateDisplay }}
                <span class="expiry-warning txt__warn-dark"
                      *ngIf="expirationDateGap < 7" [matTooltip]="getSoonExpiresTooltip()">
                ({{ application.info.workspace_expiry_ts | remainingDaysDisplay }})
                </span>
              </div>

            </ng-container>
            <ng-template #publicBlock>
              <div class="workspace-name grid-icon-text">
                <mat-icon class="user-role-icon md-16 mr-2" matTooltip="public">public</mat-icon>
                Public
              </div>
            </ng-template>
          </div>
          <div class="application-meta mat-caption center__vi">
            <div class="volumes center__v mr-10">
              <div class="volume center__v mr-10" [ngClass]="{'active': isSharedVolumeActive }"
                   [matTooltip]="isSharedVolumeActive ? 'Shared folder available' : 'No shared folder'">
                <mat-icon class="md-16 mr-2" *ngIf="isSharedVolumeActive; else noSharedVolume">folder</mat-icon>
                <ng-template #noSharedVolume>
                  <mat-icon fontSet="material-icons-outlined" class="md-16 mr-2">folder_off</mat-icon>
                </ng-template>
                <span class="heading">shared</span>
              </div>
              <div class="volume center__v" [ngClass]="{'active':!isPublic && isWorkVolumeActive}"
                   [matTooltip]="isWorkVolumeActive ? 'Work folder available' : 'No work folder'">
                <mat-icon class="md-16 mr-2" *ngIf="!isPublic && isWorkVolumeActive ; else noWorkVolume ">folder
                </mat-icon>
                <ng-template #noWorkVolume>
                  <mat-icon fontSet="material-icons-outlined" class="md-16 mr-2">folder_off</mat-icon>
                </ng-template>
                <span class="heading">my-work</span>
              </div>
            </div>
            <span class="lifetime center__v">
              <mat-icon fontSet="material-icons-outlined" class="md-16 mr-2">watch_later</mat-icon>
              <span class="heading">Lifetime: {{lifetime}}</span>
            </span>
          </div>

        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="grid-row">
        <div class="description mat-body-1" [innerHTML]="description"></div>
        <div class="chips mat-caption">
          <ng-container *ngFor="let label of labels.split(',')">
            <span class="chip__sm"
                  [ngClass]="{'self-learning':label.trim()==='self-learning'}">{{ label.trim() }}
            </span>
          </ng-container>
        </div>
      </mat-card-content>
    </div>
    <!-- //// END of CENTER section-->

    <!-- Card RIGHT section -->
    <mat-card-actions class="card-action-container center__vh">
      <app-main-session-button [applicationId]="application.id"
                               [context]="context"
                               [isSessionDeleted]="isSessionDeleted"
                               [isWorkspaceExpired]="isExpiredTimestamp(application.info.workspace_expiry_ts)">
      </app-main-session-button>
    </mat-card-actions>
  </mat-card>
</ng-container>
