@use 'main' as main;
@use 'base-styles' as base;
@use 'ui-elements' as ui;
@use 'utilities' as util;
@include ui.mini-chips;

:host {
  width: 100%;
  max-width: var(--container-width);
}

.mat-mdc-card {
  @include util.flex-row-block($type: space-between, $gap: 0);
  min-height: base.$application-card-height;
  overflow: hidden;
  color: var(--neut-clr-8);
  border: none;
  border-radius: 3px;
  box-shadow: var(--ui-shadow);

  .card-media-container {
    @include base.centering(xy);
    flex: 0 1 110px;
    max-height: base.$application-card-height + 10px;
    color: white;
    background: var(--sec-clr-5);
    border-radius: 3px 0;

    .thumbnail {
      @include util.flex-col-block($gap: 5px);
      text-align: center;
    }

    .thumbnail fa-icon {
      width: auto;
      font-size: 4rem;

      &.linux {
        font-size: 5.2rem;
        color: var(--prim-clr-7);
      }
    }
  }

  &.joined-ws {
    .workspace-name {
      color: var(--prim-clr-7) !important;
    }

    .card-media-container {
      color: white;
      background: var(--prim-clr-6);
    }
  }

  &.expired-ws {
    .workspace-name {
      color: var(--neut-clr-6) !important;
    }

    .card-media-container {
      color: white;
      background: var(--neut-clr-5);
    }
  }

  .card-middle-container {
    @include util.flex-col-block($gap: 0);
    flex: 1;

    .mat-mdc-card-header {
      flex: 0 0 base.$application-card-header-height;
      padding: 10px 4px 0 base.$application-card-content-padding;
      border-bottom: var(--content-border);

      .application-name h3 {
        font-size: 1.7rem !important;
      }
    }

    mat-card-content {
      @include util.flex-row-block($gap: 0, $type: stretch);
      flex: 0 0 base.$application-card-height - base.$application-card-header-height;
      padding: 0;

      .card-info-container {
        @include util.flex-col-block($gap: 5px);
        flex: 1 0 300px;
        margin-bottom: 10px;

        .description {
          @include ui.common-link;

          flex: 1 1 base.$application-card-height - base.$application-card-header-height - base.$application-card-labels-height - 15px;
          padding: 10px 10px 0 base.$application-card-content-padding;
          font-size: 1.3rem;
          line-height: 1.6;
        }

        .mini-chips {
          flex: 1 0 base.$application-card-labels-height;
          padding: 0 5px 0 base.$application-card-content-padding;
        }
      }
    }
  }

  .application-meta {
    @include util.flex-col-block($gap: 8px, $type: stretch);
    flex: 0 1 300px;
    padding: 10px 15px;
    border-left: var(--content-border);

    .workspace-name {
      .shared-workspace-name {
        @include ui.deco-text($font-size: 1.4rem, $icon: apps, $icon-type: 'Icons', $gap: 3px, $icon-size: 2rem);
        font-weight: 600;
      }

      .public-workspace-name {
        @include ui.deco-text($color: var(--sec-clr-6), $font-size: 1.4rem, $icon: public, $icon-type: 'Icons', $icon-size: 2rem, $gap: 3px);
        font-weight: 600;
      }
    }

    .expiry-date {
      @include ui.deco-text($font-size: 1.3rem, $icon: calendar_month, $icon-type: 'Symbols', $icon-size: 1.8rem, $icon-weight: 500, $gap: 3px);
      font-weight: 500;

      .expiry-warning {
        padding: 1px 8px;
        margin-left: 5px;
        color: var(--warn-clr-7);
        background: var(--warn-clr-0);
        border-radius: 3px;
      }
    }

    .volumes {
      @include util.flex-row-block($gap: 5px 25px, $distribution: start);
      padding-top: 10px;
      border-top: var(--content-border);

      .shared-volume,
      .mywork-volume {
        &.active {
          @include ui.deco-text($font-size: 1.2rem, $icon: folder_check, $icon-type: 'Symbols', $icon-size: 1.8rem, $icon-weight: 500, $gap: 3px);
        }

        &.inactive {
          @include ui.deco-text($font-size: 1.2rem, $icon: folder_off, $icon-type: 'Symbols', $icon-size: 1.8rem, $icon-weight: 500, $gap: 3px);
        }
      }
    }

    .lifetime {
      @include ui.deco-text($font-size: 1.2rem, $icon: timer, $icon-type: 'Symbols', $icon-size: 1.8rem, $icon-weight: 500, $gap: 3px);
    }
  }

  .mat-mdc-card-actions {
    @include util.flex-col-block($gap: 0, $type: stretch, $y-alignment: center);
    flex: 0 1 140px;
    padding: 15px 8px;
    border-left: var(--content-border);
  }
}

// ----- Tablet
@media (max-width: base.$tablet-width) {
  .mat-mdc-card {
    height: auto;
    overflow: visible;

    .card-media-container {
      height: 110px;
    }

    .card-middle-container {
      // border-left: var(--content-border);
    }

    .mat-mdc-card-content {
      display: flex !important;
      flex-direction: column !important;
    }

    .card-info-container {
      flex: 1 1 auto !important;
      height: auto !important;
      margin-bottom: 0 !important;

      .description {
        flex: 1 1 auto !important;
      }
    }

    .application-meta {
      flex: 0 1 auto !important;
      // border-top: var(--content-border) !important;
      border-left: none !important;
    }
  }
}

// ----- MOBILE

@media (max-width: base.$mobile-width) {

  ::ng-deep .mat-mdc-card {
    display: flex !important;
    flex-direction: column !important;

    .card-media-container,
    .card-info-container,
    .application-meta,
    .mat-mdc-card-actions {
      flex: none !important;
    }

    .card-info-container {
      padding-bottom: 10px;
    }
  }

  .mat-mdc-card-header {
    padding: 15px !important;
  }

  .mat-mdc-card-content {
    display: flex;
    padding: 15px !important;
  }

  .application-meta {
    width: 100%;
    border: none;
    border-top: var(--content-border) !important;
    border-bottom: var(--content-border) !important;

    .lifetime {
      margin-bottom: 0 !important;
    }
  }
}

