@use 'base-styles' as base;
@use 'ui-components' as uis;
@use 'utilities' as utils;
@include uis.mini-chips;
@include uis.card($direction: row, $height: base.$application-card-height);

:host {
  width: 100%;
  max-width: var(--container-width);
}

.mat-mdc-card {
  .mat-mdc-card-header,
  .mat-mdc-card-content:not(:last-child) {
    border-bottom: var(--content-border) !important;
  }

  .card-media-container {
    @include base.centering(xy);
    flex: 0 0 base.$application-card-media-width;
    max-height: base.$application-card-height + 10px;
    color: white;
    background: var(--sec-clr-5);
    border-radius: 3px 0 0 3px;

    .thumbnail {
      @include utils.flex-col-block($gap: 5px);
      text-align: center;
    }

    .thumbnail fa-icon {
      width: auto;
      font-size: 4rem;

      &.linux {
        font-size: 5.2rem;
        color: var(--prim-clr-7);
      }
    }
  }

  .card-middle-container {
    @include utils.flex-row-block($gap: 0, $type: stretch, $wrap: false);
    flex: 0 1 base.$container-width - base.$application-card-media-width - base.$application-card-action-width;

    .card-main-content {
      @include utils.flex-col-block($gap: 0, $type: stretch);
      flex: 2 1 600px;
      border-right: var(--content-border);

      .mat-mdc-card-header {
        flex: 0 0 base.$application-card-header-height;
      }

      .description {
        margin-bottom: 15px;
      }
    }

    .mini-chips {
      margin-bottom: 10px;
    }

    .card-meta-content {
      @include utils.flex-col-block($gap: 0, $type: stretch);
      flex: 1 0 300px;
      padding: 0 !important;

      .workspace-info {
        min-height: base.$application-card-header-height;
      }

      .workspace-name {
        font-weight: 600;

        .shared-workspace-name {
          @include uis.deco-text($font-size: 1.4rem, $icon: apps, $icon-type: 'Icons', $gap: 3px, $icon-size: 2rem);
        }

        .public-workspace-name {
          @include uis.deco-text($color: var(--sec-clr-6), $font-size: 1.4rem, $icon: public, $icon-type: 'Icons', $icon-size: 2rem, $gap: 3px);
        }
      }

      .expiry-date {
        @include uis.deco-text($font-size: 1.3rem, $icon: calendar_month, $icon-type: 'Symbols', $icon-size: 1.8rem, $icon-weight: 500, $gap: 3px);
        margin: 8px 0 5px;

        .expiry-warning {
          padding: 1px 8px;
          margin-left: 5px;
          color: var(--warn-clr-7);
          background: var(--warn-clr-0);
          border-radius: 3px;
        }
      }

      .volumes {
        @include utils.flex-row-block($gap: 5px 20px, $distribution: start);
        margin-bottom: 8px;

        .shared-volume,
        .mywork-volume {
          &.active {
            @include uis.deco-text($font-size: 1.2rem, $icon: folder_check, $icon-type: 'Symbols', $icon-size: 1.8rem, $icon-weight: 500, $gap: 3px);
          }

          &.inactive {
            @include uis.deco-text($font-size: 1.2rem, $icon: folder_off, $icon-type: 'Symbols', $icon-size: 1.8rem, $icon-weight: 500, $gap: 3px);
          }
        }
      }

      .lifetime {
        @include uis.deco-text($font-size: 1.2rem, $icon: timer, $icon-type: 'Symbols', $icon-size: 1.8rem, $icon-weight: 500, $gap: 3px);
        margin-bottom: 10px;
      }
    }
  }

  .mat-mdc-card-actions {
    @include utils.flex-col-block($gap: 0, $type: stretch, $y-alignment: center);
    flex: 0 0 base.$application-card-action-width;
    border-left: var(--content-border);
  }
}

.mat-mdc-card.joined-ws {
  .workspace-name {
    color: var(--prim-clr-7) !important;
  }

  .card-media-container {
    background: var(--prim-clr-6);
  }
}

.mat-mdc-card.expired-ws {
  .workspace-name {
    color: var(--neut-clr-6) !important;
  }

  .card-media-container {
    background: var(--neut-clr-5);
  }
}


// ----- Tablet
@media (max-width: base.$tablet-width) {
  .card-media-container {
    height: 110px;
  }

  .card-middle-container {
    display: block !important;
    border-left: var(--content-border);

    .card-main-content {
      border-right: none !important;
    }
  }

  .mat-mdc-card-header,
  .mat-mdc-card-content:not(.application-meta) {
    border-bottom: var(--content-border) !important;
  }
}
