<ng-container *ngIf="application">
  <mat-card appearance="outlined"
            [ngClass]="{'expired-ws': isExpiredTimestamp(application.info.workspace_expiry_ts), 'joined-ws': !application.workspace_name.startsWith('System.') }"
            [attr.id]="'env-'+application.id">

    <!-- Card LEFT section -->
    <div class="card-media-container"
         [ngClass]="application?.application_type">
      <div class="thumbnail">
        <h1>
          <ng-container *ngIf="isCustomLinuxIconAvailable; else elseBlock">
            <app-custom-linux-icon></app-custom-linux-icon>
          </ng-container>
          <ng-template #elseBlock>
            <fa-icon [icon]="applicationIcon" [ngClass]="applicationIcon"></fa-icon>
          </ng-template>
        </h1>
        <h4>{{ applicationTypeName }}</h4>
      </div>
    </div>
    <!-- //// End of Left section -->

    <!-- Card CENTER section -->
    <div class="card-info-container">
      <mat-card-header>
        <mat-card-title class="application-name">
          <h3 [innerHTML]="application.name"></h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="description" [innerHTML]="description"></div>
        <div class="chips">
          <ng-container *ngFor="let label of labels.split(',')">
            <span class="chip"
                  [ngClass]="{'self-learning':label.trim()==='self-learning'}">{{ label.trim() }}</span>
          </ng-container>
        </div>
      </mat-card-content>
    </div>
    <!-- //// END of CENTER section-->

    <!-- Card CENTER section -->
    <div class="application-meta">
      <div class="state" *ngIf="context.identifier!=='my-workspaces'">
        <h5 class="workspace-name"
            [ngClass]="membershipType">
          <ng-container *ngIf="!application.workspace_name.startsWith('System.'); else publicBlock">
            <mat-icon class="user-role-icon" [matTooltip]="membershipType">apps</mat-icon>
            <span>{{application.workspace_name}}</span>
          </ng-container>
          <ng-template #publicBlock>
            <mat-icon class="user-role-icon" matTooltip="public">public</mat-icon>
            <span>Public</span>
          </ng-template>
        </h5>
        <ng-container *ngIf="!application.workspace_name.startsWith('System.')">
          <br>
          <h5 class="expiry-date" [ngClass]="membershipType">
            <mat-icon matTooltip="Expires">event_available</mat-icon>
            <ng-container *ngIf="workspace?.membership_expiry_policy.kind==='persistent'">
              Expires {{ application.info.workspace_expiry_ts | dateDisplay }}
            </ng-container>
            <ng-container *ngIf="workspace?.membership_expiry_policy.kind==='activity_timeout'">
              Expires after {{ workspace.membership_expiry_policy.timeout_days }} days of inactivity
            </ng-container>
            <span class="expiry-warning"
                  *ngIf="expirationDateGap < 14" [matTooltip]="getSoonExpiresTooltip()">
              ({{ application.info.workspace_expiry_ts | remainingDaysDisplay }})
            </span>
          </h5>
        </ng-container>
      </div>

      <div class="volumes">
        <h5 class="volume" [ngClass]="{'active': isSharedVolumeActive }"
            [matTooltip]="isSharedVolumeActive ? 'Shared folder available' : 'No shared folder'">
          <mat-icon fontSet="material-icons-outlined"
                    *ngIf="isSharedVolumeActive; else noSharedVolume">folder</mat-icon>
          <ng-template #noSharedVolume>
            <mat-icon fontSet="material-icons-outlined">folder_off</mat-icon>
          </ng-template>
          <span class="heading">shared: {{ isSharedVolumeActive ? 'ON' : 'OFF' }}</span>
        </h5>
        <h5 class="volume" [ngClass]="{'active':!isPublic && isWorkVolumeActive}"
            [matTooltip]="isWorkVolumeActive ? 'Work folder available' : 'No work folder'">
          <mat-icon fontSet="material-icons-outlined"
                    *ngIf="!isPublic && isWorkVolumeActive ; else noWorkVolume ">folder
          </mat-icon>
          <ng-template #noWorkVolume>
            <mat-icon fontSet="material-icons-outlined">folder_off</mat-icon>
          </ng-template>
          <span class="heading">my-work: {{ isWorkVolumeActive ? 'ON' : 'OFF' }}</span>
        </h5>
      </div>
      <div class="lifetime">
        <h5 class="lifetime-value">
          <mat-icon fontSet="material-icons-outlined">watch_later</mat-icon>
          <span class="heading">Lifetime: {{lifetime}}</span>
        </h5>
      </div>
    </div>

    <!-- Card RIGHT section -->
    <mat-card-actions class="card-action-container">
      <app-main-session-button [applicationId]="application.id"
                               [context]="context"
                               [isSessionDeleted]="isSessionDeleted"
                               [isWorkspaceExpired]="isExpiredTimestamp(application.info.workspace_expiry_ts)">
      </app-main-session-button>
    </mat-card-actions>
  </mat-card>
</ng-container>
