<div class="tour-bubble">

  <div class="arrow-left">
    <div class="arrow-line"></div>
  </div>
  <div class="arrow-up">
    <div class="arrow-line"></div>
  </div>

  <div class="tour-bubble-box">
    <h2>Try a demo workspace with example applications!</h2>
    <h3>What can you do in workspaces?</h3>

    <div class="bubble-steps-container">
      @for (step of tourSteps; track step.id) {
        @if (step.id === currentStepNumber || !isTourStepOn) {
          <div [attr.data-step]="step.id"
               class="step-item"
          >
            @if (step.icon) {
              <mat-icon fontSet="material-icons-outlined">{{ step.icon }}</mat-icon>
            }
            @if (step.title) {
              <h4 [innerHTML]="step.title"></h4>
            }
            @if (step.content) {
              <p [innerHTML]="step.content"></p>
            }
          </div>
        }
      }
    </div>
    @if (isTourStepOn) {
      <div class="bubble-footer">
        <button (click)="previousStep()"
                class="prev-button">
          <mat-icon fontSet="material-icons-outlined">keyboard_arrow_left</mat-icon>
        </button>
        <div class="step-indicator">{{ currentStepNumber }}/{{ totalSteps }}</div>
        <button (click)="nextStep()"
                class="next-button">
          <mat-icon fontSet="material-icons-outlined">keyboard_arrow_right</mat-icon>
        </button>
      </div>
    }
  </div>

</div>