@import "src/styles/main.scss";

:host {
  position: absolute;
  width: 100%;
  top: 80px;
  z-index: 1000;
}


/* -------------------------------------- */
/* Content bubble */
/* -------------------------------------- */

.bubble-steps-container {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.tour-bubble {
  z-index: 1000;
  display: flex;
  flex-direction: row;

  .tour-bubble-box {
    flex: 1 1 800px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border: 10px solid $primary-light-color;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative; /* reference point for absolutely positioning the arrow */

    h2, h3, h4 {
      text-align: center;
      width: 100%;
    }

    h2 {
      padding-top: 5px;
      padding-bottom: 10px;
      background: $primary-light-color;
      color: #FFFFFF;
      margin-bottom: 30px;
      font-size: 2rem;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 2.6rem;
    }

    .bubble-steps-container {
      padding: 10px 20px;

      .step-item {
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding: 0;
        margin: 0;
        flex: 1 1 200px;

        h4 {
          font-size: 1.8rem;
          font-weight: bold;
        }

        mat-icon {
          color: $primary-light-color;
          display: block;
          text-align: center;
          flex: 0 0 90px;
          width: 100%;
          font-size: 9rem;
        }

        p {
          font-size: 1.5rem;
          color: $dark-text-color;
          line-height: 1.5;
          text-align: center;
        }
      }
    }
  }
}

/* -------------------------------------- */
/* arrow */
/* -------------------------------------- */

.tour-bubble .arrow-left {
  flex: 0 1 20px;
  height: 30px;
  margin-top: -35px;
  filter: drop-shadow(-2px 0 2px rgba(0, 0, 0, 0.1));
  z-index: 1500;
  margin-left: 40px;

  .arrow-line {
    background: $primary-light-color;
    height: 20px;
    margin-top: 50px;
  }

  ::before {
    content: '';
    position: absolute;

    left: -32px;
    top: 40px;

    /* CSS Triangle Trick */
    border-style: solid;
    border-width: 20px 32px 20px 0;
    border-color: transparent $primary-light-color transparent transparent;

    filter: drop-shadow(-2px 0 2px rgba(0, 0, 0, 0.1));
  }
}

.tour-bubble .arrow-up {
  display: none;
}

/* -------------------------------------- */
/* spacer */
/* -------------------------------------- */

.tour-bubble::after {
  flex: 1 0 40px;
  content: '';
}

/* -------------------------------------- */
/* Footer */
/* -------------------------------------- */

.bubble-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 30px;

  .step-indicator {
    text-align: center;
  }

  button {
    padding: 0;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
    transition: background-color 0.2s;

    &.prev-button,
    &.next-button {
      color: $primary-color;

      &:disabled {
        background-color: gray;
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}

/* -------------------------------------- */
/* Mobile */
/* -------------------------------------- */

@media screen and (max-width: 1250px) {

  :host {
    position: absolute;
    top: 10px;
    padding: 20px;
  }

  .tour-bubble {
    flex-direction: column;

    .arrow-left {
      display: none;
    }

    .arrow-up {
      display: flex !important;
      flex-basis: 30px;
      justify-content: center;

      .arrow-line {
        height: 30px;
        background: $primary-light-color;
        width: 20px;
      }

      ::before {
        content: '';
        position: absolute;

        margin-top: -20px;
        margin-left: -10px;

        /* CSS Triangle Trick */
        border-style: solid;
        border-width: 0 20px 32px 20px;
        border-color: transparent transparent $primary-light-color transparent;

        filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.1));
      }
    }

    .tour-bubble-box {
      flex: 1 1 auto;
    }

    &::after {
      display: none;
    }
  }

  .bubble-steps-container {
    flex-direction: column;

    .step-item {
      flex: 0 1 auto;
      display: flex;
      flex-direction: row;

      h4 {
        @include center(vertical);
        text-align: left;
      }

      mat-icon {
        font-size: 4.8rem !important;
        height: auto !important;
      }
    }
  }
}
