@import "src/styles/main.scss";

.dialog-container {
  height: 100%;

  .corner-button-container {
    height: 20px;
  }

  mat-dialog-content {
    div {
      margin-bottom: 20px;
    }
  }
  .mat-mdc-select {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 10px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid map-get($app-gray, light);
  }

  .dialog-actions {
    margin: 20px 0 !important;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .select-custom-image-btn {
      @include primary-main-background;
      flex: 3 0 auto;
    }

    .cancel-button {
      flex: 1 1 auto;
    }
  }
}
