<div class="content-header-container grid-col">
  <app-main-content-header
    [context]="context"
    [isSearchOn]="false"
    [isAutocompleteDisabled]="true"
    [labels]="null">
  </app-main-content-header>
  <button mat-flat-button color="warn"
          (click)="markMessagesAsRead()"
          [disabled]="isAllRead">
    <mat-icon fontSet="material-icons-outlined">check</mat-icon>
    Mark as read
  </button>
</div>
<div id="message-page" class="content-container">
  <ng-container *ngIf="getMessages().length > 0; else elseBlock">
    <section class="content-cutout">
      <ng-container *ngFor="let message of getMessages()">
        <div class="message info-body" [ngClass]="{'unread':!message.is_read}">
          <div class="title mat-title">{{ message.subject }}</div>
          <span class="date mat-caption">{{ getIsoToTimestamp(message.broadcasted) | dateDisplay }}</span>
          <p class="content">
            <span [innerHtml]="message.message"></span>
          </p>
        </div>
      </ng-container>
    </section>
  </ng-container>

  <ng-template #elseBlock>
    <section class="status-info-container">
      <div class="empty-status">
        <mat-icon fontSet="material-icons-outlined" class="md-96">mail</mat-icon>
        <span class="status-summary">No messages yet.</span>
      </div>
    </section>
  </ng-template>
</div>
