@use 'main' as main;
@include main.page-component;

.header-btn {
  @include main.header-button('sec');
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .item {
    @include main.info-item;
  }
}