<div class="page-container">
  <div class="content-header-container">
    <app-main-content-header
        [context]="context"
        [isAutocompleteDisabled]="true"
        [isSearchOn]="false"
        [labels]="null">
    </app-main-content-header>
    <button (click)="markMessagesAsRead()" [disabled]="isAllRead"
            class="header-action-btn"
            id="mark-all-read-btn">
      <div>Mark all as read</div>
    </button>
  </div>
  <div class="content-container">
    <div *ngIf="getMessages().length > 0; else elseBlock" class="items">
      <ng-container *ngFor="let message of getMessages()">
        <div [ngClass]="{'unread':!message.is_read}" class="item">
          <div class="title">{{ message.subject }}</div>
          <span class="label">{{ getIsoToTimestamp(message.broadcasted) | dateDisplay }}</span>
          <div [innerHtml]="message.message"
               class="description render-hyperlinks">
          </div>
        </div>
      </ng-container>
    </div>
    <ng-template #elseBlock>
      <section class="status-info-container">
        <div class="empty-status">
          <div class="status-summary">No messages yet.</div>
        </div>
      </section>
    </ng-template>
  </div>
</div>
