@import "src/styles/main.scss";

.service-announcement-item {
  position: relative;
  margin: 15px 45px 0 45px;
  padding: 15px;
  border-radius: 4px;
  z-index: 5000;
  background: rgba(0, 10, 49, 0.6);
  color: white;

  &.default {
    background: rgba(0, 10, 49, 0.6);
    color: white;
  }

  &.general {
    color: map-get($app-primary, dark);
    background-color: map-get($app-primary, 400);
  }

  &.important {
    color: map-get($app-accent, dark);
    background-color: map-get($app-accent, 100);
    border: 3px solid map-get($app-accent, default);
    font-weight: bold;
  }

  &.critical {
    color: map-get($app-warn, 900);
    background-color: map-get($app-warn, light);
    border: 3px solid map-get($app-warn, 600);
    font-weight: bold;
  }

  strong {
    text-transform: uppercase;
    margin-right: 5px;

    &::after {
      content: ":";
    }
  }
}

.service-announcement-subject {
  margin-right: 10px;
}

.service-announcement-content {
  font-weight: normal;
}
