.service-announcement-item {
  position: relative;
  z-index: 5000;
  padding: 15px;
  margin: 2px;
  color: white;
  background: rgb(0, 10, 49, 0.6);
  border-radius: 4px;

  &.general {
    color: var(--prim-clr-9);
    background-color: var(--prim-clr-3);
  }

  &.important {
    font-weight: bold;
    color: var(--acc-clr-8);
    background-color: var(--acc-clr-1);
    border: 3px solid var(--acc-clr-5);
  }

  &.critical {
    font-weight: bold;
    color: var(--warn-clr-9);
    background-color: var(--warn-clr-2);
    border: 3px solid var(--warn-clr-6);
  }

  strong {
    margin-right: 5px;
    text-transform: uppercase;

    &::after {
      content: ':';
    }
  }
}

.service-announcement-subject {
  margin-right: 10px;
}

.service-announcement-content {
  font-weight: normal;
}
