//---- main-application-advanced-form.component.scss
@use 'utilities' as utils;
@use 'base-styles' as base;
@use 'ui-components' as uis;

:host {
  @include utils.flex-col-block($y-alignment: stretch);
  overflow: hidden;
}

.form-wrapper {
  @include utils.flex-col-block($y-alignment: stretch);
  overflow: hidden;
  @include uis.form-block;
}

form {
  .advanced-form-actions {
    @include utils.flex-row-block($distribution: flex-start, $gap: 5px);
  }

  button {
    &.publish-save-button {
      @include uis.button($role: prim, $icon: share, $height: 40px);
    }

    &.save-button {
      @include uis.button($role: prim, $icon: save, $height: 40px);
    }

    &.submit-draft-button {
      @include uis.button($role: prim, $style: stroked, $icon: draft, $height: 40px);
    }
  }
}

.form-container {

  &.application-template-form {
    margin-bottom: 50px;

    ::ng-deep.mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .application-template-description {
      @include uis.note-message;
      margin-top: 5px;
    }
  }

  &.application-type-form,
  &.image-source-form {
    margin-bottom: 40px;
  }

  &.type-and-template-info {
    margin-bottom: 35px;
  }

  &.custom-image-form,
  &.session-lifetime-form,
  &.session-memory-form,
  &.download-method-form,
  &.download-source-form,
  &.storage-form {
    margin-bottom: 35px;
  }

  &.storage-form {
    .checkbox-group {
      margin-bottom: 10px;

      ::ng-deep .mdc-form-field {
        display: flex;
        align-items: flex-start;

        .mdc-checkbox {
          margin-top: -6px;
        }
      }
    }
  }

  &.image-url-form {
    margin-bottom: 55px;
  }


  .key {
    display: inline;
    padding: 2px 8px;
    margin: 0 3px;
    font-weight: bold;
    text-transform: capitalize;
    background: var(--gray-clr-1);
    border: solid 1px var(--gray-clr-2);
    border-radius: 3px;
  }


  .env-var-example {
    background-color: rgb(0, 0, 0, 0.04);
  }
}


.custom-image-form {

  .custom-image-selection-form {
    margin-top: 10px;
  }

  mat-list-item {
    @include base.centering(y);
    --mdc-list-list-item-label-text-size: 12px;
    --mdc-list-list-item-label-text-line-height: 12px;
    --mdc-list-list-item-one-line-container-height: 30px;
    padding: 0;

    ::ng-deep.mdc-list-item__primary-text {
      @include base.centering(y, $inline: true);
    }

    span.done-flag {
      @include base.centering(y, $inline: true);
      width: 85px;
      height: 26px;
      padding: 2px 10px 2px 5px;
      margin-right: 10px;
      color: var(--sec-clr-7);
      border: 1px solid var(--sec-clr-7);
      border-radius: 20px;

      .mat-icon.done-icon {
        height: 20px;
        font-size: 2.0rem;
        color: var(--sec-clr-7);
      }
    }

    span.incomplete-flag {
      @include base.centering(y, $inline: true);
      width: 85px;
      height: 26px;
      padding: 2px 10px;
      margin-right: 10px;
      color: var(--gray-clr-7);
      border: var(--content-border-neut);
      border-radius: 20px;
    }

    .link {
      @include base.centering(xy, $inline: true);
      gap: 3px;
      font-size: 1.3rem !important;
      color: var(--prim-clr-7) !important;
      text-decoration: underline;

      mat-icon {
        width: 18px !important;
        height: 16px !important;
        font-size: 1.8rem !important;
        color: var(--prim-clr-7) !important;
      }
    }

    span.key:hover {
      cursor: pointer;
      background: var(--acc-clr-7) !important;
    }
  }

  ::ng-deep.mdc-list-item__primary-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .meta {
    margin-left: auto;
    font-size: 0.8em;
    color: gray;
  }
}

.session-memory-form .mat-mdc-select,
.session-lifetime-form .mat-mdc-select {
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.04);
  border-bottom: var(--content-border-neut);
  border-radius: 4px 4px 0 0;
}
