<div class="form-wrapper">
  <div class="form-header">
    <h3 class="form-title">{{ isCreationMode ? 'Add new' : 'Edit' }} application</h3>
    <button (click)="closeAdvancedForm(false)"
            class="cancel-button"
            mat-button>
      Close
    </button>
  </div>

  <form [formGroup]="applicationItemEditFormGroup">
    <div class="advanced-form-actions">
      @if (isCreationMode) {
        <button (click)="createApplicationByPlainMode(true)"
                [disabled]="applicationItemEditFormGroup.invalid"
                class="publish-save-button"
                mat-button>
          Save and publish
        </button>
      } @else {
        <button (click)="editApplicationItem(true)"
                [disabled]="applicationItemEditFormGroup.invalid"
                class="save-button"
                mat-button>
          Save {{ application?.is_enabled ? '' : 'and publish' }}
        </button>
      }
      @if (isCreationMode) {
        <button (click)="createApplicationByPlainMode(false)"
                [disabled]="applicationItemEditFormGroup.invalid"
                class="submit-draft-button"
                mat-button>
          Save and make draft
        </button>
      } @else {
        <button (click)="editApplicationItem(false)"
                [disabled]="applicationItemEditFormGroup.invalid"
                class="submit-draft-button"
                mat-flat-button
                type="button">
          Save {{ application?.is_enabled ? 'and make draft' : 'and keep draft' }}
        </button>
      }
      @if (isCreationMode) {
        <button
            (click)="setCreationForm()"
            class="clear-button" mat-button>
          Clear
        </button>
      }
    </div>
    <div class="form-content">
      <!-- Basic information -->
      <section class="base-section">
        <h4 class="section-title">Basic information</h4>
        <div class="form-container name-form">
          <h5 class="form-title">Application name *</h5>
          <mat-form-field appearance="fill">
            <input #firstFocus formControlName="name" matInput>
            @if (applicationItemEditFormGroup.controls.name.hasError('required')) {
              <mat-error>
                <strong>Name is required</strong>
              </mat-error>
            }
            @if (applicationItemEditFormGroup.controls.name.hasError('maxlength')) {
              <mat-error>
                <strong>Max length (128 characters) exceeded</strong>
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="form-container description-form">
          <h5 class="form-title">Description *</h5>
          <mat-form-field appearance="fill">
            <textarea formControlName="description"
                      matInput
                      rows="3"></textarea>
            @if (!applicationItemEditFormGroup.controls.description.valid) {
              <mat-error>
                <strong>Description is required</strong>
              </mat-error>
            }
          </mat-form-field>
        </div>
      </section>
      <!--// Basic information -->

      <!-- Image information -->
      <section class="image-section">
        <h4 class="section-title">Configuration</h4>
        @if (isCreationMode) {
          <div class="form-container application-type-form">
            <h5 class="form-title">Type *</h5>
            <mat-button-toggle-group
                (change)="onChangeApplicationType()"
                class="toggle-button-group"
                formControlName="applicationType"
                hideSingleSelectionIndicator="true"
            >
              <mat-button-toggle value="jupyter">Jupyter</mat-button-toggle>
              <mat-button-toggle value="rstudio">RStudio</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div class="form-container application-template-form">
            <h3 class="form-title">Template</h3>
            <mat-form-field appearance="fill">
              <mat-select (selectionChange)="onChangeApplicationTemplate($event.source.value)"
                          formControlName="applicationTemplateId"
                          placeholder="Choose your application template from the list">
                @for (tmpl of applicationTemplates; track tmpl.id) {
                  <mat-option value="{{ tmpl.id }}">
                    @if (!tmpl.is_enabled) {
                      [disabled]
                    }
                    {{ tmpl.name }}
                  </mat-option>
                }
              </mat-select>
              @if (applicationItemEditFormGroup.controls.applicationTemplateId.hasError('required')) {
                <mat-error>
                  <strong>Application template should be selected.</strong>
                </mat-error>
              }
            </mat-form-field>
            @if (selectedApplicationTemplate) {
              <div [innerHTML]="selectedApplicationTemplate.description"
                   class="application-template-description render-hyperlinks">
              </div>
            }
          </div>
        } @else {
          <div class="form-container type-and-template-info">
            <h3 class="form-title">Type and template</h3>
            <p>Type: {{ application?.application_type }}</p>
            <p>Template: {{ application?.template_name }}</p>
          </div>
        }
        <div class="form-container image-source-form">
          <h3 class="form-title">Container image</h3>
          <mat-button-toggle-group
              (change)="onChangeImageSource($event.value)"
              appearance="legacy"
              class="toggle-button-group"
              formControlName="imageSourceOption"
              hideSingleSelectionIndicator="true">
            <mat-button-toggle [disabled]="!isImageSourceOptionEnabled(ImageSourceType.Template)"
                               [value]="ImageSourceType.Template">
              Default image defined in the template
            </mat-button-toggle>
            @if (isCustomImageVisible) {
              <mat-button-toggle [disabled]="!isImageSourceOptionEnabled(ImageSourceType.Customized)"
                                 [value]="ImageSourceType.Customized">
                Custom image in this workspace
              </mat-button-toggle>
            }
            <mat-button-toggle [disabled]="!isImageSourceOptionEnabled(ImageSourceType.External)"
                               [value]="ImageSourceType.External">
              External image
            </mat-button-toggle>
          </mat-button-toggle-group>
          @if (selectedImageSource === ImageSourceType.Template) {
            <p>
              {{ selectedApplicationTemplate?.base_config.image }}
            </p>
          }
        </div>
        @if (selectedImageSource === ImageSourceType.Customized) {
          <div class="form-container custom-image-form">
            <h5 class="form-title">Custom image</h5>
            <mat-list>
              <mat-list-item [class.done]="customImageList.length > 0">
                @if (customImageList.length > 0) {
                  <span class="done-flag">
                    <mat-icon class="done-icon">done</mat-icon>
                    Done
                  </span>
                } @else {
                  <span class="incomplete-flag">
                    Incomplete
                  </span>
                }
                STEP 1.
                <span class="spacer"></span>
                Create a Custom image in
                <span (mouseenter)="onHoverCustomImageHint()"
                      (mouseleave)="awayHoverCustomImageHint()"
                      class="key">Custom Images Tab</span>
              </mat-list-item>
              <mat-list-item [class.done]="customImageList.length > 0">
                @if (applicationItemEditFormGroup.controls.customImageUrl.value) {
                  <span class="done-flag">
                    <mat-icon class="done-icon">done</mat-icon>
                    Done
                  </span>
                } @else {
                  <span class="incomplete-flag">
                    Incomplete
                  </span>
                }
                STEP 2.
                <span class="spacer"></span>
                Choose a built custom image below
              </mat-list-item>
            </mat-list>
            <mat-form-field appearance="fill" class="custom-image-selection-form">
              <mat-select formControlName="customImageUrl"
                          placeholder="Choose your custom image from the list">
                @for (ci of customImageList; track ci.url) {
                  <mat-option [value]="ci.url">
                    {{ ci.name }}
                  </mat-option>
                }
              </mat-select>
              @if (!applicationItemEditFormGroup.controls.customImageUrl.valid) {
                <mat-error>
                  <strong>Custom image should be selected.</strong>
                </mat-error>
              }
            </mat-form-field>
          </div>
        }
        @if (selectedImageSource === ImageSourceType.External) {
          <div class="form-container image-url-form">
            <h5 class="form-title">Image URL</h5>
            <p class="mat-caption">
              Manually enter the URL for the external image.
              The image has to be compatible with the chosen application type and publicly available
            </p>
            <mat-form-field appearance="fill">
              <input formControlName="imageUrl" matInput>
              @if (applicationItemEditFormGroup.controls.imageUrl.errors) {
                <mat-error>
                  @if (applicationItemEditFormGroup.controls.imageUrl.value === '') {
                    <strong>Image Url is required. Example: docker.io/example/image:latest</strong>
                  } @else {
                    <strong>Invalid image url. Example: docker.io/example/image:latest</strong>
                  }
                </mat-error>
              }
            </mat-form-field>
            <mat-checkbox formControlName="isAlwaysPullImage">
              Always pull image
            </mat-checkbox>
            <p>(Check if you have to reuse a tag for different image versions.)</p>
          </div>
        }
        <!-- Category labels -->
        <div class="form-container category-form">
          <h5 class="form-title">Category labels
            <span class="hint">
                (Type in any preferred keyword and to press <span class="key">enter</span> or <span class="key">,</span>
                to label it.)
            </span>
          </h5>
          <app-main-search-box [labels]="selectedLabels"></app-main-search-box>
        </div>
      </section>
      <!--// Image information -->
      <!-- Session configuration -->
      <section class="session-section">
        <h4 class="section-title">Session configuration</h4>

        <div class="form-container session-lifetime-form">
          <h5 class="form-title">Session lifetime</h5>
          <mat-select formControlName="sessionLifetimeHours">
            @for (opt of availableLifetimeOptions; track opt.value) {
              <mat-option [value]="opt.value">
                {{ opt.viewValue }}
              </mat-option>
            }
          </mat-select>
        </div>

        <div class="form-container session-memory-form">
          <h5 class="form-title">Session memory (RAM)</h5>
          <mat-select formControlName="sessionMemoryGiB">
            @for (opt of availableMemoryOptions; track opt.value) {
              <mat-option [value]="opt.value">
                {{ opt.viewValue }}
              </mat-option>
            }
          </mat-select>
        </div>

        <div class="form-container download-method-form">
          <h5 class="form-title">Download method</h5>
          <mat-radio-group (change)="onChangeDownloadMethod($event.value)" formControlName="downloadMethod">
            <ul>
              <li>
                <mat-radio-button [value]="'none'">None</mat-radio-button>
              </li>
              <li>
                <mat-radio-button [value]="'git-clone'">Git clone from Repository</mat-radio-button>
              </li>
              <li>
                <mat-radio-button [value]="'http-get'">Download the file from URL</mat-radio-button>
              </li>
            </ul>
          </mat-radio-group>
        </div>
        @if (selectedDownloadMethod) {
          <div class="form-container download-source-form">
            @if (selectedDownloadMethod === 'local') {
              <div>
                <button class="primary-btn" mat-flat-button>Upload file</button>
              </div>
            }
            @if (selectedDownloadMethod === 'git-clone' || selectedDownloadMethod === 'http-get') {
              <div>
                <h5 class="form-title">Source URL</h5>
                <mat-form-field appearance="fill">
                  <input formControlName="downloadSourceUrl" matInput>
                  @if (!applicationItemEditFormGroup.controls.downloadSourceUrl.valid) {
                    <mat-error>
                      <strong>Source URL is missing</strong>
                    </mat-error>
                  }
                </mat-form-field>
              </div>
            }
          </div>
        }
        <div class="form-container storage-form">
          <h5 class="form-title">Storage</h5>
          <div class="checkbox-group">
            <mat-checkbox formControlName="isEnableSharedFolder">
              <h5 class="form-title">Shared folder</h5>
              Enable 'shared' folder within your workspace.
              <span>(The folder is workspace specific and read-only for users.)</span>
            </mat-checkbox>
          </div>
          <div class="checkbox-group">
            <mat-checkbox formControlName="isEnableUserWorkFolder">
              <h5 class="form-title">User work folder per user</h5>
              Enable personal persistent 'work' folder for users.
              <span>(The folder is workspace specific.)</span>
            </mat-checkbox>
          </div>
        </div>

        <div class="form-container environment-variables-form">
          <h5 class="form-title">Environment variables</h5>
          <p>
            Optionally set environment variables for your application, formatted as a space separated list, e.g.
            <code class="env-var-example">FOO=hello BAR=there</code>
          </p>
          <mat-form-field appearance="fill">
            <input formControlName="environmentVars" matInput>
          </mat-form-field>
        </div>
      </section>
      <!--// Session configuration -->
    </div>
  </form>
</div>
