<header class="site-header">
  <div class="site-header-wrapper" [ngClass]="displayMode">
    <!-- Brand -->
    <a class="brand" [routerLink]="['/welcome']">
      <div class="site-logo">
        <img src="assets/images/logo/site-logo.svg" alt="site-logo"
             [width]="logoMarkSize" height="371">
      </div>
      <h1 class="site-name">
        {{ publicConfigService.getInstallationName() }}
        <h5 class="owner-name">
          {{ publicConfigService.getInstallationDomain() }}
        </h5>
      </h1>
    </a>

    <!-- Landing page navigation -->
    <nav class="nav" *ngIf="isNaviVisible">
      <input type="checkbox" id="toggle-nav" checked>
      <label class="toggle-nav-label button" for="toggle-nav">menu</label>
      <ul class="nav-wrapper">
        <li>
          <a [href]="publicConfigService.getServiceDocumentationUrl()" target="_blank" rel="noopener">
            Documentation
          </a>
        </li>
        <li>
          <a [href]="publicConfigService.getTermsOfUseUrl()" target="_blank" rel="noopener">
            Terms & Pricing
          </a>
        </li>
        <li>
          <a [href]="publicConfigService.getAccessibilityStatementUrl()" target="_blank" rel="noopener">
            Accessibility
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
