@use 'main' as main;

.site-header {
  height: inherit;
}

.site-header-wrapper {
  position: relative;
  z-index: 10000;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: main.$content-max-width;
  height: inherit;
  margin: 0 auto;

  &.fluid {
    max-width: 100%;
  }

  .brand {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
  }
}

// ----- Laptop

@media (width >= 600px) {
  .site-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }

  #toggle-nav,
  .toggle-nav-label {
    display: none;
  }

  .nav-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }
}

// ----- MOBILE

@media (width <= 599px) {

  .toggle-nav-label {
    visibility: visible !important;
    padding: 5px 10px;
    color: #18227c;
    background: #b6beff;
  }

  .nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin-top: 70px;
    background: #b6beff;

    li {
      margin-bottom: 10px;
      color: #18227c;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  #toggle-nav:checked + .toggle-nav-label + .nav-wrapper {
    display: none;
  }

  #toggle-nav + .toggle-nav-label + .nav-wrapper {
    display: block;
  }
}
