<mat-toolbar class="header inversion primary" fxLayout="row" fxLayoutGap="20px"
  fxLayoutAlign="space-between end" role="heading">
  <!-- LOGO -->
  <div class="logo mat-display-1 mb-0" fxFlex="0 0 250px">
    <a [routerLink]="['/welcome']" fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="start end">
      <div class="logo__mark" fxFlex="0 0 35px">
        <mat-icon fontSet="material-icons-outlined">import_contacts</mat-icon>
      </div>
      <div class="logo__type" fxFlex="0 0 150px">Notebooks</div>
      <div class="mat-body-2 fw__500" fxFlex="0 0 35px">CSC.fi</div>
    </a>
  </div>
  <!-- Navigation -->
  <ul class="navbar mat-display-2 mb-10 u-line"
      *ngIf="isNaviVisible" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
    <li>
      <a href="https://www.webropolsurveys.com/S/84118B6BD6E97501.par" target="_blank" rel="noopener">
        Host courses & request
      </a>
    </li>
    <li>
      <a href="https://research.csc.fi/en/notebooks-terms-of-use" target="_blank" rel="noopener">
        Terms & Pricing
      </a>
    </li>
    <li>
      <a href="https://notebooks.csc.fi/accessibility_statement.html" target="_blank" rel="noopener">
        Accessibility
      </a>
    </li>
    <li>
      <a href="mailto:notebooks@csc.fi" target="_blank" rel="noopener">
        Contact us
      </a>
    </li>
  </ul>
</mat-toolbar>
