<header class="site-header">
  <div [ngClass]="displayMode" class="site-header-wrapper">
    <!-- Brand -->
    <a [routerLink]="['/welcome']" class="brand">
      <div class="site-logo">
        <img [width]="logoMarkSize" alt="site-logo"
             src="assets/images/logo/site-logo.svg">
      </div>
      <h1 class="site-name">
        {{ publicConfigService.getInstallationName() }}
        <h5 class="owner-name">
          {{ publicConfigService.getInstallationDomain() }}
        </h5>
      </h1>
    </a>

    <!-- Landing page navigation -->
    @if (isNaviVisible) {
      <nav class="nav">
        <input checked id="toggle-nav" type="checkbox">
        <label class="toggle-nav-label button" for="toggle-nav">menu</label>
        <ul class="nav-wrapper">
          <li>
            <a [href]="publicConfigService.getServiceDocumentationUrl()" rel="noopener" target="_blank">
              Documentation
            </a>
          </li>
          <li>
            <a [href]="publicConfigService.getTermsOfUseUrl()" rel="noopener" target="_blank">
              Terms & Pricing
            </a>
          </li>
          <li>
            <a [href]="publicConfigService.getAccessibilityStatementUrl()" rel="noopener" target="_blank">
              Accessibility
            </a>
          </li>
        </ul>
      </nav>
    }
  </div>
</header>
