@import "src/styles/main.scss";

.site-header {
  height: inherit;
}

.site-header-wrapper {
  position: relative;
  height: inherit;
  max-width: $content-max-width;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;


  .brand {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;

    .site-name {
      .owner-name {

      }
    }
  }

}

// ----- Laptop

@media (min-width: 600px) {
  .site-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  #toggle-nav,
  .toggle-nav-label {
    display: none;
  }

  .nav-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
}

// ----- MOBILE

@media (max-width: 599px) {

  .toggle-nav-label {
    visibility: visible !important;
    background: #b6beff;
    color: #18227c;
    padding: 5px 10px;
  }

  .nav-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 70px;
    padding: 10px 10px 10px 10px;
    background: #b6beff;

    li {
      color: #18227c;
      margin-bottom: 10px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  #toggle-nav:checked + .toggle-nav-label + .nav-wrapper {
    display: none;
  }

  #toggle-nav + .toggle-nav-label + .nav-wrapper {
    display: block;
  }
}
