@import "src/styles/main.scss";

#workspace-applications-container {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px 40px 30px;
  max-width: 1200px;
  margin: 0 auto;

  .application-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    .action-name {
      @include center(vertical, inline);
    }

    button {
      height: auto;
      padding: 5px 20px;
      white-space: normal;
      line-height: 100%;
      width: 200px;

      mat-icon {
        font-size: 2.0rem;
        width: auto;
        height: auto;
      }
    }
  }

  .application-header {
    width: 100%;
  }

  ::ng-deep.mat-mdc-form-field-subscript-wrapper {
    margin-bottom: -15px;
  }

  .table-container {
    min-height: 180px;
    max-height: calc(100vh - 240px);
    overflow: auto;
  }

  .paginator-wrapper {
    height: 60px;
  }

  table {
    tr {
      border: 2px solid $mid-dark-line;
    }

    .cell-thumbnail {
      text-align: center;
      width: 100px;
      color: $gray-color;

      .thumbnail fa-icon {
        font-size: 2.6rem;
        color: $gray-color;
        text-align: center;
        margin: auto;
        display: block;
        width: 90px;

        &.linux {
          font-size: 3.4rem;
        }
      }

      .chip__m {
        background: $gray-color;
        color: $light-color;
        border-radius: 20px;
        padding: 2px;
        font-size: small;
        text-transform: capitalize;
      }

      &.published {
        color: map-get($app-primary, light);

        .chip__m {
          background: map-get($app-primary, light);
          color: $light-color;
          border-radius: 20px;
          padding: 2px;
          font-size: small;
          text-transform: capitalize;
        }

        .thumbnail fa-icon {
          color: map-get($app-primary, light);
        }
      }
    }

    .cell-info {
      padding: 5px 10px !important;
      letter-spacing: normal;
      width: 350px;

      li {
        margin-bottom: 5px;
      }

      .application-name {
        @include headline-4;
        font-weight: 600;
      }

      .application-labels {
        white-space: nowrap;
        @include center(both, inline);

        span {
          @include headline-6;
          @include center(both, inline);
          margin-right: 5px;


          mat-icon {
            font-size: 1.6rem;
            height: auto;
            width: auto;
            margin-right: 5px;
          }
        }

        span.label:after {
          content: '/';
          margin-left: 2px;
        }

        span.label:last-child:after {
          content: none;
        }
      }
    }

    .cell-spec {
      min-width: 135px;
      width: 220px;
      @include headline-6;
      line-height: normal;

      li span {
        @include center(both, inline);

        mat-icon {
          margin-right: 5px;
          font-size: 16px;
          height: 16px;
          width: 16px;
        }
      }

    }

    th.cell-launch{
      width: 140px !important;
    }

    th.cell-edit {
      width: 20px;
    }

    td.cell-edit {
      padding: 0 !important;
      align-items: center;
      vertical-align: top;

      button {
        position: relative;
        border-radius: 0;
        width: 100%;
        min-height: 65px;

        mat-icon {
          font-size: 2.0rem;
          width: auto;
          height: auto;
          text-align: center;
          margin: 0;
        }

        &:first-child {
          border-bottom: 1px solid map-get($app-gray, light);
        }
      }
    }
  }

  table.expired {
    .cell-thumbnail {
      color: map-get($app-gray, light);

      .chip__m {
        background: map-get($app-gray, light);
      }
    }
  }
}

.mobile#workspace-applications-container {

  padding: 0 !important;

  .application-actions {
    grid-template-columns: 1fr !important;
    justify-content: stretch;
    padding: 0 10px !important;
  }

  .application-actions * {
    display: none !important;
  }

  .application-actions *:last-child {
    display: block !important;
  }
}

.status-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  color: rgba(47, 53, 56, 0.87);

  .hint-content {
    width: 650px;
    border: 5px solid $gray-light-color;
    padding: 20px 30px;
    border-radius: 20px;

    h3 {
      border-bottom: 1px solid $gray-light-color;
      margin-bottom: 20px;
    }

    ul {
      text-align: left;
      list-style: disc;
      margin-bottom: 20px;
      padding-left: 20px;

      li {
        margin-bottom: 5px;
      }
    }

    a {
      @include center(vertical, inline);
      text-decoration: underline;
      color: $primary-color;
    }
  }
}
