//---- src/app/components/main-page/main-workspace-applications/main-workspace-applications.component.scss
@use 'main' as main;
@use 'base-styles' as base;
@use 'ui-components' as uis;
@use 'utilities' as utils;
@use 'layouts' as layouts;

@include layouts.status-block;

@include utils.fitter($background: white);

.workspace-applications-container {
  @include utils.flex-row-block($type: stretch, $wrap: false);
  position: relative;
  flex: 1;
  margin: 0;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.main-view {
  @include utils.flex-col-block($gap: 20px, $padding: 30px 25px);
  flex: 1;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.form-view {
  @include utils.flex-col-block($y-alignment: stretch);
  z-index: 10;
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: white;
  box-shadow: -4px 0 8px rgb(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
}

.application-actions {
  @include utils.flex-row-block($distribution: flex-end, $gap: 10px);
  flex-basis: 35px;

  .action-name {
    @include uis.deco-text($icon: add, $gap: 3px);
  }

  .button-group {
    @include utils.flex-row-block($gap: 0);

    .app-wizard-button {
      @include uis.button($icon: auto_fix_high, $height: 40px, $connect: right);
    }

    .app-creation-form-button {
      @include uis.button($icon: edit_note, $height: 40px, $connect: left);
    }
  }
}

.max-quota-warning {
  @include uis.warning-message();
}

.table-container {
  flex: 1;
  @include uis.table(
          $table-outer-border: 2px solid var(--neut-clr-3),
          $vertical-border: true,
          $header-height: 25px
  );
}

.paginator-wrapper {
  height: 60px;
}


// ---- COLUMN Thumbnail
.mat-column-thumbnail {
  @include uis.table-width-fix($width: 100px, $align: center);

  .application-type-name {
    color: var(--neut-clr-6);
    font-weight: 600;
    margin: 5px auto;
  }

  .thumbnail fa-icon {
    display: block;
    font-size: 2.6rem;
    color: var(--neut-clr-6);

    &.linux {
      font-size: 3.4rem;
    }
  }

  &.published {
    .application-type-name {
      color: var(--prim-clr-6);
    }

    .chip {
      @include uis.chip(
              $color: white, $background: var(--prim-clr-6), $padding: 4px 4px 5px 6px,
              $width: 80px, $rounded: true, $margin: 5px auto);
    }

    .thumbnail fa-icon {
      color: var(--prim-clr-6);
    }
  }
}

// ---- COLUMN Info
.mat-column-info {
  @include uis.table-width-fix($min-width: 350px);
  padding: 5px 10px !important;

  .name {
    @include base.headline-4($weight: 700);
  }

  .description {
    margin-bottom: 10px;
  }

  .labels {
    margin-top: 5px;
    @include base.centering($pos: y);

    .property-name {
      @include uis.deco-text($icon: label, $icon-size: 1.6rem, $font-size: 1.1rem, $gap: 0);
      margin-right: 10px;
    }

    .property {
      @include utils.flex-row-block($gap: 4px, $wrap: false);

      .label {
        font-size: 1.1rem;

        &:not(:last-child)::after {
          content: '/';
          margin-left: 2px;
        }
      }
    }
  }
}

// ---- COLUMN Meta
.mat-column-meta {
  @include uis.table-width-fix($width: 150px, $padding: 2px 10px);

  .lifetime > span {
    @include uis.deco-text($icon: watch_later, $icon-size: 1.6rem, $font-size: 1.2rem, $gap: 0);
  }

  .memory > span {
    @include uis.deco-text($icon: memory, $icon-size: 1.6rem, $font-size: 1.2rem, $gap: 0);
  }

  .max-sessions > span {
    @include uis.deco-text($icon: memory, $icon-size: 1.6rem, $font-size: 1.2rem, $gap: 0);
  }

  .shared-volume > span,
  .mywork-volume > span {
    @include uis.deco-text($icon: folder, $icon-size: 1.6rem, $font-size: 1.2rem, $gap: 0);

    &.off {
      @include uis.deco-text($icon: folder_off, $icon-size: 1.6rem, $font-size: 1.2rem, $gap: 0);
    }
  }
}

// ---- COLUMN Launch Button
.mat-column-launch {
  @include uis.table-width-fix($width: 136px, $align: center);
}

// ---- COLUMN Menu
.mat-column-menu {
  @include uis.table-width-fix($width: 65px, $align: center, $padding: 0);

  .buttons {
    @include utils.flex-col-block();

    .edit-button {
      @include uis.button($icon: edit, $style: icon, $width: 65px, $height: 65px);
    }

    .menu-button {
      @include uis.button($icon: menu, $style: icon, $width: 65px, $height: 65px);
    }

    button {
      border-radius: 0 !important;

      &:first-child {
        border-bottom: 1px solid map-get(main.$app-gray, light);
      }
    }
  }
}

table.expired {
  .mat-column-thumbnail {
    color: var(--neut-clr-3);

    .chip {
      @include uis.chip(
              $color: white, $background: var(--neut-clr-6), $padding: 4px 4px 5px 6px,
              $width: 80px, $rounded: true, $margin: 5px auto);
    }
  }
}

.mobile#workspace-applications-container {

  padding: 0 !important;

  .application-actions {
    grid-template-columns: 1fr !important;
    justify-content: stretch;
    padding: 0 10px !important;
  }

  .application-actions * {
    display: none !important;
  }

  .application-actions *:last-child {
    display: block !important;
  }
}

.empty-status .status-headline {
  @include uis.crowned-text($icon: import_contacts, $icon-type: 'Icons', $icon-family: 'Outlined',
  $color: var(--neut-clr-7), $icon-size: 6rem);
}

/* -------------------------------------- */
/* Tablet */
/* -------------------------------------- */
@media (max-width: #{base.$tablet-width}) {
  //.main-view {
  //  margin: 20px auto !important;
  //}
}

/* -------------------------------------- */
/* Mobile */
/* -------------------------------------- */
@media (max-width: #{base.$mobile-width}) {
  .action-name {
    display: none !important;
  }

  //.main-view {
  //  margin: 20px auto !important;
  //}
}