<div id="workspace-applications-container" ngClass.gt-xs="pt-20 pl-40 pr-40 pb-50" ngClass.lt-sm="p-10"
     fxLayout="column" fxLayoutGap="10px">
  <app-message [message]="message"></app-message>
  <!-- Search Box -->
  <mat-form-field appearance="fill">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
  <!-- Buttons -->
  <div class="application-actions" *ngIf="dataSource?.data !== null"
       fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="5px"
       fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center stretch" fxLayoutGap.lt-sm="5px">
    <button mat-flat-button color="accent" class="open-application-creation-wizard-button"
            aria-label="add new application" (click)="openApplicationWizardDialog()">
      <mat-icon class="mr-10">auto_fix_high</mat-icon>
      <span>Application wizard</span>
    </button>
    <button mat-stroked-button class="open-application-creation-form-button"
            aria-label="create a new application" (click)="openApplicationItemFormDialog(null)">
      <mat-icon fontSet="material-icons-outlined" class="mr-5">add</mat-icon>
      <span>Application form</span>
    </button>
  </div>

  <!-- table -->
  <!--
    - Thumbnail column
    - Info column
        - name
        - lifetime
        - application template
        - state
        - description
    - test launch button column
    - menu button column
   -->
  <div class="table-container">
    <ng-container *ngIf="dataSource?.data.length > 0; else noApplications">
      <table mat-table [dataSource]="dataSource">
        <!-- checkbox column -->
        <!--
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        -->
        <!-- Thumbnail column -->
        <ng-container matColumnDef="thumbnail">
          <th mat-header-cell *matHeaderCellDef fxHide.lt-sm="true">type / sate</th>
          <td mat-cell class="cell-thumbnail icon" *matCellDef="let element"
              [ngClass]="{'published': element.isEnabled, 'draft': !element.isEnabled}" fxHide.lt-sm="true">
            <div class="thumbnail-placeholder">
              <div class="thumbnail">
                <fa-icon [icon]="getApplicationIcon(element.labels)" class="md-24"></fa-icon>
                <span>{{ getApplicationTypeName(element.type) }}</span>
              </div>
            </div>
            <div class="chip__m mt-5">{{ element.isEnabled ? 'published' : 'draft' }}</div>
          </td>
        </ng-container>
        <!-- Information column -->
        <ng-container matColumnDef="info">
          <th mat-header-cell class="cell-info" *matHeaderCellDef>basic information</th>
          <td class="cell-info" mat-cell *matCellDef="let element">
            <ul>
              <li class="application-name mat-subheading-2 mb-5"> {{element.name}} </li>
              <li class="description mat-caption" [innerHTML]="element.description"></li>
              <li class="mat-caption">
                <span class="center__v">
                  <span class="mr-5">Template:</span> {{element.template}}
                </span>
              </li>
              <li class="application-labels mat-caption center__v">
                <span class="mr-5 center__v">
                  <mat-icon fontSet="material-icons-outlined" class="md-16 mr-2">label</mat-icon>
                  Labels:
                </span>
                <ng-container *ngFor="let label of element.labels">
                  <span class="label mr-2">{{ label }}</span>
                </ng-container>
              </li>
            </ul>
          </td>
        </ng-container>
        <!-- Information meta column -->
        <ng-container matColumnDef="meta">
          <th mat-header-cell class="cell-spec" *matHeaderCellDef>spec</th>
          <td class="cell-spec" mat-cell *matCellDef="let element">
            <ul class="mat-caption">
              <li class="application-meta">
                <span class="center__v">
                  <mat-icon fontSet="material-icons-outlined" class="md-16 mr-5">watch_later</mat-icon>
                  Lifetime: {{element.lifetime | lifeTimeDisplay}}
                </span>
              </li>
              <li class="application-meta">
                <span class="center__v">
                  <mat-icon fontSet="material-icons-outlined" class="md-16 mr-5">memory</mat-icon>
                  Memory: {{ element.memory || '-' }}
                </span>
              </li>
              <li class="application-meta">
                <span class="center__v">
                  <mat-icon fontSet="material-icons-outlined" class="md-16 mr-5">memory</mat-icon>
                  Concurrent sessions: {{ element.maximumConcurrentSessions }}
                </span>
              </li>
              <li class="volume center__v">
                <ng-container *ngIf="element.sharedFolderEnabled; else noSharedVolume">
                  <mat-icon class="md-16 mr-5">folder</mat-icon>
                  <span>shared: On</span>
                </ng-container>
                <ng-template #noSharedVolume>
                  <mat-icon fontSet="material-icons-outlined" class="md-16 mr-5">folder_off</mat-icon>
                  <span>shared: Off</span>
                </ng-template>
              </li>
              <li class="volume center__v">
                <ng-container *ngIf="element.workFolderEnabled; else noWorkVolume">
                  <mat-icon class="md-16 mr-5">folder</mat-icon>
                  <span>my-work: On</span>
                </ng-container>
                <ng-template #noWorkVolume>
                  <mat-icon fontSet="material-icons-outlined" class="md-16 mr-5">folder_off</mat-icon>
                  <span>my-work: Off</span>
                </ng-template>
              </li>
            </ul>
          </td>
        </ng-container>
        <!-- Test launch button column (Dummy for now) -->
        <ng-container matColumnDef="launch">
          <th mat-header-cell *matHeaderCellDef class="cell-launch">test launch</th>
          <td mat-cell *matCellDef="let element" class="cell-launch">
            <app-main-session-button
              [applicationId]="element.id"
              [context]="context"
              [isSessionDeleted]="false">
            </app-main-session-button>
          </td>
        </ng-container>
        <!-- Menu button column-->
        <ng-container matColumnDef="menu">
          <th mat-header-cell *matHeaderCellDef class="icon">menu</th>
          <td mat-cell *matCellDef="let element" class="cell-edit icon-cell">
            <button mat-button [matMenuTriggerFor]="menu" aria-label="open application menu">
              <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openApplicationItemFormDialog(element.id)">
                <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
                <span>edit application</span>
              </button>
              <button mat-menu-item *ngIf="!element.isEnabled" (click)="toggleApplicationActivation(true, element.id)">
                <mat-icon fontSet="material-icons-outlined">cloud</mat-icon>
                <span>publish</span>
              </button>
              <button mat-menu-item *ngIf="element.isEnabled" (click)="toggleApplicationActivation(false, element.id)">
                <mat-icon fontSet="material-icons-outlined">cloud_off</mat-icon>
                <span>make draft</span>
              </button>
              <button mat-menu-item *ngIf="element.isEnabled" (click)="toggleGpuActivation(true)" disabled>
                <mat-icon fontSet="material-icons-outlined">local_fire_department</mat-icon>
                <span>activate GPU</span>
              </button>
              <button mat-menu-item (click)="copyApplication(element.id)">
                <mat-icon fontSet="material-icons-outlined">content_copy</mat-icon>
                <span>copy application</span>
              </button>
              <button mat-menu-item (click)="deleteApplication(element.id)">
                <mat-icon fontSet="material-icons-outlined">delete_outline</mat-icon>
                <span>delete application</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">button</tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="8">
            <section class="message-container">
              No data matching "{{input.value}}"
            </section>
          </td>
        </tr>
      </table>
    </ng-container>

    <!-- No Application -->
    <ng-template #noApplications>
      <section class="message-container">
        <div class="hint-message" *ngIf="dataSource !== null">
          <mat-icon fontSet="material-icons-outlined" class="md-96">import_contacts</mat-icon>
          <span class="message-title">No applications in this workspace yet.</span>
          <span class="hint-message-content">
            <ul>
              <li>Create an application by clicking Application wizard or Application form above</li>
              <li>Test the application and populate "shared_data" folder contents</li>
              <li>Invite members using workspace join code</li>
              <li>Publish the application for users</li>
            </ul>
            <a [href]="publicConfigService.getServiceDocumentationUrl()" target="_blank"
               class="tab-title mat-subheading-2 txt__primary center__vh" rel="noopener">
              Open Documentation &nbsp;
              <mat-icon class="mr-10">launch</mat-icon>
            </a>
          </span>
        </div>
        <div class="empty-message" *ngIf="dataSource === null">
          <mat-icon fontSet="material-icons-outlined" class="md-96">hourglass_top</mat-icon>
          <span class="message-title">...Loading...</span>
        </div>
      </section>
    </ng-template>

    <!-- Paginator -->
    <div [hidden]="!isPaginatorVisible">
      <mat-paginator
        [pageSizeOptions]="pageSizeOptions">
      </mat-paginator>
    </div>
  </div>
</div>
