@import 'src/styles.scss';

.workspace-join-input-form {
  margin-top: 20px;
  margin-bottom: 40px;

  .section-body {
    padding-bottom: 0;
  }
}

form {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  align-items: stretch;

  .join-code-input {
    // max-width: 500px;
    flex-basis: auto;
    flex-grow: 2;
    // min-width: 350px;
    // width: 50vw;
  }

  .join-workspace-btn {
    margin: .25em 0 1.34375em 10px;
    flex-basis: 150px;
    flex-grow: 1;
    // margin: .25em 0 0 10px;
  }
}

.workspace-list {
  li {
    display: flex;
    align-items: center;
  }
}
