<app-dashboard-breadcrumb [content]=content></app-dashboard-breadcrumb>

<section class="workspace-join-input-form">
  <h3>Join Workspace</h3>
  <form #formDirective="ngForm" [formGroup]="joinWorkspaceForm" (ngSubmit)="joinWorkspace(formDirective)">
    <mat-form-field appearance="outline" class="join-code-input">
      <mat-label>Join Code</mat-label>
      <input matInput placeholder="Placeholder" formControlName="joinCode"/>
      <mat-error *ngIf="joinCode.invalid" [ngClass]="'error'">error</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" class="join-workspace-btn">
      <!-- Join Workspace -->
      <mat-icon>add</mat-icon>
    </button>
  </form>
</section>
<section class="workspace-list">
  <div class="workspace-list" *ngFor="let workspace of workspaces">
    <app-dashboard-workspace-item [workspace]=workspace [content]=content (fetchWorkspacesEvent)="fetchWorkspaces()">
    </app-dashboard-workspace-item>
  </div>
</section>
