@import "src/styles.scss";

.mat-form-field {
  width: 100%;
}

.checkbox-row {
  padding: 20px 0;

  .mat-checkbox {
    margin-left: 10px;
  }
}

.button-row {
  margin: 30px 0;

  .submit-button {
    width: 80%;
  }

  .cancel-button {
    width: 20%;
  }
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
  padding: 20px 10px 0px;
  min-height: 500px;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field-label {
  color: rgba(0,0,0,90);
}

form {
  .instruction {
    width: 100%;
    padding: 15px 15px 10px 20px;
    color: #777;
    border: 6px solid #eee;
    border-radius: 20px;
    margin-bottom: 30px;
    line-height: 175%;

    .help-icon {
      color: #ccc;
      height: auto;
      width: auto;
      font-size: 10rem;
    }
  }

  .form-items {
    width: 600px;
    margin: auto;

    .form-item {
      margin-bottom: 20px;
    }
  }

  .form-label{
    width: 100%;
    padding-bottom: 5px;
  }

  .form-ui-container{
    margin: auto;
    padding: 10px 10px 30px;
    max-width: 600px;
  }

  ul {
    line-height: 200%;
  }
}

.plain-form-action-buttons,
.stepper-action-buttons {

  .back {
    border: 1px #DDD solid;
    color: #999;
  }

  button{
    margin: auto;
    height: 40px;
    flex-grow: 2;
  }
}
