<mat-horizontal-stepper linear="true" #stepper class="mat-typography">

  <!-- 1 Env Templates-->
  <mat-step [stepControl]="wizardTemplateFormGroup">
    <form [formGroup]="wizardTemplateFormGroup">

      <ng-template matStepLabel>Environment Template</ng-template>
      <div class="instruction mt-10 mb-20" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon class="help-icon" fxFlex="0 0 120px">help_outline</mat-icon>
        <div class="instruction-text" fxFlex="grow">
          <h3 class="question subheading-1">What is Environment?</h3>
          <p class="answer">
            Environment defines the content that users access by starting a browser based isolated session.
            As workspace owner/manager, you can create your own customized environments from templates below.
          </p>
        </div>
      </div>

      <div class="form-items">
        <mat-label class="form-label mat-subheading-1 mb-0">Select a template for your new environment.</mat-label>
        <div class="form-ui-container mb-10">
          <mat-radio-group formControlName="templateId" (change)="onChangeTemplate($event.value)">
            <ul>
              <ng-container *ngFor="let tmpl of environmentTemplates">
                <li>
                  <mat-radio-button [value]="tmpl.id">
                    <span class="template-name mat-subheading-2">{{ tmpl.name }}</span>
                    <span class="template-description ml-10">: {{ tmpl.description }}</span>
                  </mat-radio-button>
                </li>
              </ng-container>
            </ul>
          </mat-radio-group>
        </div>
      </div>

      <div class="stepper-action-buttons" fxLayout="row" fxLayoutGap="10px">
        <button class="next inversion primary" mat-flat-button color="primary" matStepperNext>
          Next
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>

  <!-- 2 Environment profile setting-->
  <mat-step [stepControl]="wizardProfileFormGroup">
    <form [formGroup]="wizardProfileFormGroup">
      <ng-template matStepLabel>Environment Profile</ng-template>
      <div class="instruction mt-10 mb-20" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon class="help-icon" fxFlex="0 0 120px">help_outline</mat-icon>
        <div class="instruction-text" fxFlex="grow">
          <h3 class="question">How new environment is seen by members?</h3>
          <p class="answer">
            Members of your workspace can find your environment in the environments page.
            Carefully consider names, descriptions and labels to let them identify and find the content.
          </p>
        </div>
      </div>
      <!-- 2-1 Name -->
      <mat-form-field>
        <mat-label class="mat-subheading-2">Environment name</mat-label>
        <input matInput formControlName="name" placeholder="Ex. Data Analysis Course 2020" required>
      </mat-form-field>
      <!-- 2-2 Description -->
      <mat-form-field>
        <mat-label class="mat-subheading-2">Description (can contain HTML formatting)</mat-label>
        <input matInput formControlName="description" placeholder="Ex. Data Analysis Course 2020" required>
      </mat-form-field>
      <!-- 2-3 Label search component -->
      <app-main-search-box [labels]="selectedLabels"></app-main-search-box>

      <div class="stepper-action-buttons" fxLayout="row" fxLayoutGap="10px">
        <button class="back" mat-flat-button matStepperPrevious>
          <mat-icon class="mr-10">arrow_backward</mat-icon>Back
        </button>
        <button class="next inversion primary" mat-flat-button color="primary" matStepperNext>
          Next
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>

  <!-- 3 Environment option setting-->
  <mat-step [stepControl]="wizardOptionFormGroup">
    <form [formGroup]="wizardOptionFormGroup">
      <ng-template matStepLabel>Content</ng-template>
      <div class="instruction mt-10 mb-20" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon class="help-icon" fxFlex="0 0 120px">help_outline</mat-icon>
        <div class="instruction-text" fxFlex="grow">
          <h3 class="question">Adding content to your environment</h3>
          <div class="answer">
            <p>Customize settings according to what you want to do.</p>
            <ul>
              <li>
                You can fetch files, datasets or other material from a public Git repository, object storage or any
                public web site
              </li>
              <li>
                You can install custom libraries etc by using a script that is executed during startup. (TODO)
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-items mb-40">
        <!-- 3.4 Jupyter Interface -->
        <div class="form-option" *ngIf="selectedTemplate && selectedTemplate.environment_type==='jupyter'">
          <div class="form-item">
            <mat-label class="mat-subheading-2">Interface</mat-label>
            <mat-radio-group formControlName="jupyterInterface" (change)="onChangeJupyterInterface($event.value)">
              <ul>
                <li>
                  <mat-radio-button [value]="'lab'">Jupyter Lab</mat-radio-button>
                </li>
                <li>
                  <mat-radio-button [value]="'notebook'">Jupyter Notebook</mat-radio-button>
                </li>
              </ul>
            </mat-radio-group>
          </div>
        </div>
        <!-- 3.1 Include External files -->
        <div class="form-item">
          <mat-label class="mat-subheading-2">Download Method</mat-label>
          <mat-radio-group formControlName="downloadMethod" (change)="onChangeDownloadMethod($event.value)">
            <ul>
              <li>
                <mat-radio-button [value]="'none'">None</mat-radio-button>
              </li>
              <li>
                <mat-radio-button [value]="'git-clone'">Git clone a repository</mat-radio-button>
              </li>
              <li>
                <mat-radio-button [value]="'http-get'">Download by URL</mat-radio-button>
              </li>
            </ul>
          </mat-radio-group>
        </div>
        <!-- 3.2 Source -->
        <ng-container [ngSwitch]="selectedDownloadMethod">
          <div class="form-item" *ngSwitchCase="'local'">
            <button mat-flat-button color="primary">Upload file</button>
          </div>
          <div class="form-item"
            *ngSwitchCase=" ['http-get','git-clone'].includes(selectedDownloadMethod) ? selectedDownloadMethod : !selectedDownloadMethod ">
            <mat-form-field>
              <mat-label class="mat-subheading-2">Source(URL)</mat-label>
              <input matInput formControlName="source" placeholder="">
            </mat-form-field>
          </div>
        </ng-container>
        <!-- 3.3 Auto Execution -->
        <!-- <div *ngIf="selectedDownloadMethod !== 'none'"> -->
        <div class="form-item">
          <mat-label class="mat-subheading-2">Auto Execution (TODO)</mat-label> <br>
          <mat-checkbox disabled formControlName="isAutoExecution">
            <span class="mat-subheading-2 mr-10">On</span> : Execute or unpack downloaded file when the environment is launched.
          </mat-checkbox>
        </div>
      </div>

      <!-- Stepper -->
      <div class="stepper-action-buttons" fxLayout="row" fxLayoutGap="10px">
        <button class="back" mat-flat-button matStepperPrevious>
          <mat-icon class="mr-10">arrow_backward</mat-icon>Back
        </button>
        <button class="next inversion primary" mat-flat-button color="primary" matStepperNext>
          Next
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <!-- 4 Submit-->
  <mat-step [stepControl]="wizardPublishFormGroup">
    <form [formGroup]="wizardPublishFormGroup">
      <ng-template matStepLabel>Finalize</ng-template>
      <div class="form-items mb-50">
        <div class="mat-subheading-1 mb-20">Congratulations! Your new environment is almost ready.</div>
        <mat-label class="mat-subheading-2">Visibility</mat-label>
        <mat-radio-group formControlName="isActive">
          <ul>
            <li>
              <mat-radio-button [value]="true">Publish immediately</mat-radio-button>
            </li>
            <li>
              <mat-radio-button [value]="false">Save as a draft (visible only to owners and managers)</mat-radio-button>
            </li>
          </ul>
        </mat-radio-group>
      </div>
      <div class="stepper-action-buttons" fxLayout="row" fxLayoutGap="10px">
        <button class="back" mat-flat-button matStepperPrevious>
          <mat-icon class="mr-10">arrow_backward</mat-icon>Back
        </button>
        <button mat-flat-button class="inversion primary" (click)="createEnvironmentByWizardMode()">
          Create
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
