<div id="join-workspace-dialog" class="dialog-container">
  <ng-container *ngIf="!newWorkspace">
    <div class="corner-button-container">
      <button mat-icon-button mat-dialog-close class="corner-button" (click)="closeForm()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <h2>Join Workspace</h2>
    <section class="join-code-input-form">
      <form [formGroup]="joinWorkspaceForm">
        <mat-form-field appearance="fill" class="join-code-input">
          <mat-label>Enter Join Code</mat-label>
          <input matInput type="text" placeholder="Join code" formControlName="joinCode">
          <mat-error *ngIf="isJoinCodeValid" [ngClass]="'error-status'">error</mat-error>
        </mat-form-field>
        <button mat-flat-button id="join-workspace-btn" class="primary-btn" (click)="joinWorkspace()">
          <mat-icon fontSet="material-icons-outlined">add</mat-icon> Join
        </button>
      </form>
      <div class="error-status" *ngIf="errorMessage">{{ errorMessage }}</div>
    </section>
  </ng-container>
  <ng-container *ngIf="newWorkspace">
    <h2>Workspace "{{ newWorkspace.name }}" data policy</h2>
    <mat-dialog-content>
      <div class="state">
        You have successfully joined workspace "{{ newWorkspace.name }}".
      </div>
      <div *ngIf="newWorkspace.membership_expiry_policy?.kind==='activity_timeout'; else persistentMembership"
           class="policy-note">
        <div class="policy-icon-column">
          <mat-icon class="material-icons-outlined">warning</mat-icon>
        </div>
        <div class="policy-content">
          Please note that due to workspace policy, your
          <div class="highlight-line">
            membership will terminate after {{ newWorkspace.membership_expiry_policy.timeout_days }} days of inactivity.
          </div>
          After termination, you cannot access data, including "my-work" content, in this workspace anymore.
        </div>
      </div>
      <ng-template #persistentMembership>
        <div class="policy-note">
          <div class="policy-icon-column">
            <mat-icon class="material-icons-outlined">warning</mat-icon>
          </div>
          <div class="policy-content">
            This workspace and its data, including "my-work" content, will become inaccessible
            {{ newWorkspace.expiry_ts * 1000 | date }}.
          </div>
        </div>
      </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions class="dialog-buttons">
      <button class="primary-btn" mat-flat-button mat-dialog-close (click)="closeForm()">Understood</button>
    </mat-dialog-actions>
  </ng-container>
</div>
