@use 'main' as main;

#join-workspace-dialog {

  h2 {
    margin-bottom: 10px;
    text-align: center !important;
  }

  .state {
    margin-bottom: 20px;
    text-align: center !important;

    @include main.headline-3;
  }

  .primary-btn {
    width: 100%;
    padding: 20px;
  }

  .join-code-input-form {
    display: flex;
    flex-direction: column !important;
    justify-content: stretch;

    @include main.center(both);

    form {
      width: 100%;
      padding: 0;

      mat-form-field {
        width: 100%;
      }

      #join-workspace-btn {
        width: 100%;
        color: main.$light-color !important;
        background: main.$primary-color !important;
      }
    }
  }

}

