<div id="join-workspace-dialog" class="mat-typography dialog-container pb-20" ngClass.lt-sm="mobile">
  <ng-container *ngIf="!newWorkspace">
    <div class="corner-button-container">
      <button mat-icon-button mat-dialog-close class="corner-button" (click)="closeForm()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <h1 class="mat-dialog-title mat-headline">Join Workspace</h1>
    <mat-dialog-content>
      <section class="join-code-input-form">
        <form [formGroup]="joinWorkspaceForm">
          <mat-icon class="material-icons-outlined">vpn_key</mat-icon>
          <mat-form-field appearance="fill" class="join-code-input">
            <mat-label>Enter Join Code</mat-label>
            <input matInput type="text" placeholder="Join code" formControlName="joinCode">
            <mat-error *ngIf="isJoinCodeValid" [ngClass]="'error'">error</mat-error>
          </mat-form-field>
          <button mat-flat-button color="primary" class="join-workspace-btn center__vh" (click)="joinWorkspace()">
            <mat-icon fontSet="material-icons-outlined">add</mat-icon>
          </button>
        </form>
        <div class="error-status" *ngIf="errorMessage">{{ errorMessage }}</div>
      </section>
    </mat-dialog-content>
    <!--  <mat-dialog-actions class="mb-10">-->
    <!--    <button mat-stroked-button mat-dialog-close (click)="closeForm()">Close</button>-->
    <!--  </mat-dialog-actions>-->
  </ng-container>
  <ng-container *ngIf="newWorkspace">
    <h1 class="mat-dialog-title mat-headline">Workspace "{{ newWorkspace.name }}" data policy</h1>
    <mat-dialog-content>
      <div>
        You have successfully joined workspace "{{ newWorkspace.name }}".
      </div>
      <div *ngIf="newWorkspace.membership_expiry_policy?.kind==='activity_timeout'; else persistentMembership"
           class="policy-note">
        <div class="policy-icon-column">
          <mat-icon class="material-icons-outlined">warning</mat-icon>
        </div>
        <div class="policy-content">
          Please note that due to workspace policy, your
          <div class="highlight-line">
            membership will terminate after {{ newWorkspace.membership_expiry_policy.timeout_days }} days of inactivity.
          </div>
          After termination, you cannot access data, including "my-work" content, in this workspace anymore.
        </div>
      </div>
      <ng-template #persistentMembership>
        <div class="policy-note">
          <div class="policy-icon-column">
            <mat-icon class="material-icons-outlined">warning</mat-icon>
          </div>
          <div class="policy-content">
            This workspace and its data, including "my-work" content, will become inaccessible
            {{ newWorkspace.expiry_ts * 1000 | date }}.
          </div>
        </div>
      </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions class="mb-10 dialog-buttons">
      <button mat-flat-button mat-dialog-close color="primary" (click)="closeForm()">Understood</button>
    </mat-dialog-actions>
  </ng-container>


</div>
