<div fxLayout="column">
  <div class="screen-container" fxLayout="column" fxLayoutAlign="space-between stretch">
    <app-welcome-header class="header-wrapper"></app-welcome-header>
    <div class="jumbotron" role="main" fxFlex="grow">
      <!-- <app-message></app-message> -->
      <app-welcome-login></app-welcome-login>
    </div>
    <div class="bg-pattern-1">
      <img class="csc-img-1" src="assets/images/csc_pattern_left_bottom.svg" alt="CSC Pattern">
    </div>
    <div class="bg-pattern-2">
      <img class="csc-img-2" src="assets/images/csc_pattern_right_top.svg" alt="CSC Pattern">
    </div>
  </div>
  <app-footer class="footer-wrapper"></app-footer>
</div>


