<div class="container__screen bg__primary" fxLayout="column">
  <app-header [isNaviVisible]="true" class="mt-40"></app-header>
  <div id="jumbotron" role="main" [ngClass.gt-xs]="'mt-75'" [ngClass.xs]="'mt-15'">
    <!-- <app-message></app-message> -->
    <app-welcome-login></app-welcome-login>
  </div>
  <div class="bg-pattern-1">
    <img class="csc-img-1" src="assets/images/csc_pattern.svg" alt="CSC Pattern">
  </div>
  <div class="bg-pattern-2">
    <img class="csc-img-2" src="assets/images/csc_pattern.svg" alt="CSC Pattern">
  </div>
</div>
<!-- <app-welcome-publicity></app-welcome-publicity> -->
<app-footer></app-footer>
