//@import "src/styles/main.scss";

#welcome-page-wrapper {
  display: flex;
  flex-direction: column;

  .main-content {
    position: relative;

    app-service-announcement {
      ::ng-deep.service-announcement-item {
        margin-top: 20px !important;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
      }
    }
  }
}

.app-header {
  min-height: 50px;
  z-index: 1000;
}

app-footer {
  min-height: 230px;
}

.main-content {
  flex: 1;
  position: relative;
}

.bg-pattern-1,
.bg-pattern-2 {
  position: absolute;
  z-index: 1;
}

.bg-pattern-1 {
  bottom: 0;
  left: -20px;
}

.bg-pattern-2 {
  top: -90px;
  right: -20px;
  transform: scale(-1, -1);
}

.header {
  display: inline-flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.header img {
  width: 100px;
  height: auto;
}

.header h1 {
  letter-spacing: 0.03em;
  margin: 5px auto;
  position: absolute;
  top: auto;
  left: 47%;
}
