@import "src/styles.scss";

.screen-container {
  @include banner;

  min-height:100vh;
  height: auto;
  background: map-get($colors, primary);

  .bg-pattern-1,
  .bg-pattern-2{
    position: absolute;
  }

  .bg-pattern-1 {
    // background-image: url('src/assets/images/csc_pattern_left_bottom.svg');
    bottom: 0px;
    left: 0;
  }

  .bg-pattern-2 {
    // background-image: url('src/assets/images/csc_pattern_right_top.svg');
    top: 0px;
    right: 0;
  }

  .header-wrapper {
    min-height: map-deep-get($layout-set, welcome, header, min-h);
  }

  .jumbotron {
    padding: 0 20px;
  }

  .footer-wrapper {
    min-height: map-deep-get($layout-set, welcome, footer, min-h);
  }
}
