//@import "src/styles/main.scss";

.app-header {
  z-index: 1000;
}

.bg-pattern-1,
.bg-pattern-2{
  position: absolute;
  z-index: 1;
}

.bg-pattern-1 {
  bottom: 0px;
  left: 0;
}

.bg-pattern-2 {
  top: 0px;
  right: 0;
  transform: scale(-1, -1);
}
