<div id="welcome-page-wrapper" class="container__screen bg__primary">
  <app-header [isNaviVisible]="true"
              [logoMarkSize]="80" [logoTypeSize]="4" [displayMode]="'cutout'"
              class="mt-40 mb-50 app-header pl-20 pr-20">
  </app-header>
  <div class="main-content ml-20 mr-20">
    <!--  Service Announcement 'welcome'  -->
    <app-service-announcement [context]="context"></app-service-announcement>

    <div id="jumbotron" role="main" ngClass.gt-xs="mt-75" ngClass.lt-sm="mt-15">
      <app-welcome-login [context]="context" (emitSpecialLogin)="openSpecialLoginDialog()"></app-welcome-login>
    </div>
    <div class="bg-pattern-1">
      <img class="csc-img-1" src="assets/images/csc_pattern.svg" alt="CSC Pattern">
    </div>
    <div class="bg-pattern-2">
      <img class="csc-img-2" src="assets/images/csc_pattern.svg" alt="CSC Pattern">
    </div>
  </div>
  <app-footer [context]="context"></app-footer>
</div>
<ng-template #specialLoginDialog>
  <form class="special-login-form grid-row" (ngSubmit)="onLogin()" [formGroup]="loginFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput id="ext_id" placeholder="Email" formControlName="ext_id">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput id="password" placeholder="Password" formControlName="password" [type]="'password'">
    </mat-form-field>
    <button id="special-login-submit-button" class="mt-10" mat-flat-button color="primary">
      Submit
    </button>
  </form>
</ng-template>
<ng-template #specialLoginDialogTerms>
  <div class="form-container centered grid-row">
    <div class="header">
      <img src="{{ publicConfigService.getAgreementLogoPath() }}" alt="logo" />
      <h1>{{ publicConfigService.getAgreementTitle() }}</h1>
    </div>
    <form class="special-login-form" (ngSubmit)="onTermsAgree()" [formGroup]="loginFormGroup">
      <p>Before continuing, you need to agree to our
        <a href="{{ publicConfigService.getTermsOfUseUrl() }}" rel="noopener" target="_blank"> Terms of Use, </a>
          including sections concerning use of
        <a href="{{ publicConfigService.getCookiesPolicyUrl() }}" rel="noopener" target="_blank"> Cookies </a>
          on this site and
        <a href="{{ publicConfigService.getPrivacyPolicyUrl() }}" rel="noopener" target="_blank"> Privacy Policy.</a>
      </p>
      <button mat-flat-button color="primary">
          Agree & Continue
      </button>
    </form>
  </div>
</ng-template>
