<section>
  <div class="container">
    <h2 class="mat-display-2"> Why Notebooks? </h2>
    <div class="cards-wrapper" fxLayout="row" fxLayoutGap="30px">
      <div class="card" fxLayout="column" fxLayoutGap="10px">

        <div class="card-icon">
          <mat-icon fontSet="material-icons-outlined">school_outline</mat-icon>
        </div>

        <h3 class="card-title mat-display-1">Card title</h3>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of
          the card's content.
        </p>

      </div>
      <div class="card" fxLayout="column" fxLayoutGap="20px">
        <div class="card-icon">
          <mat-icon fontSet="material-icons-outlined">bar_chart</mat-icon>
        </div>
        <h3 class="card-title mat-display-1">Card title</h3>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of
          the card's content.
        </p>
      </div>
      <div class="card" fxLayout="column" fxLayoutGap="20px">
        <div class="card-icon">
          <mat-icon fontSet="material-icons-outlined">cloud</mat-icon>
        </div>
        <h3 class="card-title mat-display-1">Card title</h3>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of
          the card's content.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="container testimoneer">
  <h2 class="mat-display-2"> Notebooks Users </h2>
  <div class="organization-link-list" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div class="organization-link">
      <div class="logo-placeholder v-centering__horizontal"> Image [200×80] </div>
      <!-- <img src="assets/images/logo/csc-allas.png" alt="dummy-logo"> -->
    </div>
    <div class="organization-link">
      <div class="logo-placeholder v-centering__horizontal"> Image [200×80] </div>
      <!-- <img src="assets/images/logo/csc-mahti.png" alt="dummy-logo"> -->
    </div>
    <div class="organization-link">
      <div class="logo-placeholder v-centering__horizontal"> Image [200×80] </div>
      <!-- <img src="assets/images/logo/csc-puhti.png" alt="dummy-logo"> -->
    </div>
    <div class="organization-link">
      <div class="logo-placeholder v-centering__horizontal"> Image [200×80] </div>
      <!-- <img src="assets/images/logo/csc-allas.png" alt="dummy-logo"> -->
    </div>
    <div class="organization-link">
      <div class="logo-placeholder v-centering__horizontal"> Image [200×80] </div>
      <!-- <img src="assets/images/logo/csc-mahti.png" alt="dummy-logo"> -->
    </div>
  </div>
</section>
