<section id="features" class="container">
  <h2 class="mb-4"> Why Notebooks? </h2>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="icon">
            <mat-icon fontSet="material-icons-outlined">school_outline</mat-icon>
          </div>
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of
            the
            card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="icon">
            <mat-icon fontSet="material-icons-outlined">bar_chart</mat-icon>
          </div>
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of
            the
            card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="icon">
            <mat-icon fontSet="material-icons-outlined">cloud</mat-icon>
          </div>
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of
            the
            card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section id="social-proof" class="container">
  <h2> Notebooks Users </h2>
  <div class="row">
    <div class="col-2">
      <img src="" alt="" srcset="">
    </div>
    <div class="col-2">
      <img src="" alt="" srcset="">
    </div>
    <div class="col-2">
      <img src="" alt="" srcset="">
    </div>
    <div class="col-2">
      <img src="" alt="" srcset="">
    </div>
    <div class="col-2">
      <img src="" alt="" srcset="">
    </div>
    <div class="col-2">
      <img src="" alt="" srcset="">
    </div>
  </div>
</section> -->
