@import "src/styles/main.scss";

section{
  margin-bottom: 80px;

  h2 {
    color: #FFFFFF;
    text-align: center;
  }

  .card {
    color: map-get($app-gray, 900);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 5px;

    .card-icon{
      width: 100%;
      text-align: center;

      .mat-icon {
        font-size: 6rem;
        margin: auto;
        height: auto;
        width: 60px;
        text-align: center;
      }
    }

    .card-title{
      text-align: center;
    }
  }

  .organization-link {
    padding: 5px;
    background: map-get($app-gray, 100);
    margin-bottom: 20px;

    .logo-placeholder {
      width: 200px;
      height: 80px;
      background: map-get($app-gray, 300);
    }

    img {
      width: 200px;
    }
  }
}
