<div class="sidebar-inner">
  <div class="nav-toggle-btn">
    <button mat-button (click)="emitSideNavToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!-- <div class="sidebar-user">
            <div class="user-icon">
                <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
            </div>
            <div class="user-greeting">Welcome Back!</div>
            <div class="user-name">Tieteen Tietotekniikan</div>
            <div class="text-center">
                <div type="button" class="btn user-logout-btn text-primary border-primary">Logout</div>
            </div>
        </div> -->
  <ul class="sidebar-menu scrollable">
    <li class="nav-item" [class.active]="router.url==='/dashboard/catalog'"
    #tooltip="matTooltip" matTooltip="Environment Catalog" [matTooltipDisabled]="true">
      <a class="sidebar-link" [routerLink]="['/dashboard/catalog']">
        <div class="icon-holder" >
          <mat-icon fontSet="material-icons-outlined">import_contacts</mat-icon>
        </div>
        <div class="title" *ngIf="isTextVisible">Environment Catalog</div>
      </a>
    </li>
    <li class="nav-item" [class.active]="router.url==='/dashboard/workspace'"
    #tooltip="matTooltip" matTooltip="Workspace" [matTooltipDisabled]="true">
      <a class="sidebar-link" [routerLink]="['/dashboard/workspace']">
        <div class="icon-holder">
          <mat-icon fontSet="material-icons-outlined">people_outline</mat-icon>
        </div>
        <div class="title" *ngIf="isTextVisible">Workspace</div>
      </a>
    </li>
    <li class="nav-item" [class.active]="router.url==='/dashboard/account'"
    #tooltip="matTooltip" matTooltip="Account" [matTooltipDisabled]="true">
      <a class="sidebar-link" [routerLink]="['/dashboard/account']">
        <div class="icon-holder">
          <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
        </div>
        <div class="title" *ngIf="isTextVisible">Account</div>
      </a>
    </li>
    <li class="nav-item" [class.active]="router.url==='/dashboard/message'"
    #tooltip="matTooltip" matTooltip="Messages" [matTooltipDisabled]="true">
      <a class="sidebar-link" [routerLink]="['/dashboard/message']">
        <div class="icon-holder">
          <mat-icon fontSet="material-icons-outlined">notifications</mat-icon>
        </div>
        <div class="title" *ngIf="isTextVisible">Messages</div>
      </a>
    </li>
  </ul>

  <ng-container *ngIf="authService.isWorkspaceOwner">
    <ul class="sidebar-menu workspace-owner">
      <li class="nav-item workspace-owner-item" [class.active]="router.url==='/dashboard/workspace-manager'"
      #tooltip="matTooltip" matTooltip="Workspace Owner Tool" [matTooltipDisabled]="true">
        <a class="sidebar-link" [routerLink]="['/dashboard/workspace-manager']">
          <div class="icon-holder">
            <mat-icon fontSet="material-icons-outlined">folder_shared</mat-icon>
          </div>
          <div class="title" *ngIf="isTextVisible">Workspace Owner Tool</div>
        </a>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="authService.isAdmin">
    <ul class="sidebar-menu workspace-owner">
      <li class="nav-item workspace-owner-item" [class.active]="router.url==='/dashboard/admin-tool'"
      #tooltip="matTooltip" matTooltip="Admin Tool" [matTooltipDisabled]="true">
        <a class="sidebar-link" [routerLink]="['/dashboard/admin-tool']">
          <div class="icon-holder">
            <mat-icon fontSet="material-icons-outlined">admin_panel_settings</mat-icon>
          </div>
          <div class="title" *ngIf="isTextVisible">Admin Tool</div>
        </a>
      </li>
      <li class="nav-item workspace-owner-item" [class.active]="router.url==='/dashboard/statistics'"
      #tooltip="matTooltip" matTooltip="Statistics" [matTooltipDisabled]="true">
        <a class="sidebar-link" [routerLink]="['/dashboard/statistics']">
          <div class="icon-holder">
            <mat-icon fontSet="material-icons-outlined">bar_chart</mat-icon>
          </div>
          <div class="title" *ngIf="isTextVisible">Statistics</div>
        </a>
      </li>
    </ul>
  </ng-container>

  <ul class="sidebar-menu outer-link">
    <li class="nav-item"
    #tooltip="matTooltip" matTooltip="Help" [matTooltipDisabled]="true">
      <a class="sidebar-link" href="#">
        <div class="icon-holder">
          <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
        </div>
        <div class="title" *ngIf="isTextVisible">Help</div>
      </a>
    </li>
  </ul>
</div>
