@import "src/styles.scss";

.sidebar-inner {
    position: relative;
    font-size: $font-size-sideNav;
    font-weight: $font-weight-bold-base;

    ::ng-deep .mat-button {
      padding-left: 28px !important;

      .mat-button-wrapper {
        float: left;
      }
    }

    .sidebar-menu {
      position: relative;
      // border-top: $border-thin-light;

      li{
        border-left: 10px solid map-get($colors, dark);
        padding-right: 8px;

        &.active{
          background-color: rgb(255, 255, 255, .1);
          color: map-get($colors, white);
          border-left: 10px solid map-get($colors, accent);
        }

        a {
          padding: 12px 18px !important;

          color: map-get($colors, light);

          .title {
            margin-left: 15px;
          }
        }
      }
    }

    // .sidebar-user {
    //   border-bottom: $border-thin;
    //   // line-height: 0;
    //   list-style: none;
    //   margin: 0;
    //   // padding: 0px 10px 30px;
    //   // min-height: 100px;
    //   position: relative;
    //   -webkit-transition: all .2s ease;
    //   -o-transition: all .2s ease;
    //   transition: all .2s ease;

    //   .user-icon{
    //     height: 60px;
    //     width: 60px;
    //     margin: 30px auto 0;

    //     .mat-icon{
    //       font-size: 60px;
    //       color: #9cb2c7;
    //     }
    //   }

    //   .user-greeting{
    //     margin-top: 10px!important;
    //     display: block;
    //     font-size: $font-size-sideNav-s;
    //     padding: 0px 10px;
    //     position: relative;
    //     white-space: nowrap;
    //     text-align: center;
    //   }

    //   .user-name{
    //     // margin-top: 5px!important;
    //     display: block;
    //     padding: 0px 15px;
    //     position: relative;
    //     white-space: nowrap;
    //     text-align: center;
    //   }

    //   .user-role{
    //     display: block;
    //     padding: 5px 15px;
    //     position: relative;
    //     white-space: nowrap;
    //     text-align: center;
    //   }

    //   .user-logout-btn{
    //     margin-top: 10px!important;
    //     font-size: $font-size-sideNav-s;
    //     font-weight: $font-weight-bold-base;
    //     width: 100px;
    //     margin: auto;
    //     border: 1px solid #9cb2c7;
    //   }
    // }
  }
