@import "src/styles.scss";

::ng-deep .sidebar-inner {
  position: relative;
  height: 100%;
  font-size: $font-size-sideNav;
  font-weight: $font-weight-bold-base;

  .logo {
    padding: 25px 5px 10px 5px;
    height: 70px;

    h1 {
      font-size: 2.8rem;
      font-weight: 600;
      padding-top: 4px;
      // padding-left: 10px;
      letter-spacing: 1px;
      line-height: 2.8rem;
      margin: 0 !important;
    }

    .logomark {
      width: auto !important;
      height: auto !important;

      mat-icon {
        width: 32px;
        height: 32px;
        font-size: 3.2rem;
        color: map-get($colors, white);
      }
    }
  }

  .mat-button {
    padding-left: 24px !important;
    color: map-get($colors, light);

    .mat-button-wrapper {
      float: left;
    }
  }

  .sidebar-menu {
    position: relative;

    &.nav-section {
      border-top: 1px solid map-get($colors, dark-primary);
    }

    li {
      border-left: 6px solid map-get($colors, transparent);
      padding-right: 8px;

      &.active {
        background-color: map-get($colors, focus-light);
        border-left: 6px solid map-get($colors, accent);
      }

      a {
        padding: 12px 18px !important;

        .title {
          margin-left: 15px;
        }
      }
    }
  }

  .sidebar-logout {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 24px 20px;

    button {

      .mat-icon {
        height: auto;
        font-size: 1.8rem;
        text-align: center;
      }

      .button-text {
        margin: 0 15px;
        font-size: 1.2rem;
      }
    }
  }

  // .sidebar-user {
  //   border: map-get($borders, thin-light);
  //   margin: 0 10px 10px;
  //   padding: 10px;
  //   color: map-get($colors, light);
  //   text-align: center;
  //   font-size: 1.2rem;

  //   .mat-icon {
  //     font-size: 1.8rem;
  //   }
    // .user-icon {
    //   width: 40px;
    //   margin: 0 auto;
    //   text-align: center;
    //   margin-bottom: 10px;
    //   .mat-icon {
    //     font-size: 3.4rem;
    //   }
    // }
    // .announcements {
    //   margin-bottom: 10px;
    // }
    // .user-name {
    //   padding: 0px 10px;
    //   margin-bottom: 10px;
    // }
  // }
}
