@import "src/styles.scss";

::ng-deep .sidenav-inner {
  position: relative;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 600;

  .logo {
    margin-left: 6px;
    padding: 25px 5px 30px 16px;
    height: 100px;

    h1 {
      font-size: 2.8rem;
      font-weight: 600;
      padding-top: 4px;
      letter-spacing: 1px;
      line-height: 2.8rem;
      margin: 0 !important;
    }

    .logomark {
      width: auto !important;
      height: auto !important;

      mat-icon {
        width: 32px;
        height: 32px;
        font-size: 3.2rem;
        color: map-get($colors, white);
      }
    }
  }

  .sidenav-button {
    min-width: 61px;
    margin-left: 6px;
    color: map-get($colors, light);

    &:hover {
      background-color: map-get($colors, transparent) !important;
      color: map-get($colors, accent) !important;
    }
  }

  .nav-section {
    border-top: 1px solid map-get($colors, dark-primary);
  }

  .sidenav-menu {
    position: relative;

    li {
      border-left: 6px solid map-get($colors, transparent);
      padding-right: 8px;

      &.active {
        background-color: map-get($colors, focus-light);
        border-left: 6px solid map-get($colors, accent);
      }

      a {
        padding: 12px 18px !important;

        .title {
          margin-left: 15px;
        }
      }
    }
  }

  .sidenav-logout {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:  5px 0 20px;
    font-size: 1.2rem;

    .user-name {
      padding: 5px 28px;
    }

    button {
      padding: 0 16px;

      .mat-icon {
        height: auto;
        font-size: 1.8rem;
        text-align: center;
      }

      .button-text {
        margin: 0 10px;
      }
    }
  }

}
