@import "src/styles/main.scss";

.sidenav-inner {
  position: relative;

  &#account-nav {
    border-top: solid 1px rgba(255,255,255,.2);
    border-bottom: none !important;
  }

  .brand {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px 10px 16px;

    .site-name {
      padding-right: 15px;
    }
  }

  #nav-toggle-button {
    @include primary-main-background;
    text-align: center;
    width: 70px;
    padding: 5px;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px rgba(255,255,255,.2);

    .nav-item {
      padding-top: 5px;
      padding-right: 6px;
      border-left: 6px solid rgba(204, 255, 100, 0);

      &.active {
        border-left: 6px solid #00969a;
        width: 100%;
        background-color: #ffffff1a;
      }

      a {
        display: inline-flex;
        flex-direction: row;
        padding: 5px 10px 5px 10px;
        cursor: pointer;

        .icon-holder {
          width: 50px;
          text-align: center
        }

        .title {
          padding-right: 10px;
        }

        &#account {
          .email {
            word-break: break-all;
          }
        }
      }
    }
  }
}

// ----- Laptop

@media (min-width: 600px) {
  .mobile-main-nav {
    display: none;
  }
}

// ----- MOBILE

@media (max-width: 599px) {

  .content-header-container h3 {
    margin-left: 35px;
    flex-basis: 30px !important;
    height: 30px !important;
  }

  .mobile-main-nav {
    display: block;
    position: fixed;
    width: 65px;
    top: 0;
    left: 0;
  }

  .sidenav-inner {
    display: none;
  }

  #nav-toggle-btn {
    display: none;
  }

  .nav-toggle-label {
    visibility: visible !important;
    display: block;
  }

  .nav-wrapper {
    position: relative;
    width: 100%;
    margin-top: 0;
    background: #b6beff;

    li {
      padding: 3px 10px;
      color: #18227c;

      a {
        display: inline-flex;
        gap: 5px;
      }
    }
  }

  #nav-toggle-btn:checked + .nav-toggle-label + .nav-wrapper {
    display: none;
  }

  #nav-toggle-btn + .nav-toggle-label + .nav-wrapper {
    display: block;
  }
}

