<!-- Side navigation -->
<div class="sidenav-inner">
  <!-- Logo -->
  <a class="brand" [routerLink]="['/main/catalog']">
    <div class="site-logo">
      <div class="csc-logo">
        <img src="assets/images/logo/site-logo.svg" alt="site-logo" width="50">
      </div>
    </div>
    <h2 class="site-name" *ngIf="isTextVisible">
      {{ publicConfigService.getInstallationName() }}
      <h5 class="owner-name">{{ publicConfigService.getInstallationDomain() }}</h5>
    </h2>
  </a>
  <!-- Navigation panel toggle button -->
  <ul class="nav-items scrollable">
    <li class="nav-item">
      <button class="action primary-btn" id="nav-toggle-button"
              [matTooltip]="isTextVisible ? 'Close navigation' : 'Open navigation'"
              matTooltipPosition="right"
              (click)="emitSideNavToggle()">
        <ng-container *ngIf="isTextVisible ; else elseBlock">
          <span class="icon-holder">
            <mat-icon>chevron_left</mat-icon>
          </span>
        </ng-container>
        <ng-template #elseBlock>
          <span class="icon-holder">
            <mat-icon>chevron_right</mat-icon>
          </span>
        </ng-template>
      </button>
    </li>
  </ul>
  <!-- Menu -->
  <ul class="nav-items scrollable">
    <li class="nav-item" [class.active]="router.url==='/main/catalog'">
      <a [routerLink]="['/main/catalog']">
        <span class="icon-holder" matTooltip="Applications"
              [matTooltipDisabled]="isTextVisible" matTooltipPosition="right">
          <mat-icon fontSet="material-icons-outlined">import_contacts</mat-icon>
        </span>
        <span class="title" *ngIf="isTextVisible">Applications</span>
      </a>
    </li>
    <li class="nav-item" [class.active]="router.url==='/main/my-workspaces'">
      <a [routerLink]="['/main/my-workspaces']">
        <span class="icon-holder" matTooltip="My workspaces"
              [matTooltipDisabled]="isTextVisible" matTooltipPosition="right">
          <mat-icon fontSet="material-icons-outlined">apps</mat-icon>
        </span>
        <div class="title" *ngIf="isTextVisible">My workspaces</div>
      </a>
    </li>
  </ul>
  <ng-container *ngIf="authService.isAdmin || authService.isWorkspaceManager || authService.isWorkspaceOwner">
    <ul class="nav-items workspace-owner">
      <li class="nav-item workspace-owner-item" [class.active]="router.url.startsWith('/main/workspace-owner')">
        <a [routerLink]="['/main/workspace-owner']">
          <span class="icon-holder" matTooltip="Manage workspaces"
                [matTooltipDisabled]="isTextVisible" matTooltipPosition="right">
            <mat-icon fontSet="material-icons-outlined">
              app_registration
            </mat-icon>
          </span>
          <div class="title" *ngIf="isTextVisible">Manage workspaces</div>
        </a>
      </li>
      <li class="nav-item workspace-owner-item" [class.active]="router.url==='/main/active-sessions'">
        <a [routerLink]="['/main/active-sessions']">
          <span class="icon-holder" matTooltip="Active sessions"
                [matTooltipDisabled]="isTextVisible" matTooltipPosition="right">
            <mat-icon fontSet="material-icons-outlined">dns</mat-icon>
          </span>
          <div class="title" *ngIf="isTextVisible">Active sessions</div>
        </a>
      </li>
    </ul>
  </ng-container>

  <ul class="nav-items">
    <li class="nav-item" [class.active]="router.url==='/main/messages'">
      <a [routerLink]="['/main/messages']">
        <span class="icon-holder" matTooltip="Messages"
              [matTooltipDisabled]="isTextVisible" matTooltipPosition="right">
          <!-- aria-hidden workaround for a runtime warning, ref https://github.com/angular/components/issues/27705 -->
          <mat-icon fontSet="material-icons-outlined"
                    [matBadgeHidden]="getUnreadMessages().length === 0"
                    [attr.aria-hidden]="getUnreadMessages().length === 0" aria-hidden="false"
                    [matBadge]="getUnreadMessages().length"
                    matBadgeColor="{{getUnreadMessages().length > 0 ? 'warn': 'normal'}}">
            mail
          </mat-icon>
        </span>
        <div class="title" *ngIf="isTextVisible">Messages</div>
      </a>
    </li>
    <li class="nav-item" [class.active]="router.url==='/main/help'">
      <a [routerLink]="['/main/help']">
        <span class="icon-holder" matTooltip="Help"
              [matTooltipDisabled]="isTextVisible" matTooltipPosition="right">
          <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
        </span>
        <div class="title" *ngIf="isTextVisible">Help</div>
      </a>
    </li>
  </ul>
</div>
<div id="account-nav" class="sidenav-inner">
  <!-- Logout -->
  <ul class="nav-items">
    <li class="nav-item">
      <a id="account" [routerLink]="['/main/account']">
        <span class="icon-holder" matTooltip="Account"
              [matTooltipDisabled]="isTextVisible" matTooltipPosition="right">
          <mat-icon fontSet="material-icons-outlined">person_outline</mat-icon>
        </span>
        <span class="email u-line" *ngIf="isTextVisible">{{ userName }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a id="logout-button" (click)="authService.logout()">
        <span class="icon-holder" matTooltip="Logout"
              [matTooltipDisabled]="isTextVisible" matTooltipPosition="right">
          <mat-icon fontSet="material-icons-outlined">exit_to_app</mat-icon>
        </span>
        <span class="title" *ngIf="isTextVisible">Logout</span>
      </a>
    </li>
  </ul>
</div>

<!-- Mobile mode : Dropdown menu -->
<nav class="mobile-main-nav">
  <input type="checkbox" id="nav-toggle-btn" [checked]="isMobileNavInvisible" [(ngModel)]="isMobileNavInvisible">
  <label class="nav-toggle-label button" for="nav-toggle-btn">
    <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
  </label>
  <ul class="nav-wrapper">
    <li>
      <a [routerLink]="['/main/catalog']">
        <mat-icon fontSet="material-icons-outlined">import_contacts</mat-icon>
        Applications
      </a>
    </li>
    <li>
      <a [routerLink]="['/main/my-workspaces']">
        <mat-icon fontSet="material-icons-outlined">apps</mat-icon>
        My workspaces
      </a>
    </li>
    <ng-container *ngIf="authService.isWorkspaceOwner">
      <hr>
      <li>
        <a [routerLink]="['/main/workspace-owner']">
          <mat-icon fontSet="material-icons-outlined">app_registration</mat-icon>
          Manage workspaces
        </a>
      </li>
      <li>
        <a [routerLink]="['/main/active-sessions']">
          <mat-icon fontSet="material-icons-outlined">dns</mat-icon>
          Active sessions
        </a>
      </li>
      <hr>
    </ng-container>
    <li>
      <a [routerLink]="['/main/messages']">
        <!-- aria-hidden workaround for a runtime warning, ref https://github.com/angular/components/issues/27705 -->
        <mat-icon fontSet="material-icons-outlined"
                  [matBadgeHidden]="getUnreadMessages().length === 0"
                  [attr.aria-hidden]="getUnreadMessages().length === 0" aria-hidden="false"
                  [matBadge]="getUnreadMessages().length"
                  matBadgeColor="{{getUnreadMessages().length > 0 ? 'warn': 'normal'}}">
          mail
        </mat-icon>
        Messages
      </a>
    </li>
    <li>
      <a [routerLink]="['/main/help']">
        <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
        Help
      </a>
    </li>
    <li>
      <a [routerLink]="['/main/account']">
        <mat-icon fontSet="material-icons-outlined">person_outline</mat-icon>
        {{ userName }}
      </a>
    </li>
    <li>
      <a (click)="authService.logout()">
        <mat-icon fontSet="material-icons-outlined">exit_to_app</mat-icon>
        Logout
      </a>
    </li>
  </ul>
</nav>
