@import "src/styles/main.scss";

.sidenav-inner {
  position: relative;
  min-height: 100%;
}

.logo {
  padding: 22px 5px 15px 20px;
  height: 70px;
  font-weight: 600;
  font-size: 2.8rem;
  background: map-get($app-primary, default);

  .logo__type {
    margin-bottom: 3px;
  }
}

.nav-items {

  &.nav-partition {
    border-top: 1px solid map-get($colors, dark-primary);
  }

  li {
    border-left: 6px solid map-get($colors, transparent);
    padding-right: 8px;
    width: 100%;

    &.active {
      border-left: 6px solid map-get($app-accent, default);
      background-color: map-get($colors, focus-light);
    }

    a,
    button,
    .action {
      @include center(vertical);
      padding: 10px 18px !important;
      width: 100%;

      .title {
        margin-left: 12px;
        margin-bottom: 3px;
      }

      .email {
        margin-left: 8px;
        padding-bottom: 1px !important;
        //font-size: 1.2rem;
      }

      &#nav-toggle-button {
        @include center(vertical);
        height: 62px;
      }

      &#account,
      &#logout-button {
        padding: 5px 18px !important;
      }
    }
  }
}
