<div class="sidenav-inner bg__primary" fxLayout="column" fxHide.lt-sm="true">
  <!-- Logo -->
  <div class="logo mat-display-3" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <a class="center__v" [routerLink]="['/main/catalog']" fxLayout="row" fxLayoutGap="10px"
       fxLayoutAlign="space-between center">
      <div class="logo__mark" fxFlex="0 0 36px">
        <mat-icon fontSet="material-icons-outlined" class="md-36">import_contacts</mat-icon>
      </div>
      <div class="logo__type" *ngIf="isTextVisible" >
        {{ publicConfigService.getInstallationName() }}
        <span class="owner mat-display-1">{{ publicConfigService.getInstallationDomain() }}</span>
      </div>
    </a>
  </div>
  <!-- Navigation panel toggle button -->
  <ul id="nav-toggle-button" class="nav-items scrollable">
    <li class="nav-item">
      <button class="action" #tooltip="matTooltip" matTooltip="Toggle size"
              (click)="emitSideNavToggle()">
        <ng-container *ngIf="isTextVisible ; else elseBlock">
          <span class="icon-holder">
            <mat-icon fontSet="material-icons-outlined">more_vert</mat-icon>
          </span>
          <!--<span class="title" *ngIf="isTextVisible">Minimize menu</span>-->
        </ng-container>
        <ng-template #elseBlock>
          <span class="icon-holder">
            <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
          </span>
          <!--<span class="title" *ngIf="isTextVisible">Expand</span>-->
        </ng-template>
      </button>
    </li>
  </ul>
  <!-- Menu -->
  <ul class="nav-items scrollable">
    <li class="nav-item" [class.active]="router.url==='/main/catalog'"
        #tooltip="matTooltip" matTooltip="Environments" [matTooltipDisabled]="true">
      <a [routerLink]="['/main/catalog']">
        <span class="icon-holder">
          <mat-icon fontSet="material-icons-outlined">book</mat-icon>
        </span>
        <span class="title mat-title" *ngIf="isTextVisible">Environments</span>
      </a>
    </li>
    <li class="nav-item" [class.active]="router.url==='/main/my-workspaces'"
        #tooltip="matTooltip" matTooltip="My workspaces" [matTooltipDisabled]="true">
      <a [routerLink]="['/main/my-workspaces']">
        <span class="icon-holder">
          <mat-icon fontSet="material-icons-outlined">people_outline</mat-icon>
        </span>
        <div class="title mat-title" *ngIf="isTextVisible">My workspaces</div>
      </a>
    </li>
  </ul>
  <ng-container *ngIf="authService.isAdmin || authService.isWorkspaceManager">
    <mat-divider></mat-divider>
    <ul class="nav-items workspace-owner">
      <li class="nav-item workspace-owner-item" [class.active]="router.url.startsWith('/main/workspace-owner')"
          #tooltip="matTooltip" matTooltip="Manage workspaces" [matTooltipDisabled]="true">
        <a [routerLink]="['/main/workspace-owner']">
          <span class="icon-holder">
            <mat-icon fontSet="material-icons-outlined">
              folder_shared
            </mat-icon>
          </span>
          <div class="title mat-title" *ngIf="isTextVisible">Manage workspaces</div>
        </a>
      </li>
      <li class="nav-item workspace-owner-item" [class.active]="router.url==='/main/active-sessions'"
          #tooltip="matTooltip" matTooltip="Active sessions" [matTooltipDisabled]="true">
        <a [routerLink]="['/main/active-sessions']">
          <span class="icon-holder">
            <mat-icon fontSet="material-icons-outlined">dns</mat-icon>
          </span>
          <div class="title mat-title" *ngIf="isTextVisible">Active sessions</div>
        </a>
      </li>
    </ul>
    <mat-divider></mat-divider>
  </ng-container>
  <ng-container *ngIf="authService.isAdmin">
    <ul class="nav-items workspace-owner">
      <li class="nav-item workspace-owner-item" [class.active]="router.url==='/main/users'"
          #tooltip="matTooltip" matTooltip="Users" [matTooltipDisabled]="true">
        <a [routerLink]="['/main/users']">
          <span class="icon-holder">
            <mat-icon fontSet="material-icons-outlined">admin_panel_settings</mat-icon>
          </span>
          <div class="title mat-title" *ngIf="isTextVisible">Manage Users</div>
        </a>
      </li>
      <li class="nav-item workspace-owner-item" [class.active]="router.url==='/main/system-status'"
          #tooltip="matTooltip" matTooltip="System status" [matTooltipDisabled]="true">
        <a [routerLink]="['/main/system-status']">
          <span class="icon-holder">
            <mat-icon fontSet="material-icons-outlined">favorite</mat-icon>
          </span>
          <div class="title mat-title" *ngIf="isTextVisible">System status</div>
        </a>
      </li>
      <li class="nav-item workspace-owner-item" [class.active]="router.url==='/main/statistics'"
          #tooltip="matTooltip" matTooltip="Statistics" [matTooltipDisabled]="true">
        <a [routerLink]="['/main/statistics']">
          <span class="icon-holder">
            <mat-icon fontSet="material-icons-outlined">bar_chart</mat-icon>
          </span>
          <div class="title mat-title" *ngIf="isTextVisible">Statistics</div>
        </a>
      </li>
    </ul>
    <mat-divider></mat-divider>
  </ng-container>

  <ul class="nav-items">
    <li class="nav-item" [class.active]="router.url==='/main/announcements'"
        #tooltip="matTooltip" matTooltip="Announcements" [matTooltipDisabled]="true">
      <a [routerLink]="['/main/announcements']">
        <span class="icon-holder">
          <mat-icon fontSet="material-icons-outlined"
                    [matBadgeHidden]="getUnreadAnnouncements().length === 0"
                    [matBadge]="getUnreadAnnouncements().length"
                    matBadgeColor="{{getUnreadAnnouncements().length > 0 ? 'warn': 'normal'}}">
            announcements
          </mat-icon>
        </span>
        <div class="title mat-title" *ngIf="isTextVisible">Announcements</div>
      </a>
    </li>
  </ul>
  <ul class="nav-items">
    <li class="nav-item" [class.active]="router.url==='/main/help'"
        #tooltip="matTooltip" matTooltip="Help" [matTooltipDisabled]="true">
      <a [routerLink]="['/main/help']">
        <span class="icon-holder">
          <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
        </span>
        <div class="title mat-title" *ngIf="isTextVisible">Help</div>
      </a>
    </li>
  </ul>
  <div class="flex-spacer"></div>
  <!-- CSC Logo -->
  <!--  <ul *ngIf="isTextVisible">
      <li>
        <a href="https://www.csc.fi/contact-info" target="_blank" rel="noopener">
          <div class="csc-logo" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <img src="assets/images/logo/csc_logo.svg" alt="csc-logo">
            <p>ICT Solutions for Brilliant Minds</p>
          </div>
        </a>
      </li>
    </ul>
  -->
  <!-- Logout -->
  <ul class="nav-items nav__bottom nav-partition pt-10 pb-10">
    <li class="nav-item">
      <a id="account" [routerLink]="['/main/account']">
        <span class="icon-holder">
          <mat-icon fontSet="material-icons-outlined">face</mat-icon>
        </span>
        <span class="email" *ngIf="isTextVisible">{{ userName }}</span>
      </a>
    </li>
    <li class="nav-item">
      <button id="logout-button" class="action"
              (click)="authService.logout()">
        <span class="icon-holder">
          <mat-icon fontSet="material-icons-outlined">exit_to_app</mat-icon>
        </span>
        <span class="title" *ngIf="isTextVisible">Logout</span>
      </button>
    </li>
  </ul>
  <!-- CSC Logo -->
  <ul class="bg__primary-dark" *ngIf="isTextVisible">
    <li>
      <a href="https://www.csc.fi/contact-info" target="_blank" rel="noopener">
        <div class="csc-logo" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <img src="assets/images/logo/csc_logo.svg" alt="csc-logo">
          <p>ICT Solutions for Brilliant Minds</p>
        </div>
      </a>
    </li>
  </ul>
</div>

<!-- Mobile mode : Dropdown menu -->
<div fxLayout="column" fxHide="true" fxShow.lt-sm="true">
  <button mat-menu-item [routerLink]="['/main/catalog']">
    <mat-icon fontSet="material-icons-outlined">book</mat-icon>
    Environments
  </button>
  <button mat-menu-item [routerLink]="['/main/my-workspaces']">
    <mat-icon fontSet="material-icons-outlined">people_outline</mat-icon>
    My workspaces
  </button>
  <ng-container *ngIf="authService.isWorkspaceOwner">
    <mat-divider class="dark"></mat-divider>
    <button mat-menu-item [routerLink]="['/main/workspace-owner']">
      <mat-icon fontSet="material-icons-outlined">
        folder_shared
      </mat-icon>
      Manage workspaces
    </button>
    <button mat-menu-item [routerLink]="['/main/active-sessions']">
      <mat-icon fontSet="material-icons-outlined">dns</mat-icon>
      Active sessions
    </button>
    <mat-divider class="dark"></mat-divider>
  </ng-container>
  <ng-container *ngIf="authService.isAdmin">
    <button mat-menu-item [routerLink]="['/main/users']">
      <mat-icon fontSet="material-icons-outlined">admin_panel_settings</mat-icon>
      Manage Users
    </button>
    <button mat-menu-item [routerLink]="['/main/system-status']">
      <mat-icon fontSet="material-icons-outlined">favorite</mat-icon>
      System status
    </button>
    <button mat-menu-item [routerLink]="['/main/statistics']">
      <mat-icon fontSet="material-icons-outlined">bar_chart</mat-icon>
      Statistics
    </button>
    <mat-divider class="dark"></mat-divider>
  </ng-container>
  <button mat-menu-item [routerLink]="['/main/announcements']">
    <mat-icon fontSet="material-icons-outlined"
              [matBadgeHidden]="getUnreadAnnouncements().length === 0"
              [matBadge]="getUnreadAnnouncements().length"
              matBadgeColor="{{getUnreadAnnouncements().length > 0 ? 'warn': 'normal'}}">
      announcements
    </mat-icon>
    Announcements
  </button>
  <button mat-menu-item [routerLink]="['/main/help']">
    <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
    Help
  </button>

  <button mat-menu-item [routerLink]="['/main/account']">
    <mat-icon fontSet="material-icons-outlined">face</mat-icon>
    {{ userName }}
  </button>
  <button mat-menu-item (click)="authService.logout()">
    <mat-icon fontSet="material-icons-outlined">exit_to_app</mat-icon>
    Logout
  </button>
</div>
