@import "src/styles/main.scss";

.active-environments-container {

  .mat-form-field{
    width: 100%;
  }

  table {
    width: 100%;
    margin: auto;

    .mat-header-row {
      background: map-get($colors, light-dark);
      height: 40px;

      .mat-header-cell {
        color: map-get($colors, white);
        border-bottom: none;
      }
    }

    th,td{
      vertical-align: middle;
    }

    th{
      text-transform: capitalize;
    }
  }
}
