<div class="dialog-container">
  <div class="corner-button-container" *ngIf="data.dialogActions.includes('cancel-icon')">
    <button mat-icon-button mat-dialog-close class="corner-button" tabindex="-1">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h3 [ngClass]="config.titleAlign" class="mat-dialog-title">{{ data.dialogTitle }}</h3>
  <mat-dialog-content>
    <div class="dialog-content" *ngIf="this.data.dialogContent" [innerHTML]="data.dialogContent">
    </div>
    <div class="dialog-clipboard" *ngIf="this.data.dialogClipboard">
      <div>{{ this.data.dialogClipboard }}</div>
      <button matTooltip="Copy"
              mat-dialog-close
              cdkFocusInitial
              autofocus
              [cdkCopyToClipboard]="this.data.dialogClipboard">
        <mat-icon fontSet="material-icons-outlined" class="md-24">content_copy</mat-icon>
      </button>
    </div>

    <form *ngIf="selectOptionForm && data.dialogSelectOptions?.length > 0" [formGroup]="selectOptionForm">
      <mat-form-field appearance="outline">
        <mat-select [placeholder]="data.dialogSelectPlaceholder || 'Select option'"
                    autofocus
                    class="select-option-form"
                    formControlName="selectedValue">
          <mat-option *ngFor="let opt of data.dialogSelectOptions" [value]="opt.value">
            {{ opt.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="selectOptionForm.controls.selectedValue.invalid">
          Selection is required
        </mat-error>
      </mat-form-field>
    </form>

  </mat-dialog-content>

  <div [ngClass]="config.contentAlign" class="dialog-actions">
    <button class="close-button" mat-button mat-dialog-close
            *ngIf="data.dialogActions.includes('close')">Close
    </button>
    <button class="confirm-button" mat-button
            *ngIf="data.dialogActions.includes('confirm')"
            (click)="onConfirm()">
      Confirm
    </button>
    <button (click)="onSubmit()" *ngIf="data.dialogActions.includes('submit')"
            class="submit-button"
            [disabled]="!isFormReady()"
            mat-button>
      Submit
    </button>
    <button class="cancel-button" mat-dialog-close
            *ngIf="data.dialogActions.includes('cancel')">Cancel
    </button>
  </div>
</div>
