<div class="mat-typography dialog-container" ngClass.lt-sm="mobile">
  <div class="corner-button-container" *ngIf="data.dialogActions.includes('cancel-icon')">
    <button mat-icon-button mat-dialog-close class="corner-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h1 class="mat-dialog-title mat-headline">{{ data.dialogTitle }}</h1>
  <mat-dialog-content>
    <div class="dialog-content" *ngIf="this.data.dialogContent" [innerHTML]="data.dialogContent">
    </div>
    <div *ngIf="this.data.dialogClipboard" class="mt-20">
      <div class="dialog-clipboard mat-title center__v r__md">
        <div>{{ this.data.dialogClipboard }}</div>
        <button matTooltip="Copy to clipboard" mat-dialog-close class="center__vh"
                [cdkCopyToClipboard]="this.data.dialogClipboard">
          <mat-icon fontSet="material-icons-outlined" class="md-24">content_copy</mat-icon>
        </button>
      </div>
    </div>
  </mat-dialog-content>
  <div class="dialog-actions">
    <button mat-stroked-button mat-dialog-close
            *ngIf="data.dialogActions.includes('close')">Close
    </button>
    <button color="primary" mat-flat-button
            *ngIf="data.dialogActions.includes('confirm')"
            (click)="onConfirm()">
      Confirm
    </button>
    <button mat-stroked-button mat-dialog-close
            *ngIf="data.dialogActions.includes('cancel')">Cancel
    </button>
  </div>
</div>
