
@import "src/styles.scss";

.mat-dialog-title {
  color: map-get($colors, primary);
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid map-get($colors, light-gray);
}

.dialog-content {
}

.dialog-clipboard {
  text-align: center;
  font-size: 1.8rem;
  padding: 10px;
  color: map-get($colors, white);
  background: map-get($colors, neutral-dark);
  border-radius: 5px;
}
