@use 'main' as main;

.dialog-clipboard {
  // background: map-get(main.$app-accent, default);
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  padding: 10px;
  color: main.$dark-text-color;
  text-align: center;
  border: 1px solid main.$dark-text-color;

  button {
    @include main.secondary-main-background;
    @include main.center(both);
  }
}

.dialog-actions {
  display: grid;
}

.dialog-container {
  padding: 30px 40px 10px;
}

.mat-mdc-dialog-content {
  --mat-dialog-content-padding: 20px 5px;
  margin-top: 5px;
  border-top: 1px solid main.$gray-color;
}