<h2 mat-dialog-title>
  {{ data.dialogTitle }}
</h2>
<div mat-dialog-content class="dialog-content"
  *ngIf="this.data.dialogContent" [innerHTML]="data.dialogContent">
</div>
<div mat-dialog-content
  *ngIf="this.data.dialogClipboard" class="spacer__t20">
  <div class="dialog-clipboard" fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="10px" >
    <div fxFlex="grow">{{ this.data.dialogClipboard }}</div>
    <button fxFlex="0 0 25px" matTooltip="Copy to clipboard" mat-dialog-close
      [cdkCopyToClipboard]="this.data.dialogClipboard">
      <mat-icon fontSet="material-icons-outlined">content_copy</mat-icon>
    </button>
  </div>
</div>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end" class="spacer__t30">
  <button *ngIf="data.dialogActions.includes('close')" mat-stroked-button mat-dialog-close>Close</button>
  <button *ngIf="data.dialogActions.includes('confirm')" color="primary" mat-stroked-button
    (click)="onConfirm()">
    Confirm
  </button>
  <button *ngIf="data.dialogActions.includes('cancel')" mat-stroked-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
