@import "src/styles/main.scss";

.content-header-container {
  grid-template-columns: auto;
  grid-column-gap: 20px;
}

#help-page {

  padding: 0 30px 50px 30px;

  .mobile-nav {
    display: none;
    padding: 15px 30px 0;
  }

  .mat-mdc-tab-group {
    flex: 1 1 auto;
    padding-top: 10px;
    overflow: hidden;
  }

  ::ng-deep .mat-mdc-tab-header {
    display: flex !important;
    border-bottom: none !important;
    margin-top: 30px;
  }

  ::ng-deep .mdc-tab {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin-right: 10px;
    min-width: 200px;
    min-height: 75px;
    align-items: center;

    .mdc-tab__content .mdc-tab__text-label {
      .tab-icon {
        font-weight: 600;
      }

      .tab-title {
        padding-top: 15px;
        font-weight: 600;
      }
    }

    &--active {
      background: map-get($app-primary, default);

      .mdc-tab__content .mdc-tab__text-label {
        color: white;
      }
    }

    &-indicator {
      display: none !important;
    }
  }

  .info-body {
    padding: 20px 20px;
    background: white;
    border: 2px solid map-get($app-primary, 300);
    border-radius: 3px !important;

    h3 {
      margin-top: 10px;
    }
  }

  .external-link {
    a {
      display: flex;
      align-items: center;
      color: $primary-color;
      text-decoration: underline;

      &:hover {
        color: $secondary-color;
      }
    }

    mat-icon {
      margin-right: 10px;
    }
  }

  .balloon {
    text-align: center;
    position: relative;
    padding: 30px 50px 20px;
    max-width: 600px;
    height: auto;
    overflow: unset;
    margin: 30px auto 30px auto;
    border-radius: 200px;
    background: #fff;

    li {
      font-size-adjust: 0.4;
      line-height: 155%;
    }
  }

  .balloon:before {
    display: block;
    content: '';
    position: absolute;
    bottom: -20px;
    left: 55%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 20px 20px 20px;
    border-color: transparent transparent transparent #fff;
  }

  .contact-info {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;

    .icon-96 {
      font-size: 96px;
      height: 96px;
      width: 96px;
    }

    .email {
      margin: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      dt {
        padding-right: 36px;
      }
    }
  }
}

// --------------- Mobile Mode

#help-page.mobile {
  .mobile-nav {
    display: block !important;
    padding: 20px 0 0;
    list-style: circle;
  }

  ::ng-deep .mat-mdc-tab-header {
    display: none !important;
  }

  section {
    margin-top: 15px !important;
  }
}

