@import "src/styles/main.scss";

.content-header-container {
  grid-template-columns: auto;
  grid-column-gap: 20px;
}

#help-page {

  padding: 0 30px 50px 30px;

  .mobile-nav {
    display: none;
    //padding: 15px 15px 0 15px;
    padding: 15px 30px 0;
  }

  ::ng-deep .mat-mdc-tab-header {
    display: flex !important;
    border-bottom: none !important;
    margin-top: 30px;
  }
  /*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  /*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  ::ng-deep .mat-tab-label {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin-right: 10px;
    font-weight: 600;
    padding: 35px 20px 35px;
    min-width: 200px;
    /*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
    &.mat-tab-label-active {
      background: map-get($app-primary, default);
      color: #fff;
    }
  }

  ::ng-deep .mat-ink-bar {
    display: none !important;
  }

  .balloon {
    text-align: center;
    position: relative;
    padding: 30px 50px 20px;
    max-width: 600px;
    height: auto;
    overflow: unset;
    margin: 0 auto;
    border-radius: 200px;
    background: #fff;

    li {
      line-height: 155%;
    }
  }

  .balloon:before {
    display: block;
    content: '';
    position: absolute;
    bottom: -20px;
    left: 55%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 20px 20px 20px;
    border-color: transparent transparent transparent #fff;
  }

  .contact-info {
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

// --------------- Mobile Mode

#help-page.mobile {
  .mobile-nav {
    display: block !important;
    padding: 20px 0 0;
    list-style: circle;
  }

  ::ng-deep .mat-mdc-tab-header {
    display: none !important;
  }

  section {
    margin-top: 15px !important;
  }
}
