@use 'main' as main;
@use 'utilities' as util;
@use 'base-styles' as base;
@use 'ui-elements' as ui;
@include ui.page-elm;
@include ui.header-elm;
@include ui.content-elm($type: stretch);

::ng-deep .mat-mdc-tab-group .mat-mdc-tab {

  background: var(--neut-clr-0);
  border: 1px solid var(--neut-clr-2);

  .tab-title {
    @include main.headline-4;
  }

  &:first-child {
    .tab-title {
      @include ui.deco-text($icon: 'live_help', $icon-size: 2.4rem, $icon-weight: 100);
    }
  }

  &:nth-child(2) {
    .tab-title {
      @include ui.deco-text($icon: 'library_books', $icon-size: 2.4rem, $icon-weight: 100);
    }
  }

  &:last-child {
    .tab-title {
      @include ui.deco-text($icon: 'mail', $icon-size: 2.4rem, $icon-weight: 100);
    }
  }
}

::ng-deep.mat-mdc-tab-labels {
  gap: 10px;

  .mdc-tab {
    flex: 1;
  }
}

::ng-deep.mat-mdc-tab-body {
  align-items: center;
  height: auto !important;
  overflow: hidden !important;

  .mat-mdc-tab-body-content {
    @include util.flex-col-block($type: center);
    padding-top: 40px !important;
  }
}

.faq {
  @include util.flex-col-block($gap: 40px);

  .faq-category-title {
    margin-bottom: 15px;
  }

  .question {
    @include base.headline-4;
    @include ui.deco-text($color: var(--prim-clr-6), $icon: 'live_help', $gap: 20px);

    padding-top: 15px;
    padding-bottom: 15px;
  }

  .answer {
    @include ui.deco-text($icon: 'support_agent', $gap: 20px);
    @include ui.common-link;
    @include base.common-font;
  }

  .mat-expansion-panel {
    height: auto;

    .mat-expansion-panel-header {
      height: auto;
      min-height: 50px;
    }
  }
}

.documentation {
  @include ui.info-item;

  dl {
    @include base.grid-list($fractions: '200px auto');
  }
}

.contact {
  .balloon {
    margin-top: 50px !important;

    @include ui.balloon;

    li {
      @include main.headline-3;
    }
  }

  .contact-info {
    @include util.flex-col-block($type: center, $gap: 20px);

    h3 {
      @include ui.crowned-text($color: var(--neut-clr-6), $icon: apartments);
    }

    .email-link {
      @include ui.deco-text($color: var(--prim-clr-6), $icon: 'email', $icon-size: 2.4rem, $icon-weight: 100);

      span {
        text-indent: 10px;
        text-decoration: underline;
      }
    }
  }
}

// --------------- Mobile Mode

@media (max-width: #{base.$mobile-width}) {
  ::ng-deep .mat-mdc-tab-labels {
    flex-direction: column;
  }
}


