<nav class="mobile-main-nav">
  <div class="mobile-nav-header">
    <a [routerLink]="['/main/catalog']" class="brand">
      <img alt="site-logo" class="site-logo" src="assets/images/logo/site-logo.svg">
      <h2 class="site-name">{{ publicConfigService.getInstallationName() }}</h2>
    </a>
    <h3 class="page-title">{{ pageTitle }}</h3>
    <input [(ngModel)]="isMobileNavInvisible" [checked]="isMobileNavInvisible" id="nav-toggle-btn" type="checkbox"
           aria-label="Toggle navigation menu">
    <label class="nav-toggle-label nav-menu" for="nav-toggle-btn" aria-label="Toggle navigation menu">
    </label>
  </div>
  <ul class="nav-wrapper">
    <li>
      <a [routerLink]="['/main/catalog']" class="nav-catalog" routerLinkActive="active">
        Applications
      </a>
    </li>
    <li>
      <a [routerLink]="['/main/my-workspaces']" class="nav-workspaces" routerLinkActive="active">
        My workspaces
      </a>
    </li>
    @if (authService.isWorkspaceOwner) {
      <li class="nav-group-start">
        <a [routerLink]="['/main/workspace-owner']" class="nav-manage-workspaces" routerLinkActive="active">
          Manage workspaces
        </a>
      </li>
      <li>
        <a [routerLink]="['/main/active-sessions']" class="nav-active-sessions" routerLinkActive="active">
          Active sessions
        </a>
      </li>
    }
    <li [class.nav-group-start]="authService.isWorkspaceOwner">
      <a [routerLink]="['/main/messages']"
         class="nav-messages"
         routerLinkActive="active">
        @let unreadCount = getUnreadMessages().length;
        <span [matBadgeHidden]="unreadCount === 0"
              [matBadge]="unreadCount"
              matBadgeColor="warn"
              matBadgeOverlap="false">Messages</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/main/help']" class="nav-help" routerLinkActive="active">
        Help
      </a>
    </li>
    <li class="nav-user nav-group-start">
      <a [routerLink]="['/main/account']" class="nav-account" routerLinkActive="active">
        {{ userName }}
      </a>
    </li>
    <li>
      <a (click)="authService.logout()" class="nav-logout">
        Logout
      </a>
    </li>
  </ul>
</nav>
