<nav class="mobile-main-nav">
  <input [(ngModel)]="isMobileNavInvisible" [checked]="isMobileNavInvisible" id="nav-toggle-btn" type="checkbox">
  <label [ngClass]="{'mobile-nav-closed':isMobileNavInvisible}" class="nav-toggle-label button" for="nav-toggle-btn">
    <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
  </label>
  <ul class="nav-wrapper">
    <li>
      <a [routerLink]="['/main/catalog']">
        <mat-icon fontSet="material-icons-outlined">import_contacts</mat-icon>
        Applications
      </a>
    </li>
    <li>
      <a [routerLink]="['/main/my-workspaces']">
        <mat-icon fontSet="material-icons-outlined">apps</mat-icon>
        My workspaces
      </a>
    </li>
    @if (authService.isWorkspaceOwner) {
      <hr>
      <li>
        <a [routerLink]="['/main/workspace-owner']">
          <mat-icon fontSet="material-icons-outlined">app_registration</mat-icon>
          Manage workspaces
        </a>
      </li>
      <li>
        <a [routerLink]="['/main/active-sessions']">
          <mat-icon fontSet="material-icons-outlined">dns</mat-icon>
          Active sessions
        </a>
      </li>
      <hr>
    }
    <li>
      <a [routerLink]="['/main/messages']">
        <!-- aria-hidden workaround for a runtime warning, ref https://github.com/angular/components/issues/27705 -->
        <mat-icon [attr.aria-hidden]="getUnreadMessages().length === 0"
                  [matBadgeHidden]="getUnreadMessages().length === 0"
                  [matBadge]="getUnreadMessages().length" aria-hidden="false"
                  fontSet="material-icons-outlined"
                  matBadgeColor="warn">
          mail
        </mat-icon>
        Messages
      </a>
    </li>
    <li>
      <a [routerLink]="['/main/help']">
        <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
        Help
      </a>
    </li>
    <li class="nav-user">
      <a [routerLink]="['/main/account']">
        <mat-icon fontSet="material-icons-outlined">person_outline</mat-icon>
        {{ userName }}
      </a>
    </li>
    <li>
      <a (click)="authService.logout()">
        <mat-icon fontSet="material-icons-outlined">exit_to_app</mat-icon>
        Logout
      </a>
    </li>
  </ul>
</nav>
