<div class="content-header-container"
     fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
  <app-main-content-header
    fxFlex="grow"
    [context]="context"
    [isSearchOn]="false"
    [isAutocompleteDisabled]="true"
    [labels]="[]">
  </app-main-content-header>
  <div class="flex-spacer"></div>
  <button mat-stroked-button class="reload-button" fxFlex="1 0 60px" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<div class="alerts-container p-30">

  <h2 class="mb-5">Summary</h2>
  <div class="info-body mb-30">
    <dl class="grid center__v">
      <dt>Sessions</dt>
      <dd>Q:{{getSessionSummary()['nQueueing']}}</dd>
      <dd>S:{{getSessionSummary()['nStarting']}}</dd>
      <dd>R:{{getSessionSummary()['nRunning']}}</dd>
      <dd>D:{{getSessionSummary()['nDeleting']}}</dd>
      <dd>F:{{getSessionSummary()['nFailed']}}</dd>
    </dl>
    <dl class="grid center__v">
      <dt>Overall</dt>
      <dd class="chip" [ngClass]="systemStatus==='ok' ? 'status-ok': 'status-warning'">
        {{ systemStatus.toUpperCase() }}
      </dd>
    </dl>
  </div>

  <h2 class="mb-5">Alerts</h2>
  <mat-checkbox [(ngModel)]="isShowArchived" (change)="showArchivedCheckboxChange()"  class="mt-5">
    Include archived alerts for last 7 days
  </mat-checkbox>
  <div class="info-body mb-30" *ngIf="alerts; else loading">
    <ng-container *ngFor="let alert of alerts">
      <ng-container *ngIf="alert.status !== 'ok'; else statusOk">
        <dl class="grid status bg__warn-light">
          <dt>
            {{ alert.target }}/{{ alert.source }}
            <br>
            {{ alert.status }}
          </dt>
          <dd>
            {{ alert.data.annotations?.description }}
            <br>
            From {{ formatTsToUTC(alert.first_seen_ts) }} to {{ formatTsToUTC(alert.last_seen_ts) }}
          </dd>
        </dl>
      </ng-container>
      <ng-template #statusOk>
        <dl class="grid status bg__accent-light">
          <dt>{{ alert.target }}/{{ alert.source }}</dt>
          <dd><span class="mat-body-2">OK</span></dd>
        </dl>
      </ng-template>
    </ng-container>
  </div>
  <ng-template #loading>
    loading
  </ng-template>
</div>
