@import "src/styles/main.scss";

.content-header-container {
  grid-template-columns: auto 60px;
  grid-column-gap: 20px;
}

.status {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
}

dl {
  grid-template-columns: 200px auto;
}
