<div class="content-header-container"
     fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
  <app-main-content-header
    fxFlex="grow"
    [context]="context"
    [isSearchOn]="false"
    [isAutocompleteDisabled]="true"
    [labels]="[]">
  </app-main-content-header>
  <div class="flex-spacer"></div>
  <button mat-stroked-button class="reload-button" fxFlex="1 0 60px" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<div class="alerts-container p-30">

  <h2 class="mb-5">Summary</h2>
  <div class="info-body mb-30">
    <dl class="grid center__v">
      <dt>Sessions</dt>
      <dd>Q:{{getSessionSummary()['nQueueing']}}</dd>
      <dd>S:{{getSessionSummary()['nStarting']}}</dd>
      <dd>R:{{getSessionSummary()['nRunning']}}</dd>
      <dd>D:{{getSessionSummary()['nDeleting']}}</dd>
    </dl>
    <dl class="grid center__v">
      <dt>Overall</dt>
      <dd class="chip" [ngClass]="getSystemStatus()==='ok' ? 'status-ok': 'status-warning'">
        {{ getSystemStatus().toUpperCase() }}
      </dd>
    </dl>
  </div>

  <h2 class="mb-5">Alerts</h2>
  <div class="info-body mb-30" *ngIf="getAlerts(); else loading">
    <ng-container *ngFor="let alert of getAlerts()">
      <ng-container *ngIf="alert.data?.length || alert.status !== 'ok'; else statusOk">
        <dl class="grid status bg__warn-light">
          <dt>{{ alert.target }}/{{ alert.source }}</dt>
          <dd>Status: <span class="mat-body-2">{{ alert.status }}</span></dd>
          <ng-container *ngFor="let data of alert.data">
            <dd>
              Summary: {{ data.annotations?.summary }} <br>
              Description: {{ data.annotations?.description }}
            </dd>
          </ng-container>
        </dl>
      </ng-container>
      <ng-template #statusOk>
        <dl class="grid status bg__accent-light">
          <dt>{{ alert.target }}/{{ alert.source }}</dt>
          <dd>Status: <span class="mat-body-2">OK</span></dd>
        </dl>
      </ng-template>
    </ng-container>
  </div>
  <ng-template #loading>
    loading
  </ng-template>
</div>
