<mat-card class="environment-card r__all" fxLayout="row" fxLayoutAlign="space-between stretch" *ngIf="environment"
  [attr.data-environment-item-id]="environment.id">
  <!-- Card LEFT section -->
  <div class="card-media-container v-centering__horizontal inversion light-dark" fxFlex="0 0 140px">
    <div class="thumbnail" [innerHTML]="thumbnail"></div>
  </div>
  <!-- Card CENTER section -->
  <div class="card-info-container" fxFlex="grow" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-card-header>
      <mat-card-title>{{ environment.name }}</mat-card-title>
      <mat-card-subtitle fxLayout="row-reverse" fxLayoutAlign="space-between center">
        <div class="meta-info" fxFlex="0 0 200px" fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="10px">
          <span class="labels">
            <mat-icon class="spacer__r5"> label </mat-icon>
            <span class="heading"
            #tooltip="matTooltip" matTooltip="{{ labels }}" matTooltipPosition="above">
            Labels
            </span>
          </span>
          <span class="lifetime">
            <mat-icon class="spacer__r5">watch_later</mat-icon>
            <span class="heading">Lifetime: </span>{{ lifetime }}
          </span>
        </div>
        <div class="workspace-name" *ngIf="environment.workspace_name!=='System.default'">@ {{ environment.workspace_name }}</div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p [innerHTML]="description"></p>
    </mat-card-content>
  </div>
  <!-- Card RIGHT section -->
  <mat-card-actions class="card-action-container" [ngClass]="state ? state : '' " fxFlex="0 0 150px"
    *ngIf="content.path === 'catalog'" fxLayout="column" fxLayoutAlign="center stretch">
    <!-- Background circle  -->
    <div class="background-circle-container v-centering">
      <svg focusable="false">
        <circle class="background-circle" cx="50%" cy="50%" r="55" stroke-width="10"></circle>
      </svg>
    </div>
    <!-- Progress circle -->
    <div class="progress-spinner-container v-centering__horizontal">
      <mat-progress-spinner class="environment-spinner" [ngClass]="{'warning': isTimeWarningOn}" diameter="120" strokeWidth="8"
        [mode]="isSpinnerOn ? 'indeterminate':'determinate'" [value]="lifetimePercentage">
      </mat-progress-spinner>
    </div>
    <!-- Action circle -->
    <div class="actionable-circle-container v-centering__horizontal">
      <!-- Action view 1 : Active Environments -->
      <ng-container *ngIf="actionsVisible(); else LaunchUI">
        <div class="control-button circle-button v-centering__inline" fxLayout="column" fxLayoutAlign="center center"
          [ngSwitch]="state">
          <!-- Instance [Shutdown] -->
          <ng-container *ngSwitchCase="'deleting'||'deleted'">
            <div class="state v-centering__inline">
              {{ state }}
            </div>
          </ng-container>
          <!-- Instance [Failed] -->
          <ng-container *ngSwitchCase="'failed'">
            <button mat-button class="replay-button v-centering__inline" (click)="restartEnvironment()">
              <div class="button-icon"><mat-icon>replay</mat-icon></div>
              <div class="state v-centering__inline">
                {{ state }}
              </div>
            </button>
          </ng-container>
          <!-- Instance [Running] -->
          <ng-container *ngSwitchDefault>
            <button mat-button class="open-button v-centering__inline inversion"
              [ngClass]="state=='running'?'primary':'accent'" fxFlex="0 0 70px" #tooltip="matTooltip"
              matTooltip="Enter environment" matTooltipPosition="above" fxLayout="column" fxLayoutAlign="center center"
              (click)="openEnvironmentInBrowser()">
              <div class="button-icon"><mat-icon>launch</mat-icon></div>
              <ng-container *ngIf="lifetimeLeft; else stateBlock">
                <div class="time-left"> {{ lifetimeLeft }}</div>
              </ng-container>
              <ng-template #stateBlock>
                <div class="state v-centering__inline">{{ state }}</div>
              </ng-template>
            </button>
            <button mat-button class="shutdown-button v-centering__inline inversion"
              [ngClass]="state=='running'?'primary':'accent'" fxFlex="0 0 30px"
              #tooltip="matTooltip" matTooltip="Stop environment" matTooltipPosition="below" (click)="stopEnvironment()">
              <div class="button-icon"><mat-icon>close</mat-icon></div>
              <!-- <span>stop</span> -->
            </button>
          </ng-container>
        </div>
      </ng-container>
      <!-- Action view 2 : Deactivated environments -->
      <ng-template #LaunchUI>
        <button mat-button class="launch-button circle-button" fxLayout="column" fxLayoutAlign="center center"
          #tooltip="matTooltip" matTooltip="Start environment" (click)="startEnvironment()">
          <div class="button-icon"><mat-icon>power_settings_new</mat-icon></div>
          <!-- <mat-icon>launch</mat-icon> -->
          <!-- <span>start</span> -->
        </button>
      </ng-template>
    </div>
  </mat-card-actions>
  <!-- View in Manage workspace page -->
  <mat-card-actions *ngIf="content.path.includes('workspace-owner/detail')">
    <button mat-flat-button (click)="openDialog()">
      <mat-icon>edit</mat-icon><span> Edit</span>
    </button>
  </mat-card-actions>
</mat-card>
