@import "src/styles.scss";

// ---- Common Style
// -------------------------------------------

.mat-card.catalog,
.mat-card.workspace-owner-detail {
  min-height: 145px;
}

.mat-card.catalog .card-media-container,
.mat-card.workspace-owner-detail .card-media-container{
  margin: -16px 0 -16px -16px !important;

  .thumbnail {
    font-size: 34px;

    i {
      font-size: 68px !important;
    }
    .r-studio {
      font-size: 62px;
    }
  }
}

::ng-deep .mat-card.catalog .card-info-container,
::ng-deep .mat-card.workspace-owner-detail .card-info-container{

  .mat-card-header {
    margin-bottom: 4px;

    .mat-card-title {
      font-weight: 600;
      border-bottom: 1px solid map-get($colors, light-gray) !important;
      margin-bottom: 5px;
      padding-bottom: 4px;
    }

    .mat-card-subtitle {
      margin-bottom: 2px;
      font-size: 1.4rem !important;
      font-weight: 500;
      color: map-get($colors, dark) !important;

      .meta-info {
        padding: 4px 4px;
        font-size: 1.1rem;
        color: map-get($colors, gray);
        text-align: right;

        .mat-icon {
          font-size: 2rem;
          color: #e0e0e0;
        }

        .labels {
          text-decoration: underline;
        }
      }
    }
  }

  .mat-card-content {
    margin: 0;
    // text-align: justify;
    // text-justify: inter-word;

    a {
      text-decoration: underline !important;
    }
  }
}

// ---- Unique Style for .card-info-container
// -------------------------------------------

.catalog .card-info-container {
  padding: 0 10px 0 30px !important;
}

.workspace-owner-detail .card-info-container {
  padding: 0 30px 0 30px;

  .detail {
    background: #efefef;
    border-radius: 5px;
    padding: 14px 20px 4px;

    .category-label {
      background: #ddd;
    }
  }

  dl {
    margin-bottom: 0px !important;

    dt {
      position: absolute;
      width: 60px;
      text-transform: capitalize;
      color: #999;
    }

    dd{
      margin-left: 65px;
      font-size: 1.1rem;
      min-height: 20px;
    }
  }
}

// ---- Unique Style for .card-action-container
// -------------------------------------------

::ng-deep .catalog .card-action-container {
  margin: -16px -16px -16px 0 !important;
  height: 140px;
  position: relative;

  .background-circle-container,
  .progress-spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 140px;

    circle.background-circle {
      fill: map-get($colors, primary) !important;
      stroke: #ededed;
    }

    .environment-spinner {
      circle {
        stroke: map-get($colors, accent);
        transform: scale(1, -1);
        translate: (0, -100);
      }

      &.warning circle {
        stroke: map-get($colors, active);
      }
    }
  }

  .actionable-circle-container {
    width: 100%;
    height: 100%;

    .circle-button {
      border-radius: 50%;
      border: 1px solid #ddd;
      width: 102px;
      height: 102px;
      overflow: hidden;
      color: map-get($colors, accent);

      .mat-icon {
        font-size: 2.4rem !important;
        color: map-get($colors, gray);
      }

      .time-left,
      .state {
        font-size: 1rem;
        font-weight: 400;
        text-transform: capitalize;
        color:map-get($colors, white);
      }
    }

    .open-button,
    .shutdown-button {
      background: map-get($colors, transparent) !important;
      border-radius: 0;
      width: 100px;
      justify-content: center;
      line-height: 1.5rem;

      .mat-icon {
        color: map-get($colors, white);
        font-size: 1.6rem !important;
      }
    }

    .open-button {
      padding-top: 18px;
      padding-bottom: 5px;
      font-size: 1.2rem;
    }

    .shutdown-button {
      border-top: 1px solid map-get($colors, light-dark);
      font-size: 1.1rem;
      .mat-icon {
        font-size: 1.4rem !important;
        height: 20px;
      }
    }

    .launch-button {
      background: map-get($colors, white);

      .mat-icon {
        color: map-get($colors, light-gray);
      }

      &:hover {
        background: map-get($colors, primary);
        cursor: pointer;

        .mat-icon {
          color: map-get($colors, accent);
        }
      }
    }
  }
}

.workspace-owner-detail .card-action-container {
  margin: -16px -16px -16px 0 !important;
  padding: 8px !important;

  .edit-environment-button,
  .activate-environment-button,
  .deactivate-environment-button {
    border-bottom: 1px solid map-get($colors, white);
  }
}


::ng-deep .workspace-owner-detail.draft {

  .card-media-container{
    background: map-get($colors, light-gray) !important;
  }

  .card-info-container {
    color: map-get($colors, light-gray) !important;
    padding: 0 30px 0 30px !important;


    mat-card-title {
      color: map-get($colors, light-gray) !important;
    }

    mat-card-content .description{
      a {
        color: map-get($colors, light-gray) !important;
      }

      .workspace-name,
      .meta-info {
        color: map-get($colors, light-gray) !important;
      }

      .fab {
        color: map-get($colors,light-gray);
        background: map-get($colors, white) !important;
      }
    }
  }

  .mat-card-actions {
    button {
      background: map-get($colors, light-gray) !important;
    }
  }
}
