@import "src/styles.scss";

::ng-deep mat-card{
  min-height: 150px;
  overflow: hidden;

  .card-media{
    margin: -16px 0 -16px -16px !important;
    padding: 20px 0 20px 20px;
    color: map-get($colors, neutral-dark);

    .thumbnail{
      font-size: 34px;
    }

    .thumbnail i{
      font-size: 68px !important;
    }

    .thumbnail .r-studio {
      font-size: 62px;
    }
  }

  .card-details {
    margin: -16px 0 !important;
    padding: 20px 20px 10px 20px;

    mat-card-header {
      margin-bottom: 6px;
      width: 100%;

      .mat-card-header-text{
        width: 100%;

        mat-card-title {
          padding-bottom: 5px;
          border-bottom: 1px solid map-get($colors, light-gray) !important;
        }

        mat-card-subtitle {
          margin-bottom: 8px;
          font-size: 1.4rem !important;
          font-weight: 500;
          color: map-get($colors, dark) !important;

          .heading {
            font-size: 11px;
          }
        }
      }
    }

    mat-card-content {

      .label-list{

        mat-chip {
          font-size: 1.1rem !important;
          min-height: 26px !important;
          font-weight: 600 !important;
        }
      }
    }
  }

  mat-card-actions {
    background: map-get($colors, white);
    padding: 0 !important;
    margin: -16px -16px -16px 0 !important;
    // border-left: 1px solid map-get($colors, primary);

    &.active {
      background: map-get($colors, primary) !important;
    }

    .progress-spinner-container {
      position: relative;

      mat-progress-spinner{
        margin: auto;
        circle {
          stroke: map-get($colors, white) !important;
          shape-rendering: auto;
        }
      }

      .lifetime-info {
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: 600;

        .heading {
          font-size: 1.1rem;
          font-weight: 500;
        }
      }
    }

    .instance-action-ui{

      .launch-button,
      .open-button,
      .stop_button {
        background: transparent;
        border-top: 1px solid map-get($colors, white);
        border-radius: 0;
        width: 100%;
        height: 100%;
        font-size: 1.4rem !important;
        line-height: 2.8rem;
        justify-content: center;

        mat-icon {
          font-size: 1.4rem !important;
          height: auto !important;
        }
      }
    }
  }
}
