@use 'main' as main;

.dialog-container {
  height: 100%;
  overflow: hidden;

  .instruction-body {

    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 20px;
    padding: 15px 5px 15px 10px;
    margin-bottom: 20px;
    color: map-get(main.$app-gray, default);
    border: 6px solid map-get(main.$app-gray, 200);
    border-radius: 20px;

    .form-help-icon .mat-icon {
      color: map-get(main.$app-gray, 200);
    }

    .question {
      font-size: 18px;
      font-weight: bold;
    }

    .answer {
      font-size: 12px;
    }
  }

  .mat-dialog-title {
    padding: 0;
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;

    .form-inner {

      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 20px 20px;
      overflow-y: hidden;
      border-radius: 5px;
    }
  }

  mat-dialog-content {
    max-height: 100% !important;
    padding: 5px;
  }

  .mat-mdc-form-field {
    width: 100%;
  }

  .workspace-description-form {
    .mat-mdc-form-field {
      padding-bottom: 15px;
    }
  }

  .warning-message,
  .direction-message {
    padding: 10px 10px 10px 15px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    border-radius: 3px;
  }

  .direction-message {
    background: main.$secondary-extra-light-color;
  }

  .warning-message {
    background: main.$warn-light-color;
  }

}

// Could these be global?
.mat-icon,
.ng-fa-icon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 100%;

  &.md-16 {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }

  &.md-18 {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }

  &.md-24 {
    font-size: 24px;
  }

  &.md-36 {
    width: 36px;
    height: 36px;
    font-size: 36px;
  }

  &.md-48 {
    min-width: 48px;
    max-width: 70px;
    height: 48px;
    font-size: 48px;
    text-align: center;
  }

  &.md-96 {
    min-width: 96px;
    max-width: 96px;
    height: 96px;
    font-size: 96px;
    text-align: center;
  }
}

.dialog-actions {
  display: flex;
  flex-basis: 40px;
  flex-direction: row;

  button {
    &:disabled {
      color: main.$dark-text-color;
      background-color: map-get(main.$app-gray, 100) !important;
    }

    &.submit-button {
      flex: 2;
    }

    &.cancel-button {
      flex: 1;
    }
  }
}


/* -------------------------------------- */
/* Mobile */
/* -------------------------------------- */
@media screen and (width <= 1250px) {

  .instruction-body {
    display: block !important;
    flex-shrink: 1;
    height: auto;

    .form-help-icon {
      display: none !important;
    }
  }

  .form-inner {
    padding: 0 !important;
  }
}

@media screen and (height <= 850px) {
  .dialog-container {
    padding: 10px !important;
  }

  .instruction-body {
    display: none !important;
  }
}