@import "src/styles.scss";

h2.form-title {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  color: map-get($colors, primary);
}

form{
  padding: 20px;

  .instruction {
    padding: 15px 5px 15px 10px;
    // font-size: 1.4rem;
    line-height: 130%;
    color: #aaa;
    border: 6px solid #ddd;
    border-radius: 20px;

    .form-help-icon .mat-icon{
      font-size: 10rem;
      color: #ddd;
    }

    .question {
      font-size: 2.6rem;
      margin-bottom: 10px;
    }

    .warning {
      color: map-get($colors, active);
    }
  }

  textarea {
    height: 80px;
  }

  .button-row {
    button {
      height: 50px;
    }
  }
}
