<div class="mat-typography dialog-container">
  <div class="corner-button-container">
    <button mat-icon-button mat-dialog-close class="corner-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="workspaceForm" novalidate>
    <h1 class="mat-dialog-title mat-headline">Create new workspace</h1>
    <mat-dialog-content>
      <section class="instruction-body">
        <div class="form-help-icon center__v">
          <mat-icon fontSet="material-icons-outlined" class="md-96">help_outline</mat-icon>
        </div>
        <div class="instruction-text">
          <h1 class="question">What is Workspace?</h1>
          <div class="answer mat-body-1">
            "Workspace" is the virtual space where you can share customized applications and materials with
            students or collaborators. There are folders for storing shared and user's data.
            Users join your Workspace using shared "Join Code".
          </div>
        </div>
      </section>
      <section class="form-container">
        <!-- Name -->
        <mat-form-field appearance="fill">
          <mat-label>Workspace name</mat-label>
          <input matInput formControlName="name" placeholder="Workspace name">
          <mat-error *ngIf="workspaceForm.controls.name.hasError('required')">
            You must provide a <strong>workspace name</strong>
          </mat-error>
          <mat-error *ngIf="workspaceForm.controls.name.hasError('maxlength')">
            <strong>Max length (64 characters) exceeded</strong>
          </mat-error>
          <mat-error *ngIf="workspaceForm.controls.name.hasError('forbiddenValue')">
            <strong>Workspace name cannot start with "system"</strong>
          </mat-error>
        </mat-form-field>
      </section>
      <section class="form-container">
        <!-- Description -->
        <mat-form-field appearance="fill">
          <mat-label>Workspace description</mat-label>
          <textarea matInput formControlName="description" placeholder="Workspace description"></textarea>
          <!-- error -->
          <mat-error *ngIf="errorHandling('description', 'required')">
            You must provide a <strong>description about workspace</strong>
          </mat-error>
          <!-- <mat-hint>Ex) </mat-hint> -->
        </mat-form-field>
      </section>
      <section class="form-container">
        <!-- Validity -->
        <mat-form-field appearance="fill">
          <mat-label>Valid for</mat-label>
          <mat-select formControlName="validity" placeholder="Valid for" (selectionChange)="updateProjectedExpiryDate()">
            <mat-option *ngFor="let opt of validityOptions" [value]="opt.value">
              {{opt.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="warning mat-body-2 mt-20">
          <!-- <mat-icon fontSet="material-icons-outlined">announcement</mat-icon> -->
          Workspace, along with the data, will expire at {{ projectedExpiryTs | dateDisplay }}.
        </div>
      </section>
    </mat-dialog-content>
    <div class="dialog-actions">
      <button mat-flat-button color="primary"
              [disabled]="!workspaceForm.valid || createButtonClicked"
              (click)="createWorkspace()">
        Create
      </button>
      <button mat-button mat-dialog-close class="button-link button-sm">Cancel</button>
    </div>
  </form>
</div>
