@import "src/styles/main.scss";

.card {
  @include shadow(0);
  border: 1px solid map-get($colors, light2);
  padding: 8px;

  .card-media-container {
    border-radius: 3px;
    min-height: 110px;

    .thumbnail .ng-fa-icon {
      display: block;
      margin: auto;
    }
  }

  .mat-card-header {

    .mat-card-title {
      padding-top: 5px;
      border-bottom: 1px solid #c7c7c7 !important;
      padding-bottom: 2px;
    }

    .mat-card-subtitle {
      margin: 0 !important;
      color: map-get($app-gray, 800);

      .environment-meta {
        .volume {
          color: map-get($app-gray, 100);

          &.active {
            color: map-get($app-gray, 800);

            .mat-icon {
              color: map-get($app-accent, default);
            }
          }
        }
      }
    }

    .workspace-name {
      //color: map-get($app-primary, default);
    }
  }

  .mat-card-content {
    margin-bottom: 10px;

    a {
      text-decoration: underline !important;
    }

    .description {
      margin-bottom: 5px !important;
    }
  }

  .card-action-container {
    padding: 0;
    margin: -2px;
    position: relative;
  }
}
