@import "src/styles/main.scss";

.card {
  .card-media-container {
    border-radius: 3px;
    min-height: 110px;

    .thumbnail .ng-fa-icon {
      display: block;
      margin: auto;
    }
  }

  .mat-card-header {
    .mat-card-title {
      padding-top: 5px;
      border-bottom: 1px solid #c7c7c7 !important;
      padding-bottom: 2px;
    }

    .mat-card-subtitle {
      margin: 0 !important;
      color: map-get($app-gray, 800);

      .environment-meta {
        font-weight: 600;

        .volume {
          color: map-get($app-gray, 200);

          &.active {
            color: map-get($app-gray, 800);

            .mat-icon {
              color: map-get($app-accent, default);
            }
          }
        }
      }
    }
  }

  .mat-card-content {
    a {
      text-decoration: underline !important;
    }
  }

  &.mobile {
     .card-info-container {
       padding: 0 10px;
       margin: 0 !important;
     }
    .mat-card-content {
      margin-bottom: 0 !important;
    }
  }

  .card-action-container {
    padding: 0;
    margin: -2px;
    position: relative;
  }
}
