@mixin page-component {
  :host {
    background: var(--neut-clr-1);

    .page-container {

      .content-container {
        width: 100%;
        max-width: 1250px;
        padding: 20px;
      }
    }
  }
}

@mixin header-button($role:"prim") {
  display: flex;
  align-items: center;

  &:not(:disabled) {
    color: white;
    background-color: var(--#{$role}-clr-5);
  }
}

@mixin info-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 20px 15px;
  background: white;
  border: 2px solid var(--neut-clr-2);
  border-radius: 3px;
  box-shadow: none;

  &.unread {
    .title::before {
      @include badge-item("Unread", "warn");
    }
  }

  .title {
    padding: 7px 5px 2px;
    font-weight: 700;
    color: var(--neut-clr-7);
    border-bottom: 1px solid var(--neut-clr-2);
  }

  .label {
    @include label-item;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.3rem;

    ::ng-deep {
      h3 {
        font-size: 1.5rem;
        font-weight: bold;
      }

      ul {
        padding-left: 40px;
        list-style: disc;
      }
    }
  }
}

@mixin badge-item($text: "", $role:"neut") {
  position: relative;
  top: -2px;
  padding: 2px 8px;
  margin-right: 5px;
  margin-left: -5px;
  font-size: 1.1rem;
  content: "#{$text}";
  background: var(--#{$role}-clr-1);
  border-radius: 8px;
}

@mixin label-item($text: "", $role:neut) {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  content: "#{$text}";
  background: var(--#{$role}-clr-1);
}