

// ---- Button
// ----------------------------------------

a.mat-button-base,
.mat-button-base {
  //padding: 4px !important;

  &.grow {
    width: 100%;
  }

  &.prime {
    @include inversion(primary);
  }

  &.accent {
    @include inversion(accent);
  }

  &.dark {
    @include inversion(dark);
  }

  &.medium {
    padding: 10px 20px;
  }

  &.lg {
    padding: 10px !important;
  }
}

// ---- FormGroup
// ----------------------------------------
//::ng-deep {
//  form {
//    height: 100%;
//
//    ::ng-deep {
//      .mat-form-field-appearance-outline,
//      .mat-form-field-outline-start {
//        border-right: 1px solid map-get($colors, white) !important;
//      }
//
//      .mat-form-field-outline-end {
//        border-left: 1px solid map-get($colors, white) !important;
//      }
//
//      .mat-form-field-outline-gap {
//        border-top: 1px solid map-get($colors, white) !important;
//        border-bottom: 1px solid map-get($colors, white) !important;
//      }
//
//      .mat-form-field-appearance-outline .mat-form-field-infix {
//        padding: 0.7em 0;
//      }
//    }
//  }
//}

::ng-deep {


  // ---- Accordion
  // ----------------------------------------


  // ---- Progress-liner
  // ----------------------------------------

  .md-progress-linear {
    height: $progress-linear-bar-height;

    .md-container {
      height: $progress-linear-bar-height;

      .md-bar {
        height: $progress-linear-bar-height;
      }

      .md-dashed:before {
        height: $progress-linear-bar-height;
      }
    }
  }

  .mat-table {
    width: 100%;
    margin: auto;

    .mat-header-row {
      background: map-get($colors, light2);
      height: 40px;

      .mat-header-cell {
        color: map-get($colors, white);
        border-bottom: none;
      }
    }

    th, td {
      vertical-align: middle;
    }

    th {
      text-transform: capitalize;
    }

    .mat-header-cell,
    .mat-cell {
      padding: 5px !important;

      &.border {
        &__left {
          border-left: map-get($borders, thin);
        }

        &__right {
          border-right: map-get($borders, thin);
        }
      }

      &.left-align {
        text-align: left !important;
      }

      &.centering {
        text-align: center !important;
      }
    }

    .font-s {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }

    .mat-table-sticky {
      .mat-button {
        min-width: 50px !important;
        padding: 0;
      }
    }
  }

  .mat-fab,
  .mat-mini-fab {
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: none;
  }
}
