// ---- Font
// ----------------------------------------

$font-families: (
  styled: 'Quicksand, sans-serif',
  base: 'Open Sans, sans-serif',
);

// ---- Color
// ----------------------------------------

$light-color: #ffffff;

$gray-color: rgba(#a7abb6, 0.87);
$gray-extra-light-color: #ededf8;
$gray-light-color: rgba(#d0d1e5, 0.87);
$gray-dark-color: rgba(#5b686e, 0.87);
$gray-extra-dark-color: rgba(#2f3538, 0.87);

$primary-color: #18227c;
$primary-extra-light-color: #ededf8;
$primary-light-color: #919cd2;
$primary-dark-color: #14144b;

$secondary-color: #00969a;
$secondary-extra-light-color: #c4f1f3;
$secondary-light-color: #6bb9bc;
$secondary-dark-color: #006365;

$accent-color: #ccff65;
$accent-extra-light-color: #f4ffdb;
$accent-light-color: #e0faad;
$accent-dark-color: #667e2d;
$accent-extra-dark-color: #006365;

$warn-color: #ffa494;
$warn-extra-light-color: #ffebe8;
$warn-light-color: #fac9c1;
$warn-dark-color: #fc614d;
$warn-extra-dark-color: #c33927;

$light-line: rgba(#d1d1d1, 0.87);
$dark-line: rgba(#2f3538, 0.87);
$mid-dark-line: rgba(#728087, 0.87);
$light-dark-line: rgba(#c0c0d3, 0.87);

$light-text-color: #ffffff;
$gray-text-color: rgba(0, 0, 0, 0.38);
$dark-text-color: rgb(17, 17, 17, 0.87);
$primary-text-color: #14144b;
$secondary-text-color: #006778;
$accent-text-color: #ccff65;


// ---- Layout
// ----------------------------------------
$content-max-width: 1250px;
$main-navigation-width: 250px;
$main-navigation-minimized-width: 82px;

$app-transparent: (
  default: rgb(255, 255, 255, 0),
  light: rgb(255, 255, 255, .1),
  dark: rgb(0, 0, 0, .1),
);


$app-gray: (
  default: #9e9e9e,
  light: #d1d1d1,
  dark: #88949a,
  50: #f0f0f0,
  100: #e0e0e0,
  200: #d1d1d1,
  300: #a7abb6,
  700: #88949a,
  800: #6b777c,
  900: #2f3538,
  contrast: (
    default: $dark-text-color,
    100: $dark-text-color,
    300: $dark-text-color,
    700: $light-text-color,
    800: $light-text-color,
    900: $light-text-color
  )
);

$app-primary: (
  default: #18227c,
  light: #919cd2,
  dark: #14144b,
  100: #ededf8,
  200: #e0e0f1,
  300: #d0d1e5,
  400: #acb0e0,
  600: #39439a,
  contrast: (
    default: $light-text-color,
    light: $light-text-color,
    dark: $light-text-color
  )
);

$app-secondary: (
  default: #ffdd00,
  light: #ffe065,
  dark: #e7a201,
  100: #fffee0,
  200: #ecddbc,
  800: #ee8600,
  900: #e75f01,
  contrast: (
    default: $light-text-color,
    light: $light-text-color,
    dark: $light-text-color
  )
);

$app-accent: (
  default: #00969a,
  light: #88dac1,
  dark: #006778,
  100: #d0f6e9,
  contrast: (
    default: $light-text-color,
    light: $dark-text-color,
    dark: $light-text-color
  )
);

$app-warn: (
  default: #ffa494,
  light: #f8cdc3,
  dark: #fc614d,
  100: #ffe9e5,
  800: #cb1e00,
  900: #721a00,
  contrast: (
    default: $light-text-color,
    light: $dark-text-color,
    dark: $light-text-color
  )
);

// ---- color application

@mixin inversion($bg-color) {
  background-color: map-get($colors, $bg-color);
  color: #FFFFFF;

  &a,
  a {
    color: #FFFFFF;

    &:hover {
      cursor: pointer;
      color: map-get($app-accent, default);
    }
  }

  &.mat-mdc-button-base,
  .mat-button-base {
    color: #FFFFFF;

    &:hover {
      cursor: pointer;
      color: #FFFFFF !important;
      background-color: map-get($app-accent, default);
    }
  }
}

// ---- animation

@mixin animation() {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

// ---- layout

$layout-set: (
  shared: (
    header: (
      w: 100%,
      h: auto,
      min-h: 48px
    )
  ),
  welcome: (
    header: (
      w: 100%,
      h: auto,
      max-w: 1200px,
      min-h: 60px,
    ),
    jumbotron : (
      w: 100%,
      h: 700px,
    ),
    footer: (
      w: 100%,
      h: 200px,
      min-h: 200px,
    )
  ),
  main: (
    header: (
      w: 100%,
      h: 70px,
      min-h: 70px,
    ),
    footer: (
      w: 100%,
      h: 100px
    ),
    sidenav: (
      w: 270px,
      h: 100vh
    ),
    sidenav-min: (
      w: 80px,
      h: 100vh
    ),
    content: (
      w: auto,
      min-h: 100vh
    ),
    button-s: (
      h: 30px,
    ),
  ),
);
// @debug map-deep-get($layout-set, main, header-old, h);


// ---- border

$borders: (
  thin: 1px solid rgba(0, 0, 0, .1625),
  thin-light: 1px solid rgba(255, 255, 255, .0625),
  thin-dark: 1px solid rgba(0, 0, 0, .3),
);

$border-thin: 1px solid rgba(0, 0, 0, .0625);
$border-thin-light: 1px solid rgba(255, 255, 255, .0625);

$progress-linear-bar-height: 6px;
