// -------------------- Multiple layer map
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    @if not map-has-key($map, $key) {
      @return null;
    }
    $map: map-get($map, $key);
  }
  @return $map;
}

// -------------------- Margin & padding
$space-amounts: (0, 2, 4, 5, 8, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 75, 80, 90, 100);
$sides: (
  "": "all",
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right",
);
@each $space in $space-amounts {
  @each $prefix, $value in $sides {
    $property: if($prefix == '', '', -#{$value});
    .m#{$prefix}-#{$space} {
      margin#{$property}: #{$space}px !important;
    }
    .p#{$prefix}-#{$space} {
      padding#{$property}: #{$space}px !important;
    }
  }
}

// -------------------- Element centering
@mixin center($pos:both, $type:none) {
  @if ($type==inline) {
    display: inline-flex;
  } @else {
    display: flex;
  }

  flex-direction: row;

  @if ($pos==vertical) {
    align-items: center;
  } @else if ($pos==horizontal) {
    justify-content: center;
  } @else if ($pos==both) {
    justify-content: center;
    align-items: center;
  }
}

.center {
  &__v {
    @include center(vertical);
  }

  &__vi {
    @include center(vertical, inline);
  }

  &__h {
    @include center(horizontal);
  }

  &__hi {
    @include center(horizontal, inline);
  }

  &__vh {
    @include center(both);
  }

  &__vhi {
    @include center(both, inline);
  }
}

// --------------------
@mixin bg-dark {
  background: map-get($app-primary, dark);
  color: $light-text;
}

.bg {
  &__primary {
    background: map-get($app-primary, default);
    color: #fff;

    &a,
    & a{
      color: #fff;
    }

    &-light {
      color: #fff;
      background: map-get($app-primary, light);
    }

    &-dark {
      color: #fff;
      background: map-get($app-primary, dark);

      &a,
      & a{
        color: #fff;
      }
    }
  }

  &__accent {
    background: map-get($app-accent, default);

    &-light {
      color: #fff;
      background: map-get($app-accent, light);
    }

    &-dark {
      color: #fff;
      background: map-get($app-accent, dark);
    }
  }

  &__gray {
    background: map-get($app-gray, 800);

    &-light {
      color: #fff;
      background: map-get($app-gray, 700);
    }

    &-dark {
      color: #fff;
      background: map-get($app-gray, 900);
    }
  }
}

.txt {
  &__primary {
    color: map-get($app-primary, default);

    &-light {
      color: map-get($app-primary, light);
    }

    &-dark {
      color: map-get($app-primary, dark);
    }
  }

  &__accent {
    color: map-get($app-accent, default);

    &-light {
      color: map-get($app-accent, light);
    }
  }

  &__warn {
    color: map-get($app-warn, default);
  }

  &__center {
    text-align: center;
  }

  &__left {
    text-align: left;
  }
}

.bg {
  &__primary {
    backgroundr: map-get($app-primary, default);

    &-light {
      background: map-get($app-primary, light);
    }

    &-dark {
      background: map-get($app-primary, dark);
    }
  }

  &__secondary {
    background: map-get($app-secondary, default);
  }

  &__accent {
    background: map-get($app-accent, default);
  }

  &__warn {
    background: map-get($app-warn, default);

    &-light {
      background: map-get($app-warn, light);
      color: map-get($app-primary, default);
    }
  }
}

.icon {

  &__notification:before {
    font-family: "Material Icons";
    content: "\e7f7";
    margin-right: 5px;
    font-size: 24px;
  }

  &__workspace:before {
    font-family: "Material Icons";
    content: "\e7ef";
    margin-right: 5px;
    font-size: 24px;
  }
}

@mixin shadow($value: .44) {
  @if ($value > 0) {
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 50, $value) !important;
    position: relative;
    z-index: 1000;
  } @else {
    box-shadow: none !important;
  }
}

.shadow {
  &__none {
    @include shadow(0);
  }

  &__light {
    @include shadow(.05);
  }

  &__medium {
    @include shadow(.22);
  }

  &__dark {
    @include shadow(.55);
  }
}

// --------------------
@mixin hover {
  cursor: pointer;

  &:hover {
    filter: brightness(200%);
  }
}
