
/* ---- TYPOGRAPHY
------------------------------------- */
  // $display-1 -> Logo with styled font
  // $display-2 -> body with styled font
  // $display-3 -> headline with stress font
  // $display-4 -> body with stress font
  // $headline: : <h1>
  // $title:    : <h2>
  // $subheading-2: <h3>
  // $subheading-1: <h4>
  // $body-2    : Base body text
  // $body-1:   : Base body text
  // $caption   : Smaller body and hint text.
  // $button    : Button
  // $input     : Form input fields.

/* ---- MEMO:
mat-typography-level(
  $font-size, $line-height, $font-size, $font-weight, $font-family, $letter-spacing
)
---- */

$custom-typography: mat-typography-config(
  $font-family:   map-get($font-families, base),
  $display-4:     mat-typography-level(1.2rem, 150%, 400, map-get($font-families, styled), 0.04rem),
  $display-3:     mat-typography-level(1.6rem, 150%, 400, map-get($font-families, styled), 0.04rem),
  $display-2:     mat-typography-level(2.8rem, 120%, 500, map-get($font-families, styled), 0.04rem),
  $display-1:     mat-typography-level(3.6rem, 105%, 600, map-get($font-families, styled), 0.08rem),

  $headline:      mat-typography-level(1.8rem, 130%, 600, map-get($font-families, styled), 0rem),
  $title:         mat-typography-level(1.6rem, 130%, 600, map-get($font-families, styled), 0.02rem),
  $subheading-2:  mat-typography-level(1.4rem, 170%, 500, map-get($font-families, styled), 0.04rem),
  $subheading-1:  mat-typography-level(1.6rem, 170%, 500, map-get($font-families, styled), 0.04rem),
  $button:        mat-typography-level(1.5rem, 110%, 600, map-get($font-families, styled), 0.04rem),
  $body-2:        mat-typography-level(1.1rem, 150%, 400, map-get($font-families, base), 0.04rem),
  $body-1:        mat-typography-level(1.3rem, 150%, 400, map-get($font-families, base), 0.02rem),
);

// Include the common styles for Angular Material.
// Be sure that you only ever include this mixin once!
//@include mat-core($custom-typography);

// Define the palettes using the Material Design palettes available in palette.scss
// For each palette, you can optionally specify hues (default, lighter, darker)
$app-theme-primary: mat-palette($app-primary, default, lighter, darker, default);
$app-theme-accent: mat-palette($app-accent, default, lighter, darker, default);
$app-theme-warn: mat-palette($app-warn, default, lighter, darker, default);

$app-theme: mat-light-theme($app-theme-primary, $app-theme-accent, $app-theme-warn);
//$mat-theming-theme-user: mat-light-theme($mat-theming-primary, $mat-theming-accent, $mat-theming-warn);
//$mat-theming-theme-owner: mat-dark-theme($mat-theming-primary, $mat-theming-accent, $mat-theming-warn);

//.custom-theme-user {
//  @include angular-material-theme($mat-theming-theme-user);
//}
//.custom-theme-owner {
//  @include angular-material-theme($mat-theming-theme-owner);
//}
