// ---- Font
// ----------------------------------------

$font-families: (
  styled: 'Quicksand, sans-serif',
  stress: 'Rubik, sans-serif',
  base: 'Open Sans, sans-serif',
);

// ---- Color
// ----------------------------------------
$colors: (
  primary: #1a237e,
  dark-primary: #16145f,
  light-primary: #2936c4,
  accent: #20b4da,
  light-accent:#aed4ff,
  secondary: #00c7b2,
  success: #0082bb,
  danger: #7dc242,
  info: #006778,
  warning: #830051,
  active: #e91e63,
  light-active: #f8cdc3,
  light: #efeff6,
  light2: #cfcfd6,
  light3: #e0e0f1,
  dark:  #2e2f39,
  neutral-dark:  #9cb2c7,
  light-dark:  #acc7e0,
  gray: #6d7088,
  gray2: #a7a7a7,
  light-gray: #c7c7c7,
  extra-light-gray: #eeeeee,
  white: #fff,
  black: #222,
  transparent:  rgb(255, 255, 255, 0),
  focus-light: rgb(255, 255, 255, .1),
);

// ---- color application

@mixin inversion($bg-color) {
  background-color: map-get($colors, $bg-color);
  color: map-get($colors, white);

  &a,
  a{
    color: map-get($colors, white);

    &:hover {
      cursor: pointer;
      color: map-get($colors, accent);
    }
  }

  &.mat-button-base,
  .mat-button-base{
    color: map-get($colors, white);

    &:hover {
      cursor: pointer;
      color: map-get($colors, white) !important;
      background-color: map-get($colors, accent) !important;
    }
  }
}

// ---- animation

@mixin animation() {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

// ---- layout

$layout-set:(
  shared: (
    header: (
      w: 100%,
      h: auto,
      min-h: 70px,
    )
  ),
  welcome: (
    header: (
      w: 100%,
      h: 70px,
      min-h: 70px,
    ),
    jumbotron : (
      w: 100%,
      h: 700px,
    ),
    footer: (
      w: 100%,
      h: 200px,
      min-h: 200px,
    )
  ),
  main: (
    header: (
      w: 100%,
      h: 70px,
      min-h: 70px,
    ),
    footer: (
      w: 100%,
      h: 100px
    ),
    sidenav: (
      w: 250px,
      h: 100vh
    ),
    sidenav-min: (
      w: 80px,
      h: 100vh
    ),
    content: (
      w: auto,
      min-h: 100vh
    ),
    button-s: (
      h: 30px,
    ),
  ),
);
// @debug map-deep-get($layout-set, main, header, h);


// ---- border

$borders: (
  thin: 1px solid rgba(0, 0, 0, .0625),
  thin-light: 1px solid rgba(255, 255, 255, .0625),
  thin-dark: 1px solid rgba(0, 0, 0, .3),
);
$border-thin: 1px solid rgba(0, 0, 0, .0625);
$border-thin-light: 1px solid rgba(255, 255, 255, .0625);


// ---- banner

@mixin banner {
  background-color: map-get($colors, primary);
  color: map-get($colors, white);
}
