@use 'sass:map';
// ==========================================================================
// -- Theme System Usage Guide
// ==========================================================================

/*
  [ How to Use ]

  -- Contextual Usage
  --------------------------------------------------
  Apply a color-role class (.prim, .warn, etc.) and
  lightness class (,clr-9, .clr-5, etc.) to a parent/own element.
  They are inherited to children elements.

  Case A: Nested Utility
  <div class="warn">
    <div class="clr-0">Light Warning Color</div>
  </div>

  Case B: Hybrid (Color-role + Lightness)
  <div class="clr-0 warn">Light Warning Color</div>

  -- Direct Usage
  --------------------------------------------------
  Case C: works only the applied element
  <div class="warn-clr-5">Warning Base Color</div>
*/

// ==========================================================================
// -- Color System Configuration [Customizable]
// ==========================================================================

// -- 0. Set the Seed Color (Primary)
// seed-color updates all other color roles

@mixin init($_color: #18227c) {
  :root {
    --seed-color: #{$_color};
  }
}

// -- 1. Color-role Definition
// Keys correspond to class names and variable prefixes
// (e.g., .prim, --prim-...)
// Note: prim = primary, neut = neutral, sec = secondary, acc = accent
$color-roles: (
        'prim': var(--seed-color),
        'gray': oklch(from var(--seed-color) l 0.01 h),
        'neut': oklch(from var(--seed-color) l 0.05 h),
        'sec': oklch(from var(--seed-color) l calc(c - 0.04) calc(h - 50)),
        'acc': oklch(from var(--seed-color) l calc(c + 0.03) calc(h + 200)),
        'warn': oklch(from var(--seed-color) l calc(c + 0.02) calc(h + 107))
);

// -- 2. Lightness & Chromas (saturation) level
// Level: (l: lightness, c: chroma-adjustment)
$levels: (
        0: (l: 0.999, c: -0.06), // -- Lightest
        1: (l: 0.96, c: -0.035),
        2: (l: 0.90, c: -0.02),
        3: (l: 0.80, c: -0.01),
        4: (l: 0.65, c: 0),
        5: (l: 0.55, c: 0), // -- Base Color
        6: (l: 0.42, c: 0),
        7: (l: 0.31, c: 0),
        8: (l: 0.24, c: 0),
        9: (l: 0.18, c: 0) // -- Darkest
);

// 3. Text Color Settings
// $reverse-point (0-9) to switch text color
@function get-text-color($level) {
  $reverse-point: 4;
  $light-text-color: var(--gray-clr-0);
  $dark-text-color: var(--gray-clr-9);

  @return if($level >= $reverse-point, $light-text-color, $dark-text-color);
}

// ==========================================================================
// -- Generator (DO NOT CHANGE)
// ==========================================================================

@mixin color-system() {

  // --------------------------------------------------------------------------
  // 1. Global Variables Definition
  // --------------------------------------------------------------------------

  :root {
    @each $name, $color in $color-roles {
      // Define Base Color Global Var (e.g., --prim-base-clr, etc.) d
      --#{$name}-base-clr: #{$color};

      // Define Global Palette Vars (e.g., --prim-clr-0, etc.)
      @each $level, $data in $levels {
        $lightness: map.get($data, l);
        $chroma: if($name == 'gray', 0, map.get($data, c));

        --#{$name}-clr-#{$level}: oklch(from var(--#{$name}-base-clr) #{$lightness} calc(c + #{$chroma}) h);
      }
    }
  }


  // --------------------------------------------------------------------------
  // 2. Generic Lightness Classes (.clr-0 ~ 9)
  // --------------------------------------------------------------------------
  // These rely on lightness variables (e.g., --clr-*) provided by the color-role classes.

  @each $level, $data in $levels {
    .clr-#{$level} {
      color: get-text-color($level) !important;
      background: var(--clr-#{$level}) !important;
    }
  }

  // --------------------------------------------------------------------------
  // 3. Color-role Classes (e.g., .prim, .warn, etc.)
  // --------------------------------------------------------------------------

  @each $name, $color in $color-roles {
    .#{$name} {
      // Define Local Variables (Scope)
      --base-color: #{$color};

      // Generate local scope variables (e.g., --clr-0 to 9) dynamically
      @each $level, $data in $levels {
        $lightness: map.get($data, l);
        $chroma: if($name == 'gray', 0, map.get($data, c));

        --clr-#{$level}: oklch(from var(--base-color) #{$lightness} calc(c + #{$chroma}) h);

        .clr-#{$level} {
          color: get-text-color($level) !important;
          background: var(--clr-#{$level}) !important;
        }
      }
    }
  }

  // --------------------------------------------------------------------------
  // 4. Specific Color-role Classes (e.g., .prim-clr-5, .warn-clr-5, etc.)
  // --------------------------------------------------------------------------

  @each $name, $color in $color-roles {
    @each $level, $data in $levels {
      .#{$name}-clr-#{$level} {
        color: get-text-color($level) !important;
        background: var(--#{$name}-clr-#{$level});
      }
    }
  }
}
