// ---- _ui-elements.css
@use 'utilities' as util;
@use 'base-styles' as base;
@use 'main';

@mixin page-elm {
  .page-container {
    @include util.flex-col-block(stretch);
    flex-grow: 1;
    min-width: 0;
    min-height: calc(100vh - var(--header-height));
    background: var(--neut-clr-1);
  }
}

@mixin header-elm {
  .content-header-container {
    @include util.flex-row-block(center);
    position: sticky !important;
    top: 0;
    z-index: 10;
    flex: 0 0 var(--header-height);
    width: 100%;
    padding: 0 50px;
    background: white;
    border-bottom: 1px solid var(--neut-clr-2);

    ::ng-deep app-main-content-header {
      flex-grow: 1;
    }

    @media (max-width: #{base.$tablet-width}) {
      flex: 0 0 var(--header-height-s) !important;
      justify-content: end;
      padding: 5px 10px;
    }

    // .header-action-btn {
    //  @include button($role: 'sec', $icon: '\e5ca');
    //  flex-basis: auto;
    // }

    .mat-dialog-close {
      background: none !important;
    }
  }
}

@mixin content-elm($type: center) {
  .content-container {
    @include util.flex-col-block($gap: 40px);
    flex-grow: 1;
    align-items: $type;
    width: 100%;
    min-height: auto;
    padding: 25px 50px 40px;
    margin: 0 auto;
    overflow: visible;
    background: transparent;

    @media (max-width: #{base.$tablet-width}) {
      min-height: var(--contents-height-s);
      padding: 15px;
    }

    section {
      width: 100%;
      max-width: var(--container-width);

      .title {
        @include base.headline-3;
        padding-left: 5px;
        margin-bottom: 5px;
        font-size: 1.6rem;
        color: var(--gray-clr-6);
      }
    }

    .items {
      @include util.flex-col-block($gap: 10px);
      width: 100%;
      max-width: var(--container-width);

      .item {
        @include info-item;
      }
    }

    .info-body {
      @include info-item;
    }
  }
}

@mixin status-block {
  .status-info-container {
    padding-bottom: 30px;
    margin-top: 10%;
    color: var(--neut-clr-8);
    text-align: center;

    .success-status .mat-icon,
    .empty-status .mat-icon {
      width: auto;
      height: auto;
      margin: 10px 0;
      font-size: 6rem;
    }

    .status-headline {
      @include base.headline-1;
      margin-bottom: 10px;
      font-size: 3rem;
    }

    .status-summary {
      margin-bottom: 20px;

      @include base.headline-2;
    }

    .keyword {
      font-style: normal;
      font-weight: bold;
    }
  }
}

@mixin button($role: 'prim', $width: 'auto', $icon: '\ebcc', $icon-size: 2.2rem, $icon-weight: 300) {
  @include base.styled-font;
  @include base.centering(xy);
  width: #{$width};
  padding: 10px 15px;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  letter-spacing: normal !important;
  white-space: normal;
  cursor: pointer;
  background: var(--#{$role}-clr-7);
  border-radius: 5px;

  &:hover:not(:disabled) {
    filter: brightness(80%);
  }

  &:not(:disabled) {
    color: white;
    background-color: var(--#{$role}-clr-7);
  }

  &:disabled,
  &.mat-mdc-button-disabled {
    background-color: var(--gray-clr-2) !important;
  }

  @if $icon {
    @include base.icon($icon: $icon, $size: $icon-size, $weight: $icon-weight);
  }
}

@mixin deco-text($color: var(--gray-clr-9), $icon: '\ebcc', $back-icon: none, $icon-size: 2.2rem, $icon-weight: 300, $gap: 8px) {
  @include base.styled-font;
  @include base.centering(y);
  font-size: 1.5rem;
  font-weight: 600;
  color: #{$color};
  letter-spacing: normal;

  @if $icon {
    @include base.icon($icon: $icon, $size: $icon-size, $weight: $icon-weight, $pos: left, $gap: $gap);
  }
}

@mixin crowned-text($color: var(--gray-clr-9), $icon: 'ebcc', $icon-size: 9.6rem, $icon-weight: 300) {
  @include base.styled-font;
  @include base.centering(xy);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  font-weight: 600 !important;
  color: #{$color};
  text-align: center;

  @if $icon {
    @include base.icon($icon: $icon, $size: $icon-size, $weight: $icon-weight, $pos: up);
  }
}

@mixin info-item($bg-color: white, $border: 2px solid var(--neut-clr-2) ) {
  @include util.flex-col-block($gap: 30px);
  @include common-link;

  padding: 20px 25px;
  background: $bg-color;
  border: $border;
  border-radius: 3px;
  box-shadow: none;

  .unread {
    .title::before {
      @include badge-item('Unread', 'warn');
    }
  }

  .title {
    padding: 7px 5px 2px;
    font-weight: 600;
    color: var(--neut-clr-7);
    border-bottom: 1px solid var(--neut-clr-2);
  }

  .label {
    @include label-item;
  }

  .description {
    padding-left: 10px;
    font-size: 1.3rem;

    ::ng-deep {
      h1, h2, h3, h4, h5, h6 {
        margin-top: 10px;
        font-weight: 600;
      }

      a {
        color: var(--prim-clr-6);
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: var(--sec-clr-6);
        }
      }

      ul, ol {
        padding-left: 40px;
        margin-top: 10px;
      }

      ul {
        list-style: disc;
      }

      ol {
        list-style: decimal;
      }
    }
  }
}

@mixin balloon {
  @include util.flex-col-block($gap: 15px);
  max-width: 600px;
  height: auto;
  padding: 30px 50px;
  margin: 20px auto;
  overflow: visible;
  text-align: center;
  background: white;
  border-radius: 200px;

  &::before {
    position: absolute;
    bottom: -20px;
    left: 55%;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 0 20px 20px;
  }

  li {
    font-size-adjust: 0.4;
    line-height: 150%;
  }
}


@mixin badge-item($text: '', $role: neut) {
  position: relative;
  top: -2px;
  padding: 2px 8px;
  margin-right: 8px;
  margin-left: -5px;
  font-size: 1.1rem;
  content: '#{$text}';
  background: var(--#{$role}-clr-1);
  border-radius: 8px;
}

@mixin label-item($text: '', $role: neut) {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 8px;
  font-size: 1.2rem;
  content: '#{$text}';
  background: var(--#{$role}-clr-1);
}

@mixin common-link {
  ::ng-deep a {
    color: var(--prim-clr-6) !important;
    text-decoration: underline !important;
    cursor: pointer !important;

    &:visited {
      color: var(--sec-clr-6) !important;
    }

    &:hover {
      color: var(--sec-clr-6);
    }
  }
}

@mixin external-link {
  @include deco-text($color: var(--prim-clr-6), $icon: 'launch', $icon-size: 2.4rem, $icon-weight: 100);
}

.external-link {
  @include external-link;
}