// ---- _utilities.css

@mixin flex-col-block($type: stretch, $gap: 0) {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: $type;
}

@mixin flex-row-block($type: center, $gap: 20px) {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  gap: $gap;
  align-items: $type;
  justify-content: space-between;
}