<header id="header" class="header" role="header">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="logo" fxFlex="0 0 250px">
      <div class="logo__inner" fxLayout="row" fxLayoutAlign="start center">
        <div class="logo__mark" fxFlex="0 0 45px">
          <a [routerLink]="['/welcome']">
            <!-- Dummy -->
            <mat-icon role="logomark">import_contacts</mat-icon>
          </a>
        </div>
        <div class="logo__type">
          <a [routerLink]="['/welcome']">Notebooks</a>
        </div>
      </div>
    </div>

    <ul class="navbar u-line" fxFlex="grow" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="18px">
      <li>
        <a href="https://www.webropolsurveys.com/S/84118B6BD6E97501.par" target="_blank" rel="noopener">Host courses & request</a>
      </li>
      <li>
        <a href="https://research.csc.fi/en/notebooks-terms-of-use" target="_blank" rel="noopener">Terms & Pricing</a>
      </li>
      <li>
        <a href="https://notebooks.csc.fi/accessibility_statement.html" target="_blank" rel="noopener">Accessibility</a>
      </li>
      <li>
        <a href="mailto:notebooks@csc.fi" target="_blank" rel="noopener">Contact us</a>
      </li>
    </ul>
  </div>
</header>
