@import "src/styles/main.scss";

.workspace-item {

  &.expired{
    .card {
      background: map-get($app-primary, 200);
      border: 1px solid map-get($app-gray, 300);
    }

    .expiry-warning {
      color: map-deep-get($app-warn, dark);
    }
  }
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card-header {
    .workspace-item-menu {
      margin-top: -4px;
      margin-right: -16px;
    }
  }

  .application-list {
    .toggle-button {
      @include hover();
    }

    color: map-get($app-gray, 300);

    &.active {
      color: map-get($app-primary, default);
    }
  }

  ::ng-deep .mat-expansion-panel {
    box-shadow: none !important;
    background: none;
    border-radius: 0;

    .mat-expansion-panel-body {
      border-radius: 0;
      padding: 0 0 0 25px;
    }
  }

  .tree {
    position: absolute;
    min-height: 140px;
    height: 110%;
    width: 15px;
    top: -55%;
    left: 0;
    border-bottom: 3px solid #bbb;
    border-left: 3px solid #bbb;
  }

  .application-item {
    position: relative;
  }
}
