@use 'main' as main;

.workspace-item {
  max-width: 1250px;
  padding-bottom: 10px;
  margin: auto;

  .expiry-warning {
    margin-left: 10px;
  }

  &.expired {

    .mat-mdc-card {
      background: main.$gray-light-color !important;

      .mdc-button {
        background: main.$gray-light-color !important;
      }
    }

    .expiry-warning {
      color: main.map-deep-get(main.$app-warn, dark) !important;
    }
  }

  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */

  .mat-mdc-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    padding: 0;
    border-bottom: 1px solid main.$light-dark-line;

    ::ng-deep.mat-mdc-card-header-text {
      flex: 1 0 auto;

      .mat-mdc-card-title {
        @include main.center(vertical);
        gap: 10px;
        padding: 0 16px;
      }
    }

    .expiry-date {
      @include main.headline-5;
      display: inline-flex;
      flex: 0 0 240px;
      align-items: center;
      align-self: stretch;
      padding: 10px;
      text-align: center;
      border-right: 1px solid main.$light-dark-line;
      border-left: 1px solid main.$light-dark-line;
    }

    .workspace-item-menu {
      flex: 0 0 80px;

      .mat-icon {
        width: auto;
        height: auto;
        margin: 0;
        font-size: 1.8rem;
      }
    }
  }

  ::ng-deep.mat-mdc-card-content.workspace-info {

    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 10px;

    .workspace-meta {
      .expiry-date {
        @include main.headline-5;
      }

      .description {
        @include main.headline-4;
        margin-top: 10px;
        overflow-wrap: break-word;
      }
    }

    .application-list {
      flex: 0 0 155px;
      color: map-get(main.$app-gray, 300);

      .toggle-button {
        display: flex;
        align-items: center;

        @include main.hover;
      }

      &.active {
        color: map-get(main.$app-primary, default);
      }
    }
  }

  ::ng-deep .mat-expansion-panel {
    padding-top: 10px;
    background: none;
    border-radius: 0;
    box-shadow: none !important;

    .mat-expansion-panel-body {
      padding: 0 0 0 25px;
      border-radius: 0;
    }
  }

  .tree {
    position: absolute;
    top: -55%;
    left: 0;
    width: 50%;
    height: 110%;
    min-height: 140px;
    border-bottom: 3px solid #bbb;
    border-left: 3px solid #bbb;
  }

  .application-item {
    position: relative;
    padding-left: 15px;
  }
}
