// ---- src/app/components/main-page/main-workspace-item/main-workspace-item.component.scss

@use 'main' as main;
@use 'base-styles' as base;
@use 'ui-components' as uis;
@use 'utilities' as utils;
@use 'layouts' as layouts;

:host {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.workspace-item {
  position: relative;
  padding-left: 70px;
  @include uis.card;

  .tree-toggle-button {
    @include utils.flex-col-block($type: center);
    @include base.centering(xy);
    position: absolute;
    top: 10px;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 100%;
    color: var(--prim-clr-7);
    text-align: center;
    background-color: var(--prim-clr-2);
    border-radius: 50%;
    box-shadow: var(--ui-button-shadow);

    &.open {
      color: var(--neut-clr-5);
      background-color: var(--neut-clr-2);
      box-shadow: var(--ui-button-dent-shadow);
    }

    .number {
      display: block;
      font-size: 2rem;
      font-weight: 600;
    }

    .unit {
      font-size: 1.1rem;
    }

    &.mat-mdc-button-disabled {
      background-color: var(--gray-clr-1);
      color: var(--gray-clr-5);
    }
  }

  .title {
    @include uis.deco-text($icon: apps, $icon-type: 'Icons');
  }

  .workspace-item-menu {
    margin-top: -5px;

    @include uis.button($icon: menu, $style: icon);
  }

  .workspace-info {
    @include utils.flex-row-block($wrap: false, $type: stretch);
    padding: 0 !important;

    .description {
      flex: 1 1 auto;
      padding: 8px 25px 12px 45px;
    }

    .workspace-meta {
      flex: 0 0 280px;
      border-left: var(--content-border-neut);
      padding: 12px 10px 12px 15px;

      .membership {
        margin-bottom: 5px;
        text-transform: capitalize;

        &.owner {
          @include uis.deco-text($color: var(--warn-clr-6), $icon: local_police, $icon-size: 1.8rem, $gap: 4px, $font-size: 1.3rem);
        }

        &.co-owner {
          @include uis.deco-text($color: var(--sec-clr-6), $icon: verified_user, $icon-size: 1.8rem, $gap: 4px, $font-size: 1.3rem);
        }

        &.member {
          @include uis.deco-text($color: var(--prim-clr-6), $icon: person, $icon-size: 1.8rem, $gap: 4px, $font-size: 1.3rem);
        }
      }

      .expiry-date {
        @include utils.flex-row-block($gap: 5px);

        .text {
          @include uis.deco-text($icon: calendar_today, $icon-size: 1.8rem, $gap: 4px, $font-size: 1.3rem);
        }

        .expiry-warning {
          @include uis.highlight-text($highlight: var(--neut-clr-1));
        }
      }

      .activity_timeout-warning {
        margin-top: 5px;
        @include uis.highlight-text($highlight: var(--prim-clr-1), $margin-top: 8px, $margin-left: 0);
      }
    }
  }

  ::ng-deep.mat-expansion-panel {
    --mat-expansion-container-background-color: transparent;
    border: none;
    box-shadow: none !important;

    .mat-expansion-panel-body {
      @include utils.flex-col-block($gap: 5px);
      padding: 10px 0 0 10px;
    }
  }

  .tree {
    position: absolute;
    top: -55%;
    left: 0;
    width: 50%;
    height: 110%;
    min-height: 140px;
    border-bottom: 3px solid var(--neut-clr-3);
    border-left: 3px solid var(--neut-clr-3);
  }

  .application-item {
    position: relative;
    padding-left: 15px;
  }
}

.new-item {
  .title {
    &::after {
      @include uis.badge-item($text: 'new', $role: 'acc', $position: after, $top: 0);
    }
  }
}

.expiring-item .expiry-warning {
  @include uis.highlight-text($highlight: var(--acc-clr-1));
}

.expiring-soon-item .expiry-warning {
  @include uis.highlight-text($highlight: var(--warn-clr-1));
}

.expired-item {
  .tree-toggle-button {
    background-color: var(--gray-clr-2);
    color: var(--gray-clr-5);
  }

  .mat-mdc-card {
    color: var(--gray-clr-5) !important;
    background: var(--gray-clr-2) !important;

    .mat-mdc-card-header {
      border-bottom: 1px solid var(--gray-clr-3);
    }

    .mdc-button {
      background: var(--gray-clr-5) !important;
    }

    .description {
      color: var(--gray-clr-5);
    }

    .expiry-date {
      @include uis.deco-text($color: var(--gray-clr-4), $icon: event_busy, $icon-size: 2rem, $gap: 4px, $font-size: 1.3rem);
      border-left: 1px solid var(--gray-clr-3) !important;

      .expiry-warning {
        @include uis.highlight-text($highlight: var(--gray-clr-5), $color: var(--gray-clr-2));
      }
    }
  }
}

// ----- Mobile
@media (max-width: base.$mobile-width) {
  .workspace-info {
    .description {
      padding: 8px 15px 12px 20px !important;
    }
  }
}

