<ng-container *ngIf="content">
  <mat-card class="my-workspaces" fxLayout="row" fxLayoutAlign="space-between stretch">
    <div class="card-media v-centering__horizontal" fxFlex="0 0 80px">
      <div class="thumbnail">
        <mat-icon>people_outline</mat-icon>
      </div>
    </div>
    <div class="card-info" fxFlex="grow">
      <mat-card-header>
        <mat-card-title>{{ workspace.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="workspace-description mb-20 mt-10" [innerHTML]="workspace.description"></div>
        <div class="environment-info" [ngClass]="{'active': environments.length > 0}">
          <div class="environment-info-header v-centering__inline" (click)="toggleEnvironmentList()">
            <mat-icon class="material-icons-outlined">book</mat-icon>
            <mat-icon *ngIf="environments.length">arrow_right</mat-icon>
            <span class="ml-10">{{ environments.length }} Environments</span>
          </div>
          <mat-accordion>
            <mat-expansion-panel [expanded]="panelOpenState">
              <ul *ngIf="environments">
                <li class="environment" *ngFor="let environment of environments">
                  <mat-icon fontSet="material-icons-outlined">import_contacts</mat-icon>
                  <span class="ml-10">{{ environment.name }}</span>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-card-content>
    </div>
    <!-- //card-info -->
    <mat-card-actions class="" *ngIf="workspace.name.startsWith('System.') === false">
      <button mat-flat-button aria-label="workspace delete" class="full__h inversion light-gray"
        matTooltip="Leave Workspace" (click)="exitWorkspace()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
