@import "src/styles.scss";

::ng-deep mat-sidenav-container {
  z-index: 100;
  height: 100%;
  padding-top: 0 !important;
  margin-top: 0 !important;

  .mat-sidenav {
    position: fixed;
    border: none !important;
    width:  map-deep-get($layout-set, dashboard, sidenav, w);

    &.minimize {
      width: map-deep-get($layout-set, dashboard, sidenav-min, w);
    }

    app-dashboard-nav{
      @include animation();
      display: block;
      height: 100% !important;
      width: 100%;
      bottom: 0;
      top: 0;
    }
  }

  mat-sidenav-content {
    margin-left: 250px !important;

    &.expanded {
      margin-left: 80px !important;
    }

    .dashboard-content-container{
      display: block;
      min-height: map-deep-get($layout-set, dashboard, content, min-h);
      background-color: map-get($colors, light);
    }
  }
}


