<!-- Design option : header pattern-B -->
<app-dashboard-header class="header-container desing-b"></app-dashboard-header>

<mat-sidenav-container>
  <!-- SideNav Area -->
  <mat-sidenav #sidenav mode="side" opened="true"
  [@onSideNavChange]="isSideNavOpen">
    <app-dashboard-nav class="sidebar"
    (toggleSideNavEvent)="toggleSideNav()"
    [isSideNavOpen]="isSideNavOpen">
    </app-dashboard-nav>
  </mat-sidenav>
  <!-- Dashboard Page Area -->
  <mat-sidenav-content
  [@onMainContentChange]="isSideNavOpen">
    <div class="dashboard-page-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <app-dashboard-footer class="footer"></app-dashboard-footer> -->
