@import "src/styles.scss";

.not-found-container{
  padding: 50px;

  color: map-get($colors, primary);
  text-align: center;

  .face {
    font-weight: 700;
    font-size: 12rem;
    line-height: normal;
  }

  .message {
    font-weight: 700;
    font-size: 4rem;
    line-height: normal;
  }

  a {
    text-decoration: underline;
  }
}
