<app-message></app-message>

<div class="content-header v-centering" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <h2 class="title">{{ content.title }}</h2>

  <!-- <mat-form-field appearance="" fxFlex="grow" >
    <mat-label> <mat-icon fontSet="material-icons-outlined"> search </mat-icon> </mat-label>
    <input matInput>
  </mat-form-field> -->

  <div class="environments-catalog-functions" fxLayout="row" fxLayoutAlign="start right" fxLayoutGap="10px">
    <button mat-fab color="primary" class="shadow__moderate" aria-label="Search environments"
    #tooltip="matTooltip" matTooltip="Search environments"
    (click)="isSearchFormOpen=!isSearchFormOpen">
      <mat-icon fontSet="material-icons-outlined"> search </mat-icon>
    </button>
    <button mat-fab color="primary" class="shadow__moderate" aria-label="Join Workspace"
    #tooltip="matTooltip" matTooltip="Join workspace"
    (click)="openJoinWorkspaceDialog()">
      <mat-icon>group_add</mat-icon>
    </button>
  </div>
</div>

<!-- Environment Catalogs -->
<section class="environments-catalog">

  <!-- Environment Catalog Search -->
  <mat-accordion class="search-form-outer" multi>
    <mat-expansion-panel [(expanded)]="isSearchFormOpen" *ngIf="selectedCatalog">
      <app-dashboard-search-box [labels]=selectedCatalog.labels></app-dashboard-search-box>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Environment Catalogs -->
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" class="my-environment-tab" (selectedTabChange)="changeCatalog($event)">
    <ng-container *ngFor="let catalog of getCatalogs()" class="">
      <mat-tab label="{{ catalog.name }}">
        <ng-template mat-tab-label>
          <div [ngSwitch]="catalog.type">
            <ng-container *ngSwitchCase="'all'">
              <mat-icon class="tab-icon" fontSet="material-icons-outlined">
                apps
              </mat-icon>
            </ng-container>
            <ng-container *ngSwitchCase="'search'">
              <mat-icon class="tab-icon" fontSet="material-icons-outlined">
                search
              </mat-icon>
            </ng-container>
            <!-- <ng-container *ngSwitchCase="'workspace'" >
              <mat-icon class="tab-icon" fontSet="material-icons-outlined">
                group
              </mat-icon>
            </ng-container> -->
            <!-- <ng-container *ngSwitchCase="'label'">
              <mat-icon class="tab-icon" fontSet="material-icons-outlined">
                label
              </mat-icon>
            </ng-container> -->
          </div>
          <span class="tab-title">{{ catalog.name }}</span>
        </ng-template>

        <div class="tab-content">
          <div class="catalog-section" *ngIf="selectedCatalog && selectedCatalog.name === catalog.name">
            <div class="label-list-mini" *ngIf="selectedCatalog.labels.length > 0; else elseBlock">
              Filtered by :
              <span *ngFor="let label of selectedCatalog.labels">
                <mat-chip color="primary">{{ label }}</mat-chip>
              </span>
            </div>
            <ng-template #elseBlock>
              <div class="label-list"></div>
            </ng-template>
            <div class="environment-item-container"
            fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
              <ng-container *ngFor="let environment of filterEnvironmentsByLabels(selectedCatalog.labels, 'any')">
                <app-dashboard-environment-item class="environment-item" [environment]=environment [content]=content></app-dashboard-environment-item>
              </ng-container>
            </div>
          </div>
        </div>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</section>
