@import "src/styles.scss";

.content-header {
  margin-bottom: 10px;

  .title {
    font-size: 2.6rem;
    color: map-get($colors, primary);
  }
}

::ng-deep .environments-catalog {

  mat-accordion {
    .mat-expansion-panel {
      margin: 6px 0 10px 0;
      box-shadow: none;

      .mat-expansion-panel-content {

        .mat-expansion-panel-body {
          margin-bottom: 10px;
          padding: 10px 30px;
        }
      }
    }
  }

  mat-tab-group {
    margin: 10px 0 50px 0;

    mat-tab-header {
      .mat-tab-label {
        background: map-get($colors, white);
        border-right: map-get($borders , thin);

        .tab-icon {
          margin-right: 5px;
          color: map-get($colors, primary);
        }

        .tab-title {
          color: map-get($colors, primary);
          font-size: 1.3rem !important;
        }
      }
    }

    .mat-tab-body-wrapper {
      padding: 15px 0px !important;

      .environment-item-container {

        .environment-item {
          width: 100%;
          max-width: 1000px;

          .label-list {
            min-height: 10px;
            padding-top: 5px;
          }
        }
      }
    }
  }
}

// ---- Workspace join dialog

.mat-dialog-container {
  width: 300px;
}

.mat-dialog-title {
  color: green;
  border-bottom: 1px solid #e6e6f2;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

form {
  display: inline-flex;

  .join-code-input {
    max-width: 500px;
    min-width: 350px;
    // width: 50vw;
  }

  .join-workspace-btn {
    margin: 0.25em 0 1.34375em 10px;
  }
}
