<h2 mat-dialog-title>
  <mat-icon>group</mat-icon>
  Join Workspace
</h2>
<mat-dialog-content class="mat-typography">
  <section class="workspace-input-form">
    <form [formGroup]="joinWorkspaceForm">
      <mat-form-field appearance="outline" class="join-code-input">
        <mat-label>Join Code</mat-label>
        <input matInput placeholder="Placeholder" formControlName="joinCode"/>
        <mat-error *ngIf="joinCode.invalid" [ngClass]="'error'">error</mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" type="button" (click)="joinWorkspace()" autofocus
              class="join-workspace-btn">
        <mat-icon>add</mat-icon>
      </button>
    </form>
    <!-- <hr> -->
    <h4>view for debug</h4>
    <ul *ngFor="let workspace of getWorkspaces()">
      <li>{{ workspace.name }}</li>
    </ul>
  </section>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
