<div class="workspace-custom-images-container">

  <div class="actions">
    <button (click)="buildImageDialog(null)"
            [disabled]="!isQuotaLeft() || isWorkspaceExpired"
            aria-label="Create custom image"
            class="create-custom-image-button"
            mat-flat-button>
      Create custom image
    </button>
    @if (!isQuotaLeft()) {
      <div class="max-quota-warning">
        No custom image quota left. You can create a maximum of 10 images per workspace.
      </div>
    }
  </div>
  @if (dataSource?.length > 0) {
    <div class="table-container">
      <table [dataSource]="dataSource" class="custom-image-table" mat-table>

        <ng-container matColumnDef="thumb">
          <th *matHeaderCellDef mat-header-cell>Status</th>
          <td *matCellDef="let element" mat-cell>
            <div [ngClass]="element.state" class="custom-image-thumb">
              <!-- Custom image state NEW / BUILDING / DELETING -->
              <div class="custom-image-state-in-progress">
                <mat-progress-spinner
                    diameter="30"
                    mode="indeterminate"
                    strokeWidth="2">
                </mat-progress-spinner>
              </div>
              <div class="state-text">{{ element.state }}</div>
            </div>
          </td>
        </ng-container>

        <!-- Custom image META -->

        <ng-container matColumnDef="meta">
          <th *matHeaderCellDef mat-header-cell>Custom Image Info</th>
          <td *matCellDef="let element" mat-cell>
            <div class="custom-image-name"> {{ element.name }}</div>

            <dl [ngClass]="element.state" class="custom-image-state grid">
              @switch (element.state) {
                <!-- Custom image state COMPLETED -->
                @case (BuildState.Completed) {
                  <dt class="custom-image-tag">
                    Tag
                  </dt>
                  <dd>{{ element.tag }}</dd>
                  <dt class="custom-image-build-state">State</dt>
                  <dd class="referencing-applications-text">
                    Build {{ element.state }}
                    @if (element.applicationReferences?.length) {
                      <span [matTooltip]="extractApplicationNames(element.applicationReferences).join(', ')">
                   : Used by {{
                              element.applicationReferences.length + ' ' +
                              (element.applicationReferences.length === 1 ? 'application' : 'applications')
                        }}
                      </span>
                    }
                  </dd>
                }
                <!-- Custom image state FAILED -->
                @case (BuildState.Failed) {
                  <!-- Build log for failed images -->
                  <dt class="custom-image-build-state">State</dt>
                  <dd>Build {{ element.state }} /
                    @if (element.build_system_output) {
                      <button (click)="toggleLog(element.id)"
                              class="toggle-log-button"
                              mat-button
                              matTooltip="Toggle log screen">
                        @if (!isLogVisible(element.id)) {
                          Open log
                        } @else {
                          Close log
                        }
                      </button>
                    }
                  </dd>
                }
                <!-- Custom image state NEW / BUILDING / DELETING -->
                @default {
                  <dt class="custom-image-build-state">State</dt>
                  <dd class="custom-image-state-description">
                    {{ getHumanReadableStateString(element) }}
                    / {{ getStateExplanation(element) }}
                  </dd>
                }
              }
            </dl>
            <!-- Log screen -->
            @if (isLogVisible(element.id) && element.build_system_output) {
              <div class="custom-image-output">
                <div (click)="toggleLog(element.id)"
                     class="output-label"
                     matTooltip="Close log screen"></div>
                @for (line of element.build_system_output.split('\n'); track $index; let i = $index) {
                  <div class="custom-image-output-line">
                    <code [ngClass]="i===0 ? 'message' : 'log'">{{ line }}</code>
                  </div>
                }
              </div>
            }
            <!-- Dockerfile -->
            <dl class="custom-image-dockerfile grid">
              <dt>
                <fa-icon [icon]="['fab','docker']" matTooltip="Dockerfile"></fa-icon>
                Dockerfile
              </dt>
              <dd>
                <code>
                  <div class="long">
                    @for (line of element.dockerfile.split('\n'); track $index) {
                      <div>{{ line }}</div>
                    }
                  </div>
                </code>
              </dd>
            </dl>
          </td>
        </ng-container>

        <!-- // Custom image META -->

        <!-- Action button -->
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell>actions</th>
          <td *matCellDef="let element" mat-cell>
            <div class="buttons">
              <button (click)="buildImageDialog(element)"
                      [disabled]="!isQuotaLeft() || isWorkspaceExpired"
                      class="edit-button"
                      mat-button
                      matTooltip="Create new version"
                      matTooltipPosition="left">
              </button>
              <button [matMenuTriggerFor]="menu"
                      class="menu-button"
                      mat-button
                      matTooltip="Other actions"
                      matTooltipPosition="left">
              </button>
            </div>
            <mat-menu #menu="matMenu">
              <button disabled mat-menu-item>
                <mat-icon fontSet="material-icons-outlined">ios_share</mat-icon>
                <span>copy custom image</span>
              </button>
              <button (click)="deleteCustomImage(element.id)" mat-menu-item>
                <mat-icon fontSet="material-icons-outlined">delete_outline</mat-icon>
                <span>delete custom image</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <!--  Row shown when there is no matching data. -->
        <tr *matHeaderRowDef="displayedColumns"
            mat-header-row></tr>
        <tr *matRowDef="let row; columns:displayedColumns" mat-row> No match</tr>
      </table>
    </div>
  } @else {
    <section class="status-info-container">
      @if (dataSource !== null) {
        <div class="empty-status">
          <div class="status-headline">No custom images in this workspace</div>
          <div class="hint">
            <div class="hint-content">
              <ul class="index">
                <li>
                  Click <span class="keyword button">Create custom image</span> and customize your own image.
                </li>
                <li>
                  After clicking <span class="keyword button">Build</span> and wait for completion.
                </li>
                <li>
                  Open <span class="keyword border">Application tab</span> and create application from
                  <span class="keyword button">Advanced form</span>.
                </li>
                <li>
                  Select <span class="keyword select">Custom image in this workspace</span> option in Container image
                  section.
                </li>
                <li>
                  Select your built image from <span class="keyword select"> custom image list</span>.
                </li>
              </ul>
              <div class="note">
                <span class="point">Custom images are tied to the workspace</span> :
                When the workspace expires, the images are deleted.
              </div>
              <a [href]="publicConfigService.getServiceDocumentationUrl()" class="documentation-link"
                 rel="noopener" target="_blank">
                Open Documentation &nbsp;
              </a>
            </div>
          </div>
        </div>
      } @else {
        <div class="loading-status">
          <span class="status-headline">...Loading...</span>
        </div>
      }
    </section>
  }
</div>
