@import "src/styles/main.scss";

#workspace-custom-images-container {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px 40px 30px;
  max-width: 1200px;
  margin: 0 auto;

  .actions {
    text-align: right;

    button {
      margin-bottom: 5px;
    }

    .max-quota-warning {
      text-align: center;
    }
  }

  .table-container {
    flex: 1 0 auto;
    height: 100px;
    overflow: auto;
  }

  table {
    font-size: 1.2rem !important;

    tr {
      border: 2px solid $mid-dark-line;
    }

    .mat-mdc-cell {
      word-wrap: break-word !important;
      white-space: unset !important;
      overflow-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
    }

    .mat-column-index,
    .mat-column-action {
      flex: 0 0 40px !important;
      width: 40px !important;
      padding: 0 !important;
      text-align: center;

      button {
        padding: 0;
      }
    }

    .mat-column-name {
      min-width: 155px;

      .custom-image-name {
        font-size: small;
      }
    }

    .mat-column-meta {
      padding: 0 !important;
      vertical-align: baseline;

      .custom-image-dockerfile {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.1rem;
        letter-spacing: normal;
        word-spacing: normal;

        fa-icon {
          flex: 0 0 26px;
          font-size: 16px;
          margin-right: 4px;
        }

        code {
          background: $gray-extra-light-color;
          padding: 5px 20px;
          width: 100%;
        }
      }

      .custom-image-state {
        @include center(vertical);
        border-bottom: 1px solid $gray-light-color;
        width: 100%;

        .custom-image-completed {
          display: flex;
          flex-direction: column;

          .custom-image-tag {
            @include center(vertical);
            padding: 5px 10px;
            .tag-text {
              padding: 0px 10px;
            }
          }

          .referencing-applications-text {
            padding: 5px 10px;
          }
        }

        .toggle-log-button {
          font-size: 1.3rem !important;
          text-decoration: underline;
          height: 10px;

          mat-icon {
            font-size: 2.0rem;
            width: auto;
            height: auto;
          }

          mat-icon {
            flex: 0 0 26px;
            font-size: 18px;
            width: 20px !important;
            margin-right: 5px;
            height: auto;
          }
        }

        .custom-image-fail-message {
          @include center(vertical);
          background: $warn-light-color;
          width: 100%;
          padding: 10px;
          justify-content: space-between;

          .fail-state {
            @include center(vertical);

            mat-icon {
              font-size: 2.2rem;
              flex: 0 0 34px;
            }

            span {
              flex: 1 0 auto;
              flex-wrap: nowrap;
            }
          }
        }

        .custom-image-state-in-progress {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px;
          gap: 10px;
          color: $secondary-color;

          .custom-image-state-name {
            font-weight: 600;
          }

          .custom-image-state-description {
            color: gray;
          }
        }
      }

      .custom-image-output {
        background: #000000;
        position: relative;
        padding: 15px 40px 15px 45px;

        .output-label {
          position: absolute;
          top: 4px;
          right: 8px;
          color: #00EAC3;
        }

        .custom-image-output-line {
          color: $light-text-color;
          font-size: 1.2rem;
        }
      }

      .custom-image-dockerfile {
        padding: 10px;

        .dockerfile-toggle-button {
          @include center(both);
          width: 120px;
          flex-wrap: nowrap;
          margin-top: -40px;
          margin-left: -11px;
          padding: 5px 10px;
          font-size: 1.2rem !important;
          background: $gray-extra-dark-color;
          color: $light-text-color;
          border-radius: 0 0 5px 0;
        }
      }

      .mat-expansion-panel:not([class*=mat-elevation-z]) {
        box-shadow: none;
      }
    }

    .mat-column-action {
      button.mat-mdc-button-disabled {
        background: none !important;
      }
    }
  }
}
