@import "src/styles/main.scss";

#workspace-setting-container {
  padding: 30px 40px;

  mat-icon {
    font-size: 2.4rem;
    height: auto;
    width: auto;
  }

  form {
    position: relative;

    button.mat-mdc-icon-button {
      color: $primary-light-color;

      &:hover {
        color: #FFFFFF;
        background: $primary-light-color;
      }
    }

    dl.workspace-info {
      display: grid;
      grid-template-columns: 200px auto;

      dt {
        min-height: 55px;
        padding: 5px 10px;
        @include center(vertical);

        &:hover {
          background-color: $primary-extra-light-color;
        }

        &:hover + dd {
          background-color: $primary-extra-light-color;
        }

        &:has(+ dd:hover) {
          background-color: $primary-extra-light-color;
        }

        &.no-hover-bg:hover,
        &.no-hover-bg:hover + dd,
        &.no-hover-bg:has(+ dd:hover){
          background: none;
        }
      }

      dd {
        min-height: 55px;
        padding: 5px 10px;


        &:hover {
           background-color: $primary-extra-light-color;
        }

        &.no-hover-bg:hover,
        &.no-hover-bg:hover + dd,
        &.no-hover-bg:has(+ dd:hover){
          background: none;
        }

        div.preview,
        div.join-code,
        div.expiry-date {
          min-height: 55px;
          display: flex;
          gap: 10px;
          justify-content: space-between;
          align-items: center;

          p {
            overflow-wrap: break-word;
          }

          .action-wrapper {
            flex: 0 0 50px;
          }
        }
      }
    }

    dd.delete-action {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    button.workspace-delete-button {
      margin-bottom: 2px;
      width: 100%;
      height: 45px;
      max-width: 300px;
      padding: 18px;
      border: solid 3px $warn-color;
      background: $warn-extra-light-color;
      @include shadow(0.1);
    }

    .mat-mdc-form-field {
      width: 100%;
      margin-top: 10px;
    }

    .open-join-code-button {
      padding: 10px 0 !important;
      background: none !important;
    }
  }

  .action-buttons {
    margin-top: 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    .workspace-update-button {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    .workspace-edit-cancel-button {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  }

}

.expired-item,
.expiring-soon-item,
.expiring-item {

  .expiry-date {
    padding: 5px 10px;
    background: $warn-extra-light-color;
    font-weight: 600;
    color: $warn-extra-dark-color;
  }
}
