@import "src/styles/main.scss";

#workspace-setting-container {
  padding: 40px;

  .open-join-code-button {
    padding: 10px 0 !important;
  }

  dd {
    margin-bottom: 20px;
  }

  .preview {
    button {
      color: map-get($app-primary, light);
      margin-top: -10px;
    }
  }

  .mat-mdc-form-field {
    width: 100%;
  }

  dl.workspace-info dd div.preview {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 10px;
  }

  .extend-checkbox {
    padding-left: 2em;
  }

  .action-buttons {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;

    .workspace-update-button {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    .workspace-edit-cancel-button {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    .workspace-delete-button {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }
  }
}
