@import "src/styles/main.scss";

#workspace-setting-container {
  padding: 30px;

  .open-join-code-button {
    display: grid;
    grid-template-columns: 30px auto;
    min-width: 120px;
    cursor: pointer;
  }

  .preview {
    button {
      color: map-get($app-primary, light);
      margin-top: -10px;
    }
  }

  .mat-form-field {
    width: 100%;
  }

  ::ng-deep.mat-form-field-subscript-wrapper {
    bottom: 0px;
    position: relative;
  }

  dl.workspace-info dd div.preview {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 10px;
  }

  .workspace-extend-button {
    //background-color: #00EAC3;
  }

  .extend-checkbox {
    padding-left: 2em;
  }

  .action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;

    .workspace-update-button {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    .workspace-edit-cancel-button {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    .workspace-delete-button {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }
  }
}
