<div id="workspace-setting-container">

  <form [formGroup]="workspaceEditForm" novalidate *ngIf="workspaceEditForm">
    <dl class="workspace-info">
      <dt>
        Workspace name
      </dt>
      <dd>
        <div class="preview" *ngIf="!isWorkspaceNameEditOn">
          <p>{{ workspace.name }}</p>
          <button mat-icon-button aria-label="edit" *ngIf="isEditable" (click)="editWorkspaceName()">
            <mat-icon fontSet="material-icons-outlined">mode_edit</mat-icon>
          </button>
        </div>
        <mat-form-field appearance="fill" *ngIf="isWorkspaceNameEditOn">
          <input matInput formControlName="name">
          <mat-error *ngIf="workspaceEditForm.controls.name.hasError('required')">
            <strong>Name is required</strong>
          </mat-error>
          <mat-error *ngIf="workspaceEditForm.controls.name.hasError('maxlength')">
            <strong>Max length (64 characters) exceeded</strong>
          </mat-error>
          <mat-error *ngIf="workspaceEditForm.controls.name.hasError('forbiddenValue')">
            <strong>Workspace name cannot start with "system"</strong>
          </mat-error>
        </mat-form-field>
      </dd>
      <dt>
        Workspace description
      </dt>
      <dd>
        <div class="preview" *ngIf="!isWorkspaceDescriptionEditOn">
          <p [innerHTML]="workspace.description || 'No description'"></p>
          <button mat-icon-button aria-label="edit" *ngIf="isEditable" (click)="editWorkspaceDescription()">
            <mat-icon fontSet="material-icons-outlined">mode_edit</mat-icon>
          </button>
        </div>
        <mat-form-field appearance="fill" *ngIf="isWorkspaceDescriptionEditOn">
          <textarea matInput formControlName="description"></textarea>
          <mat-hint align="end">{{ descriptionInput?.value?.length || 0 }}/{{ descriptionMaxLength }}</mat-hint>
          <!-- error -->
          <mat-error *ngIf="workspaceEditForm.controls.description.hasError('required')">
            You must provide a <strong>description about the workspace</strong>
          </mat-error>
          <mat-error *ngIf="workspaceEditForm.controls.description.hasError('maxlength')">
            Currently you have {{descriptionInput?.value?.length}} characters. Max length ({{ descriptionMaxLength }}) exceeded.
          </mat-error>
        </mat-form-field>
      </dd>
      <dt class="join-code-title">
        Join code
      </dt>
      <dd>
        <div>
          <button class="open-join-code-button" (click)="openJoinCodeDialog()">
            <mat-icon>vpn_key</mat-icon>
            <span class="chip__password"></span>
          </button>
          <button (click)="openRegenerateJoinCodeDialog()" mat-stroked-button>
            <mat-icon>refresh</mat-icon>
            Regenerate
          </button>
        </div>
      </dd>
      <dt>
        Created
      </dt>
      <dd>{{ workspace.create_ts | dateDisplay }}</dd>
      <dt>
        Expiration date
      </dt>
      <dd>
        {{ workspace.expiry_ts | dateDisplay }}  ({{ workspace.expiry_ts | remainingDaysDisplay }})
        <span class="extend-checkbox" *ngIf="workspace.config?.allow_expiry_extension">
          <mat-checkbox (change)="onExtendExpiryDateChange($event)" formControlName="isExtendExpiryChecked">
            Extend to 13 months from now
          </mat-checkbox>
        </span>
      </dd>
      <dt>
        Memory limit
      </dt>
      <dd>{{ workspace.memory_limit_gib }} GiB total for concurrent sessions</dd>
      <ng-container class="" *ngIf="workspace.membership_expiry_policy.kind==='activity_timeout'">
        <dt>Membership expiry</dt>
        <dd>after {{ workspace.membership_expiry_policy.timeout_days }} days of inactivity</dd>
      </ng-container>
    </dl>
    <div class="action-buttons">
      <button mat-flat-button
              class="workspace-update-button primary-btn"
              *ngIf="workspace.name!=='System.default'"
              [disabled]="!isWorkspaceFormChanged || !workspaceEditForm.valid" (click)="updateWorkspace()">
        save changes
      </button>
      <button mat-stroked-button class="workspace-edit-cancel-button" [disabled]="!isWorkspaceFormChanged"
              (click)="cancelWorkspaceEditing()">
        cancel changes
      </button>
      <button [disabled]="!isDeletable" class="workspace-delete-button" mat-stroked-button
              (click)="deleteWorkspace()">
        <mat-icon fontSet="material-icons-outlined">delete_outline</mat-icon>
        delete workspace
      </button>
    </div>
  </form>
</div>
