@use 'main' as main;

#workspace-members-container {
  display: flex;
  flex: 1 0 800px;
  flex-direction: column;
  gap: 10px;
  width: 800px;
  max-width: 1000px;

  padding: 20px 30px 30px;
  margin: 0 auto;

  .member-header {
    display: flex;
    flex: 0 0 60px;
    flex-direction: row;
    gap: 10px;

    mat-form-field {
      flex: 1 0 auto;
      margin-bottom: -20px;
    }

    button {
      flex: 0 1 65px;
      height: 60px;

      @include main.center(both, inline);

      mat-icon {
        width: auto;
        height: auto;
        margin: 0;
        font-size: 2.4rem;
      }
    }
  }

  .table-container {
    flex: 1 0 auto;
    height: 72px;
    overflow: auto;
  }

  .status-info-container {
    flex-grow: 5;
    margin-top: 0 !important;
  }

  .paginator-wrapper {
    flex: 0 0 60px;
  }

  table {
    font-size: 1.2rem;

    tr {
      border: 2px solid main.$mid-dark-line;
    }

    thead {
      height: 40px;
      font-size: 1.2rem;

      tr {
        height: 20px;

        ::ng-deep th.mat-column-menu {
          width: 65px;
        }
      }
    }

    ::ng-deep tbody {
      tr {
        height: 40px !important;

        td {
          padding: 0 20px !important;
          font-size: 1.2rem;
          line-height: 100%;
        }
      }
    }

    ::ng-deep.mat-mdc-header-row {
      height: 20px;
      color: main.$gray-extra-dark-color;
      background: #e0e0e0;
    }

    ::ng-deep.mat-column-index {
      width: 65px;
      text-align: center;
    }

    .role-name {
      @include main.center(vertical, inline);

      mat-icon {
        margin-right: 5px;
      }

      &.owner .user-role-icon {
        color: #fc614d;
      }

      &.co-owner .user-role-icon {
        color: #ee8600;
      }
    }

    ::ng-deep.mat-column-menu {
      width: 65px;
      padding: 0 !important;
      text-align: center;

      button {
        height: 45px;
        border-radius: 0;

        mat-icon {
          width: auto;
          height: auto;
          margin-right: 0;
          font-size: 1.8rem;
        }
      }
    }
  }

  .my-account {
    height: 45px !important;
    background: map-get(main.$app-secondary, 100);
  }

  .hint-content {
    width: 650px;
    padding: 20px 30px;
    margin: auto;
    border: 5px solid main.$gray-light-color;
    border-radius: 20px;

    h3 {
      margin-bottom: 10px;
      border-bottom: 1px solid main.$gray-light-color;
    }

    .status-postscript {
      @include main.center(vertical, inline);

      .hint-join-code {
        margin: 0 10px;
        font-weight: 600;
      }

      mat-icon {
        margin-right: 10px;
      }
    }
  }
}
