<div class="workspace-members-container">
  <!-- Search Box -->
  <div class="member-header">
    <mat-form-field appearance="fill">
      <mat-icon matPrefix>search</mat-icon>
      <input #input (keyup)="applyFilter($event)" matInput placeholder="">
    </mat-form-field>
    <button (click)="refreshMembers()" class="refresh-btn">
    </button>
  </div>
  @if (memberList !== null) {
    <!-- members table -->
        <!--
          - Index column
          - Role column
          - ext_id (email) column
          - Menu button column
         -->
    <div class="table-container">
      <table (matSortChange)="changeSortCondition($event)" [dataSource]="memberDataSource" [matSortActive]="sortCondition.active"
             [matSortDirection]="sortCondition.direction"
             class="workspace-member-table"
             mat-table
             matSort>
        <!-- Checkbox Column -->
        <!--
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        -->
        <!-- Index Column -->
        <ng-container matColumnDef="index">
          <th *matHeaderCellDef mat-header-cell>index</th>
          <td *matCellDef="let element" class="center icon-cell" mat-cell>
            {{ element.index }}
          </td>
        </ng-container>
        <!-- Role column -->
        <ng-container matColumnDef="role">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Role</th>
          <td *matCellDef="let element" mat-cell>
            <div [innerHTML]="displayMembershipType(element.displayRole)" [ngClass]="element.role"
                 class="role-name">
            </div>
          </td>
        </ng-container>
        <!-- ext_id column -->
        <ng-container matColumnDef="email">
          <th *matHeaderCellDef mat-header-cell>email</th>
          <td *matCellDef="let element" mat-cell>
            <span [innerHtml]="element.email"></span>
          </td>
        </ng-container>
        <!-- menu column -->
        <ng-container matColumnDef="menu">
          <th *matHeaderCellDef mat-header-cell>menu</th>
          <td *matCellDef="let element" class="icon-cell" mat-cell>
            <button [disabled]="element.role === 'owner'" [matMenuTriggerFor]="menu" aria-label="open menu"
                    class="member-menu-button"
                    mat-button>
            </button>
            <mat-menu #menu="matMenu">
              @if (isTransferOwnerActive()) {
                <button (click)="transferOwnership(element.userId, element.email)"
                        mat-menu-item>
                  <mat-icon fontSet="material-icons-outlined">admin_panel_settings</mat-icon>
                  <span>transfer ownership</span>
                </button>
              }
              @if (isPromoteCoOwnerActive(element.role)) {
                <button (click)="promoteMember(element.userId)"
                        mat-menu-item>
                  <mat-icon fontSet="material-icons-outlined">manage_accounts</mat-icon>
                  <span>promote to co-owner</span>
                </button>
              }
              @if (isDemoteCoOwnerActive(element.role)) {
                <button (click)="demoteManager(element.userId)"
                        mat-menu-item>
                  <mat-icon fontSet="material-icons-outlined">person</mat-icon>
                  <span>demote to member</span>
                </button>
              }
              @if (element.role !== 'banned') {
                <button (click)="setIsBanned(element.userId, true)"
                        mat-menu-item>
                  <mat-icon fontSet="material-icons-outlined">person_off</mat-icon>
                  <span>ban member</span>
                </button>
              } @else {
                <button (click)="setIsBanned(element.userId, false)"
                        mat-menu-item>
                  <mat-icon fontSet="material-icons-outlined">person_off</mat-icon>
                  <span>unban member</span>
                </button>
              }
            </mat-menu>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'my-account': row.email === user?.ext_id}"
            mat-row>
        </tr>
        <!--  Row shown when there is no matching data. -->
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="4">
            <section class="status-info-container">
              <div class="search-status">
                <div class="status-headline">No data matching "{{ input.value }}"</div>
              </div>
            </section>
          </td>
        </tr>
      </table>
    </div>
  } @else {
    <!-- Loading / No Members -->
    <div class="status-info-container">
      <div class="loading-status">
        <span class="status-headline">...Loading...</span>
      </div>
    </div>
  }
  <!-- Hint to invite members -->
  @if (isInviteHintEnabled) {
    <div class="status-info-container">
      <div class="empty-status">
        <div class="status-headline">No members</div>
        <div class="status-summary">No members in this workspace yet</div>
        <div class="hint">
          <span class="status-postscript">
            Share workspace
            <span class="keyword lock">Join code</span> to invite members to this workspace.
          </span>
        </div>
      </div>
    </div>
  }
  <!-- Paginator-->
  <div [hidden]="!isPaginatorVisible" class="paginator-wrapper">
    <mat-paginator
        [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>
