@import "src/styles.scss";

.content-container {
  max-width: 1200px;
  margin: auto;

  .help-topic-container{
    max-width: 1000px;
    margin: auto;

    .help-topic {
      position: relative;
      padding-top: 15px;
      //padding-bottom: 5px;
      width: 250px;
      min-height: 120px;
      border-radius: 8px;
      font-size: 1.8rem;

      h3{
        width: 100%;
        text-align: center;
      }

      .topic-image {
        width: 100%;
        text-align: center;

        .mat-icon {
          font-size: 4.6rem;
          width: 50px;
          height: 50px;
        }
      }

      &.active {
        background: white;
        color: map-get($colors, primary);
        border: 3px solid map-get($colors, primary);
      }

      .external-link{
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
}
