<div class="content-container">
  <section class="help-topic-container mt-20" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="20px">
    <a class="help-topic v-centering__horizontal inversion light-gray shadow-s active"
      [routerLink]="['/main/help/faq']">
      <div>
        <div class="topic-image">
          <mat-icon class="mr-5" fontSet="material-icons-outlined shadow-s">help</mat-icon>
        </div>
        <h3>FAQ</h3>
      </div>
    </a>
    <!--
    <a class="help-topic inversion light-gray v-centering__horizontal shadow-s">
      <div>
        <div class="topic-image">
          <mat-icon class="mr-5" fontSet="material-icons-outlined">info</mat-icon>
        </div>
        <h3>Getting started</h3>
      </div>
    </a>
    -->
    <a class="help-topic inversion primary v-centering__horizontal shadow-s"
      href="https://docs.csc.fi/" target="_blank" rel="noopener">
      <mat-icon class="external-link" fontSet="material-icons-outlined">open_in_new</mat-icon>
      <div>
        <div class="topic-image">
          <mat-icon class="mr-5" fontSet="material-icons-outlined">library_books</mat-icon>
        </div>
        <h3>Documentation</h3>
      </div>
    </a>
    <!--
    <a class="help-topic inversion light-gray v-centering__horizontal shadow-s">
      <div>
        <div class="topic-image">
          <mat-icon class="mr-5" fontSet="material-icons-outlined">forum</mat-icon>
        </div>
        <h3>Community</h3>
      </div>
    </a>
    -->
    <a class="help-topic inversion primary v-centering__horizontal shadow-s"
      [routerLink]="['/main/help/contact']">
      <div>
        <div class="topic-image">
          <mat-icon class="mr-5" fontSet="material-icons-outlined">mail</mat-icon>
        </div>
        <h3>Contact us</h3>
      </div>
    </a>
  </section>
</div>
