<div class="page-container__screen"
     fxLayout="column" fxLayoutAlign="space-between stretch">
  <app-header [isNaviVisible]="false"
              [logoMarkSize]="60" [logoTypeSize]="3" [displayMode]="'fluid'"
              class="bg__primary">
  </app-header>
  <div id="session-container" ngClass.lt-sm="mobile"
       fxLayout="column" fxLayoutGap="30px" *ngIf="targetSession">
    <div class="status-wrapper mt-80 p-10"
         fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
      <div class="state mat-display-3">{{ latestProvisioningLogMessage }}</div>
      <div class="spinner-container center__vh">
        <mat-progress-spinner
          [color]="'accent'"
          [mode]="'indeterminate'"
          [diameter]="150"
          [value]="50">
        </mat-progress-spinner>
        <p class="state-percentage mat-display-3">{{ progress }}%</p>
      </div>
      <!--      <mat-progress-bar-->
      <!--        [color]="color"-->
      <!--        [mode]="mode"-->
      <!--        [value]="progress"-->
      <!--        [bufferValue]="progress + 10">-->
      <!--      </mat-progress-bar>-->
      <div class="environment-info info-body mt-20 mb-20">
        <h3 class="mb-30">Application Information</h3>
        <dl class="grid">
          <dt>Name</dt>
          <dd class="environment-title">{{ targetEnvironment.name }}</dd>
          <dt>Description</dt>
          <dd class="description mat-body-1"
              [innerHTML]="description"
              [ngClass]="{'centering__text': description.length < 100 }">
          </dd>
          <dt>Session id</dt>
          <dd>
            {{ targetSession.name }}
          </dd>
          <dt>State</dt>
          <dd>
            {{progress}}% : {{ latestProvisioningLogMessage }}
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <app-footer [content]="content"></app-footer>
</div>
