<div class="page-container__screen bg__primary-dark"
     fxLayout="column" fxLayoutAlign="start stretch">
  <app-header [isNaviVisible]="false"
              [logoMarkSize]="60" [logoTypeSize]="3" [displayMode]="'fluid'"
              class="bg__primary-dark">
  </app-header>
  <div id="session-container" ngClass.lt-sm="mobile" fxLayout="column">
    <div class="status-wrapper p-10"
         fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px"
         *ngIf="targetSession; else noSessionBlock">
      <div class="mat-display-3 state-info">{{ sessionStatesInfo }}</div>
      <div class="progress-ui mb-50" fxLayout="row" fxLayoutGap="4px" fxLayout.lt-md="row wrap">
        <ng-container *ngFor="let step of sessionProgressSteps">
          <div class="step sentence-head">
            <p class="description mat-subheading-2"><span [innerHTML]="step?.message"></span></p>
            <div class="arrow-wrapper {{ 'delay-'+step.index }}"
                 [ngClass]="{
                 'done': step?.isDone,
                 'current': step?.isCurrent,
                 'failed': step?.isFailed,
                 'stopped': step?.isStopped || isSessionDeleted
                 }">
            </div>
          </div>
        </ng-container>
      </div>
      <app-main-application-item class="application-item"
                                 [context]="context"
                                 [application]="targetApplication"
                                 [isSessionDeleted]="isSessionDeleted">
      </app-main-application-item>
    </div>
    <ng-template #noSessionBlock>
      <div class="status-wrapper"
           fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
        <div class="mat-display-3 state-info">{{ sessionStatesInfo }}</div>
      </div>
    </ng-template>
  </div>
</div>
