// ---- session-page.component.scss
@use 'base-styles' as base;
@use 'ui-components' as uis;
@use 'utilities' as utils;

:host {
  @include utils.flex-row-block($type: stretch, $distribution: center);
  height: 100vh;
}

.page-container {
  @include utils.flex-col-block($type: stretch, $y-alignment: space-between, $gap: 50px);
  flex: 1;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  color: white;
  background-color: var(--prim-clr-9);

  ::ng-deep app-header {
    width: 100%;
    flex-basis: var(--header-height);
    height: var(--header-height);
    padding: 0 20px;
  }

  .policy-note {
    flex: 0 0 210px;
    padding: 20px 0 40px;
    text-align: center;
    background-color: var(--prim-clr-5);
    @include uis.crowned-text($icon: warning, $color: var(--neut-clr-9));

    &.mywork {
      background-color: var(--acc-clr-3);
    }
  }

  .session-container {
    @include utils.flex-col-block($y-alignment: center);
    flex: 1 0 400px;

    .status-wrapper {
      @include utils.flex-col-block($type: center, $y-alignment: center, $gap: 20px);

      .state-info {
        @include base.headline-2;
        text-align: center;
      }

      .explanation-message {
        p {
          text-align: center;
        }
      }
    }

    app-main-application-item {
      width: 100%;
    }
  }
}

.status-info-container {
  flex: 1;
  @include base.centering(xy);
}

.loading-status {
  flex: 1 1 auto;

  .status-headline {
    @include uis.crowned-text($icon: hourglass_top, $color: white, $icon-size: 6rem);
  }
}

.progress-ui {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  max-width: 1000px;
  margin: 20px;

  .step {
    position: relative;
    z-index: 3;
    width: 150px;
    height: 80px;
    margin-right: 5px;
    margin-bottom: 2px;
    @include base.styled-font;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--neut-clr-9);
    text-align: center;

    .arrow-wrapper {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      &::before,
      &::after {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 40px;
        content: '';
        background: var(--prim-clr-5);
      }

      &::before {
        top: 0;
        transform: skew(30deg);
      }

      &::after {
        top: 39px;
        transform: skew(-30deg);
      }
    }

    .description {
      z-index: 10;
      display: table;
      width: 100%;
      height: 100%;
      padding: 5px 10px 5px 15px;
      line-height: 135%;

      span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }

    // ---- Effect for the progress bar
    // ---- Default steps

    // ---- Current step
    .arrow-wrapper.current::before,
    .arrow-wrapper.current::after {
      animation: blink 800ms infinite;
    }

    // ---- Done step
    .arrow-wrapper.done::before,
    .arrow-wrapper.done::after {
      animation: color-transit 100ms forwards;
    }

    .arrow-wrapper.current,
    .arrow-wrapper.done {
      &.delay-1::before, &.delay-1::after {
        animation-delay: 100ms;
      }

      &.delay-2::before, &.delay-2::after {
        animation-delay: 150ms;
      }

      &.delay-3::before, &.delay-3::after {
        animation-delay: 200ms;
      }

      &.delay-4::before, &.delay-4::after {
        animation-delay: 250ms;
      }

      &.delay-5::before, &.delay-5::after {
        animation-delay: 300ms;
      }
    }

    // ---- Step failed
    .arrow-wrapper.failed::before,
    .arrow-wrapper.failed::after {
      background: var(--warn-clr-3) !important;
      animation-play-state: paused;
    }

    // ---- Stopped step
    .arrow-wrapper.stopped::before,
    .arrow-wrapper.stopped::after {
      background: var(--gray-clr-3);
      animation-play-state: paused;
    }
  }
}

@keyframes blink {
  0% {
    background: var(--prim-clr-6);
  }
  50% {
    background: var(--sec-clr-2);
  }
  100% {
    background: var(--prim-clr-6);
  }
}

@keyframes color-transit {
  0% {
    background-color: var(--prim-clr-6);
  }
  100% {
    background-color: var(--sec-clr-2);
  }
}
