<ng-container *ngIf="context">
  <div id="content-header" ngClass.lt-sm="mobile">
    <!-- title -->
    <h1 class="mat-headline-5 center__v mr-15" [innerHTML]="context.title"></h1>
    <!-- search form -->
    <form class="search-form" *ngIf="isSearchOn">
      <mat-form-field class="chip-list" appearance="fill">

        <span matPrefix><mat-icon fontSet="material-icons-outlined">search</mat-icon></span>
        <mat-chip-grid #chipList aria-label="keyword and text search">
          <!-- chips -->
          <mat-chip-row class="selected-label"
            *ngFor="let label of labels"
            [selectable]="isLabelSelectable"
            [removable]="isLabelRemovable"
            (removed)="removeLabel(label)">
            {{label}}
            <mat-icon fontSet="material-icons-outlined" matChipRemove *ngIf="isLabelRemovable">cancel</mat-icon>
          </mat-chip-row>
          <!-- input -->
          <input
            matInput
            #labelInput
            (keyup)="queryTextAdded($event)"
            [formControl]="inputCtrl"
            [matAutocompleteDisabled]="isAutocompleteDisabled"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
        </mat-chip-grid>
        <!-- label selection panel -->
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="labelSelected($event)">
          <mat-option *ngFor="let label of candidateLabels" [value]="label">
            <mat-chip-option class="mat-chip-sm"
              (click)="labelClicked($event)">
              {{label}}
            </mat-chip-option>
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>
    </form>
  </div>
</ng-container>
