@import "src/styles/main.scss";

#content-header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  background: $light-color;

  h3 {
    flex-grow: 0;
    font-weight: 600;
  }

  form.search-form {
    margin-top: 15px;
    padding: 0;
    flex-basis: auto;
    flex-grow: 1;

    ::ng-deep.mat-mdc-form-field {
      height: 65px;
      width: 100%;

      .mat-mdc-text-field-wrapper {
        padding-left: 10px;
        background-color: map-get($app-primary, 100);

        .mat-mdc-form-field-infix {
          padding: 0;
          display: flex;
        }
      }

      .mat-mdc-form-field-subscript-wrapper {
        margin-top: -10px;
      }
    }
  }


  .mat-mdc-chip-set {
    mat-chip-row {
      background-color: $secondary-color !important;
      border: 1px solid $secondary-color;

      span {
        font-size: 1.2rem !important;
        padding-left: 0 !important;
        color: $secondary-dark-color !important;
      }

      mat-icon {
        padding: 0 !important;
      }

      .mdc-evolution-chip__text-label {
        color: $secondary-dark-color !important;
      }
    }
  }
}

// ----- MOBILE

@media (max-width: 599px) {
  #content-header {
    h3 {
      display: none;
    }

    ::ng-deep form.search-form {
      margin-top: 5px !important;
    }
  }
}

