@import "src/styles/main.scss";

#content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1 {
    min-height: 45px;
    flex-basis: auto;
  }

  &.mobile {
    h1 {
      min-height: auto;
    }
  }

  .selected-label {
    background-color: map-get($app-accent, dark);
    color: #fff;
    border-radius: 12px;
    padding: 5px 12px 5px 12px !important;
    min-height: 24px;
    font-weight: 600;

    .mat-icon {
      margin-left: 4px;
      margin-right: -6px;
    }
  }

  form.search-form {
    flex-basis: auto;
    flex-grow: 1;

    mat-form-field {
      height: 100%;
      width: 100%;
      //margin-bottom: -1.25em;
      //border-radius: 20px;

      ::ng-deep .mat-form-field-infix {
        border-top: none;
      }
    }

    ::ng-deep .mat-form-field-flex {
      background-color: #ededf8 !important;
      //border-radius: 4px;
    }
  }
}

#content-header.mobile {

  h1 {
    min-height: auto;
    flex-basis: auto;
    font-size: 1.3rem !important;
  }
}
