<div class="content-header-container"
     fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
  <app-main-content-header
    fxFlex="grow"
    [content]="content"
    [isSearchOn]="false"
    [isAutocompleteDisabled]="true"
    [labels]="[]">
  </app-main-content-header>
  <div class="flex-spacer"></div>
  <button mat-stroked-button color="primary" class="reload-button" fxFlex="1 0 60px" (click)="refresh()">
    <mat-icon fontSet="material-icons-outlined">refresh</mat-icon>
  </button>
</div>

<div class="alerts-container p-30">

  <dl class="center__v">
    <dt>Sessions:</dt>
    <dd>Q:{{getSessionSummary()['nQueueing']}}</dd>
    <dd>S:{{getSessionSummary()['nStarting']}}</dd>
    <dd>R:{{getSessionSummary()['nRunning']}}</dd>
    <dd>D:{{getSessionSummary()['nDeleting']}}</dd>
  </dl>

  <dl class="center__v">
    <dt>Overall:</dt>
    <dd [ngClass]="getSystemStatus()==='ok' ? 'status-ok': 'status-warning'">{{ getSystemStatus().toUpperCase() }}</dd>
  </dl>

  <h2>Alerts</h2>
  <ng-container *ngIf="getAlerts(); else loading">
    <ng-container *ngFor="let alert of getAlerts()">
      <ng-container *ngIf="alert.data?.length || alert.status !== 'ok'; else statusOk">
        <div class="status-warning">
          <h3>{{ alert.target }}/{{ alert.source }}</h3>
          <p>Status: {{ alert.status }}</p>
          <div *ngFor="let data of alert.data">
            <p>
              Summary: {{ data.annotations?.summary }}
              <br>
              Description: {{ data.annotations?.description }}
            </p>
          </div>
        </div>
      </ng-container>
      <ng-template #statusOk>
        <div class="status-ok">
          <h3>{{ alert.target }}/{{ alert.source }} - OK</h3>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    loading
  </ng-template>
</div>
