//@import "src/styles/main.scss";

.status-ok {
  background: #ddffc8;
}

.status-warning {
  background: #f8cdc3;
}


 dl {
    dt{
      display:inline-block;
      margin-right: 10px;
    }
   dd {
     padding: 5px;
     display:inline-block;
   }
 }
