
<section class="welcome-content-wrapper">
  <!-- Left -->
  <div class="left-content-wrapper">
    <h2>{{ publicConfigService.getShortDescription() }}</h2>
    <div class="service-description"
         [innerHTML]="publicConfigService.getInstallationDescription()">
    </div>
    <div class="login-wrapper">
      <a mat-raised-button id="oauth-login-button" class="button primary" href="/oauth2?rd=%2Foauth2">
        <h3>Login</h3>
        <h5>Haka / Virtu / CSC account</h5>
      </a>
      <button id="special-login-button" (click)="openSpecialLogin()">
        <mat-icon fontSet="material-icons-outlined">chevron_right</mat-icon>
        <span>Special Login</span>
      </button>
    </div>
    <!--  Service Announcement 'welcome'  -->
    <app-service-announcement [context]="context"></app-service-announcement>
  </div>
  <!-- // Left -->

  <!-- Right -->
  <div id="hero-shots">
    <div class="background-images">
      <app-welcome-background class="app-welcome-background" [cube]="0"></app-welcome-background>
      <app-welcome-background class="app-welcome-background" [cube]="1"></app-welcome-background>
      <app-welcome-background class="app-welcome-background" [cube]="2"></app-welcome-background>
      <app-welcome-background class="app-welcome-background" [cube]="3"></app-welcome-background>
    </div>
    <div class="hero-video">
      <video autoplay
             muted
             onloadeddata="this.play();"
             onloadedmetadata="this.muted = true">
        <source src="assets/images/demo.mp4" alt="demo-video" type="video/mp4">
        <!--        Show images if the browser doesn't support video tag-->
        <!--        <div class="hero-images">-->
        <!--          <div class="image-container" [@openClose]="isImageVisible0 ? 'open' : 'closed'">-->
        <img src="assets/images/screenshot-0.png" alt="Example screenshots of Notebooks"/>
        <!--          </div>-->
        <!--          <div class="image-container" [@openClose]="isImageVisible1 ? 'open' : 'closed'">-->
        <!--            <img src="assets/images/screenshot-1.png" alt="Example screenshots of Notebooks"/>-->
        <!--          </div>-->
        <!--          <div class="image-container" [@openClose]="isImageVisible2 ? 'open' : 'closed'">-->
        <!--            <img src="assets/images/screenshot-2.png" alt="Example screenshots of Notebooks"/>-->
        <!--          </div>-->
        <!--        </div>-->

        <!--        <div class="control-buttons">-->
        <!--          <button mat-mini-fab aria-label="Screenshot of the applications page"-->
        <!--                  (click)="onImageShow(0)" [ngClass]="{'focus':isImageVisible0}">-->
        <!--          </button>-->
        <!--          <button mat-mini-fab aria-label="Screenshot of launching application session"-->
        <!--                  (click)="onImageShow(1)" [ngClass]="{'focus':isImageVisible1}">-->
        <!--          </button>-->
        <!--          <button mat-mini-fab aria-label="Screenshot of the JupyterLab"-->
        <!--                  (click)="onImageShow(2)" [ngClass]="{'focus':isImageVisible2}">-->
        <!--          </button>-->
        <!--        </div>-->
      </video>
    </div>
  </div>
  <!-- // Right -->

</section>
