@import "src/styles/main.scss";

.hero-images {
  position: relative;
  max-width: 600px;
  height: auto;
  overflow: hidden;

  border-radius: 6px;
  border: 3px solid #FFFFFF;

  .image-container {
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 0;

    &:first-child { position: relative; }
    img { width: 100%; }
  }
}

.control-buttons > button {
  width: 10px;
  height: 10px;
  background: white;

  &:hover { background: map-get($app-warn, default); }
  &.focus {
    background: map-get($app-secondary, default);
    &:hover { background: map-get($app-warn, default); }
  }
}

#special-login-button {
  margin-left: -20px;
}
