@import "src/styles/main.scss";

.hero-video {
  position: relative;
  z-index: 1000;
  max-width: 650px;
  height: 572px;

  video {
    width: 100%;
    border: 1px solid map-get($app-primary, 600);
    box-shadow: 5px 6px 5px rgba( 20, 20, 75, .8);
    border-radius: 12px;
  }
}

#special-login-button {
  margin-left: -20px;
}

.hero-images {
  position: relative;
  z-index: 1000;
  max-width: 650px;
  height: auto;
  overflow: hidden;

  border-radius: 6px;
  //border: 3px solid #FFFFFF;

  .image-container {
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 0;

    &:first-child { position: relative; }
    img { width: 100%; }
  }
}

.control-buttons > button {
  width: 10px;
  height: 10px;
  background: white;

  &:hover { background: map-get($app-warn, default); }
  &.focus {
    background: map-get($app-secondary, default);
    &:hover { background: map-get($app-warn, default); }
  }
}
