@import "src/styles/main.scss";

.container {
  position: relative;
}

.service-announcement {
  padding: 15px 30px;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.content-wrapper {
  grid-template-columns: auto 650px;

  .login-wrapper {
    display: grid;
    grid-template-rows: max-content max-content max-content max-content;

    #oauth-login-button {
      width: 100%;
    }

    #hero-shots {
      box-sizing: border-box;
    }
  }



  app-service-announcement {
    ::ng-deep.service-announcement-item {
      margin-top: 10px !important;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.app-welcome-background {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
}


.hero-video {
  position: relative;
  max-width: 650px;
  margin-bottom: 200px;

  video {
    width: 100%;
    border: 1px solid map-get($app-primary, 600);
    box-shadow: 5px 6px 5px rgba(20, 20, 75, .8);
    border-radius: 12px;
  }
}

#special-login-button {
  margin-bottom: 20px !important;
  justify-self: center;
  align-self: center;
}

.hero-images {
  position: relative;
  z-index: 1000;
  max-width: 650px;
  min-height: 400px;
  height: auto;
  overflow: hidden;

  border-radius: 6px;
  //border: 3px solid #FFFFFF;

  .image-container {
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 0;

    &:first-child {
      position: relative;
    }

    img {
      width: 100%;
    }
  }
}

.control-buttons {

  display: flex;
	flex-direction: row;
  justify-content: center;

  button {
    width: 10px;
    height: 10px;
    background: white;

    &:hover {
      background: map-get($app-warn, default);
    }

    &.focus {
      background: map-get($app-secondary, default);

      &:hover {
        background: map-get($app-warn, default);
      }
    }
  }
}

.tablet.container {
  .content-wrapper {
    grid-template-columns: auto !important;
    grid-template-rows: auto auto !important;

    .login-wrapper {
      margin-right: 0 !important;
    }

    .hero-video {
      margin: auto !important;
      z-index: 2000;
    }
  }
}
