<section class="container mb-100"
         fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="50px"
         fxLayout.lt-sm="column-reverse" fxLayoutGap.lt-sm="20px">
  <!-- Left -->
  <div class="login-wrapper" fxLayout="column" fxLayoutGap="30px">
    <h2 class="mat-display-2 mb-30">
      Easy-to-use environments for working with data and programming.
    </h2>
    <div class="mat-display-3 mb-30">
      Log in to browse the catalogue of available environments and launch them to get access.
      Dedicated
      and disposable environments run in the cloud and can be accessed with any of your connected
      devices.
    </div>
    <div class="mat-body-1 mb-30">
      If you want to host your own course using Notebooks.csc.fi,
      please fill out the
      <a class="u-line" href="https://www.webropolsurveys.com/S/84118B6BD6E97501.par" target="_blank" rel="noopener">
        Course request form
      </a>
    </div>
    <div class="login-buttons" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
      <a mat-raised-button id="oauth-login-button" class="lg" color="accent" href="/oauth2?rd=%2Foauth2">
        Login
      </a>
      <button id="special-login-button" class="center__vh" (click)="isLoginFormOpen=!isLoginFormOpen">
        <span>Special Login</span>
        <ng-container *ngIf="!isLoginFormOpen; else elseBlock">
          <mat-icon fontSet="material-icons-outlined">chevron_right</mat-icon>
        </ng-container>
        <ng-template #elseBlock>
          <mat-icon fontSet="material-icons-outlined">expand_more</mat-icon>
        </ng-template>
      </button>
      <mat-accordion class="login-form-outer" multi>
        <mat-expansion-panel [(expanded)]="isLoginFormOpen">
          <form (ngSubmit)="onLogin()" [formGroup]="loginFormGroup" fxLayout="column" fxLayoutAlign="start stretch">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput id="ext_id" placeholder="Email" formControlName="ext_id">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput id="password" placeholder="Password" formControlName="password" [type]="'password'">
            </mat-form-field>
            <button id="special-login-submit-button" mat-flat-button color="primary">
              Submit
            </button>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!-- // Special Login form -->
  </div>
  <!-- // Left -->

  <!-- Right -->
  <div id="hero-shots" class="mb-20" fxFlex="0 0 550px" fxFlex.lt-sm="auto" fxLayout="column" fxLayoutGap="20px">
    <div class="hero-images">
      <div class="image-container v-centering__horizontal" [@openClose]="isImageVisible0 ? 'open' : 'closed'">
        <img src="assets/images/screenshot-0.png" alt="Example screenshots of Notebooks"/>
      </div>
      <div class="image-container v-centering__horizontal" [@openClose]="isImageVisible1 ? 'open' : 'closed'">
        <img src="assets/images/screenshot-1.png" alt="Example screenshots of Notebooks"/>
      </div>
      <div class="image-container v-centering__horizontal" [@openClose]="isImageVisible2 ? 'open' : 'closed'">
        <img src="assets/images/screenshot-2.png" alt="Example screenshots of Notebooks"/>
      </div>
    </div>
    <div class="control-buttons" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button mat-mini-fab aria-label="Screenshot of the environments page"
              (click)="onImageShow(0)" [ngClass]="{'focus':isImageVisible0}">
      </button>
      <button mat-mini-fab aria-label="Screenshot of the launching environment"
              (click)="onImageShow(1)" [ngClass]="{'focus':isImageVisible1}">
      </button>
      <button mat-mini-fab aria-label="Screenshot of the JupyterLab"
              (click)="onImageShow(2)" [ngClass]="{'focus':isImageVisible2}">
      </button>
    </div>
  </div>
  <!-- // Right -->
</section>
