@use 'main' as main;

.dialog-container {
  height: 100%;

  .corner-button-container {
    height: 20px;
  }

  mat-dialog-content {
    div {
      margin-bottom: 20px;
    }
  }

  .mat-mdc-select {
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.04);
    border-bottom: 1px solid map-get(main.$app-gray, light);
    border-radius: 4px 4px 0 0;
  }

  .dialog-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0 !important;

    .select-workspace-btn {
      @include main.primary-main-background;
      flex: 3 0 auto;
    }

    .cancel-button {
      flex: 1 1 auto;
    }
  }
}
