<div id="select-workspace-dialog" class="dialog-container">
  <div class="corner-button-container">
    <button mat-icon-button class="corner-button" (click)="closeForm()" tabindex="-1">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h3 class="mat-dialog-title">{{ heading }}</h3>
  <mat-dialog-content>
    <div>{{ textContent }}</div>
    <section class="workspace-input-form">
      <form [formGroup]="selectWorkspaceForm">
        <mat-select formControlName="selectedWorkspaceId" class="select-workspace" autofocus>
          <mat-option *ngFor="let opt of availableWorkspaceOptions" [value]="opt.value">
            {{opt.viewValue}}
          </mat-option>
        </mat-select>

        <!-- Submit -->
        <div class="dialog-actions">

          <button mat-flat-button
                  class="select-workspace-btn"
                  (click)="selectWorkspace()"
                  [disabled]="!isFormReady()">
            Select
          </button>
          <button mat-stroked-button class="cancel-button" (click)="closeForm()">
            Cancel
          </button>
        </div>
      </form>
    </section>
  </mat-dialog-content>
</div>
