<div id="select-workspace-dialog" class="mat-typography dialog-container pb-20" ngClass.lt-sm="mobile">
  <div class="corner-button-container">
    <button mat-icon-button class="corner-button" (click)="closeForm()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h1 class="mat-dialog-title mat-headline-5">{{ heading }}</h1>
  <mat-dialog-content>
    <div class="mb-20">{{ textContent }}</div>
    <section class="workspace-input-form">
      <form [formGroup]="selectWorkspaceForm">
        <mat-select formControlName="selectedWorkspaceId" class="select-workspace">
          <mat-option *ngFor="let opt of availableWorkspaceOptions" [value]="opt.value">
            {{opt.viewValue}}
          </mat-option>
        </mat-select>

        <!-- Submit -->
        <div class="dialog-actions">

          <button mat-flat-button color="primary"
                  class="select-workspace-btn"
                  (click)="selectWorkspace()"
                  [disabled]="!isFormReady()">
            Select
          </button>
          <button mat-button class="button-link button-sm" (click)="closeForm()">
            Cancel
          </button>
        </div>
      </form>
    </section>
  </mat-dialog-content>
</div>
