@import "src/styles/main.scss";

.join-workspace-button {
  margin-top: 4px;
  height: 45px;
  background: map-get($colors, light-active);
  color: map-get($colors, primary);
}

.action-buttons,
.workspace-list {
  max-width: 1200px !important;
  margin: 0 auto;
}

.action-buttons{
  text-align: right;

  button {
    font-weight: 500 !important;
    font-size: 1.2rem;
    color: map-get($colors, light-gray);
    padding: 0 10px 0 5px;
  }

  mat-icon{
    color: map-get($colors, light-gray);
  }
}

mat-dialog-container {

  padding: 30px !important;

  .mat-dialog-title {
    font-size: 2rem;
    font-weight: 600 !important;
    color: #1a237e;
  }

  form {
    width: 100%;

    .join-workspace-btn {
      margin-top: 3px;
      height: 70px;
    }
  }

  .mat-list-item {
    font-size: 1.4rem !important;
    height: 30px !important;
  }
}
