<div class="page-container">
  <div class="content-header-wrapper">
    <div class="content-header-container">
      <app-main-content-header (emitApplyFilter)="applyFilter($event)"
                               [context]="context"
                               [isAutocompleteDisabled]="true"
                               [isSearchOn]="true"
                               [labels]="[]">
      </app-main-content-header>
      <div class="header-functions">
        <button (click)="openJoinWorkspaceDialog()"
                aria-label="Join Workspace"
                class="join-workspace-button"
                mat-flat-button>
          Join workspace
        </button>
        @if (filteredWorkspaces?.length > 0) {
          <button (click)="toggleWorkspaceList()"
                  [ngClass]="{'open':isListOpen}"
                  class="accordion-toggle-button t-omit"
                  mat-stroked-button>
            @if (isListOpen) {
              <span>Close lists</span>
            } @else {
              <span>Open lists</span>
            }
          </button>
        }
      </div>
    </div>
  </div>
  <app-service-announcement [context]="context"></app-service-announcement>
  @if (filteredWorkspaces !== null) {
    <div class="content-container">
      @if (workspaceCount > 0) {
        <section class="workspace-list">
          @if (filteredWorkspaces.length > 0) {
            @for (workspace of filteredWorkspaces; track workspaceTrackBy($index, workspace)) {
              <app-main-workspace-item
                  [context]="context"
                  [id]="workspace.id"
                  [isNew]="workspace.id === newWorkspaceId"
                  [panelOpenState]="isListOpen"
                  [workspace]="workspace">
              </app-main-workspace-item>
            }
          } @else {
            <div class="status-info-container">
              <div class="search-status">
                <div class="status-headline">No matches found</div>
              </div>
            </div>
          }
        </section>
      } @else {
        <div class="status-info-container">
          <div class="empty-status">
            <div class="status-headline">No workspace</div>
            <div class="status-summary">You are currently not a member of any workspace.</div>
            <div class="hint">
            <span>
              To become a workspace member, <br>
              enter <em class="keyword lock border">Join code</em> of your courses or collaborations.
              <a [href]="publicConfigService.getServiceDocumentationUrl()" class="documentation-link"
                 rel="noopener" target="_blank">
                Open Documentation &nbsp;
              </a>
            </span>
            </div>
          </div>
        </div>
      }
    </div>
  }
  @if (filteredWorkspaces === null) {
    <div class="status-info-container">
      <div class="loading-status">
        <span class="status-headline">...Loading...</span>
      </div>
    </div>
  }
</div>
