@import "src/styles/main.scss";

.content-header-container {
  display: grid;
  grid-template-columns: auto 320px;
  grid-column-gap: 15px;

  .action-buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
  }
}
