<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <g id="cube" class="cube-unit">
      <rect class="rect__left"
            fill="var(--lightColor)" stroke="var(--strokeColor)"
            transform="skewY(15) translate(0 0.3)"/>
      <rect class="rect__right"
            fill="var(--darkColor)" stroke="var(--strokeColor)"
            transform="skewY(-15) translate(21.3 11.7)"/>
      <rect class="rect__upper"
            fill="var(--mainColor)" stroke="var(--strokeColor)"
            transform="scale(1.41,0.38) rotate(45) translate(0.2 -21)"/>
    </g>
  </defs>
</svg>
<div id="left-cube-0" *ngIf="cube===0">
  <svg class="cube-green"
       viewBox="0 0 250 250"
       xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <!-- 1st body-layer / foot -->
    <use xlink:href="#cube" x="56" y="194"/>
    <use xlink:href="#cube" x="184" y="194"/>
    <use xlink:href="#cube" x="121" y="212"/>
    <!-- 2nd body-layer / right body -->
    <use xlink:href="#cube" x="163" y="164"/>
    <use xlink:href="#cube" x="184" y="170"/>
    <!-- 2nd body-layer / center body -->
    <use xlink:href="#cube" x="78" y="164"/>
    <use xlink:href="#cube" x="56" y="170"/>
    <use xlink:href="#cube" x="142" y="182"/>
    <use xlink:href="#cube" x="121" y="176"/>
    <use xlink:href="#cube" x="163" y="176"/>
    <use xlink:href="#cube" x="142" y="182"/>
    <use xlink:href="#cube" x="100" y="170"/>
    <!-- 2nd body-layer / left body -->
    <use xlink:href="#cube" x="56" y="170"/>
    <use xlink:href="#cube" x="78" y="176"/>
    <use xlink:href="#cube" x="100" y="182"/>
    <use xlink:href="#cube" x="121" y="188"/>

    <!-- neck -->
    <use xlink:href="#cube" x="100" y="146"/>
    <use xlink:href="#cube" x="142" y="146"/>
    <use xlink:href="#cube" x="121" y="152"/>

    <!-- 1st head-layer / face -->
    <use xlink:href="#cube" x="78" y="124"/>
    <use xlink:href="#cube" x="100" y="130"/>
    <use xlink:href="#cube" x="121" y="136"/>
    <!-- 2nd head-layer / face -->
    <use xlink:href="#cube" x="184" y="92"/>
    <use xlink:href="#cube" x="142" y="106"/>
    <use xlink:href="#cube" x="78" y="100"/>
    <use xlink:href="#cube" x="100" y="106"/>
    <use xlink:href="#cube" x="121" y="112"/>
    <!-- 3rd head-layer / face -->
    <use xlink:href="#cube" x="163" y="64"/>
    <use xlink:href="#cube" x="184" y="70"/>
    <use xlink:href="#cube" x="121" y="64"/>
    <use xlink:href="#cube" x="78" y="76"/>
    <use xlink:href="#cube" x="100" y="70"/>
    <use xlink:href="#cube" x="142" y="70"/>
    <use xlink:href="#cube" x="121" y="76"/>
    <use xlink:href="#cube" x="163" y="76"/>
    <use xlink:href="#cube" x="142" y="82"/>
    <use xlink:href="#cube" x="100" y="82"/>
    <use xlink:href="#cube" x="121" y="88"/>
    <!-- 1st head-layer / nose -->
    <use xlink:href="#cube" x="184" y="130"/>
    <use xlink:href="#cube" x="163" y="136"/>
    <!-- 2rd head-layer / nose -->
    <use xlink:href="#cube" x="184" y="106"/>
    <use xlink:href="#cube" x="163" y="112"/>
    <!-- 1.5th head-layer / nose top -->
    <use xlink:href="#cube" x="192" y="122"/>
    <!-- 4th head-layer / ear -->
    <use xlink:href="#cube" x="142" y="34"/>
    <use xlink:href="#cube" x="78" y="52"/>

  </svg>
</div>
<div id="right-cube-1" *ngIf="cube===1">
  <svg class="cube-blue"
       viewBox="0 0 300 300"
       xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!--  1st  -->
    <use xlink:href="#cube" x="121" y="112"/>
    <use xlink:href="#cube" x="100" y="118"/>
    <use xlink:href="#cube" x="142" y="118"/>
    <use xlink:href="#cube" x="121" y="121"/>
    <use class="move-left" xlink:href="#cube" x="79" y="124"/>
    <use class="move-right" xlink:href="#cube" x="163" y="124"/>
    <use xlink:href="#cube" x="142" y="130"/>
    <use class="move-down" xlink:href="#cube" x="100" y="130"/>
    <use class="move-down" xlink:href="#cube" x="121" y="146"/>
    <!-- 2nd -->
    <use xlink:href="#cube" x="121" y="88"/>
    <use xlink:href="#cube" x="100" y="94"/>
    <use xlink:href="#cube" x="142" y="94"/>
    <use xlink:href="#cube" x="121" y="100"/>
    <use class="move-left" xlink:href="#cube" x="74" y="100"/>
    <use xlink:href="#cube" x="163" y="100"/>
    <use xlink:href="#cube" x="142" y="106"/>
    <use xlink:href="#cube" x="100" y="106"/>
    <use xlink:href="#cube" x="121" y="112"/>
    <!--  3ed  -->
    <use xlink:href="#cube" x="121" y="64"/>
    <use class="move-up" xlink:href="#cube" x="100" y="60"/> <!--  move up  -->
    <use xlink:href="#cube" x="142" y="70"/>
    <use xlink:href="#cube" x="121" y="76"/>
    <use xlink:href="#cube" x="79" y="76"/>
    <use class="move-right" xlink:href="#cube" x="168" y="76"/> <!--  move right  -->
    <use xlink:href="#cube" x="142" y="82"/>
    <use xlink:href="#cube" x="100" y="82"/>
    <use xlink:href="#cube" x="121" y="88"/>
  </svg>
</div>
<div id="mini-cube-2" *ngIf="cube===2">
  <svg class="cube-light-blue"
       viewBox="0 0 250 250"
       xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <use xlink:href="#cube" x="121" y="112"/>
    <use xlink:href="#cube" x="100" y="118"/>
    <use xlink:href="#cube" x="142" y="158"/> <!-- down -->
    <use xlink:href="#cube" x="121" y="171"/> <!-- down -->
    <use xlink:href="#cube" x="79" y="124"/>
    <use xlink:href="#cube" x="163" y="124"/>
    <use xlink:href="#cube" x="142" y="130"/>
    <use xlink:href="#cube" x="100" y="130"/>
    <use xlink:href="#cube" x="121" y="136"/>

    <use xlink:href="#cube" x="121" y="88"/>
    <use xlink:href="#cube" x="100" y="94"/>
    <use xlink:href="#cube" x="142" y="94"/>
    <use xlink:href="#cube" x="71" y="90"/> <!-- left + up -->
    <use xlink:href="#cube" x="79" y="100"/>
    <use xlink:href="#cube" x="163" y="100"/>
    <use xlink:href="#cube" x="202" y="116"/> <!-- right + down -->
    <!--    <use xlink:href="#cube" x="100" y="106"/>-->
    <use xlink:href="#cube" x="121" y="112"/>

    <use xlink:href="#cube" x="121" y="64"/>
    <use xlink:href="#cube" x="100" y="40"/>
    <use xlink:href="#cube" x="142" y="70"/>
    <use xlink:href="#cube" x="121" y="26"/>
    <use xlink:href="#cube" x="79" y="76"/>
    <use xlink:href="#cube" x="163" y="76"/>
    <use xlink:href="#cube" x="142" y="82"/>
    <use xlink:href="#cube" x="100" y="82"/>
    <use xlink:href="#cube" x="121" y="88"/>
  </svg>
</div>
<div id="mini-cube-3" *ngIf="cube===3">
  <svg class="cube-light-blue"
       viewBox="0 0 250 250"
       xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <use xlink:href="#cube" x="121" y="112"/>
    <use xlink:href="#cube" x="100" y="118"/>
    <use xlink:href="#cube" x="142" y="118"/>
    <!--    <use xlink:href="#cube" x="121" y="121"/>-->
    <use xlink:href="#cube" x="79" y="154"/><!--  down  -->
    <use xlink:href="#cube" x="163" y="144"/><!--  down  -->
    <use xlink:href="#cube" x="142" y="130"/><!--  down  -->
    <!--    <use xlink:href="#cube" x="100" y="240"/> -->
    <use xlink:href="#cube" x="121" y="136"/><!--  down  -->

    <use xlink:href="#cube" x="121" y="88"/>
    <use xlink:href="#cube" x="100" y="94"/>
    <use xlink:href="#cube" x="142" y="94"/>
    <use xlink:href="#cube" x="121" y="100"/>
    <use xlink:href="#cube" x="79" y="100"/>
    <use xlink:href="#cube" x="163" y="100"/>
    <use xlink:href="#cube" x="142" y="106"/>
    <use xlink:href="#cube" x="100" y="106"/>
    <use xlink:href="#cube" x="121" y="112"/>

    <use xlink:href="#cube" x="121" y="64"/>
    <use xlink:href="#cube" x="100" y="70"/>
    <use xlink:href="#cube" x="142" y="70"/>
    <use xlink:href="#cube" x="121" y="76"/>
    <use xlink:href="#cube" x="79" y="36"/> <!--  up  -->
    <use xlink:href="#cube" x="198" y="76"/> <!--  right  -->
    <use xlink:href="#cube" x="142" y="82"/>
    <use xlink:href="#cube" x="100" y="82"/>
    <use xlink:href="#cube" x="121" y="88"/>
  </svg>
</div>
