
.rect {
  &__left,
  &__right {
    width: 21px;
    height: 24px;
  }

  &__upper {
    width: 21px;
    height: 21px;
  }
}

#left-cube-0,
#right-cube-1,
#mini-cube-2,
#mini-cube-3 {
  position: absolute;
  z-index: 2000;
}

#left-cube-0 {
  width: 250px;
  left: 0;
  top: 470px;
  opacity: 0.7;
  z-index: 3000;

  svg {
    width: 210px;
    height: 200px;
  }
}

#right-cube-1 {
  width: 350px;
  height: 350px;
  right: -50px;
  top: 620px;
  opacity: 0.8;
}

#mini-cube-2 {
  width: 100px;
  left: -70px;
  top: 350px;
  opacity: 0.5;

  svg {
    width: 100px;
    height: 100px;
  }
}

#mini-cube-3 {
  width: 100px;
  right: -120px;
  top: -70px;
  opacity: 0.5;

  svg {
    width: 100px;
    height: 100px;
  }
}

.cube-unit {
  rect {
    fill-opacity: .7;
  }

  stroke-miterlimit: 0;
}

.cube-blue {
  --mainColor: rgba(131, 216, 255, 0.4);
  --strokeColor: rgba(131, 216, 255, 0.4);
  --lightColor: #008bc7;
  --darkColor: #18227C;
}

.cube-light-blue {
  --mainColor: #009CDE;
  --lightColor: #3fc4ff;
  --darkColor: #005a81;
}

.cube-green {
  --mainColor: #00EAC3;
  --strokeColor: #00EAC3;
  --lightColor: #00EAC3;
  --darkColor: #006778;
}
@keyframes static {
  100% {
    translate: 0px 0px;
  }
}

@keyframes wiggle {
  0% {
    rotate: 0deg;
    translate: 0px 0px;
  }
  12% {
    translate: 8px -2px;
  }
  25% {
    translate: 10px 0px;
  }
  38% {
    translate: 8px -2px;
  }
  50% {
    translate: 0px 0px;
  }
  62% {
    translate: -8px 2px;
  }
  75% {
    translate: -10px 5px;
  }
  87% {
    translate: -8px 2px;
  }
  100% {
    translate: 0px 0px;
  }
}

.wiggle {
  animation-name: static;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

@keyframes moveX {
  to {
    transform: translateX(var(--translate, 35px));
  }
}

@keyframes moveY {
  to {
    transform: translateY(var(--translate, -35px));
  }
}

.move-left, .move-right {
  animation: 1s moveX alternate infinite paused;
}

.move-up, .move-down {
  animation: 1s moveY alternate infinite paused;
}

.move-left {
  --translate: -10px;
}

.move-right {
  --translate: 10px;
}

.move-up {
  --translate: -20px;
}

.move-down {
  --translate: 20px;
}

#right-cube-1:hover * {
  animation-play-state: running;
}

#left-cube-0:hover * {
  animation-play-state: running;
  animation-name: wiggle;
}

