<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <g class="cube-unit" id="cube">
      <rect class="rect__left"
            fill="var(--lightColor)" stroke="var(--strokeColor)"
            transform="skewY(15) translate(0 0.3)"/>
      <rect class="rect__right"
            fill="var(--darkColor)" stroke="var(--strokeColor)"
            transform="skewY(-15) translate(21.3 11.7)"/>
      <rect class="rect__upper"
            fill="var(--mainColor)" stroke="var(--strokeColor)"
            transform="scale(1.41,0.38) rotate(45) translate(0.2 -21)"/>
    </g>
  </defs>
</svg>
@if (cube === 0) {
  <div id="left-cube-0">
    <svg class="cube-green"
         viewBox="0 0 250 250"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

      <!-- tail -->
      <use class="wiggle" x="70" xlink:href="#cube" y="142"/>

      <!-- 1st body-layer / foot -->
      <use x="56" xlink:href="#cube" y="194"/>
      <use x="184" xlink:href="#cube" y="194"/>
      <use x="121" xlink:href="#cube" y="212"/>
      <!-- 2nd body-layer / right body -->
      <use x="163" xlink:href="#cube" y="164"/>
      <use x="184" xlink:href="#cube" y="170"/>
      <!-- 2nd body-layer / center body -->
      <use x="78" xlink:href="#cube" y="164"/>
      <use x="56" xlink:href="#cube" y="170"/>
      <use x="142" xlink:href="#cube" y="182"/>
      <use x="121" xlink:href="#cube" y="176"/>
      <use x="163" xlink:href="#cube" y="176"/>
      <use x="142" xlink:href="#cube" y="182"/>
      <use x="100" xlink:href="#cube" y="170"/>
      <!-- 2nd body-layer / left body -->
      <use x="56" xlink:href="#cube" y="170"/>
      <use x="78" xlink:href="#cube" y="176"/>
      <use x="100" xlink:href="#cube" y="182"/>
      <use x="121" xlink:href="#cube" y="188"/>

      <!-- neck -->
      <use x="100" xlink:href="#cube" y="146"/>
      <use x="142" xlink:href="#cube" y="146"/>
      <use x="121" xlink:href="#cube" y="152"/>

      <!-- 1st head-layer / face -->
      <use x="78" xlink:href="#cube" y="124"/>
      <use x="100" xlink:href="#cube" y="130"/>
      <use x="121" xlink:href="#cube" y="136"/>
      <!-- 2nd head-layer / face -->
      <use x="184" xlink:href="#cube" y="92"/>
      <use x="142" xlink:href="#cube" y="106"/>
      <use x="78" xlink:href="#cube" y="100"/>
      <use x="100" xlink:href="#cube" y="106"/>
      <use x="121" xlink:href="#cube" y="112"/>
      <!-- 3rd head-layer / face -->
      <use x="163" xlink:href="#cube" y="64"/>
      <use x="184" xlink:href="#cube" y="70"/>
      <use x="121" xlink:href="#cube" y="64"/>
      <use x="78" xlink:href="#cube" y="76"/>
      <use x="100" xlink:href="#cube" y="70"/>
      <use x="142" xlink:href="#cube" y="70"/>
      <use x="121" xlink:href="#cube" y="76"/>
      <use x="163" xlink:href="#cube" y="76"/>
      <use x="142" xlink:href="#cube" y="82"/>
      <use x="100" xlink:href="#cube" y="82"/>
      <use x="121" xlink:href="#cube" y="88"/>
      <!-- 1st head-layer / nose -->
      <use x="184" xlink:href="#cube" y="130"/>
      <use x="163" xlink:href="#cube" y="136"/>
      <!-- 2rd head-layer / nose -->
      <use x="184" xlink:href="#cube" y="106"/>
      <use x="163" xlink:href="#cube" y="112"/>
      <!-- 1.5th head-layer / nose top -->
      <use x="192" xlink:href="#cube" y="122"/>
      <!-- 4th head-layer / ear -->
      <use x="142" xlink:href="#cube" y="34"/>
      <use x="78" xlink:href="#cube" y="52"/>

    </svg>
  </div>
}
@if (cube === 1) {
  <div id="right-cube-1">
    <svg class="cube-blue"
         viewBox="0 0 300 300"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!--  1st  -->
      <use x="121" xlink:href="#cube" y="112"/>
      <use x="100" xlink:href="#cube" y="118"/>
      <use x="142" xlink:href="#cube" y="118"/>
      <use x="121" xlink:href="#cube" y="121"/>
      <use class="move-left" x="79" xlink:href="#cube" y="124"/>
      <use class="move-right" x="163" xlink:href="#cube" y="124"/>
      <use x="142" xlink:href="#cube" y="130"/>
      <use class="move-down" x="100" xlink:href="#cube" y="130"/>
      <use class="move-down" x="121" xlink:href="#cube" y="146"/>
      <!-- 2nd -->
      <use x="121" xlink:href="#cube" y="88"/>
      <use x="100" xlink:href="#cube" y="94"/>
      <use x="142" xlink:href="#cube" y="94"/>
      <use x="121" xlink:href="#cube" y="100"/>
      <use class="move-left" x="74" xlink:href="#cube" y="100"/>
      <use x="163" xlink:href="#cube" y="100"/>
      <use x="142" xlink:href="#cube" y="106"/>
      <use x="100" xlink:href="#cube" y="106"/>
      <use x="121" xlink:href="#cube" y="112"/>
      <!--  3ed  -->
      <use x="121" xlink:href="#cube" y="64"/>
      <use class="move-up" x="100" xlink:href="#cube" y="60"/> <!--  move up  -->
      <use x="142" xlink:href="#cube" y="70"/>
      <use x="121" xlink:href="#cube" y="76"/>
      <use x="79" xlink:href="#cube" y="76"/>
      <use class="move-right" x="168" xlink:href="#cube" y="76"/> <!--  move right  -->
      <use x="142" xlink:href="#cube" y="82"/>
      <use x="100" xlink:href="#cube" y="82"/>
      <use x="121" xlink:href="#cube" y="88"/>
    </svg>
  </div>
}
@if (cube === 2) {
  <div id="mini-cube-2">
    <svg class="cube-light-blue"
         viewBox="0 0 250 250"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <use x="121" xlink:href="#cube" y="112"/>
      <use x="100" xlink:href="#cube" y="118"/>
      <use x="142" xlink:href="#cube" y="158"/> <!-- down -->
      <use x="121" xlink:href="#cube" y="171"/> <!-- down -->
      <use x="79" xlink:href="#cube" y="124"/>
      <use x="163" xlink:href="#cube" y="124"/>
      <use x="142" xlink:href="#cube" y="130"/>
      <use x="100" xlink:href="#cube" y="130"/>
      <use x="121" xlink:href="#cube" y="136"/>

      <use x="121" xlink:href="#cube" y="88"/>
      <use x="100" xlink:href="#cube" y="94"/>
      <use x="142" xlink:href="#cube" y="94"/>
      <use x="71" xlink:href="#cube" y="90"/> <!-- left + up -->
      <use x="79" xlink:href="#cube" y="100"/>
      <use x="163" xlink:href="#cube" y="100"/>
      <use x="202" xlink:href="#cube" y="116"/> <!-- right + down -->
      <!--    <use xlink:href="#cube" x="100" y="106"/>-->
      <use x="121" xlink:href="#cube" y="112"/>

      <use x="121" xlink:href="#cube" y="64"/>
      <use x="100" xlink:href="#cube" y="40"/>
      <use x="142" xlink:href="#cube" y="70"/>
      <use x="121" xlink:href="#cube" y="26"/>
      <use x="79" xlink:href="#cube" y="76"/>
      <use x="163" xlink:href="#cube" y="76"/>
      <use x="142" xlink:href="#cube" y="82"/>
      <use x="100" xlink:href="#cube" y="82"/>
      <use x="121" xlink:href="#cube" y="88"/>
    </svg>
  </div>
}
@if (cube === 3) {
  <div id="mini-cube-3">
    <svg class="cube-light-blue"
         viewBox="0 0 250 250"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <use x="121" xlink:href="#cube" y="112"/>
      <use x="100" xlink:href="#cube" y="118"/>
      <use x="142" xlink:href="#cube" y="118"/>
      <!--    <use xlink:href="#cube" x="121" y="121"/>-->
      <use x="79" xlink:href="#cube" y="154"/><!--  down  -->
      <use x="163" xlink:href="#cube" y="144"/><!--  down  -->
      <use x="142" xlink:href="#cube" y="130"/><!--  down  -->
      <!--    <use xlink:href="#cube" x="100" y="240"/> -->
      <use x="121" xlink:href="#cube" y="136"/><!--  down  -->

      <use x="121" xlink:href="#cube" y="88"/>
      <use x="100" xlink:href="#cube" y="94"/>
      <use x="142" xlink:href="#cube" y="94"/>
      <use x="121" xlink:href="#cube" y="100"/>
      <use x="79" xlink:href="#cube" y="100"/>
      <use x="163" xlink:href="#cube" y="100"/>
      <use x="142" xlink:href="#cube" y="106"/>
      <use x="100" xlink:href="#cube" y="106"/>
      <use x="121" xlink:href="#cube" y="112"/>

      <use x="121" xlink:href="#cube" y="64"/>
      <use x="100" xlink:href="#cube" y="70"/>
      <use x="142" xlink:href="#cube" y="70"/>
      <use x="121" xlink:href="#cube" y="76"/>
      <use x="79" xlink:href="#cube" y="36"/> <!--  up  -->
      <use x="198" xlink:href="#cube" y="76"/> <!--  right  -->
      <use x="142" xlink:href="#cube" y="82"/>
      <use x="100" xlink:href="#cube" y="82"/>
      <use x="121" xlink:href="#cube" y="88"/>
    </svg>
  </div>
}
