@import "src/styles.scss";

.announcement-container {

  .announcement {
    // padding-top: 30px;
    // text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;

    .subject {
      border-bottom: 1px solid #ccc;
      padding: 5px;
      font-weight: bold;
    }

    .date {
      float: right;
    }

    .message {
      padding: 20px 10px;
    }
  }

  .announcement-unread {
    // padding-top: 30px;
    // text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;

    .subject {
      border-bottom: 1px solid #ccc;
      padding: 5px;
      font-weight: bold;
      // margin-bottom: 20px;
    }

    .date {
      float: right;
      background: pink;
    }

    .message {
      padding: 20px 10px;
    }
  }
}
