<div class="content-header-container"
     fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px"
     fxLayout.lt-sm="column">
  <app-main-content-header
    [content]="content"
    [isSearchOn]="false"
    [isAutocompleteDisabled]="true"
    [labels]="null">
  </app-main-content-header>
  <div class="flex-spacer"></div>
  <button mat-flat-button class="bg__warn-light"
          (click)="markAnnouncementsAsRead()"
          [disabled]="isAllRead">
    <mat-icon fontSet="material-icons-outlined">check</mat-icon>
    Mark as read
  </button>
</div>
<div id="announcement-page" class="content-container">
  <ng-container *ngIf="getAnnouncements().length > 0; else elseBlock">
    <section class="content-cutout" fxLayout="column" fxLayoutGap="10px">
      <ng-container *ngFor="let announcement of getAnnouncements()">
        <div class="announcement info-body" [ngClass]="{'unread':!announcement.is_read}">
          <div class="title mat-title">{{ announcement.subject }}</div>
          <span class="date mat-caption">{{ formatDate(announcement.broadcasted) }}</span>
          <p class="message">
            <span [innerHtml]="announcement.message"></span>
          </p>
        </div>
      </ng-container>
    </section>
  </ng-container>

  <ng-template #elseBlock>
    <section class="message-container">
      <div class="empty">
        <mat-icon fontSet="material-icons-outlined">mail</mat-icon>
        <span class="message">No announcements yet.</span>
      </div>
    </section>
  </ng-template>
</div>
