<app-main-content-header [content]="content" [isSearchOn]="false"></app-main-content-header>
<div class="content-container">
  <div *ngIf="getAnnouncements().length > 0; else elseBlock">
    <button class="mat-flat-button" color="primary" type="button" (click)="markAnnouncementsAsRead()">
      Mark announcements as read
    </button>

    <section class="announcement-container">
      <ul *ngFor="let announcement of getAnnouncements()">
        <li class="{{ announcement.is_read ? 'announcement' : 'announcement-unread' }}">
          <div class="subject">{{ announcement.subject }}</div>
          <span class="date">{{ formatDate(announcement.broadcasted) }}</span>
          <p class="message">{{ announcement.message }}</p>
        </li>
      </ul>
    </section>
  </div>

  <ng-template #elseBlock>

    <section class="message-container">
      <div class="empty">
        <mat-icon fontSet="material-icons-outlined">mail</mat-icon>
        <span class="message">You have no message yet.</span>
      </div>
    </section>
  </ng-template>
</div>
