<div class="content-header-container"
  fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="30px">
  <app-main-content-header
    [content]="content"
    [isSearchOn]="false"
    [labels]="null">
  </app-main-content-header>
  <button mat-button
    class="check-button mat-flat-button mt-5" type="button"
    (click)="markAnnouncementsAsRead()"
    [disabled]="isAllRead">
    <mat-icon>check</mat-icon>
    Mark as read
  </button>
</div>
<div class="content-container">
  <div *ngIf="getAnnouncements().length > 0; else elseBlock">
    <section class="announcement-container">
      <ng-container *ngFor="let announcement of getAnnouncements()">
        <div class="{{ announcement.is_read ? 'announcement' : 'announcement unread' }}">
          <div class="subject mat-title">{{ announcement.subject }}</div>
          <span class="date">{{ formatDate(announcement.broadcasted) }}</span>
          <p class="message">{{ announcement.message }}</p>
        </div>
      </ng-container>
    </section>
  </div>

  <ng-template #elseBlock>
    <section class="message-container">
      <div class="empty">
        <mat-icon fontSet="material-icons-outlined">mail</mat-icon>
        <span class="message">No announcements yet.</span>
      </div>
    </section>
  </ng-template>
</div>
