@import "src/styles.scss";

.check-button {
  height: 45px;
  background: map-get($colors, light-active);
  color: map-get($colors, primary);
  font-weight: 600;
}


.announcement-container {
  .announcement {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;

    .subject {
      border-bottom: 1px solid #ccc;
      padding: 5px;
      font-weight: bold;
    }

    .date {
      float: right;
    }

    .message {
      padding: 20px 10px;
    }

    &.unread {
      .date {
        float: right;
        background: pink;
      }
    }
  }
}
