<header class="header shadow-m inversion primary">
  <div class="container__fluid" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="logo" fxFlex="0 0 250px">
      <div class="logo__inner" fxLayout="row" fxLayoutAlign="center center">
        <div class="logo__mark" fxFlex="0 0 45px">
          <a [routerLink]="['/dashboard']">
            <!-- Dummy -->
            <mat-icon role="logomark">import_contacts</mat-icon>
          </a>
        </div>
        <div class="logo__type">
          <a [routerLink]="['/dashboard']">Notebooks</a>
        </div>
      </div>
    </div>
  </div>
</header>
