<div class="header" fxLayout="row" fxLayoutAlign="space-between">
  <div class="logo" fxFlex="0 0 250px">
    <div class="logo-inner" fxLayout="row" fxLayoutAlign="center">
      <div class="logomark" fxFlex="0 0 70px">
        <a [routerLink]="['/dashboard']">
          <!-- TODO: Change to the Original Logo -->
          <mat-icon fontSet="material-icons-outlined" role="logomark">import_contacts</mat-icon>
        </a>
      </div>
      <div class="logotype">
        <a [routerLink]="['/dashboard']"><h1>Notebooks</h1></a>
      </div>
    </div>
  </div>
  <!-- //// Logo -->

  <div class="header-functions" fxFlex="grow" fxLayoutAlign="end center">
    <div class="announcement" *ngIf="getMessages().length">
      <a [routerLink]="['/dashboard/message']">
        <mat-icon [matBadge]="getMessages().length.toString()" matBadgeColor="warn" >notifications</mat-icon>
      </a>
    </div>
    <!-- //// announcement -->
    <div class="user-account">
      <div class="user-name">
        <mat-icon fontSet="material-icons-outlined">face</mat-icon>
        <a [routerLink]="['/dashboard/account']">
          {{ authService.getUserName() }}
        </a>
      </div>
      <div class="btn user-logout-btn"
      (click)="authService.logout()" >
      Logout
      </div>
    </div>
    <!-- //// user-account -->
  </div>
</div>
