<div class="dialog-container custom-image-form">
  <div class="corner-button-container">
    <button class="corner-button" mat-dialog-close="true" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h2 class="mat-dialog-title">{{ formTitle }}</h2>
  <form [formGroup]="customImageFormGroup"
        (ngSubmit)="preventSubmit($event)" id="dialog">
    <div class="custom-image-form-content">
      <div class="custom-image-form-left">

        <div class="form-inner">
          <div class="plain-form-container">
            <!-- 1 Name-->
            <section class="form-container">
              <h3 class="mat-title">Name *</h3>
              <mat-form-field appearance="fill">
                <input (keyup.enter)="focusNextElement($event)"
                       id="name-input"
                       formControlName="name"
                       matInput>
                <mat-error *ngIf="customImageFormGroup.controls.name.hasError('required')">
                  <strong>Name is required</strong>
                </mat-error>
                <mat-error *ngIf="customImageFormGroup.controls.name.hasError('maxlength')">
                  <strong>Max length (64 characters) exceeded</strong>
                </mat-error>
              </mat-form-field>
            </section>

            <!-- 2 base image -->
            <section class="form-container">
              <div class="base-image-source-wrapper">
                <h3 class="mat-title">Base image *</h3>
                <a mat-button matTooltip="Base image sources in GitHub" target='_blank' rel="noopener"
                   class="base-image-source" href="https://github.com/CSCfi/noppe-public-images">
                  Base image sources
                </a>
              </div>
              <ng-container>
                <mat-form-field appearance="fill">
                  <mat-select #dropdownSelect
                              (selectionChange)="updateDockerfile()"
                              formControlName="baseImage"
                              placeholder="Choose the base image to customize">
                    <mat-option *ngFor="let baseImage of data.baseImages"
                                [value]="baseImage">
                      {{ extractBaseImageName(baseImage)}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="customImageFormGroup.controls.baseImage.hasError('required')">
                    <strong>Base image should be selected.</strong>
                  </mat-error>
                </mat-form-field>
              </ng-container>
            </section>

            <!-- 3 custom package -->
            <section class="form-container">
              <div class="package-form-wrapper">
                <h3 class="mat-title">Packages</h3>
                <div class="package-instructions">
                  <span>Customize your image by adding apt or pip packages as a space separated list</span>
                </div>
                <ng-container *ngFor="let content of imageContent; let i=index">
                  <div class="image-content-header">
                    <h4 class="mat-subtitle icon__library">{{ getContentDescription(content.kind) }} </h4>
                  </div>
                  <mat-form-field appearance="fill" class="image-content-form-field">
                    <input #dynamicInput
                           (input)="updateExtraContent()"
                           (keydown.enter)="focusNextElement($event)"
                           formControlName="ic-{{ i }}"
                           matInput
                           value="content.data"
                           id="package-input"
                           class="package-input-form">
                    <button matSuffix matIconButton aria-label="Remove"
                            class="delete-button" (click)="removeImageContent(i)">
                      <mat-icon>remove</mat-icon>
                    </button>
                  </mat-form-field>
                </ng-container>
                <div class="add-content">
                  <button #addAptButton
                          (click)="addImageContent('aptPackages')"
                          class="secondary-btn"
                          type="button"
                          mat-button>
                    <mat-icon fontSet="material-icons-outlined">add</mat-icon>
                    <span>apt</span>
                  </button>
                  <button (click)="addImageContent('pipPackages')"
                          class="secondary-btn"
                          type="button"
                          mat-button>
                    <mat-icon fontSet="material-icons-outlined">add</mat-icon>
                    <span>pip</span>
                  </button>
                  <button (click)="addImageContent('condaForgePackages')"
                          class="secondary-btn"
                          type="button"
                          mat-button>
                    <mat-icon fontSet="material-icons-outlined">add</mat-icon>
                    conda-forge
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>

      <div class="custom-image-form-right">
        <div class="custom-image-form-generated-dockerfile">
          <h5>Generated dockerfile</h5>
          <ng-container *ngFor="let line of generatedDockerfile.split('\n'); index as i">
            <div class="line">{{ line }}</div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- Submit -->
    <div class="dialog-actions">
      <button (click)="closeForm()"
              [disabled]="customImageFormGroup.invalid || createButtonClicked"
              color="primary"
              type="submit"
              mat-flat-button>
        Build
      </button>
      <button class="button-link cancel-button" mat-button mat-dialog-close="true">
        Cancel
      </button>
    </div>
  </form>
</div>
