<div class="dialog-container custom-image-form">
  <div class="corner-button-container">
    <button class="corner-button" mat-dialog-close="true" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h2 class="mat-dialog-title">{{ formTitle }}</h2>
  <form [formGroup]="customImageFormGroup" id="dialog">
    <div class="custom-image-form-content">
      <div class="custom-image-form-left">

        <div class="form-inner">
          <div class="plain-form-container">
            <!-- 1 Name-->
            <section class="form-container">
              <h3 class="mat-title">Name *</h3>
              <mat-form-field appearance="fill">
                <input formControlName="name" matInput>
                <mat-error *ngIf="customImageFormGroup.controls.name.hasError('required')">
                  <strong>Name is required</strong>
                </mat-error>
                <mat-error *ngIf="customImageFormGroup.controls.name.hasError('maxlength')">
                  <strong>Max length (64 characters) exceeded</strong>
                </mat-error>
              </mat-form-field>
            </section>

            <!-- 2 base image -->
            <section class="form-container">
              <h3 class="mat-title">Base image *</h3>
              <ng-container>
                <mat-form-field appearance="fill">
                  <mat-select (selectionChange)="updateDockerfile()"
                              formControlName="baseImage"
                              placeholder="Choose the base image to customize">
                    <mat-option *ngFor="let image of data.baseImages" [value]="image.base_config.image">
                      {{ image.base_image_name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="customImageFormGroup.controls.baseImage.hasError('required')">
                    <strong>Base image should be selected.</strong>
                  </mat-error>
                </mat-form-field>
              </ng-container>
            </section>

            <section class="form-container">
              <ng-container *ngFor="let content of imageContent">
                <h3 class="mat-title">{{ content.kind }}</h3>
                <mat-form-field appearance="fill">
                  <input (input)="updateExtraContent()" formControlName="{{content.kind}}" matInput
                         value="content.data">
                </mat-form-field>
              </ng-container>
            </section>
          </div>
        </div>
      </div>
      <div class="custom-image-form-right">
        <div class="custom-image-form-generated-dockerfile">
          <h5>Generated dockerfile</h5>
          <ng-container *ngFor="let line of generatedDockerfile.split('\n'); index as i">
            <div class="line">{{ line }}</div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- Submit -->
    <div class="dialog-actions">
      <button (click)="closeForm()"
              [disabled]="customImageFormGroup.invalid || createButtonClicked"
              color="primary"
              mat-flat-button>Build</button>
      <button class="button-link cancel-button" mat-button mat-dialog-close="true">
        Cancel
      </button>
    </div>
  </form>
</div>
