@use 'utilities' as utils;
@use 'base-styles' as base;
@use 'ui-components' as uis;

.custom-image-form {
  @include utils.flex-col-block();
  padding: 30px;

  h2 {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--gray-clr-3);
  }

  .custom-image-form-content {
    @include utils.flex-row-block($type: stretch, $gap: 20px, $wrap: false);
    max-height: 75vh;
    margin-bottom: 30px;
    overflow-y: auto;

    .custom-image-form-left {
      flex: 1 1 50%;

      h3 {
        margin-bottom: 5px;
        font-size: 1.8rem;
      }

      mat-form-field {
        width: 100%;
        margin: 2px 0 10px
      }

      .package-form-wrapper {
        .package-instructions {
          @include base.headline-5;
          margin-bottom: 10px;
        }

        .mat-subtitle {
          @include base.centering(y);
          font-size: 1.4rem;
        }

        .image-content-header {
          @include utils.flex-row-block($distribution: space-between);
          width: 100%;
        }

        .image-content-form-field {
          margin-bottom: -10px;

        }

        button.delete-button {
          @include uis.button(
            $role: gray,
            $style: fab,
            $width: 20px,
            $height: 20px,
            $icon: remove,
            $icon-size: 1.4rem,
          );
          min-width: 20px;
          min-height: 20px;
          padding: 2px;
          margin-right: 10px;

          &:hover:not(:disabled) {
            background: var(--warn-clr-7);
          }
        }

        .add-content {
          @include utils.flex-row-block($gap: 5px, $wrap: false);

          .add-package-button {
            @include uis.button(
              $role: sec,
              $style: stroked,
              $height: 28px,
              $font-size: 1.4rem,
              $icon: add,
              $icon-size: 1.8rem,
              $button-icon-gap: 5px,
            );
            flex-grow: 1;
            min-height: 28px;
          }
        }
      }
    }

    .custom-image-form-right {
      @include utils.flex-col-block();
      flex: 1 1 50%;

      .custom-image-form-generated-dockerfile {
        position: relative;
        flex: 1 0 auto;
        padding: 40px 20px 20px;
        overflow: hidden;
        font-size: 1.4rem;
        color: var(--sec-clr-8);
        background: var(--acc-clr-1);
        border-radius: 8px;

        h5 {
          @include base.headline-5;
          position: absolute;
          top: 0;
          left: 0;
          padding: 5px 10px;
          color: white;
          background: var(--sec-clr-7);
        }

        .line {
          margin-top: 5px;
        }
      }
    }
  }

  .dialog-actions {
    @include utils.flex-row-block($gap: 10px);

    .submit-button {
      @include uis.button($role: prim, $style: flat);
      flex: 1 0 200px;
    }

    .cancel-button {
      @include uis.button($role: gray, $style: none);
      flex: 0 0 200px;
    }
  }

  .base-image-source-wrapper {
    @include base.centering(y);
    background: #fff;

    a.base-image-source {
      @include uis.external-link-icon($gap: 4px);
      z-index: 1000;
      padding: 5px 15px 5px 20px;
      margin-left: auto;
      color: var(--prim-clr-7);
      background: #fff;
      border-radius: 50px;
    }
  }
}
