@use 'main' as main;

.custom-image-form {
  display: flex;
  flex-direction: column;
  padding: 30px;

  h2 {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid main.$light-line;
  }

  .custom-image-form-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
    max-height: 75vh;
    margin-bottom: 30px;
    overflow-y: auto;

    .custom-image-form-left {
      flex: 1 1 50%;

      h3 {
        margin-bottom: 5px;
        font-size: 1.8rem;
      }

      mat-form-field {
        width: 100%;
        margin: 2px 0 10px
      }

      .package-form-wrapper {
        .package-instructions {
          @include main.headline-5;
          margin-bottom: 10px;
        }

        .mat-subtitle {
          @include main.center(vertical);
          font-size: 1.4rem;
        }

        .image-content-header {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }

        .image-content-form-field {
          margin-bottom: -10px;

        }

        button.delete-button {
          display: flex;
          align-items: center;
          width: 20px;
          height: 20px;
          min-height: 20px;
          padding: 2px;
          margin-right: 10px;
          background: main.$gray-dark-color;
          border-radius: 10px;

          &:hover {
            background-color: main.$warn-dark-color;
          }

          mat-icon {
            @include main.center(both);
            width: 16px !important;
            height: 16px !important;
            padding: 0;
            margin: 0;
            font-size: 1.4rem !important;
            color: #FFF !important;
          }
        }

        .add-content {
          display: flex;
          gap: 5px;

          button {
            flex-grow: 1;
            height: 28px !important;
            min-height: 28px;
            font-size: 1.4rem !important;

            .mat-icon {
              width: auto !important;
              height: 18px !important;
              font-size: 1.8rem !important;
            }

            span {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .custom-image-form-right {
      display: flex;
      flex: 1 1 50%;
      flex-direction: column;

      .custom-image-form-generated-dockerfile {
        position: relative;
        flex: 1 0 auto;
        padding: 40px 20px 20px;
        overflow: hidden;
        font-size: 1.4rem;
        color: main.$secondary-dark-color;
        background: #d0f6e9;
        border-radius: 8px;

        h5 {
          @include main.headline-5;
          position: absolute;
          top: 0;
          left: 0;
          padding: 5px 10px;
          color: main.$light-text-color;
          background: main.$secondary-color;
        }

        .line {
          margin-top: 5px;
        }
      }
    }
  }

  .dialog-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .mat-primary {
      flex: 1 0 200px;
    }

    .cancel-button {
      flex: 0 0 200px;
    }
  }

  .base-image-source-wrapper {
    display: flex;
    align-items: center;
    background: #fff;

    a.base-image-source {
      z-index: 1000;
      padding: 5px 15px 5px 20px;
      margin-left: auto;
      color: main.$primary-color;
      background: #fff;
      border-radius: 50px;

      &::after {
        width: auto;
        height: auto;
        margin-left: 4px;
        font-family: 'Material Icons', serif;
        font-size: 1.4rem;
        content: '\e89e';
      }
    }
  }
}
