@import "src/styles/main.scss";

.custom-image-form {
  display: flex;
  flex-direction: column;
  padding: 30px;

  h2 {
    border-bottom: 1px solid $light-line;
    padding: 10px;
    margin-bottom: 20px;
  }

  .custom-image-form-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;

    .custom-image-form-left {
      flex: 1 1 50%;

      h3 {
        font-size: 1.8rem;
        margin-bottom: 5px;
      }

      mat-form-field {
        width: 100%;
        margin: 5px 0;
      }

      .package-form-wrapper {
        .package-instructions {
          @include headline-5();
          margin-bottom: 20px;
        }

        .mat-subtitle {
          @include center(vertical);
          font-size: 1.4rem;
        }
      }
    }

    .custom-image-form-right {
      margin-bottom: 25px;
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;

      .custom-image-form-generated-dockerfile {
        position: relative;
        background: #d0f6e9;
        color: $secondary-dark-color;
        flex: 1 0 auto;
        border-radius: 8px;
        padding: 40px 20px 20px;
        overflow: hidden;
        font-size: 1.4rem;

        h5 {
          @include headline-5;
          position: absolute;
          top: 0;
          left: 0;
          padding: 5px 10px;
          background: $secondary-color;
          color: $light-text-color;
        }

        .line {
          margin-top: 5px;
        }
      }
    }
  }

  .dialog-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .mat-primary {
      flex: 1 0 200px;
    }

    .cancel-button {
      flex: 0 0 200px;
    }
  }

  .base-image-source-wrapper {
    background: #fff;
    align-items: center;
    display: flex;

    a.base-image-source {
      background: #fff;
      z-index: 1000;
      padding: 5px 15px 5px 20px;
      border-radius: 50px;
      color: $primary-color;
      margin-left: auto;

      &:after {
        font-size: 1.4rem;
        width: auto;
        height: auto;
        margin-left: 4px;
        font-family: Material Icons, serif;
        content: "\e89e";
      }
    }
  }
}
