@import "src/styles/main.scss";

#users-container {

  //.user-invite-button-row {
  //  button {
  //    background: map-get($colors, light-active);
  //    height: 50px;
  //    margin-bottom: 1.34375em;
  //  }
  //
  //  ::ng-deep .mat-form-field-flex {
  //    min-height: 62px
  //  }
  //}

  .mat-table {

    td {
      font-size: 1.2rem;
    }

    .cell-index {
      font-size: 1.1rem;
    }

    .cell-state {
      width: 40px;
    }

    .cell-quota {
      width: 100px;
    }

    .mat-sort-header {
      color: map-get($app-primary, default);
    }

    ::ng-deep .mat-sort-header-arrow {
      transform: rotate(180deg) !important;
    }

    ::ng-deep .mat-sort-header-sorted .mat-sort-header-arrow {
      color: map-get($app-primary, default);
      opacity: 1 !important;
    }
  }
}
