<div class="content-header-container grid-col">
  <app-main-content-header (emitApplyFilter)="applyFilter($event)"
                           [context]="context"
                           [isSearchOn]="true"
                           [isAutocompleteDisabled]="true"
                           [labels]="[]">
  </app-main-content-header>
  <button mat-stroked-button class="reload-button"
          (click)="refreshUsers()">
    <mat-icon fontSet="material-icons-outlined">refresh</mat-icon>
  </button>
</div>
<div id="users-container" class="content-container">

  <ng-container *ngIf="tableRowData?.length > 0; else noUsers">
    <section class="mt-20">

      <!--  User invite button  -->
      <!--
      <div class="user-invite-button-row mb-20">
        <mat-form-field appearance="outline">
          <mat-label>Emails</mat-label>
          <textarea matInput placeholder="Placeholder"></textarea>
          <mat-hint>Enter multiple users by separating email with SPACE.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>Select expiration date</mat-label>
          <mat-select>
            <mat-option value="1">1 month</mat-option>
            <mat-option value="2">2 month</mat-option>
            <mat-option value="3">3 month</mat-option>
            <mat-option value="4">4 month</mat-option>
            <mat-option value="5">5 month</mat-option>
            <mat-option value="6">6 month</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button>Invite user</button>
        <button mat-flat-button>Invite multiple users</button>
        </div>
        -->

      <button mat-flat-button
              (click)="openRemoveUserDialog(selection.selected)"
              [disabled]="selection.isEmpty()">
        <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
        <span class="mr-5">Remove selected users</span>
      </button>
    </section>

    <!-- users table -->
    <!--
      - select column
      - index column
      - email column
      - pseudonym
      - state column
      - quota column
      - workspaces column
      - expiryDate column
      - action column
     -->
    <div class="table-wrapper">
      <table mat-table matSort class="mt-20"
             [dataSource]="userDataSource">
        <!-- Index Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell mat-sort-header *matHeaderCellDef class="icon-cell"></th>
          <td mat-cell class="cell-index icon-cell" *matCellDef="let row"> {{row.index}} </td>
        </ng-container>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="isSelected">
          <th mat-header-cell *matHeaderCellDef class="icon-cell">
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" class="icon-cell">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- ext_id column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>email</th>
          <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
        <!-- pseudonym column -->
        <ng-container matColumnDef="pseudonym">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>pseudonym</th>
          <td mat-cell *matCellDef="let element">{{element.pseudonym}}</td>
        </ng-container>
        <!-- State column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>state</th>
          <td mat-cell *matCellDef="let element" class="cell-state">
            <mat-chip-listbox aria-label="Fish selection">
              <mat-chip-option class="chip__sm ml-5 bg__primary" *ngIf="element.state.includes('admin')">admin</mat-chip-option>
              <mat-chip-option class="chip__sm bg__accent ml-5" *ngIf="element.state.includes('owner')">owner</mat-chip-option>
              <mat-chip-option class="chip__sm ml-5 bg__warn-dark" *ngIf="element.state.includes('blocked')">blocked</mat-chip-option>
              <mat-chip-option class="chip__sm ml-5 bg__gray-dark" *ngIf="element.state.includes('deleted')">deleted</mat-chip-option>
              <mat-chip-option class="chip__sm ml-5" *ngIf="element.state.includes('inactive')">inactive</mat-chip-option>
              <mat-chip-option class="chip__sm ml-5 bg__secondary" *ngIf="element.state.includes('new')">new</mat-chip-option>
            </mat-chip-listbox>
          </td>
        </ng-container>
        <!-- quota column -->
        <ng-container matColumnDef="workspaceQuota">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>workspace quota</th>
          <td mat-cell *matCellDef="let element"
              class="cell-quota">
            <span *ngIf="element.workspaceCount > 0">{{ element.workspaceCount }} / </span>
            {{ element.workspaceQuota }}
          </td>
        </ng-container>
        <!-- joining date -->
        <ng-container matColumnDef="joiningDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>joined</th>
          <td mat-cell *matCellDef="let element">
            {{ element.joiningDate | dateDisplay }}
          </td>
        </ng-container>
        <!-- expiry date -->
        <ng-container matColumnDef="expiryDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>expiry</th>
          <td mat-cell *matCellDef="let element">
            {{ element.expiryDate | dateDisplay }}
          </td>
        </ng-container>
        <!-- last login date -->
        <ng-container matColumnDef="lastLoginDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>last login</th>
          <td mat-cell *matCellDef="let element">
            {{ element.lastLoginDate | dateDisplay }}
          </td>
        </ng-container>
        <!-- menu column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="cell-action icon-cell">action</th>
          <td mat-cell *matCellDef="let element" class="sicon-cell">
            <button mat-icon-button [disabled]="element.isAdmin"
                    [matMenuTriggerFor]="menu" aria-label="open application menu">
              <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item
                      (click)="openWorkspaceQuotaDialog(element.id, element.email, element.workspaceCount, element.workspaceQuota )">
                <mat-icon fontSet="material-icons-outlined">token</mat-icon>
                <span>Workspace quota</span>
              </button>
              <button mat-menu-item (click)="openRemoveUserDialog([element])">
                <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
                <span>Remove the user</span>
              </button>
              <button mat-menu-item (click)="openBlockUserDialog(element.id, element.email, element.isBlocked)">
                <mat-icon fontSet="material-icons-outlined">person_off</mat-icon>
                <span *ngIf="element.isBlocked">Unblock the user</span>
                <span *ngIf="!element.isBlocked">Block the user</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.deleted]="row.isDeleted"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="10">
            <section class="status-info-container">
              No users matching "{{ queryText }}"
            </section>
          </td>
        </tr>
      </table>
    </div>
  </ng-container>

  <!-- Loading / No users -->
  <ng-template #noUsers>
    <div class="status-info-container">
      <div class="empty-status" *ngIf="tableRowData === null">
        <mat-icon fontSet="material-icons-outlined">hourglass_top</mat-icon>
        <span class="status-summary">...Loading...</span>
      </div>
    </div>
  </ng-template>

  <!-- Paginator-->
  <div [hidden]="!isPaginatorVisible">
    <mat-paginator
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>
