<mat-sidenav-container ngClass.lt-sm="mobile">
  <!-- SideNav Area -->
  <mat-sidenav #sidenav opened mode="side"
               disableClose="true"
               [ngClass]="{'minimize':!isSideNavOpen}">
    <app-main-nav class="sidebar" (toggleSideNavEvent)="toggleSideNav()"
                  [isSideNavOpen]="isSideNavOpen">
    </app-main-nav>
  </mat-sidenav>
  <!-- Main Page Area -->
  <mat-sidenav-content id="sidenav-content" [ngClass]="{'expanded':!isSideNavOpen}" [ngClass.lt-sm]="'lt-sm'">
    <!-- Mobile mode : Header  -->
    <mat-toolbar color="primary">
      <a class="logo mat-headline-2" [routerLink]="['/main/catalog']">
        <div class="logo__mark">
          <mat-icon fontSet="material-icons-outlined" class="md-36">import_contacts</mat-icon>
        </div>
        <div class="logo__type">
          Notebooks
        </div>
      </a>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <app-main-nav [isSideNavOpen]="true">
        </app-main-nav>
      </mat-menu>
    </mat-toolbar>
    <!--//// Mobile mode : Header  -->

    <div class="main-content-container" ngClass.lt-sm="mobile">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <app-footer class="footer"></app-footer> -->
