@import "src/styles/main.scss";

::ng-deep mat-sidenav-container {
  height: 100%;
  padding-top: 0 !important;
  margin-top: 0 !important;

  .mat-sidenav {
    @include shadow(0.2);
    position: fixed;
    border: none !important;
    width:  map-deep-get($layout-set, main, sidenav, w);

    &.minimize {
      width: map-deep-get($layout-set, main, sidenav-min, w);
    }

    app-main-nav{
      @include animation();
      display: block;
      height: 100% !important;
      width: 100%;
      bottom: 0;
      top: 0;
    }
  }

  mat-sidenav-content {
    margin-left: map-deep-get($layout-set, main, sidenav, w) !important;

    &.expanded {
      margin-left: 80px !important;
    }

    &.lt-sm {
      margin-left: 0 !important;
    }

    .main-content-container{
      display: block;
      width: 100%;
      min-height: map-deep-get($layout-set, main, content, min-h);
      background-color: map-get($app-primary, 100);
      overflow: hidden;
    }
  }
}
