//---- main-page.component.scss
@use 'base-styles' as base;
@use 'utilities' as utils;

.mat-sidenav-container {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden !important;

  mat-sidenav {
    width: base.$navigation-width;
    height: inherit;

    background-color: var(--prim-clr-9);
    color: white;

    &.minimize {
      width: base.$navigation-minimized-width !important;
    }
  }

  .mat-sidenav-content {
    min-height: 100vh;
    margin-left: base.$navigation-width !important;

    &.expanded {
      margin-left: base.$navigation-minimized-width !important;
    }
  }
}

.sidebar {
  @include utils.flex-col-block($y-alignment: space-between);
  height: inherit;
}

.main-page-wrapper {
  @include utils.flex-col-block();
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}


// ----- MOBILE
@media (max-width: #{base.$mobile-width}) {

  .mat-sidenav-container {
    height: auto !important;
    min-height: auto !important;

    .mat-sidenav {
      overflow: auto;
      background: none;
      width: 100%;

      &.minimize {
        width: 100% !important;
      }
    }

    .mat-sidenav-content,
    .mat-sidenav-content.expanded {
      margin-left: 0 !important;
    }
  }

  .sidebar {
    height: auto;
  }
}
