<div class="dialog-container wizard-container">
  <div class="corner-button-container">
    <button mat-icon-button mat-dialog-close class="corner-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-horizontal-stepper linear="true">
    <!-- 1 Env Templates-->
    <mat-step [stepControl]="wizardApplicationTemplateFormGroup">
      <form [formGroup]="wizardApplicationTemplateFormGroup">
        <mat-dialog-content>
          <ng-template matStepLabel>Application Template</ng-template>
          <h3>Select a template for your new application.*</h3>
          <section class="instruction-body">
            <div class="form-help-icon">
              <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
            </div>
            <div class="instruction-text">
              <h1 class="question">What is application template?</h1>
              <div class="answer">
                Application defines the content that users access by starting a browser based isolated session.
                As workspace owner/co-owner, you can create your own customized applications from templates below.
              </div>
            </div>
          </section>

          <section class="form-container">

            <table mat-table [dataSource]="wizardApplicationTemplateDataSource">
              <!-- Radio button column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell class="icon-cell" *matHeaderCellDef></th>
                <mat-radio-group formControlName="templateId" (change)="onChangeWizardApplicationTemplate()">
                  <td mat-cell class="icon-cell" *matCellDef="let element">
                    <mat-radio-button [value]="element.id"></mat-radio-button>
                  </td>
                </mat-radio-group>
              </ng-container>
              <!-- Template Info column -->
              <ng-container matColumnDef="info">
                <th mat-header-cell class="cell-info" *matHeaderCellDef>Template information</th>
                <td mat-cell class="cell-info" *matCellDef="let element">
                  <ul>
                    <li class="template-name"> {{element.name}} </li>
                    <li class="template-description" [innerHTML]="element.description"></li>
                    <li class="template-labels">
                      <span>
                        <mat-icon fontSet="material-icons-outlined">label</mat-icon>Labels:
                      </span>
                      <ng-container *ngFor="let label of element.labels">
                        <span class="label">{{ label }}</span>
                      </ng-container>
                    </li>
                  </ul>
                </td>
              </ng-container>
              <!-- Template spec column -->
              <ng-container matColumnDef="spec">
                <th mat-header-cell class="cell-spec" *matHeaderCellDef>Template spec</th>
                <td class="cell-spec" mat-cell *matCellDef="let element">
                  <ul>
                    <li class="template-meta">
                      <mat-icon fontSet="material-icons-outlined">apps</mat-icon>
                      Application type: {{element.application_type}}
                    </li>
                    <li class="template-meta">
                      <span>
                        <mat-icon fontSet="material-icons-outlined">watch_later</mat-icon>
                        Lifetime: {{ element.lifetime | lifeTimeDisplay }}
                      </span>
                    </li>
                    <li class="template-meta">
                      <span>
                        <mat-icon fontSet="material-icons-outlined">memory</mat-icon>
                        Memory: {{ element.memory_gib || '-' }}GiB
                      </span>
                    </li>
                  </ul>
                </td>
              </ng-container>
              <!-- Description column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell class="cell-type" *matHeaderCellDef>type</th>
                <td class="cell-type" mat-cell *matCellDef="let element">
                  {{element.application_type}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="wizardApplicationTemplateColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: wizardApplicationTemplateColumns;"></tr>
            </table>
          </section>

          <!-- Image hidden by default in wizard. TODO: enabled based on selected template -->
          <section class="form-container">
            <div [hidden]="true">
              <h3>Container image</h3>
              Change only if you need a custom image. The image has to be compatible with the template.
              <mat-form-field appearance="fill">
                <input matInput formControlName="imageUrl" [value]="selectedWizardApplicationTemplateImage">
              </mat-form-field>
            </div>
          </section>
        </mat-dialog-content>
        <div class="stepper-action-buttons first">
          <button mat-flat-button class="next primary-btn"
                  [disabled]="selectedWizardApplicationTemplateImage===null" matStepperNext>
            Next
            <mat-icon fontSet="material-icons-outlined">arrow_forward</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

    <!-- 2 Application profile setting-->
    <mat-step [stepControl]="wizardProfileFormGroup">
      <form [formGroup]="wizardProfileFormGroup">
        <mat-dialog-content>
          <ng-template matStepLabel>Application Profile</ng-template>
          <h3>Fill your application information</h3>
          <section class="instruction-body">
            <div class="form-help-icon">
              <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
            </div>
            <div class="instruction-text">
              <h1 class="question">How new application is seen by members?</h1>
              <div class="answer">
                Members of your workspace can find your application in the applications page.
                Carefully consider names, descriptions and labels to let them identify and find the content.
              </div>
            </div>
          </section>

          <!-- 2-1 Name -->
          <section class="form-container">
            <mat-form-field appearance="fill">
              <mat-label>Application name</mat-label>
              <input matInput formControlName="name" placeholder="Ex. Data Analysis Course 2020" required>
              <mat-error *ngIf="wizardProfileFormGroup.controls.name.hasError('required')">
                <strong>Name is required</strong>
              </mat-error>
              <mat-error *ngIf="wizardProfileFormGroup.controls.name.hasError('maxlength')">
                <strong>Max length (128 characters) exceeded</strong>
              </mat-error>
            </mat-form-field>
          </section>
          <!-- 2-2 Description -->
          <section class="form-container">
            <mat-form-field appearance="fill">
              <mat-label>Description (can contain HTML formatting)</mat-label>
              <input matInput formControlName="description" placeholder="Ex. Data Analysis Course 2020" required>
              <mat-error *ngIf="!wizardProfileFormGroup.controls.description.valid">
                <strong>Description is required</strong>
              </mat-error>
            </mat-form-field>
          </section>
          <!-- 2-3 Label search component -->
          <section class="form-container">
            <app-main-search-box [labels]="selectedLabels"></app-main-search-box>
          </section>
        </mat-dialog-content>
        <div class="stepper-action-buttons">
          <button mat-stroked-button class="back" matStepperPrevious>
            <mat-icon fontSet="material-icons-outlined">arrow_backward</mat-icon>
            <span>Back</span>
          </button>
          <button mat-flat-button class="next primary-btn" [disabled]="wizardProfileFormGroup.invalid"
                  matStepperNext>
            Next
            <mat-icon fontSet="material-icons-outlined">arrow_forward</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

    <!-- 3 application option srtting-->
    <mat-step [stepControl]="wizardOptionFormGroup">
      <form [formGroup]="wizardOptionFormGroup">
        <mat-dialog-content>
          <h3>Configure application options</h3>
          <ng-template matStepLabel>Optional functions</ng-template>
          <section class="instruction-body">
            <div class="form-help-icon">
              <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
            </div>
            <div class="instruction-text">
              <h1 class="question">How you can customize application?</h1>
              <div class="answer">
                <p>Customize settings according to what you want to do.</p>
                <p>
                  You can fetch files, datasets or other material from a public Git repository, object storage or any
                  public web site
                </p>
              </div>
            </div>
          </section>
          <!-- 3.1 Include External files -->
          <section class="form-container ">
            <mat-label>Download Method</mat-label>
            <mat-radio-group formControlName="downloadMethod" (change)="onChangeDownloadMethod($event.value)">
              <ul>
                <li>
                  <mat-radio-button [value]="'none'">None</mat-radio-button>
                </li>
                <li>
                  <mat-radio-button [value]="'git-clone'">Git clone a repository</mat-radio-button>
                </li>
                <li>
                  <mat-radio-button [value]="'http-get'">Download by URL</mat-radio-button>
                </li>
              </ul>
            </mat-radio-group>
          </section>
          <!-- 3.2 Source -->
          <ng-container [ngSwitch]="selectedDownloadMethod">
            <section class="form-container" *ngSwitchCase="'local'">
              <button mat-flat-button class="primary-btn">Upload file</button>
            </section>
            <section class="form-container"
                     *ngSwitchCase=" ['http-get','git-clone'].includes(selectedDownloadMethod) ? selectedDownloadMethod : !selectedDownloadMethod ">
              <mat-form-field appearance="fill">
                <mat-label>Source(URL)</mat-label>
                <input matInput formControlName="source" placeholder="">
              </mat-form-field>
            </section>
          </ng-container>
          <!-- 3.3 Enable share folder / user work folder -->
          <section class="form-container">
            <mat-label>Shared folder</mat-label>
            <br>
            <mat-checkbox formControlName="isEnableSharedFolder">
              Enable 'shared' folder within workspace users. <span class="mat-caption ml-10">(It's workspace specific and read-only for users.)</span>
            </mat-checkbox>
          </section>
          <section class="form-container ">
            <mat-label>Work folder per user</mat-label>
            <br>
            <mat-checkbox formControlName="isEnableUserWorkFolder" (change)="onChangeUserWorkFolder($event.checked)">
              Enable personal persistent 'work' folder for users. <span class="mat-caption ml-10">(It's workspace specific.)</span>
            </mat-checkbox>
          </section>
        </mat-dialog-content>
        <!-- Stepper -->
        <div class="stepper-action-buttons">
          <button mat-stroked-button class="back" matStepperPrevious>
            <mat-icon fontSet="material-icons-outlined">arrow_backward</mat-icon>
            <span>Back</span>
          </button>
          <button mat-flat-button class="next primary-btn" matStepperNext>
            Next
            <mat-icon fontSet="material-icons-outlined">arrow_forward</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <!-- 4 Submit-->
    <mat-step [stepControl]="wizardPublishFormGroup">
      <form [formGroup]="wizardPublishFormGroup">
        <mat-dialog-content>
          <ng-template matStepLabel>Save</ng-template>
          <div class="form-items">
            <h3>Congratulations! Your new application is almost ready :)</h3>
            <section class="instruction-body">
              <div class="form-help-icon">
                <mat-icon fontSet="material-icons-outlined">lightbulb</mat-icon>
              </div>
              <div class="instruction-text">
                There are more options available through <span class="hint__menu">Edit application</span> in the application menu.
              </div>
            </section>
            <section class="form-container">
              <mat-label>Visibility</mat-label>
              <mat-radio-group formControlName="isActive">
                <ul>
                  <li>
                    <mat-radio-button [value]="true">Publish immediately</mat-radio-button>
                  </li>
                  <li>
                    <mat-radio-button [value]="false">Save as a draft (visible only to owners and co-owners)
                    </mat-radio-button>
                  </li>
                </ul>
              </mat-radio-group>
            </section>
          </div>
        </mat-dialog-content>
        <div class="stepper-action-buttons end">
          <button mat-stroked-button class="back" matStepperPrevious>
            <mat-icon fontSet="material-icons-outlined">arrow_backward</mat-icon>
            <span>Back</span>
          </button>
          <button  mat-stroked-button matStepperNext
                  [disabled]="createButtonClicked"
                  (click)="createApplicationByWizardMode(true)">
                  Save & Open in Advanced form
          </button>
          <button mat-flat-button class="primary-btn" matStepperNext
                  [disabled]="createButtonClicked"
                  (click)="createApplicationByWizardMode(false)">
            Save
          </button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
