//@import "src/styles/main.scss";

.wizard-container {
  .plain-form-action-buttons,
  .stepper-action-buttons {
    .back {
      color: #999;
    }
  }

  form {
    overflow: scroll;

    .mat-dialog-content {
      overflow: unset;
      max-height: 100%;
    }
  }

  table {
    ::ng-deep .mat-column-info {
      padding: 5px 10px !important;
      vertical-align: top;

      .template-labels {
        white-space: nowrap;

        span.label:after {
          content: '/';
          margin-left: 2px;
        }

        span.label:last-child:after {
          content: none;
        }
      }
    }
  }

  ::ng-deep {
    .mat-column-spec {
      min-width: 135px;
      vertical-align: middle;
    }
  }
}
