<app-dashboard-breadcrumb [content]=content ></app-dashboard-breadcrumb>
<section class="message-container">
  <div *ngIf="getMessages().length > 0; else elseBlock">
    <ul *ngFor="let message of getMessages()">
      <li class="message">
        <h3 class="subject">{{ message.subject }}</h3>
        <span class="date">{{ message.date }}</span>
        <p class="message">{{ message.message }}</p>
      </li>
    </ul>
  </div>
</section>

<ng-template #elseBlock>
  <section class="">
    <div class="no-message">
      <mat-icon fontSet="material-icons-outlined">inbox</mat-icon>
      <span class="message">You have no message yet.</span>
    </div>
  </section>
</ng-template>
