@import "src/styles.scss";

.members-container {

  .mat-form-field{
    width: 100%;
  }

  table {
    width: 100%;
    margin: auto;

    .mat-header-row {
      background: map-get($colors, light2);
      height: 40px;

      .mat-header-cell {
        color: map-get($colors, white);
        border-bottom: none;
      }
    }

    th,td{
      vertical-align: middle;
    }

    th{
      text-transform: capitalize;
    }

    .mat-header-cell,
    .mat-cell {
      padding: 0;
      text-align: center;

      &.left-align {
        text-align: left;
      }
    }

    .mat-table-sticky {
      border-left: 1px solid map-get($colors, light);
      border-right: 1px solid map-get($colors, light);
      width: 50px;
    }

    .role {
      color: map-get($colors, accent);
      .owner {
        color: map-get($colors, active);
      }
      .manager {
        color: map-get($colors, danger);
      }
      .banned {
        color: map-get($colors, dark);
      }
    }
  }
}
