@use 'main' as main;

.session-button-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: auto;
  overflow: hidden;

  button {
    &.launch-button {
      background: main.$light-color !important;

      .mat-icon {
        display: block;
        color: main.$gray-color;
      }

      &:hover {
        @include main.accent-main-background;

        .mat-icon {
          color: main.$primary-color;
        }
      }
    }

    &.launch-button-inactive {
      background: main.$gray-color !important;

      .mat-icon {
        display: block;
        color: map-get(main.$app-gray, 50);
      }
    }
  }

  .progress-spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;

    ::ng-deep .application-spinner {
      circle {
        stroke: main.$secondary-color;
      }
    }
  }

  .background-circle-container {
    @include main.center(both);
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;

    svg {
      width: inherit;
      height: inherit;

      circle {
        fill: white;
        stroke: main.$gray-light-color;
      }
    }
  }

  .actionable-circle-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;

    .circle-button {
      @include main.primary-main-background;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      overflow: hidden;

      border-radius: 50%;

      .time-left,
      .state {
        color: main.$light-color;
      }
    }

    button.open-button,
    button.shutdown-button {
      @include main.primary-main-background;
      justify-content: center;
      width: inherit;
      height: inherit;
      line-height: 1.5rem;
      border-radius: unset;

      ::ng-deep.mdc-button__label {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    button.close-button {
      flex: 1 0 30px;
      width: 100px;
      overflow: hidden;
      border-radius: 50%;

      @include main.warn-dark-background;
    }

    .stat-button {
      padding-top: 10px;
      text-align: center;
    }

    .state-area {
      height: 70px;
      padding-top: 15px;
      text-align: center;

      @include main.headline-6;
    }

    .open-button {
      height: 70px;
      padding-top: 10px;

      &:hover {
        @include main.accent-main-background;

        * {
          color: main.$dark-text-color;
        }
      }
    }

    .shutdown-button {
      flex: 0 0 30px;
      margin: 0;
      border-top: 1px solid map-get(main.$app-gray, 300);

      &:hover {
        background: main.$warn-dark-color;
      }

      .mat-icon {
        width: 14px;
        height: 14px;
        font-size: 1.4rem;
      }
    }

    .session-page-button {
      z-index: 2000;
      font-weight: bold;
      color: #fff;

      &.upper-button {
        height: 170px;
        padding-top: 20px;

        @include main.center;
      }

      &.lower-button {
        height: 30px;
      }

      a {
        font-weight: bold;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  &.warning {
    .progress-spinner-container {
      ::ng-deep .application-spinner {
        circle {
          stroke: map-get(main.$app-gray, 200);
        }
      }
    }

    .circle-button {
      @include main.warn-dark-background;
      color: main.$light-text-color;

      button {
        background: map-get(main.$app-warn, dark);
      }
    }
  }
}

.my-workspaces.session-button-container {
  &.expired {
    .background-circle-container {
      circle {
        stroke: map-get(main.$app-primary, 100);
      }
    }

    .launch-button-inactive {
      background: map-get(main.$app-primary, 200);

      .mat-icon {
        color: white;
      }
    }
  }
}
