@import "src/styles/main.scss";

.session-button-container {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.background-circle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;

  svg {
    width: inherit;
    height: inherit;

    circle {
      fill: white;
      stroke: map-get($app-gray, 100);
    }
  }
}

.progress-spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;

  ::ng-deep .application-spinner {
    circle {
      stroke: map-get($app-accent, default);
      transform: scale(1, -1);
    }
  }
}

.actionable-circle-container {
  width: inherit;
  height: inherit;

  .circle-button {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: map-get($app-primary, default);

    .mat-icon {
      color: white;
    }

    .time-left,
    .state {
      color: white;
    }
  }

  .open-button,
  .shutdown-button {
    background: map-get($app-transparent, default) !important;
    width: inherit;
    justify-content: center;
    line-height: 1.5rem;
    border-radius: unset;
  }

  .close-button {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    color: map-get($app-primary, dark);
    //background: map-get($app-gray, default);
  }

  .stat-button {
    padding-top: 10px;
    text-align: center;
  }

  .state-area {
    padding-top: 15px;
    text-align: center;
  }

  .open-button {
    padding-top: 10px;

    &:hover {
      background: map-get($app-accent, default) !important;
    }
  }

  .shutdown-button {
    &:hover {
      background: map-get($app-warn, dark) !important;
    }
  }

  .shutdown-button {
    border-top: 1px solid map-get($app-gray, 300);
  }

  .launch-button {
    background: white;

    .mat-icon {
      color: map-get($app-gray, 700);
    }

    &:hover {
      background: map-get($app-primary, default);

      .mat-icon {
        color: white;
      }
    }
  }

  .launch-button-inactive {
    background: map-get($app-gray, 200);

    .mat-icon {
      color: map-get($app-gray, 50);
    }
  }

  .session-page-button {
    color: #fff;
    font-weight: bold;
    z-index: 2000;

    a {
      color: #fff;
      font-weight: bold;
      cursor: pointer;
    }
  }
}


.warning {
  ::ng-deep .application-spinner {
    circle {
      stroke: map-get($app-gray, 200);
    }
  }

  .circle-button {
    background: map-get($app-warn, dark);
  }
}

.my-workspaces.session-button-container {
  &.expired {
    .background-circle-container {
      circle {
        stroke: map-get($app-primary, 100);
      }
    }

    .launch-button-inactive {
      background: map-get($app-primary, 200);

      .mat-icon {
        color: white;
      }
    }
  }
}
