<app-header class="header"></app-header>
<div *ngIf="targetInstance" class="instance-container">
  <div class="iframe-container" *ngIf="targetInstance.state===instanceStates.Running; else elseBlock">
    <iframe id="inlineFrameExample" title="Inline Frame Example" [src]="iframeSrc">
    </iframe>
  </div>
  <ng-template #elseBlock>
    <!-- TODO: add styles, redesign the layout -->
    <div>Environment name: {{ targetEnvironment.name }}</div>
    <div>Environment description: {{ targetEnvironment.description }}</div>
    <div>Environment state: {{ targetInstance.state }}</div>
    <mat-progress-bar mode="buffer" value="{{ progress }}" bufferValue="{{progress + 25}}"></mat-progress-bar>
  </ng-template>
</div>
