@charset "utf-8";

// ---- Associated Sass
@import "./styles/style-functions";
@import "./styles/style-variables";
@import "./styles/style-media-queries";
@import "./styles/style-material-design";

// ---- Fonts
// @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');
// @font-face {
//   font-family: 'Nunito';
//   src: url('/assets/fonts/Nunito-Regular.ttf');
//   font-weight: 400;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('/assets/fonts/Nunito/Nunito-Light.ttf');
//   font-weight: 300;
//   font-style: normal;
// }

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  background: map-get($colors, light);
  font-family: map-get($font-families, base);
  font-size: 1.3rem;
  color: map-get($colors, dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: .9rem;
}

a {
  color: map-get($colors, primary);
  text-decoration: none;
  background-color: transparent;

  &.line {
    text-decoration: underline;
  }

  &:hover{
    color: map-get($colors, warning);
    cursor: pointer;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  line-height: 170%;

  li {
    padding: 0;
  }
}

dl {
  margin-bottom: 12px;
  line-height: 130%;

  dt {
    margin-bottom: 12px;
  }

  dd {
    margin-bottom: 8px;
  }
}

input {
  // border: $border-thin;
  // padding: 10px 25px !important;
  letter-spacing: 1px;
  // border-radius: 5px;
  min-height: 36px;

  &.btn {
    min-width: 200px;
    border-radius: 18px;
  }
}

// .navbar {
//   padding: 0;
// }

.fw {
  &__500{
    font-weight: 500;
  }
}

.bd {
  border: $border-thin;
}

.circle-clip {
  border-radius: 50%;
}

.shadow-s {
  box-shadow: 0 1px 2px 1px rgba(154, 154, 204, .22) !important;
}

.shadow-m {
  box-shadow: 0 1px 2px 2px rgba(30, 30, 30, 0.3);
}

.no-shadow {
  box-shadow: none !important;
}

.flat-shadow {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2) !important;
}

.shadow{
  &__moderate {
    box-shadow: 0 1px 2px 1px rgba(154, 154, 204, .22) !important;
  }
}

.block {
  display: block;
}

.section-title {
  // display: flex;
  // align-items: center;
  // height: 40px;

  h3 {
    margin-left: 0 !important;
  }
}

section.card {
  background: map-get($colors, white);
  border-radius: 5px;
  // box-shadow: 0 1px 2px 1px rgba(146, 146, 230, .22) !important;

  position: relative;
  margin-bottom: 20px;

  .section-header {
    position: relative;
    border-bottom: 1px solid #e6e6f2;
    padding: 20px 30px 5px;

    .mat-icon {
      float: left;
    }

    h3 {
      padding-top: 5px;
      margin-bottom: 10px;
      margin-left: 30px;
    }
  }

  .section-body {
    padding: 20px 30px 5px;
  }
}

.label-list-sm{
  .mat-chip{
    padding: 5px 12px 7px !important;
    margin-right: 0;
    font-size: 1.1rem;
    min-height: 22px;
    color: map-get($colors, dark);
    font-weight: 600;
  }
}

.mat-chip-sm {
  border-radius: 12px;
  padding: 5px 12px 5px 12px !important;
  margin-right: 0;
  font-size: 1.2rem;
  min-height: 24px;
  color: map-get($colors, dark);
  font-weight: 600;

  .mat-icon {
    font-size: 1.4rem;
    margin-left: 4px;
    margin-right: -6px;
  }
}

.chip {
  &__sm {
    font-weight: 600;
    color: map-get($colors, dark);
    background-color: map-get($colors, light2);
    margin-right: 3px;
    line-height: 100%;

    min-height: 20px;
    padding: 0px 8px 2px !important;
    border-radius: 10px;
    font-size: 1.0rem;
  }

  &__m {
    font-weight: 600;
    color: map-get($colors, dark);
    background-color: map-get($colors, light2);
    margin-right: 3px;
    line-height: 100%;

    min-height: 26px;
    padding: 6px 12px 0px !important;
    border-radius: 15px;
    font-size: 1.1rem;
  }
}

.inline-centering{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.fab {
  font-size: 1.1rem;
  padding: 2px 10px;
  display: inline-block;
  min-width: 30px;
  height: 20px;
  text-align: center;
  border-radius: 13px;
}

// ---- shared styles ---- //

.container {
  display: block;
  width: auto;
  max-width: 1200px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;

  &__fluid{
    max-width: 100%;
    height: 100%;
  }
}

.centering {
  &__text {
    width: 100%;
    text-align: center;
  }
}

.v-centering {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__inline{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }
}

a.u-line,
.u-line a {
  text-decoration: underline;
}

.inversion{
  &.primary {
    @include inversion(primary);
  }

  &.accent {
    @include inversion(accent);
  }

  &.dark {
    @include inversion(dark);
  }

  &.light-dark {
    @include inversion(light-dark);
  }

  &.light-gray {
    @include inversion(neutral-dark);
  }

  &.light-accent {
    @include inversion(light-accent);
  }

  &.transparent {
    @include inversion(transparent);
  }

  .mat-stroked-button {
    border: 1px solid map-get($colors, white) !important;
  }
}

.dark {
  background: map-get($colors, dark);

  a,
  button {
    color: map-get($colors, white);

    &:hover{
      color: map-get($colors, accent);
    }
  }
}

.r {
  &__no{
    border-radius: 0;
  }
  &__all{
    border-radius: 5px;
  }
  &__top{
    border-radius: 5px 5px 0 0;
  }
  &__bottom{
    border-radius: 0 0 5px 5px;
  }
  &__left{
    border-radius: 5px 0 0 5px;
  }
  &__right{
    border-radius: 0 5px 5px 0;
  }
}

.flex-spacer {
  flex: 1 1 auto;
}

.full {
  &__h {
    height: 100%;
  }

  &__w {
    width: 100%;
  }
}

.txt {
  &__light-gray {
    color: map-get($colors, light-gray);
  }
}

// ---- shared styles for parts ---- //

.page-container{
  height: 100%;

  &__screen {
    height: 100vh;
  }
}

.content-container {
  padding: 5px 40px;
}

.content-wrapper {
  width: 100%;
  max-width: 1000px !important;
  margin: auto;
}

.content-header-container {
  min-height: map-deep-get($layout-set, main, header, min-h);
  width: 100%;
  padding: 10px 40px 0px;
  border-bottom: 1px solid map-get($colors , white);
  box-shadow: 0 1px 2px 1px rgba(154, 154, 204, .22) !important;

  .content-headline {
    padding-top: 15px;
  }
}

.content-body {
  padding: 20px;
  background-color: map-get($colors, white);
}

.logo {

  a {
    color: map-get($colors, white) !important;
  }

  &__mark {
    mat-icon {
      width: 32px;
      height: 32px;
      font-size: 3.2rem;
      color: map-get($colors, white);
    }
  }

  &__type {
    line-height: 100%;
    font-weight: 600;
  }
}

button.button-s {
  height: map-deep-get($layout-set, main, button-s, h);
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 0 20px !important;

  &:hover {
    background-color: map-get($colors, focus-light);
  }
}

.message-container {
  padding: 20px;
  height: 300px;

  .empty,
  .under-construction {
    display: inline-flex;
    height: 100%;
    width: 100%;

    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #999;

    .mat-icon {
      font-size: 8rem;
      margin-bottom: 20px;
      width: auto;
      height: auto;
    }

    .message {
      font-weight: 600;
      font-size: 2rem;
      text-align: center;
    }
  }
}

// ---- z-index

.hero-shots {
  z-index: 200;
}

.login-wrapper {
  z-index: 300;
}

.mat-sidenav-container {
  z-index: 100;
}

.app-main-content-header{
  display: block;
  z-index: 2;
}

.workspace-owner-content-wrapper {
  z-index: auto;

  .workspace-list-container {
    z-index: 2;
  }

  .workspace-detail-container {
    display: block;
    z-index: auto;
  }
}

.circle-button {
  z-index: 1000;
}

.open-button,
.shutdown-button {
  z-index: 2000;
}
