@charset "utf-8";

// ---- Associated Sass
@import "./styles/main.scss";
// ---- Material Design
@import '~@angular/material/theming';
@import "./styles/style-md-custom";
@include mat-core($custom-typography);
@include angular-material-theme($app-theme);
@import "./styles/style-md-overwritten";

// ---- Global base style on element ---- //
html {
  // ---- set '62.5%'
  // ---- for writing rem based font-size intuitively
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  //background: map-get($app-primary, light);
  color: $dark-text;
}

a {
  &:hover{
    color: map-get($app-accent, light);
    cursor: pointer;
  }
}

button {
  border-radius: 3px;

  &:hover {
    cursor: pointer;
    filter: brightness(110%);
  }
}

// ---- Functional style classes ---- //
.block { display: block; }
.hide { display: none !important; }
.invisible { opacity: 0; }
.flex-spacer { flex: 1 1 auto; }
.full {
  &__h { height: 100%; }
  &__w { width: 100%; }
}

a.u-line,
.u-line a {
  text-decoration: underline;
}

.container {
  display: block;
  width: auto;
  max-width: 1200px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;

  &__fluid {
    max-width: 100%;
    height: 100%;
  }

  &__screen {
    max-width: 100%;
    min-height: 100vh;
    height: auto;
  }
}



// ---- Shared parts styles ---- //
.logo {
  &__type {
    position: relative;
    line-height: 100%;

    span.owner {
      position: absolute !important;
      line-height: 100% !important;
      margin-left: 5px !important;
      bottom: 3px !important;
      margin-bottom: 0 !important;
    }
  }
}

.message-container {
  padding: 20px;
  height: 300px;

  .empty,
  .under-construction {
    display: inline-flex;
    height: 100%;
    width: 100%;

    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #999;

    .mat-icon {
      font-size: 8rem;
      margin-bottom: 20px;
      width: auto;
      height: auto;
    }

    .message {
      font-weight: 600;
      font-size: 2rem;
      text-align: center;
    }
  }
}

.content-header-container {
  @include shadow(.05);
  min-height: map-deep-get($layout-set, main, header, min-h);
  width: 100%;
  padding: 15px 30px 6px;
  //border-bottom: 1px solid map-get($colors , white);
}

.content-container {
  position: relative;
  padding: 5px 40px;
  min-height: calc(100vh - 70px);
}

.page-container{
  height: 100%;

  &__screen {
    height: 100vh;
  }
}

// ---- MaterialDesign/FontAwesome overwritten styles  ---- //

.fab {
  font-size: 1.1rem;
  padding: 2px 10px;
  display: inline-block;
  min-width: 30px;
  height: 20px;
  text-align: center;
  border-radius: 13px;
}

.mat-display-1, .mat-display-2, .mat-display-3, .mat-display-4,
.mat-headline, .mat-title, .mat-subheading-1, .mat-subheading-2,
.mat-button, .mat-body-2, .mat-body-1 {
  margin-bottom: 0 !important;
}

.mat-card-header-text {
  margin-bottom: 0 !important;
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
    margin-bottom: 5px;
}


.mat-icon,
.ng-fa-icon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 100%;

  &.md-16 {
    font-size: 16px;
    height: 16px;
    width: 16px;
  }

  &.md-18 {
    font-size: 18px;
    height: 18px;
    width: 18px;
  }

  &.md-24 {
    font-size: 24px;
  }

  &.md-36 {
    font-size: 36px;
    height: 36px;
    width: 36px;
  }

  &.md-48 {
    font-size: 48px;
    height: 48px;
    min-width: 48px;
    max-width: 70px;
    text-align: center;
  }
}

.icon-holder {
  width: 24px;
  height: 24px;
}

.chips {
  line-height: 200%;
}

.chip {
  &__sm {
    color: map-get($app-gray, 900);
    background-color: map-get($app-gray, 100);
    margin-right: 3px;
    line-height: 120%;
    min-height: 20px;
    padding: 0 9px 2px !important;
    border-radius: 10px;
    //word-break: keep-all;
  }

  &__m {
    font-weight: 600;
    color: map-get($colors, dark);
    background-color: map-get($colors, light2);
    margin-right: 3px;
    line-height: 100%;
    min-height: 24px;
    border-radius: 15px;
  }

  &__hidden {
    font-weight: 600;
    color: map-get($colors, dark);
    background-color: map-get($colors, light2);
    margin-right: 3px;
    line-height: 100%;
    min-height: 24px;
    border-radius: 15px;
    padding: 1px 12px 2px !important;
  }
}

// ---- z-index styles ---- //

.hero-shots {
  z-index: 200;
}

.login-wrapper {
  z-index: 300;
}

.mat-sidenav-container {
  z-index: 100;
}

.mat-sidenav {
  z-index: 2000;
}

.app-main-content-header{
  display: block;
  z-index: 2;
}

.workspace-owner-content-wrapper {
  .workspace-list-container {
    z-index: 2;
  }
}

.circle-button {
  z-index: 1000;
}

.open-button,
.shutdown-button {
  z-index: 2000;
}


// ---- erase later when finished css refactoring ----//

.v-centering {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__inline {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}


.inversion{
  &.primary {
    @include inversion(primary);
  }

  &.accent {
    @include inversion(accent);
  }

  &.warn {
    @include inversion(warn);
  }

  &.dark {
    @include inversion(dark);
  }

  &.light-dark {
    @include inversion(light-dark);
  }

  &.light-gray {
    @include inversion(neutral-dark);
  }

  &.light-accent {
    @include inversion(light-accent);
  }

  &.transparent {
    @include inversion(transparent);
  }

  .mat-stroked-button {
    border: 1px solid map-get($colors, white) !important;
  }
}

.dark {
  background: map-get($colors, dark);
}

.r {
  &__no{
    border-radius: 0;
  }
  &__all{
    border-radius: 5px;
  }
  &__top{
    border-radius: 5px 5px 0 0;
  }
  &__bottom{
    border-radius: 0 0 5px 5px;
  }
  &__left{
    border-radius: 5px 0 0 5px;
  }
  &__right{
    border-radius: 0 5px 5px 0;
  }
}

.txt {
  &__light-gray {
    color: map-get($colors, light-gray);
  }
}
