@charset "utf-8";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "@fontsource/open-sans/300.css";
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/500.css";
@import "@fontsource/open-sans/600.css";
@import "@fontsource/open-sans/700.css";
@import "@fontsource/open-sans/800.css";
@import "@fontsource/quicksand/300.css";
@import "@fontsource/quicksand/400.css";
@import "@fontsource/quicksand/500.css";
@import "@fontsource/quicksand/600.css";
@import "@fontsource/quicksand/700.css";
@import 'material-icons/iconfont/material-icons.css';
@import '@material-symbols/font-500/outlined.css';

// ---- Shared Sass
@import './styles/shared';
