@import "src/styles/main.scss";

 .content-container {
    flex: 1 1 auto;
    overflow: hidden;
    background: $gray-light-color !important;

    display: flex;
    flex-direction: column;
 }

::ng-deep .mat-mdc-tab-group {
  flex: 1 1 auto;
  padding-top: 10px;
  overflow: hidden;

  .mat-mdc-tab-header {
    --mdc-secondary-navigation-tab-container-height: 42px;
  }

  .mdc-tab {
    background: white !important;
    border-right: 1px solid $primary-light-color !important;

    &:last-child {
      border-right: none !important;
    }

    &--active {
      background: white !important;
    }

    .mdc-tab__text-label {
      color: rgba(0, 0, 0, 0.87);
      font-weight: 500;
      font-size: 1.4rem;
    }

  }

  button.mat-mdc-tab-header-pagination {
    background-color: $gray-extra-light-color !important;
  }

  .mat-mdc-tab-body-wrapper {
    border-top: 1px solid $gray-color;
    padding: 0 30px;
    background: $gray-extra-light-color !important;
    height: calc(100vh - 130px);

    .tab-content {
      height: 100%;
      padding: 15px;

      .catalog-section {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        padding-bottom: 50px;
      }
    }
  }
}

.no-public-applications-divider,
.no-public-applications-card {
  text-align: center;

  mat-icon {
    height: 80px;
    width: 80px;
    font-size: 8.0rem;
    color: $gray-dark-color;
  }

  .no-public-applications-text {
    text-align: center !important;
    margin-top: 5px;
  }
}

.no-public-applications-divider {
  margin-bottom: 30px;
}

// ----- MOBILE

@media (max-width: 599px) {

  .application-item-container {
    padding: 10px;
  }
  ::ng-deep mat-tab-header {
    display: none !important;
  }

  ::ng-deep .mat-mdc-tab-body-wrapper {
    border-top: none;
    padding: 5px !important;
    height: calc(100vh - 170px);
  }
}
