<div [ngClass]="context?.identifier" class="page-container">
  <div class="content-header-wrapper">
    <div class="content-header-container">
      <app-main-content-header (emitApplyFilter)="applyFilter($event)"
                               [context]="context"
                               [isAutocompleteDisabled]="true"
                               [isSearchOn]="true"
                               [labels]="selectedCategory ? selectedCategory.labels : []">
      </app-main-content-header>
      <button (click)="openJoinWorkspaceDialog()"
              aria-label="Join Workspace"
              class="join-workspace-button"
              mat-flat-button>
        Join workspace
      </button>
    </div>
  </div>

  <!-- Application categories -->
  <div class="content-container">
    <!--  Service Announcement 'catalog'  -->
    <app-service-announcement [context]="context"></app-service-announcement>
    @if (categories.length > 0) {
      <mat-tab-group (selectedTabChange)="changeCategory($event)"
                     mat-align-tabs="center"
                     mat-stretch-tabs="false">
        @for (category of categories; track category) {
          <mat-tab label="{{ category.name }}">
            @if (selectedCategory?.name === category.name) {
              <div class="tab-content">
                @if (applications?.length > 0) {
                  <div
                      class="application-item-container">
                    @for (application of applications; track application) {
                      <app-main-application-item [application]="application" [context]="context">
                      </app-main-application-item>
                    }
                  </div>
                } @else {
                  <section class="status-info-container">
                    <div class="empty-status">
                      <div class="status-headline">No applications found</div>
                      <div class="status-summary">
                        If you want to add more applications,<br> Join a workspace using the button on top to access
                        the content.
                      </div>
                    </div>
                  </section>
                }
                @if (getPublicApplicationAccessNote()) {
                  <div
                      [innerHTML]="getPublicApplicationAccessNote()"
                      class="no-public-applications-text status-summary">
                  </div>
                }
              </div>
            }
            <!-- //// tab-content -->
          </mat-tab>
        }
      </mat-tab-group>
    } @else {
      <section class="status-info-container">
        <div class="loading-status">
          <span class="status-headline">...Loading...</span>
        </div>
      </section>
    }
  </div>
</div>
