// ---- main-application-item.component.scss
@use 'base-styles' as base;
@use 'ui-components' as uis;
@use 'utilities' as utils;
@use 'layouts' as layouts;

@include layouts.page($bg-color: var(--neut-clr-2), $overflow: hidden);
@include layouts.header;
@include layouts.content($type: stretch, $is-widen: true, $gap: 0, $padding-top: 0);
@include layouts.status-block;

.join-workspace-button {
  @include uis.button(
          $role: prim, $font-size: 1.6rem, $style: 'flat',
          $width: auto, $height: 40px,
          $icon: 'vpn_key', $icon-family: 'Filled');
}

::ng-deep .mat-mdc-tab-group {
  max-width: 100% !important;
  min-height: auto !important;

  .mat-mdc-tab-header {
    --mdc-secondary-navigation-tab-container-height: 38px;

    .mdc-tab {
      @include base.styled-font;

      font-size: 1.4rem;
      font-weight: 600;
      color: var(--prim-clr-7);
      letter-spacing: -0.01em;
      background: white;
      border-right: 1px solid var(--neut-clr-2);

      &--active {
        background: white !important;
      }

      .mat-mdc-tab-label-container {
        height: var(--tab-header-height);
      }
    }
  }

  .mat-mdc-tab-body-wrapper {
    flex-grow: 1;
    padding: 0;
    background: var(--neut-clr-1);
    border-top: 1px solid var(--neut-clr-3);

    .tab-content {
      height: calc(100vh - var(--tab-header-height) - var(--header-height) - 10px);
      padding: 0 base.$page-side-padding;
    }
  }
}

.application-item-container {
  @include utils.flex-col-block($gap: 10px, $type: center);
  padding-top: 20px;
  padding-bottom: 100px;
}

.empty-status {
  .status-headline {
    @include uis.crowned-text($icon: import_contacts, $icon-type: 'Icons', $icon-family: 'Outlined',
    $color: var(--neut-clr-7), $icon-size: 6rem);
  }
}

.no-public-applications-text {
  @include uis.crowned-text($icon: person_alert, $color: var(--neut-clr-7), $icon-size: 8rem);
  padding: 40px;
  margin-top: 40px;
  border-top: 1px solid var(--neut-clr-3);
}

@media (max-width: #{base.$mobile-width}) {
  ::ng-deep.mat-mdc-tab-labels {
    justify-content: start !important;
  }

  .tab-content {
    padding: 0 10px !important;
  }
}