<div class="content-header-container" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="30px">
  <app-main-content-header fxFlex="grow"
    (emitApplyFilter)="applyFilter($event)"
    [content]="content"
    [isSearchOn]="true"
    [isAutocompleteDisabled]="true"
    [labels]="selectedCatalog ? selectedCatalog.labels : []">
  </app-main-content-header>
  <button mat-button fxFlex="0 0 180px" class="shadow__moderate join-workspace-button" aria-label="Join Workspace"
    matTooltip="Join workspace"
    (click)="openJoinWorkspaceDialog()">
    <mat-icon class="mr-5">group_add</mat-icon>
    Join workspace
  </button>
</div>

<!-- Environment Catalogs -->
<section class="environments-catalog content-container">
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" class="my-environment-tab mb-30"
    (selectedTabChange)="changeCatalog($event)">
    <ng-container *ngFor="let catalog of getCatalogs()">
      <mat-tab label="{{ catalog.name }}">
        <ng-template mat-tab-label>
          <div [ngSwitch]="catalog.type">
            <ng-container *ngSwitchCase="'all'">
              <mat-icon class="tab-icon">
                apps
              </mat-icon>
            </ng-container>
          </div>
          <span class="tab-title">{{ catalog.name }}</span>
        </ng-template>

        <div class="tab-content">
          <div class="catalog-section" *ngIf="selectedCatalog && selectedCatalog.name === catalog.name">
            <div *ngIf="environments.length > 0; else noEnvironmentBlock" class="environment-item-container"
              fxLayout="column" fxLayoutAlign="start stretch">
              <ng-container *ngFor="let environment of environments">
                <app-main-environment-item
                  [environment]="environment">
                </app-main-environment-item>
              </ng-container>
            </div>
            <ng-template #noEnvironmentBlock>
              <div class="message-container">
                <div class="empty">
                  <mat-icon fontSet="material-icons-outlined">import_contacts</mat-icon>
                  <span class="message">No environments found</span>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <!-- //// tab-content -->
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</section>
