@import "src/styles.scss";

.environments-catalog-functions {
  position: absolute;
  right: 40px;
  top: 14px;

  button {
    height: 50px;
    width: 50px;

    ::ng-deep .mat-button-wrapper{
      padding: 0 !important
    }
  }
}

::ng-deep .environments-catalog {

  mat-accordion {
    .mat-expansion-panel {
      margin: 6px 0 10px 0;
      box-shadow: none !important;
      background: none !important;

      .mat-expansion-panel-content {

        .mat-expansion-panel-body {
          margin-bottom: 10px;
          padding: 10px 30px;
          background: map-get($colors, white);
        }
      }
    }
  }

  mat-tab-group {
    margin: 10px 0 50px 0;

    .label-list-sm {
      .mat-chip {
        background: map-get($colors, white);
      }
    }

    mat-tab-header {
      .mat-tab-label {
        background: map-get($colors, white);
        border-right: map-get($borders , thin);

        .tab-icon {
          margin-right: 5px;
          color: map-get($colors, primary);
        }

        .tab-title {
          color: map-get($colors, primary);
          font-size: 1.3rem !important;
        }
      }

      .mat-ink-bar {
        background-color: map-get($colors , accent) !important;
        height: 4px;
      }
    }

    .mat-tab-body-wrapper {
      padding: 15px 0px !important;

      .catalog-section {
        margin: auto;
        max-width: 1000px;
        width: 100%;
      }
    }
  }
}
