// ---- src/styles/ui-components/_card.scss
@use 'utilities' as utils;
@use 'base-styles' as base;

@mixin card($direction: col, $height: auto, $y-align: stretch, $title-font-size: 1.7rem) {

  .mat-mdc-card {
    min-height: $height;
    color: var(--neut-clr-8);
    border-radius: 3px;
    overflow: hidden;

    @if $direction == row {
      @include utils.flex-row-block($type: $y-align, $gap: 0, $wrap: false);
      @media (max-width: base.$mobile-width) {
        @include utils.flex-col-block($type: space-between, $gap: 0);
      }
    } @else {
      @include utils.flex-col-block($type: space-between, $gap: 0);
    }

    .mat-mdc-card-header {
      justify-content: space-between;
      padding: 10px 4px 2px base.$application-card-content-padding;
      border-bottom: var(--content-border-neut);
      line-height: 100% !important;

      .mat-mdc-card-title {
        @include utils.flex-row-block($gap: 10px, $wrap: false);
        line-height: 110%;

        h3 {
          line-height: inherit;
        }
      }

      ::ng-deep .mat-mdc-card-header-text {
        @include base.centering(y);
      }

      .title {
        font-size: $title-font-size;

        // ---- Long names (toggled by [class.long-title])
        &.long-title {
          font-size: 1.4rem !important;
          line-height: 125% !important;
          padding-top: 5px;
        }
      }
    }

    mat-card-content {
      @include utils.flex-col-block($padding: 4px 4px 6px base.$application-card-content-padding);
      flex: 1;
      font-weight: 500;
      color: var(--gray-clr-6);
    }
  }

  // ----- MOBILE
  @media (max-width: base.$mobile-width) {
    .mat-mdc-card {
      display: block !important;
    }

    .card-middle-container,
    .mat-mdc-card-content,
    .mat-mdc-card-actions {
      display: block !important;
      border: none !important;
    }

    .mat-mdc-card-header,
    .mat-mdc-card-content {
      border-bottom: var(--content-border-neut) !important;
    }
  }
}