// ---- src/styles/ui-components/_card.scss
@use 'utilities' as utils;
@use 'links' as links;
@use 'base-styles' as base;

@mixin card($direction: col, $height: auto) {

  .mat-mdc-card {
    min-height: $height;
    color: var(--neut-clr-8);
    border-radius: 3px;

    @if $direction == row {
      @include utils.flex-row-block($type: stretch, $gap: 0, $wrap: false);

      @media (max-width: base.$mobile-width) {
        @include utils.flex-col-block($type: space-between, $gap: 0);
      }
    } @else {
      @include utils.flex-col-block($type: space-between, $gap: 0);
    }

    .mat-mdc-card-header {
      padding: 10px 4px 0 base.$application-card-content-padding;

      h3 {
        font-size: 1.7rem !important;
      }
    }

    mat-card-content {
      padding: 10px 4px 3px base.$application-card-content-padding;
      font-weight: 500;
    }

    .description {
      @include links.common-link;
      font-size: 1.25rem;
      line-height: 1.6;
    }
  }

  // ----- MOBILE
  @media (max-width: base.$mobile-width) {
    .mat-mdc-card {
      display: block !important;
    }

    .card-middle-container,
    .mat-mdc-card-content,
    .mat-mdc-card-actions {
      display: block !important;
      border: none !important;
    }

    .mat-mdc-card-header,
    .mat-mdc-card-content {
      border-bottom: var(--content-border) !important;
    }
  }
}