// ---- src/styles/ui-components/_icons.scss
@use 'base-styles' as base;

@mixin deco-text(
  $color: inherit, $font-size: 1.5rem, $gap: 8px, $highlight: none, $text-align: start,
  $icon: '\ebcc', $icon-type: 'Symbols', $icon-family: 'Outlined', $icon-color: inherit, $back-icon: none, $icon-size: 2.2rem, $icon-weight: 300
) {
  @include base.styled-font;
  @include base.centering(y);
  position: relative;
  justify-content: $text-align;
  flex-wrap: nowrap;
  width: auto;
  font-size: $font-size;
  font-weight: 600;
  color: #{$color};

  @if $icon != none {
    @include icon(
            $icon: $icon, $type: $icon-type, $family: $icon-family, $color: $icon-color, $size: $icon-size, $weight: $icon-weight,
            $pos: left, $gap: $gap);
  }

  @if $highlight != none {
    padding: 2px 10px;
    background: $highlight;
    border-radius: 3px;
  }
}

@mixin crowned-text(
  $color: var(--gray-clr-7),
  $icon: 'ebcc', $icon-size: 9.6rem, $icon-weight: 300, $icon-type: 'Symbols', $icon-family: 'Outlined') {
  @include base.styled-font;
  @include base.centering(xy);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  font-weight: 600 !important;
  color: #{$color} !important;
  text-align: center;

  .emphasis {
    font-size: 8rem;
    font-weight: 500;
  }

  @if $icon {
    @include icon($icon: $icon, $size: $icon-size, $weight: $icon-weight, $type: $icon-type, $family: $icon-family, $pos: up);
  }
}

@mixin icon(
  $icon: apartments, $type: 'Symbols', $family: 'Outlined', $color: inherit, $size: 2.2rem, $weight: 300, $pos: left, $gap: 8px) {
  display: flex;
  gap: $gap;

  $font-family: 'Material Symbols Outlined';

  @if $type == 'Icons' {
    @if $family == 'Filled' {
      $font-family: 'Material Icons';
    } @else {
      $font-family: 'Material Icons Outlined';
    }
  }

  @if $pos == left {
    &::before {
      flex: 0 0 22px;
      width: 24px;
      height: auto;
      font-family: $font-family, sans-serif;
      font-size: #{$size};
      font-weight: #{$weight};
      line-height: 1;
      color: $color;
      content: '#{$icon}';

      @if $family == 'Filled' and $type == 'Symbols' {
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
      }
    }
  }

  @if $pos == right {
    &::after {
      width: auto;
      height: auto;
      margin-left: 8px;
      font-family: $font-family, sans-serif;
      font-size: #{$size};
      font-weight: #{$weight};
      color: $color;
      content: '#{$icon}';
    }
  }

  @if $pos == up {
    &::before {
      display: block;
      width: 90px !important;
      height: auto !important;
      margin: 0;
      font-family: $font-family, sans-serif;
      font-size: #{$size};
      font-weight: #{$weight};
      line-height: 1;
      vertical-align: middle;
      color: $color;
      content: '#{$icon}';
    }
  }
}

@mixin highlight-text($font-size: 1.2rem, $highlight: var(--acc-clr-1), $color: var(--gray-clr-7), $margin-top: -2px, $margin-left: 5px, $padding: 2px 10px) {
  padding: $padding;
  margin-top: $margin-top;
  margin-left: $margin-left;
  font-size: $font-size;
  line-height: 120%;
  color: $color;
  background: $highlight;
  border-radius: 3px;
}