// ---- src/styles/ui-components/_table.scss
@use 'base-styles' as base;
@use 'utilities' as utils;

@mixin table($table-outer-border: none, $vertical-border: false, $header-height: 45px ) {
  overflow: auto;

  table {
    width: 100%;
    overflow: visible;
    table-layout: fixed;
    background: transparent;
    border: $table-outer-border;

    .mat-mdc-header-row {
      height: $header-height;
      background: transparent;
      border-bottom: $table-outer-border;

      .mat-mdc-header-cell {
        padding: 0 4px;
        font-size: 1rem;
        font-weight: 600;
        line-height: 130%;
        vertical-align: middle;
        color: var(--neut-clr-4);
        text-transform: uppercase;
        border-bottom: none;
        @if $vertical-border {
          border-right: 1px solid var(--neut-clr-2);
          &:last-child {
            border-right: none;
          }
        }
      }
    }

    .mat-mdc-row {
      background: white;

      &:hover {
        background-color: var(--prim-clr-0);
      }

      .mat-mdc-cell {
        width: 50px;
        padding: 8px 6px;
        font-size: 1.2rem;
        line-height: 140%;
        vertical-align: middle;
        color: var(--gray-clr-8);
        border-bottom: 1px solid var(--neut-clr-2);
        @if $vertical-border {
          border-right: 1px solid var(--neut-clr-2);
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}

@mixin table-width-fix($width: auto, $min-width: auto, $align: left, $vertical-align: middle, $padding: 2px) {
  width: $width !important;
  min-width: $min-width;
  max-width: $width;
  padding: $padding !important;

  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: $vertical-align !important;
  text-align: $align;
  white-space: nowrap;
}
