@import "src/styles.scss";

.app-dashboard-content-header {
  display: block;
  border-bottom: 1px solid map-get($colors, light);
  box-shadow: 0 1px 2px 1px rgba(154, 154, 204, .22) !important;
}

.workspace-owner-content-wrapper{
  height: 100vh;

  .workspaces-actions-container {
      button {
        height: 55px;
      }
  }

  .workspace-list-container {
    height: 100%;
    padding: 10px 15px 20px 40px;
    border-right: 1px solid map-get($colors, white);
    box-shadow: 0 1px 2px 1px rgba(154, 154, 204, .22) !important;

    .workspace-list {
      max-width: 400px !important;

      .workspace-widget {
        // background-color: map-get($colors, light-gray);
        // color: map-get($colors, white);
        color: map-get($colors, gray2);
        font-weight: 600;
        border-left: 8px solid map-get($colors, white);
        cursor: pointer;

        &.selected {
          border-left: 8px solid map-get($colors, accent);
          background-color: map-get($colors, white);
          color: map-get($colors, dark);
          // margin-right: -20px;
        }
      }
    }
  }
}

.workspace-detail-container {
  height: 100%;
  // padding: 20px 15px 20px 15px;
  position: relative;
  // background-color: map-get($colors, light2);
  border-top: 1px solid map-get($colors, light);
  border-left: 1px solid map-get($colors, light);

  .workspace-detail{
    min-height: 100%;
  }
}

.card-media {
  margin: -16px 0px -16px -16px !important;
}

.mat-card-header {
  font-size: 1.6rem !important;
}
