@import "src/styles.scss";


  .open-wizard {
    max-width: 800px !important;
    margin:  0 auto;

    button {
      width: 100%;
      height: 55px;
    }
}

.workspace-list {
  max-width: 800px !important;
  margin:  20px auto;
}
