<app-dashboard-breadcrumb [content]=content></app-dashboard-breadcrumb>

<div class="open-wizard">
  <div class="open-wizard-content" *ngIf="workspaces && workspaces.length === 0;else workspaceCreation">
    <span>Create Demo Workspace</span>
    <button mat-fab color="primary" aria-label="create demo workspace" (click)="createDemoWorkspace()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <ng-template class="workspace-creation-button" #workspaceCreation>
    <span>Create Workspace</span>
    <button mat-fab color="primary" aria-label="create demo workspace" (click)="openDialog()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </ng-template>
</div>

<section class="workspace-list">
  <!-- <div class="section-header">
    <mat-icon>group</mat-icon>
    <h3>Your Workspaces</h3>
  </div> -->

  <div class="section-body">
    <div class="workspace-list" *ngFor="let workspace of workspaces">
      <ng-container *ngIf="isOwner(workspace)">
        <app-dashboard-workspace-item [workspace]=workspace [content]=content></app-dashboard-workspace-item>
      </ng-container>
    </div>
  </div>
</section>
