@import "src/styles.scss";

.workspace-environments-container {
  height: 100%;
  overflow: hidden;

  .environment-actions {
    button {
      height: 45px;
    }
  }

  // th.mat-header-cell:first-of-type,
  // td.mat-cell:first-of-type,
  // td.mat-footer-cell:first-of-type {
  //   padding-left: 10px;
  // }

  .mat-form-field{
    width: 100%;
  }

  .table-container {
    height: 100%;
    overflow: auto;
  }

  table {
    width: 100%;
    margin: auto;

    .thumbnail {
      text-align: center;

      .thumbnail-placeholder {
        margin: auto;

        &.published {
          color: map-get($colors, dark);
        }

        &.draft {
          color: map-get($colors, light-gray);
        }

        i {
          font-size: 40px;
          margin: auto;
        }
      }
   }

    .environment-name {
      font-weight: 600;
      font-size: 1.5rem;
      color: map-get($colors, dark);
      width: 100%;
      margin-bottom: 5px;
      // border-bottom: 1px solid map-get($colors, light);
    }
  }

  .labels {
    .chip__sm{
      background-color: map-get($colors, white);
      color: #555;
      font-weight: 500;
      border: 1px #ddd solid;
      font-size: 1.1rem;
    }
  }
}
