@import "src/styles.scss";

.workspace-environments-container {
  height: 100%;
  overflow: auto;

  .environment-actions {
    button {
      height: 45px;
    }
  }

  .mat-form-field{
    width: 100%;
  }

  table {
    width: 100%;
    margin: auto;

    .thumbnail {
      text-align: center;

      .thumbnail-placeholder {
        margin: auto;

        &.published {
          color: map-get($colors, dark);
        }

        &.draft {
          color: map-get($colors, light-gray);
        }

        i {
          font-size: 40px;
          margin: auto;
        }
      }
   }

    .environment-name {
      font-weight: 600;
      font-size: 1.5rem;
      color: map-get($colors, dark);
      width: 100%;
      margin-bottom: 5px;
      // border-bottom: 1px solid map-get($colors, light);
    }
  }

  .labels {
    .chip__sm{
      background-color: map-get($colors, white);
      color: #555;
      font-weight: 500;
      border: 1px #ddd solid;
      font-size: 1.1rem;
    }
  }
}

::ng-deep mat-option:last-child:before{
    content: 'All';
    float: left;
    text-transform: none;
    top: 4px;
    position: relative;
}
::ng-deep mat-option:last-child .mat-option-text{
  display: none;
  position: relative;
}
