@import "src/styles.scss";

.workspace-environments-container {

  .environment-actions {
    button {
      height: 45px;
    }
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 10px;
  }

  .mat-form-field{
    width: 100%;
  }

  table {
    // width: 100%;
    // margin: auto;

    .thumbnail{
      width: 60px;

      .thumbnail-placeholder {
        padding: 5px;
        width: 50px;
        height: 50px;
        background-color: map-get($colors, light-gray);

        &.published {
          background-color: map-get($colors, accent);
        }

        img {
          width: 100%;
        }
      }
    }

    .environment-name {
      font-weight: 600;
      font-size: 1.5rem;
      color: map-get($colors, dark);
      width: 100%;
      margin-bottom: 5px;
      // border-bottom: 1px solid map-get($colors, light);
    }
  }
}
