//---- src/app/components/main-page/main-workspace-owner/main-workspace-owner.component.scss
@use 'base-styles' as base;
@use 'ui-components' as uis;
@use 'utilities' as utils;
@use 'layouts' as layouts;

@include layouts.page($flex-direction: row, $overflow: hidden);
@include layouts.header;
@include layouts.content($type: stretch, $is-scrolling: true, $gap: 20px, $padding-top: 10px);
@include layouts.status-block;


// ---- Layouts
:host {
  @include utils.flex-col-block($y-alignment: stretch);
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.workspace-list-container {
  @include utils.flex-col-block($gap: 20px, $y-alignment: stretch);
  flex-basis: 350px;
  height: 100vh;
  overflow: hidden;
  @include utils.shadow(0.1);
  background: var(--neut-clr-1);

  .tablet-workspace-list {
    display: none;
  }

  // ----- Tablet
  @media (max-width: #{base.$tablet-width}) {
    flex-basis: 180px;
    gap: 5px;

    .tablet-workspace-list {
      display: block;
      border: 3px solid var(--neut-clr-1);

      .mat-mdc-form-field {
        width: 100%;
      }
    }

    .workspace-list {
      display: none !important;
    }
  }
  // ----- Mobile
  @media (max-width: #{base.$mobile-width}) {
    width: 100% !important;
    flex-basis: 160px !important;
    gap: 5px;
  }
}

.tab-container {
  flex: 1;
  @include utils.flex-row-block($type: stretch, $gap: 5px, $distribution: start, $wrap: false);

  overflow: hidden;
  background: var(--neut-clr-2);

  ::ng-deep.tab-group-wrapper {
    flex-grow: 1;
    @include utils.flex-row-block($type: stretch, $gap: 5px, $distribution: start);
  }

  .course-request-wrapper {
    position: absolute;
    right: 20px;
    top: 18px;

    button.course-request {
      @include uis.button($role: prim, $icon: calendar_month, $height: 32px, $style: rounded, $font-size: 1.4rem);
      @include uis.external-link-icon();
    }
  }

  ::ng-deep mat-tab-group {
    height: 100vh;
    overflow: hidden;
    padding-top: 15px;
  }

  ::ng-deep mat-tab-group,
  ::ng-deep mat-tab-body {
    flex: 1;
  }

  ::ng-deep.mat-mdc-tab-body-wrapper {
    flex: 1;
    position: relative;
  }

  ::ng-deep.mat-mdc-tab-body-content {
    @include utils.flex-row-block($type: stretch, $wrap: false);
  }

  // ----- Tablet
  @media (max-width: #{base.$tablet-width}) {
    gap: 0 !important;
    height: auto !important;
    min-height: auto !important;
    flex: 1;
    flex-direction: row !important;
    align-items: stretch !important;

    ::ng-deep.tab-group-wrapper {
      @include utils.flex-row-block($type: stretch, $wrap: false);
      height: auto !important;
      min-height: auto !important;
      flex: 1;
    }

    ::ng-deep.mat-mdc-tab-group {
      height: auto !important;
      min-height: auto !important;
      flex: 1;
    }

    .tour-bubble {
      padding: 50px;
    }
  }

  // ----- Mobile
  @media (max-width: #{base.$mobile-width}) {
    padding-top: 0;
    @include utils.flex-row-block($type: stretch, $distribution: start, $wrap: false);

    .tab-group-wrapper {
      flex: 1;
      @include utils.flex-col-block($type: stretch, $gap: 0);
    }

    .course-request-wrapper {
      display: block;
      top: 0;
      right: 0;
      padding: 10px 10px 5px;
      position: relative !important;
      width: 100% !important;
      flex-basis: 45px !important;

      button.course-request {
        width: 100%;
      }
    }

    ::ng-deep.mat-mdc-tab-group {
      height: auto !important;
      min-height: auto !important;
      flex: 1;
    }

    ::ng-deep.mat-mdc-tab-header {
      padding: 0 !important;
    }
  }

  .status-info-container {
    padding: 0 !important;
  }

  //    app-service-announcement {
  //      flex-shrink: 0;
  //    }
}

/* -------------------------------------- */
/* Left UI */
/* -------------------------------------- */

.workspace-list-container {

  .content-header-container {
    @include utils.flex-col-block($type: stretch);
    @include utils.shadow(0.1);
    padding: 10px 15px;
    background: var(--neut-clr-1);

    .title {
      @include base.centering(xy);
      height: var(--header-height);

      @media (max-width: #{base.$tablet-width}) {
        height: var(--header-height-s);
      }
    }

    .header-functions {
      .create-demo-workspace-button {
        @include uis.button($icon: auto_fix_high, $width: 100%, $height: 40px, $role: 'sec');
      }

      .create-workspace-button {
        @include uis.button($icon: dashboard_customize, $width: 100%, $height: 40px);
      }
    }
  }

  .warning-message {
    @include uis.warning-message();
  }

  .empty-status {
    .status-headline {
      @include uis.crowned-text($icon: group, $icon-type: 'Icons', $icon-family: 'Outlined',
      $color: var(--neut-clr-7), $icon-size: 6rem);
    }
  }

  .workspace-list {
    @include utils.flex-col-block($gap: 5px, $flex: grow);
    overflow: auto;
    padding: 0 15px 30px;

    @include uis.card();

    .workspace-item {
      cursor: pointer;
      background: white;

      .mat-mdc-card-header {
        padding: 20px 10px 20px 10px;
        border-bottom: none;

        ::ng-deep.mat-mdc-card-header-text {
          width: 100%;
        }

        .title {
          @include uis.deco-text($color: var(--prim-clr-7), $icon: apps, $icon-type: 'Icons');
          flex-wrap: nowrap;
        }
      }

      .workspace-info {
        padding: 10px 20px 15px !important;
        border-top: var(--content-border-neut);

        .description {
          margin-bottom: 15px;
          overflow-wrap: break-word;
        }

        @include uis.grid-list($fractions: '110px auto', $gap: 10px 5px);
      }
    }
  }

  // ---- Styles based on status changes
  .workspace-list .workspace-item {
    border-left: 8px solid white;

    &.selected {
      border-left: 8px solid var(--prim-clr-5);

      .mat-mdc-card-header {
        padding: 15px 10px 10px 15px !important;
      }

      .open-join-code-button {
        @include uis.password-button($role: prim);
      }

      .workspace-selected-arrow {
        @include uis.icon($icon: chevron_right);
      }
    }

    &.deleted {
      background-color: var(--neut-clr-2);
    }

    &.owner {
      // ---- Role color: Prim
      .user-role-txt {
        color: var(--prim-clr-7);
      }

      .mat-mdc-card-title .title {
        @include uis.deco-text($color: var(--prim-clr-7), $icon: apps, $icon-type: 'Icons');
      }

      .open-join-code-button {
        @include uis.password-button($role: prim);
      }

      &.selected {
        border-left: 8px solid var(--prim-clr-6);
      }
    }

    &.co-owner {
      // ---- Role color: Sec

      .user-role-txt {
        color: var(--sec-clr-7);
      }

      .mat-mdc-card-title .title {
        @include uis.deco-text($color: var(--sec-clr-7), $icon: apps, $icon-type: 'Icons');
      }

      .open-join-code-button {
        @include uis.password-button($role: sec);
      }

      &.selected {
        border-left: 8px solid var(--sec-clr-6);
      }
    }

    &.public {
      // ---- Role color: Acc * Appeared only for admin

      .user-role-txt {
        color: var(--acc-clr-7);
      }

      .mat-mdc-card-title .title {
        @include uis.deco-text($color: var(--acc-clr-7), $icon: public);
      }

      .open-join-code-button {
        @include uis.password-button($role: acc);
      }

      &.selected {
        border-left: 8px solid var(--acc-clr-6);
      }
    }

    &.expired-item {
      background-color: var(--neut-clr-2);
      border-left: 8px solid var(--neut-clr-5);

      .mat-mdc-card-title .title {
        color: var(--gray-clr-7) !important;
      }

      &.selected {
        border-left: 8px solid var(--sec-clr-5);

        .open-join-code-button {
          @include uis.password-button($role: gray);
        }

        .expiration-date {
          color: var(--warn-clr-7);
          text-decoration: underline;
        }
      }
    }
  }

  /* -------------------------------------- */
  /* Tablet */
  /* -------------------------------------- */
  @media (max-width: #{base.$tablet-width}) {

    .header-functions {
      @include utils.flex-row-block($type: start, $distribution: center, $gap: 10px, $wrap: false);

      .create-demo-workspace-button,
      .create-workspace-button,
      .warning-message {
        flex-basis: 50%;
      }
    }

    .tablet-workspace-list {
      padding: 0 10px;

      ::ng-deep.mat-mdc-text-field-wrapper {
        background: var(--prim-clr-2);
      }
    }
  }

  /* -------------------------------------- */
  /* Mobile */
  /* -------------------------------------- */
  @media (max-width: #{base.$mobile-width}) {
    .header-functions {
      @include utils.flex-col-block($gap: 5px);
    }
  }
}

/* -------------------------------------- */
/* Right UI */
/* -------------------------------------- */

::ng-deep .mat-mdc-tab-label-container,
::ng-deep .mat-mdc-tab-header {
  overflow: visible !important;
}

.tab-container {
  ::ng-deep.mat-mdc-tab-header {
    flex-basis: 45px;
    padding-left: 20px;
    padding-right: 230px; // ---- To spare the room for Course request button

    .mat-mdc-tab {
      flex: 1 1 auto;
      line-height: 1.4rem;
      height: 45px;
      padding: 0 2px;

      font-weight: 500;
      color: var(--prim-clr-7);
      letter-spacing: normal;
      background: white;
      border: 1px solid var(--neut-clr-2);
      border-radius: 3px 3px 0 0;
      min-width: 50px;

      .tab-title {
        font-size: 1.4rem !important;

        &.applications {
          @include uis.deco-text($icon: import_contacts, $icon-type: 'Icons', $gap: 4px);
        }

        &.members {
          @include uis.deco-text($icon: person, $icon-type: 'Icons', $icon-family: 'Filled', $gap: 4px);
        }

        &.custom-images {
          @include uis.deco-text($icon: album, $icon-type: 'Icons', $icon-family: 'Filled', $gap: 4px);
        }

        &.setting {
          @include uis.deco-text($icon: settings, $icon-type: 'Icons', $icon-family: 'Filled', $gap: 4px);
        }
      }

      .preview-label {
        position: absolute;
        top: -10px;
        left: -5px;
        display: inline-block;
        overflow: visible;
        padding: 4px 5px;
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--sec-clr-8);
        text-transform: uppercase;
        background-color: var(--acc-clr-1);
        border-radius: 3px;
      }
    }
  }
}

.empty-status {
  .status-headline {
    @include uis.crowned-text($icon: group, $icon-type: 'Icons', $icon-family: 'Outlined',
    $color: var(--neut-clr-7), $icon-size: 6rem);
  }
}

.success-status {
  .status-headline {
    @include uis.crowned-text($icon: delete, $icon-size: 6rem);
  }
}

// ---- END (Right UI)

/* -------------------------------------- */
/* Tablet */
/* -------------------------------------- */
@media (max-width: #{base.$tablet-width}) {

  ::ng-deep.mat-mdc-dialog-panel {
    height: 95% !important;
  }
}

/* -------------------------------------- */
/* Mobile */
/* -------------------------------------- */
@media (max-width: #{base.$mobile-width}) {

  ::ng-deep.mat-mdc-tab {
    .tab-title {
      display: none;
    }

    span.label {
      display: none !important;
    }
  }

  ::ng-deep.mat-mdc-dialog-container {
    padding: 0 !important;
  }
}

// ---- For Lifecycle-corner-banner
.workspace-list {
  .workspace-item {

    &.new-item {
      .lifecycle-corner-banner::before {
        @include uis.corner-banner($bg: var(--acc-clr-5), $content: 'New');
      }
    }

    &.deleted-item {
      .lifecycle-corner-banner::before {
        @include uis.corner-banner($bg: var(--gray-clr-6), $content: 'Deleted');
      }
    }

    &.expired-item {
      .lifecycle-corner-banner::before {
        @include uis.corner-banner($color: var(--gray-clr-9), $bg: var(--gray-clr-4), $content: 'Expired');
      }
    }

    &.expiring-item {
      .lifecycle-corner-banner::before {
        @include uis.corner-banner($color: var(--prim-clr-6), $bg: var(--prim-clr-1), $content: 'Expiring');
      }

      .expiration-date {
        padding: 0 10px;
        background: var(--prim-clr-1);
      }
    }

    &.expiring-soon-item {
      .lifecycle-corner-banner::before {
        @include uis.corner-banner($color: var(--warn-clr-6), $bg: var(--warn-clr-1), $content: 'Expiring soon');
      }

      .expiration-date {
        padding: 0 10px;
        background: var(--warn-clr-1);
      }
    }
  }
}

// ---- For Tablet layout Lifecycle-note
.tablet-workspace-list,
.workspace-selection {

  .new-item.lifecycle-badge::after {
    @include uis.badge-item($text: 'New', $role: sec, $position: after);
  }

  .expiring-item.lifecycle-badge::after {
    @include uis.badge-item($text: 'Expiring', $role: prim, $position: after);
  }

  .expiring-soon-item.lifecycle-badge::after {
    @include uis.badge-item($text: 'Expiring soon', $role: warn, $position: after);
  }

  .expired-item.lifecycle-badge::after {
    @include uis.badge-item($text: 'Expired', $role: gray, $position: after);
  }
}
