@import "src/styles/main.scss";

// ---- Layout
#workspace-owner-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;

  .workspace-list-container {
    min-width: 350px;
    max-width: 350px;
    height: 100vh;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: $gray-light-color !important;
    @include shadow(0.1);

    .mobile-workspace-list {
      display: none;
    }
  }

  #workspace-owner-tab-container {
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    app-service-announcement {
      flex-shrink: 0;
    }

    app-main-workspace-applications,
    app-main-workspace-members,
    app-main-workspace-custom-images,
    app-main-workspace-item-detail {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }
  }
}

/* -------------------------------------- */
/* Left UI */
/* -------------------------------------- */

::ng-deep .mat-mdc-tab-body-wrapper {
  flex: 1;
}

#workspace-owner-container {

  .content-header-container {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    padding: 10px 15px;

    h3 {
      text-align: center;
      height: 60px;
      @include center(both, inline);
    }
  }

  .workspaces-actions-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;

    button {
      @include secondary-main-background;
      height: 50px;
      font-size: 1.6rem !important;

      mat-icon {
        font-size: 2.4rem !important;
        height: 24px !important;
        width: 24px !important;
      }


      &.mat-mdc-button-disabled {
        @include invalid-dark-background;
      }
    }

    .max-quota-warning {
      @include warn-light-background;
      @include headline-5;
      border-radius: 5px;
      padding: 15px 10px;
    }
  }

  .workspace-list-container {

    .workspace-list {
      overflow: auto;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: stretch;
      gap: 5px;

      .workspace-item {
        color: map-get($app-primary, default);
        cursor: pointer;
        border-radius: 3px;
        @include styled-font;
        font-size: 1.6rem;
        font-weight: 600;
        margin: 10px 15px 0;

        .card-header {
          display: flex;
          flex-direction: row;
          gap: 10px;
          padding: 25px 20px;

          mat-icon {
            color: #919cd2;
          }

          .workspace-icon,
          .workspace-selected-arrow {
            @include center(vertical, inline);
          }

          .workspace-title {
            @include center(vertical, inline);
            flex-wrap: wrap;
          }
        }

        &.public {
          mat-icon {
            color: #6bb9bc !important;
          }
        }

        .workspace-info {
          padding: 10px 20px 5px;
          border-top: map-get($borders, thin-dark);

          .description {
            @include headline-5;
            margin-bottom: 15px;
            overflow-wrap: break-word;
          }

          dl {
            display: grid;
            height: auto;
            grid-template-columns: 110px auto;
            @include headline-5;
            margin-bottom: 15px;
          }
        }

        &.deleted {
          background-color: map-get($app-gray, 100);
        }

        &.selected {
          color: map-get($app-gray, 900);
          border-left: 8px solid #919cd2;

          &.public {
            border-left: 8px solid #6bb9bc;
          }

          .card-header {
            padding: 25px 20px 20px 10px;
          }

          .workspace-info {
            padding: 10px 20px 5px 15px;
          }
        }

        &.owner {
          &.selected {
            border-left: 8px solid #919cd2;;
          }
        }

        &.co-owner,
        &.manager {
          &.selected {
            border-left: 8px solid map-get($app-secondary, 800);
          }
        }

        &.expired-item {
          border: 1px solid map-get($app-primary, 400);
          background-color: $gray-extra-light-color !important;

          .user-role-txt,
          mat-icon {
            color: map-get($app-gray, 800) !important;
          }

          .expiration-date {
            color: $warn-extra-dark-color;
            font-weight: bold;
          }

          &.selected {
            border-left: 8px solid #6b777c;
          }
        }
      }

      &.new .workspace-title span:after {
        content: "New";
        font-size: 1.1rem;
        background: map-get($app-accent, default);
        color: #fff;
        padding: 2px 8px;
        margin-left: 5px;
        border-radius: 8px;
      }
    }

    .mat-mdc-form-field {
      width: 100% !important;
    }
  }

  .empty-status {
    display: flex;
    flex-direction: column;
  }
}

// ---- For Lifecycle-corner-banner
.workspace-item {

  .lifecycle-corner-banner:before {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.1rem;
    color: #fff;
    padding: 0 10px;
    border-top-right-radius: 3px;
  }

  &.new-item {
    .lifecycle-corner-banner:before {
      content: "New";
      background: map-get($app-accent, default);
    }
  }

  &.deleted-item {
    .lifecycle-corner-banner:before {
      content: "Deleted";
      background: $gray-dark-color;
    }
  }

  &.expired-item {
    .lifecycle-corner-banner:before {
      content: "Expired";
      color: $gray-extra-dark-color;
      background: $gray-color;
    }
  }

  &.expiring-item {
    .lifecycle-corner-banner:before {
      content: "Expiring";
      background: $primary-light-color;
    }

    .expiration-date {
      padding: 2px 10px;
      background: $primary-extra-light-color;
    }
  }

  &.expiring-soon-item {
    .lifecycle-corner-banner:before {
      content: "Expiring soon";
      background: $warn-dark-color;
    }

    .expiration-date {
      padding: 2px 10px;
      background: $warn-extra-light-color;
    }
  }
}

/* -------------------------------------- */
/* Right UI */
/* -------------------------------------- */

::ng-deep .mat-mdc-tab-label-container,
::ng-deep .mat-mdc-tab-header {
  overflow: visible !important;
}

::ng-deep .mat-mdc-tab-label-container {
  padding-top: 7px;
}

::ng-deep .mat-mdc-tab {
  z-index: 1 !important;
}

::ng-deep .mat-mdc-tab:nth-child(3) {
  z-index: 1000 !important;
}


#workspace-owner-container {

  #workspace-owner-tab-container {
    background: $primary-light-color;

    mat-tab-group {
      flex: 1;
      overflow: auto;

      background: $light-color;
      width: 100%;

      ::ng-deep.mat-mdc-tab-header {
        flex-basis: 50px;
        background: $primary-light-color;
        padding-left: 30px;
        padding-right: 30px;

        .mat-mdc-tab {
          background: $light-color;
          color: #18227c;
          height: 50px;
          border: 1px solid #acb0e0;
          background: #fff;
          @include headline-3;
          font-size: 1.5rem;
          font-weight: 600;
          letter-spacing: normal;
          flex: 0 1 auto;
          border-radius: 3px 3px 0 0;
          padding: 0 15px;

          &:last-child {
            z-index: 2000 !important;
          }

          .label {
            position: absolute;
            display: inline-block;
            font-size: 1.1rem;
            font-weight: 700;
            padding: 4px 5px;
            border-radius: 3px;
            border: 2px solid $primary-light-color;
            background-color: $accent-color;
            color: $secondary-dark-color;
            text-transform: uppercase;
            top: -10px;
            right: -5px;
          }

          .mdc-tab__text-label {
            color: #18227c;
            text-wrap: auto;
            word-wrap: break-word;

            span {
              @include center(both);
            }
          }

          mat-icon {
            font-size: 2.0rem;
            margin-right: 0;
            width: auto;
            height: auto;
          }

          mat-icon + span {
            margin-left: 4px;
          }

          mat-chip {
            display: none !important;
          }

          mat-chip-option {
            margin-left: 6px;
          }

          .chip__circle {
            @include center(both, inline);
            font-weight: 600 !important;
            white-space: nowrap;
            text-align: center;
            font-size: 1.2rem;
            margin-left: 5px;
            line-height: 100%;
            height: 24px !important;
            min-width: 24px !important;
            border-radius: 24px;
            padding: 0 !important;
          }

          .mdc-tab__text-label {
            @include center(both);
          }

          // ---- For info tab
          &#mat-tab-label-0-3 {
            min-width: 60px !important;
            width: 60px !important;
            padding: 0 10px;

            mat-icon {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

// ---- status-info

.status-info-container {
  height: 100%;
  @include center(both);
  margin-top: 30px;
  padding-bottom: 300px;

  .empty-status h3 {
    font-size: 3rem;
    font-weight: bold;
  }

  h4 {
    font-weight: bold;
    font-size: 2.2rem;
  }
}

.workspace-list-container .status-info-container {
  color: #879197;
}

#workspace-owner-tab-container .status-info-container {
  width: 500px;
  margin: 300px auto 0 auto;

  .success-status {
    position: relative;
    z-index: 1000;
  }
}

// ---- END (status-info)

.tab-group-wrapper {
  flex: 1;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .course-request-wrapper {
    position: absolute;
    right: 10px;
    top: 10px;

    button.course-request {
      background: #fff;
      z-index: 1000;
      padding: 5px 15px 5px 20px;
      border-radius: 50px;
      color: $primary-color;

      &:before {
        font-size: 1.8rem;
        width: auto;
        height: auto;
        margin-right: 4px;
        font-family: Material Icons, serif;
        content: "\ebcc";
      }

      &:after {
        font-size: 1.4rem;
        width: auto;
        height: auto;
        margin-left: 4px;
        font-family: Material Icons, serif;
        content: "\e89e";
      }
    }
  }
}

::ng-deep.mat-mdc-tab-body-content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* -------------------------------------- */
/* Mobile */
/* -------------------------------------- */
@media screen and (max-width: 1250px) {

  #workspace-owner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    .workspace-list-container,
    .tab-container {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .content-header-container h3 {
      flex-basis: 30px;
      gap: 0;
    }

    .mobile-workspace-list {
      flex-basis: 55px;

      ::ng-deep.mat-mdc-form-field-bottom-align {
        display: none !important;
      }
    }

    .workspace-owner-tab-container {
      flex: 1;
      display: flex;
      flex-direction: column;

      .tab-group-wrapper {
        flex: 1;

        .mat-mdc-tab-header, .mat-mdc-tab-body-wrapper {
          flex: 1;
        }
      }
    }

    .course-request-wrapper {
      background: none;
    }

    .workspace-list-container {
      max-width: 100%;
      width: 100%;
      flex: 0 0 auto;
      height: auto;
      box-shadow: none !important;
    }

    #workspace-owner-tab-container {
      z-index: 1000;
      width: 100% !important;
      padding: 0 20px 20px;
      border: none;
    }

    mat-tab-group {
      height: calc(100vh - 250px) !important;
    }
  }

  .workspace-list {
    display: none !important;
  }

  .mobile-workspace-list {
    display: block !important;
    padding: 0;
    background: #ffffff;

    box-shadow: 0 -2px 2px 0.5px rgba(0, 0, 50, 0.1) !important;

    ::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
      --mdc-filled-text-field-container-color: #f4ffdb !important;
    }
  }

  .course-request-wrapper {
    top: 10px !important;
    right: 0 !important;

    button.course-request {
      background: $primary-color !important;
      color: #ffffff !important;
      top: 0;
      right: 0;
    }
  }

  ::ng-deep.mat-mdc-dialog-panel {
    height: 95% !important;
  }
}

@media screen and (max-width: 550px) {
  ::ng-deep.mat-mdc-tab {
    .tab-title {
      display: none;
    }

    span.label {
      display: none !important;
    }
  }

  ::ng-deep.mat-mdc-dialog-container {
    padding: 0 !important;
  }
}

// ---- For Responsive layout Lifecycle-note
.mobile-workspace-list,
.workspace-selection {
  .lifecycle-badge:after {
    font-size: 1.2rem;
    background: $gray-color;
    color: #fff;
    padding: 3px 10px;
    margin-left: 8px;
    border-radius: 20px;
  }

  .new-item {
    &.lifecycle-badge:after {
      content: "New";
      background: $secondary-color;
    }
  }

  .expiring-item {
    &.lifecycle-badge:after {
      content: "Expiring";
      background: $primary-light-color;
    }
  }

  .expiring-soon-item {
    &.lifecycle-badge:after {
      content: "Expiring soon";
      background: $warn-dark-color;
    }
  }

  .expired-item {
    &.lifecycle-badge:after {
      content: "Expired";
      background: $gray-dark-color;
    }
  }
}
