<app-main-content-header class="app-main-content-header" [content]="content" [isSearchOn]="false">
</app-main-content-header>

<div class="workspace-owner-content-wrapper">
  <!-- Left Column : Workspace list -->
  <div class="workspace-list-container" fxFlex="0 0 300px" fxLayout="column" fxLayoutGap="10px">
    <div class="workspaces-actions-container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
      <ng-container *ngIf="workspaces && workspaces.length === 0; else workspaceCreationBlock">
        <button mat-flat-button class="create-demo-workspace-button inversion primary"
                aria-label="create demo workspace" (click)="createDemoWorkspace()">
          <mat-icon>add</mat-icon>
          <span>Create demo workspace</span>
        </button>
      </ng-container>
      <ng-template #workspaceCreationBlock>
        <button mat-flat-button
                class="create-workspace-button"
                [ngClass]="{'inversion primary': isQuotaLeft()}"
                aria-label="create a new workspace"
                [disabled]="!isQuotaLeft()"
                (click)="openWorkspaceCreationDialog()">
          <mat-icon class="mr-5">add</mat-icon>
          <span>Create workspace</span>
        </button>
      </ng-template>
    </div>
    <div class="workspace-list" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
      <ng-container *ngFor="let workspace of workspaces">
        <mat-card fxLayout="row" fxLayoutAlign="space-between stretch" class="workspace-widget"
                  [ngClass]="{ 'selected': workspace.id === selectedWorkspaceId }"
                  (click)="viewWorkspaceItemDetail(workspace.id)">
          <div class="card-media v-centering__horizontal" fxFlex="0 0 45px">
            <mat-icon>people_outline</mat-icon>
          </div>
          <mat-card-content class="card-info" fxFlex="grow" fxLayout="row" fxLayoutAlign="space-between stretch"
                            matBadge="new" matBadgePosition="above after" matBadgeColor="accent"
                            [matBadgeHidden]="!isNewWorkspace(workspace.id)">
            <div class="workspace-name" fxFlex="grow">{{ workspace.name }}</div>
            <div class="workspace-selected-arrow v-centering__horizontal" fxFlex="0 0 25px"
                 *ngIf="workspace.id === selectedWorkspaceId">
              <mat-icon>navigate_next</mat-icon>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>

  <!-- Right Column : Workspace Detail -->
  <div class="workspace-detail-container" fxFlex="grow">
    <router-outlet></router-outlet>
  </div>
</div>
