@import "src/styles.scss";

.content-header-container {
  border-bottom: 1px solid map-get($colors, gray2) !important;
  box-shadow: 0 1px 2px 1px rgba(154, 154, 204, .22) !important;
}

.workspace-owner-content-wrapper {
  height: calc(100vh - 70px);
  width: 100%;
  overflow: hidden;

  .workspaces-actions-container {
    button {
      height: 55px;
    }
  }

  .workspace-list-container {
    overflow: hidden;
    // border-right: 1px solid map-get($colors, white);
    // box-shadow: 0 1px 2px 1px rgba(154, 154, 204, .22) !important;

    .workspace-list {
      // max-width: 400px !important;
      overflow: auto;

      .mat-card {
        padding: 5px 16px;
        border-top: 1px solid map-get($colors , light3);
        border-left: 8px solid map-get($colors , light2);
        border-right: 1px solid map-get($colors , light2);
        border-bottom: 1px solid map-get($colors , light2);

        .card-header {
          min-height: 30px;
          padding: 15px 0px;
        }

        .card-info {
          min-height: 30px;
          border-top: map-get($borders, thin-dark);
          padding: 10px 0;
          margin-left: -16px;
          margin-right: -16px;
          padding: 15px 20px;

          .description {
            font-weight: 500;
            font-size: 1.3rem;
            border-bottom: map-get($borders, thin);
          }

          .join-code-info {
            border-bottom: map-get($borders, thin);
          }
        }
      }

      .mat-badge-content{
        font-weight: 500;
        width: 25px;
        font-size: 0.9rem;
        color: white;
      }

      .workspace-widget {
        // background-color: map-get($colors, light-gray);
        // color: map-get($colors, white);
        color: map-get($colors, gray2);
        font-weight: 600;
        // border-left: 8px solid map-get($colors, white);
        cursor: pointer;

        .card-media {
          margin: -16px 0px -16px -16px !important;
        }

        &.selected {
          border-left: 8px solid map-get($colors, accent);
          background-color: map-get($colors, white);
          color: map-get($colors, dark);
          // margin-right: -20px;

          .workspace-selected-arrow {
            margin-right: -16px;
          }

          .open-join-code-button {

            .mat-icon {
              color: map-get( $colors, gray);
            }

            .chip__m{
              background-color: map-get( $colors, light2);
            }
          }
        }
      }
    }
  }
}

.workspace-detail-container {
  background: map-get($colors, white);
  border-left: map-get($borders , thin-dark);
  height: 100%;

  ::ng-deep .mat-tab-header {
    padding-top: 10px;
    background-color: map-get($colors , light3);
    border-bottom: none;

    .mat-ink-bar {
      background-color: map-get($colors , primary) !important;
      height: 5px;
    }

    .mat-tab-link {
      height: 45px;
      border-left: none;
      border-right: 1px solid map-get($colors, light-gray);
      border-bottom: 1px solid map-get($colors, light-gray);
      background: map-get($colors, white);
      color: map-get($colors, primary);
      font-size: 1.3rem !important;
      font-weight: 600;
      opacity: 1;

      &:last-child {
        border-right: none;
      }

      .mat-chip {
        background-color: map-get($colors, accent);
        color: white;
      }

      .mat-icon {
        color: map-get($colors, primary);
      }
    }
  }

  .error-message {
    margin: 20px;
    padding: 20px;
    color: map-get($colors, white);
    background-color: map-get($colors, light-dark);
    text-align: center;
    border-radius: 5px;
  }

  .workspace-detail-tab-content {
    height: calc(100% - 55px);
    overflow: hidden;
  }
}
