<div id="workspace-owner-container" fxLayout="row" fxLayoutAlign="space-between stretch"
     fxLayout.lt-md="column" fxLayoutAlign.lt-md="start stretch" fxLayoutGap.lt-md="10px">

  <!-- Left Column : Workspace list -->
  <div class="workspace-list-container" fxFlex="0 0 300px"
       fxLayout="column" fxLayoutAlign="start stretch" fxFlex.lt-md="0 0 auto">

    <!--  Content header  -->
    <div class="content-header-container" fxFlex="0 0 70px"
         fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.lt-md="start center">
      <app-main-content-header fxFlex="0 0 auto"
                               [content]="content"
                               [isSearchOn]="false"
                               [isAutocompleteDisabled]="false"
                               [labels]="[]">
      </app-main-content-header>
    </div>
    <!-- Workspace creation buttons -->
    <ng-container *ngIf="workspaces">
      <div class="workspaces-actions-container p-10" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
        <button mat-flat-button class="create-workspace-button"
                [ngClass]="{'bg__accent txt__white':!isDemoButtonShown}"
                aria-label="create a new workspace"
                [disabled]="!isQuotaLeft()"
                (click)="openWorkspaceCreationDialog()">
          <mat-icon fontSet="material-icons-outlined" class="mr-5">add</mat-icon>
          <span>Create workspace</span>
        </button>
        <ng-container *ngIf="isDemoButtonShown">
          <button mat-flat-button color="accent" class="create-demo-workspace-button"
                  aria-label="create demo workspace" (click)="createDemoWorkspace()">
            <mat-icon fontSet="material-icons-outlined" class="mr-10">auto_fix_high</mat-icon>
            <span>Create demo workspace</span>
          </button>
        </ng-container>
        <div *ngIf="!isQuotaLeft()" class="max-quota-warning p-10">
          No workspace quota left.
          If you want to create more workspaces and you cannot free up quota by deleting unused workspaces,
          please contact us.
        </div>
      </div>
    </ng-container>
    <!-- Workspace list -->
    <div class="workspace-list pl-10 pr-10" *ngIf="workspaces"
         fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px"
         fxShow.gt-sm="true" fxHide.lt-md="true">
      <ng-container *ngFor="let workspace of workspaces">
        <mat-card class="workspace-item p-15"
                  [ngClass]="{'selected': isWorkspaceSelected(workspace), 'new': isNewWorkspace(workspace.id)}"
                  (click)="selectWorkspace(workspace.id)">
          <!-- widget header -->
          <div class="card-header" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="workspace-icon center__v" fxFlex="0 0 32px">
              <mat-icon>people</mat-icon>
            </div>
            <div class="workspace-title mat-subheading-2" fxFlex="grow">
              <span>{{ workspace.name }}</span>
            </div>
            <div class="workspace-selected-arrow center__v" fxFlex="0 0 25px"
                 *ngIf="isWorkspaceSelected(workspace)">
              <mat-icon>navigate_next</mat-icon>
            </div>
          </div>
          <!-- widget detail -->
          <mat-card-content class="workspace-info mt-10 pt-10" fxLayout="column"
                            *ngIf="isWorkspaceSelected(workspace)">
            <div class="description pb-10 mat-body-1">
              {{ workspace.description || 'No description for the workspace' }}
            </div>
            <div class="join-code-info pt-10 pb-10" fxLayout="row" fxLayoutAlign="space-between stretch">
              <span class="function-title" fxFlex="0 0 75px">Join code</span>
              <div class="open-join-code-button" fxLayout="row"
                   (click)="openJoinCodeDialog(workspace)">
                <mat-icon class="mr-5">vpn_key</mat-icon>
                <div class="chip__hidden center__v">● ● ● ● ● ● ●</div>
              </div>
            </div>
            <div class="expiration-date-info pt-10" fxLayout="row" fxLayoutAlign="space-between stretch">
              <span class="function-title" fxFlex="0 0 75px">Expiring by</span>
              <span class="expiration-date">{{ getExpiry_date(workspace) }}</span>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
    <!-- Mobile workspace-list -->
    <div class="mobile-workspace-list ml-10 mr-10" *ngIf="workspaces" fxLayout="column" fxLayoutAlign="start stretch"
         fxHide.gt-sm="true" fxShow.lt-md="true">
      <mat-form-field appearance="fill">
        <mat-label>Select workspace</mat-label>
        <mat-select [(value)]="selectedWorkspaceId" (selectionChange)="workspaceSelectChange()">
          <ng-container *ngFor="let workspace of workspaces">
            <mat-option [value]="workspace.id">{{workspace.name}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- message space -->
    <div class="message-container" *ngIf="!workspaces">
      <div class="empty-message" *ngIf="workspaces !== null">
        <mat-icon fontSet="material-icons-outlined" class="md-96">memory</mat-icon>
        <span class="message-title">
          No workspaces
        </span>
      </div>
      <div class="empty-message" *ngIf="workspaces === null">
        <mat-icon fontSet="material-icons-outlined" class="md-96">hourglass_top</mat-icon>
        <span class="message-title">...Loading...</span>
      </div>
    </div>
  </div>
  <!--  //// END div.workspaces-actions-container -->

  <!-- Right Column : Workspace Detail -->
  <div class="workspace-detail-container" fxFlex="grow">
    <ng-container *ngIf="selectedWorkspace">
      <mat-tab-group mat-align-tabs="center" class="workspace-owner-tab"
                     (selectedTabChange)="handleTabChange($event)"
                     animationDuration="100ms"
                     [selectedIndex]="selectedTab">
        <mat-tab label="environments">
          <ng-template mat-tab-label>
            <mat-icon class="md-18">book</mat-icon>
            <span class="tab-title" fxHide.lt-sm="true">Applications</span>
            <mat-chip *ngIf="environmentCount > 0" class="chip__m">
              {{environmentCount}}
            </mat-chip>
          </ng-template>
          <app-main-workspace-environments [workspaceId]="selectedWorkspaceId">
          </app-main-workspace-environments>
        </mat-tab>
        <mat-tab label="members">
          <ng-template mat-tab-label>
            <mat-icon class="md-18">person</mat-icon>
            <span class="tab-title" fxHide.lt-sm="true">Members</span>
            <mat-chip *ngIf="memberCount > 0" class="chip__m">
              {{memberCount}}
            </mat-chip>
          </ng-template>
          <app-main-workspace-members [workspaceId]="selectedWorkspaceId">
          </app-main-workspace-members>
        </mat-tab>
        <mat-tab label="info">
          <ng-template mat-tab-label>
            <mat-icon class="md-18">settings</mat-icon>
            <span class="tab-title" fxHide.lt-sm="true">Info</span>
          </ng-template>
          <app-main-workspace-item-detail [workspaceId]="selectedWorkspaceId"
                                          (workspaceDeletedEvent)="openDeleteWorkspaceDialog()">
          </app-main-workspace-item-detail>
        </mat-tab>
      </mat-tab-group>
    </ng-container>

    <ng-container *ngIf="isWorkspaceDeleted">
      <section class="message-container">
        <div class="error-message">
          <span class="message-title mt-80">Workspace successfully deleted</span>
          <mat-icon fontSet="material-icons-outlined" class="md-96">delete</mat-icon>
          <p class="message-description">
            Please select another workspace from the left column.
          </p>
        </div>
      </section>
    </ng-container>

    <ng-container *ngIf="isNoWorkspace && !isWorkspaceDeleted">
      <div class="message-container">
        <div class="empty-message">
          <span class="message-title mt-80">No workspaces</span>
          <mat-icon fontSet="material-icons-outlined" class="md-96">touch_app</mat-icon>
          <span class="message-description">Start by creating a new workspace</span>
        </div>
      </div>
    </ng-container>

  </div>
  <!--  //// END div.workspace-detail-container -->
</div>
