@import "src/styles/main.scss";

#workspace-owner-container {
  grid-template-columns: 300px auto;
  background: map-get($app-primary, 200);
  height: 100vh;
  overflow: hidden;

  .content-header-container {
    #content-header {
      display: block !important;
    }
  }

  .card-header {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: max-content auto max-content;
  }
}

// ---- Left UI
#workspace-owner-container {

  .workspaces-actions-container button {
    width: 100%;
  }

  .max-quota-warning {
    border-radius: 5px;
    border: 2px solid map-get($app-gray, 300);
    color: map-get($app-gray, default);
    font-weight: bold;
  }

  .workspace-list-container {
    overflow: auto;

    .workspace-list {

      .workspace-item {
        color: map-get($app-primary, default);
        cursor: pointer;
        border-left: 8px solid #fff;
        padding: 15px 8px 15px 8px !important;

        .workspace-info {
          border-top: map-get($borders, thin-dark);

          dl {
            grid-template-columns: 110px auto;

            .open-join-code-button {
              display: grid;
              grid-template-columns: 30px auto;

              mat-icon {
                color: map-get($app-primary, light);
              }
            }
          }
        }

        &.deleted {
          background-color: map-get($app-gray, 100);
        }

        &.selected {
          color: map-get($app-gray, 900);
        }

        &.owner {
          &.selected {
            border-left: 8px solid map-get($app-warn, default);
          }
        }

        &.co-owner,
        &.manager {
          &.selected {
            border-left: 8px solid map-get($app-secondary, 800);
          }
        }

        &.archived {
          border-left: 8px solid map-get($app-primary, 300);
          border: 1px solid map-get($app-primary, 400);
          background-color: map-get($app-primary, 300) !important;

          .chip__password {
            background: map-get($app-gray, default);
          }

          .user-role-txt,
          mat-icon {
            color: map-get($app-gray, 800);
          }

          .expiration-date {
            color: map-get($app-warn, 900);
          }

          &.selected {
            border-left: 8px solid map-get($app-primary, 400);
          }
        }
      }

      &.new .workspace-title span:after {
        content: "New";
        font-size: 1.1rem;
        background: map-get($app-accent, default);
        color: #fff;
        padding: 2px 8px;
        margin-left: 5px;
        border-radius: 8px;
      }
    }

    .mat-mdc-form-field {
      width: 100% !important;
    }
  }
}

.mobile-workspace-list {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: #fff;
  }
}

// ---- Right UI
#workspace-owner-container {
  #workspace-owner-tab-container {
    position: relative;
    background: #acb0e0;
    border: 5px solid map-get($app-primary, 400);
    height: 100vh;
    overflow: auto;

    ::ng-deep app-service-announcement {
      background-color: #acb0e0;
    }

    .course-request-wrapper {
      position: relative;
      background: #acb0e0;
      top: 15px;
      float: right;
      height: 0;

      button.course-request {
        background: #fff;
        z-index: 1000;
        padding: 1px 15px 3px 20px;
        //font-size: 1.4rem;
        border-radius: 50px;
        color: map-get($app-primary, default);
      }
    }

    .gray-out-container {
      position: absolute;
      z-index: 10000;
      height: 100%;
      width: 100%;

      .gray-out-panel {
        position: absolute;
        height: 100%;
        width: 100%;
        background: map-get($app-gray, 900);
        opacity: 0.8;
        top: 0;
        z-index: 1;
      }

      .status-info-container {
        height: 100%;

        .success-status {
          position: relative;
          z-index: 1000;
          color: white;
        }
      }
    }

    ::ng-deep .mat-mdc-tab-header {
      padding-top: 15px;
      padding-right: 180px;
      height: 65px;
      background-color: map-get($app-primary, 400);
      border-bottom: none;
      flex-basis: 65px;
      /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
      .mat-tab-label {
        padding: 0 15px;
        min-width: 150px;
        height: 50px;
        background: #fff;
        border: 1px solid map-get($app-primary, 400);
        color: map-get($app-primary, default);

        .tab-title {
          margin-left: 5px;
        }

        .chip__m {
          background-color: map-get($app-primary, light);
          color: white;
          min-height: 20px;
        }
      }
    }
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
    ::ng-deep .mat-tab-body-wrapper {
      background: #fff;
    }
  }
}

.tablet#workspace-owner-container {
  grid-template-columns: auto !important;
  grid-template-rows: auto auto !important;
  overflow: auto !important;

  .workspace-list-container {
    overflow: auto !important;
  }

}

.mobile#workspace-owner-container {

  height: 100% !important;

  .content-header-container {
    display: grid;
    grid-template-rows: auto !important;
    min-height: 50px !important;
  }


  #workspace-owner-tab-container {
    overflow: auto !important;
  }

  .course-request-wrapper {
    display: none !important;
  }

  ::ng-deep .mat-mdc-tab-header {
    padding-right: 0 !important;
  }

  .table-container {
    overflow: auto !important;
  }
}
