@import "src/styles/main.scss";

.dialog-container {
  height: 100%;
  overflow: hidden;

  .mat-dialog-title {
    padding: 0;
    margin: 0 0 10px;
  }

  form {
    height: 100%;
    padding: 0;

    .form-inner {
      max-height: 95%;
      overflow-y: scroll;
      border: 2px solid map-get($app-gray, 200);
      padding: 0 20px 20px;
      border-radius: 5px;

      mat-dialog-content {
        padding: 5px;

        section.form-container {
          margin-bottom: 25px;

          p {
            @include headline-5;
            margin-bottom: 40px;
          }
        }
      }

      h3 {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 1.5rem;
        font-weight: bold;
      }

      .mat-mdc-table {
        border: 2px solid map-get($app-gray, 100);

        .mat-mdc-header-row {
          height: 20px;
          background: map-get($app-gray, 100);
        }
      }

      .template-name {
        white-space: nowrap;
        font-weight: bold;
      }

      .template-labels {
        white-space: nowrap;

        span.label:after {
          content: '/';
          margin-left: 2px;
        }

        span.label:last-child:after {
          content: none;
        }
      }

      ::ng-deep mat-form-field {
        width: 100%;

        .mat-mdc-text-field-wrapper {
          padding-left: 10px;
          min-height: 40px;

          .mat-mdc-form-field-infix {
            padding: 5px;
          }
        }
      }

      .session-memory .mat-mdc-select,
      .session-lifetime .mat-mdc-select {
        background-color: rgba(0, 0, 0, 0.04);
        padding: 10px;
        border-radius: 4px 4px 0 0;
        border-bottom: 1px solid map-get($app-gray, light);
      }

      .mat-mdc-dialog-content {
        max-height: 100% !important;

        .env-var-example {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }

      .dialog-actions {
        margin-top: 20px;
      }

      button {
        &.pop-up-button {
          margin-top: 15px;
          background-color: #919cd2;
          color: $light-text-color;
        }

        &:disabled {
          background-color: map-get($app-gray, 100) !important;
        }
        &.submit-button {
          width: 80% !important;
        }

        &.cancel-button {
          width: 20%;
        }
      }
    }
  }
}
