@import "src/styles/main.scss";

.dialog-container {
  height: 100%;

  .corner-button-container {
    height: 20px;
  }

  form {
    height: 100%;

    .mat-dialog-title {
      border-bottom: none;
      margin-top: 0 !important;
      margin-bottom: 10px !important;
    }

    .form-inner {
      max-height: 90%;
      overflow-y: scroll;
      border: 2px solid map-get($app-gray, 200);
      padding: 10px 20px;
      border-radius: 5px;

      .mat-dialog-content {
        max-height: 100% !important;
      }
    }

    ::ng-deep .mat-form-field-infix {
      border-top: none !important;
    }

    ::ng-deep .mat-select-arrow-wrapper {
      transform: translateY(0%);
    }

    .session-memory .mat-select,
    .session-lifetime .mat-select{
      background-color: rgba(0, 0, 0, 0.04);
      padding: 10px;
      border-radius: 4px 4px 0 0;
      border-bottom: 1px solid  map-get($app-gray, light);
    }
  }

  // ---- MEMO:
  // ---- To avoid displaying "All" as the last one in the options
  .mat-option {
    &:last-child:before {
      content: none;
    }
  }

  .mat-title {
    margin-bottom: 4px !important;
  }

  .mat-radio-group,
  .checkbox-group {
    margin-bottom: 10px;
    display: block;
  }

  table {
    ::ng-deep .mat-column-info {
      padding: 5px 10px !important;
      vertical-align: top;

      .template-labels {
        white-space: nowrap;

        span.label:after {
          content: '/';
          margin-left: 2px;
        }

        span.label:last-child:after {
          content: none;
        }
      }
    }

    ::ng-deep .mat-column-spec {
      min-width: 135px;
      vertical-align: middle;
    }
  }

}
