@import "src/styles/main.scss";

.dialog-container {
  height: 100%;
  overflow: hidden;

  .mat-dialog-title {
    padding: 0;
    margin: 0 0 10px;
  }

  form {
    height: 100%;
    padding: 0;

    .form-inner {
      max-height: 95%;
      overflow-y: scroll;
      border: 2px solid $gray-dark-color;
      border-radius: 5px;

      mat-dialog-content {
        padding: 0;
      }

      ::ng-deep mat-form-field {
        width: 100%;

        .mat-mdc-text-field-wrapper {
          padding-left: 10px;
          min-height: 40px;

          .mat-mdc-form-field-infix {
            padding: 5px;
          }
        }
      }

      .mat-mdc-dialog-content {
        max-height: 100% !important;


      }

      .dialog-actions {
        padding: 20px 25px;
        display: flex;
        flex-direction: row;
        gap: 10px;

        button {

          &:disabled {
            background-color: map-get($app-gray, 100) !important;
          }

          &.submit-button {
            flex: 1 1 50%;
          }

          &.submit-draft-button:not(.mat-mdc-button-disabled) {
            flex: 1 1 30%;
            border: solid 2px $primary-color;
            color: $primary-color;
          }

          &.cancel-button {
            flex: 1 1 20%;
          }
        }
      }
    }
  }
}

section {
  position: relative;
  padding: 55px 35px 20px 30px;
  border-bottom: 2px solid $gray-dark-color;

  h3.section-title {
    position: absolute;
    font-size: 1.3rem;
    background: $gray-dark-color;
    color: #FFFFFF;
    padding: 3px 15px;
    margin-top: -55px;
    margin-left: -30px;
  }

  .form-container {

    &.application-template-form {
      margin-bottom: 50px;
    }

    &.application-type-form,
    &.image-source-form {
      margin-bottom: 40px;
    }

    &.custom-image-form,
    &.session-lifetime-form,
    &.session-memory-form,
    &.download-method-form,
    &.storage-form {
      margin-bottom: 35px;
    }

    &.storage-form {
      .checkbox-group {
        margin-bottom: 10px;

        ::ng-deep .mdc-form-field {
          display: flex;
          align-items: flex-start;

          .mdc-checkbox {
            margin-top: -6px;
          }
        }
      }
    }

    &.image-url-form {
      margin-bottom: 55px;
    }

    h3.form-title {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 1.6rem !important;
      font-weight: 600;

      .hint {
        display: inline;
        margin-left: 5px;
        font-weight: normal;
        font-size: 1.3rem;

        .key {
          display: inline;
          border: solid 1px $gray-color;
          background: $gray-light-color;
          text-transform: capitalize;
          height: 25px;
          width: 55px;
          font-weight: bold;
          padding: 2px 8px;
          border-radius: 3px;
        }
      }
    }

    p {
      margin-bottom: 5px !important;
      @include headline-5;
    }

    ::ng-deep.toggle-button-group {
      display: flex;
      align-items: stretch;
      box-shadow: none !important;
      border: 1px $gray-dark-color solid !important;
      overflow: visible;

      .mat-button-toggle {
        flex: 1;
        align-items: stretch;
        border-left: 1px $gray-dark-color solid;

        .mat-button-toggle-button {
          font-size: 1.4rem !important;
        }

        &:first-child {
          border-left: none;
        }

        .mat-button-toggle-label-content {
          display: flex;
          overflow: visible;
          align-items: stretch;
          padding: 10px 20px !important;
          line-height: 120%;
          color: $primary-dark-color;
        }
      }

      .mat-button-toggle-checked {
        background-color: $secondary-color;
        color: white;

        .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
          color: #FFFFFF !important;
          display: block;
        }

        .mat-button-toggle-label-content {
          color: #FFFFFF !important;
        }
      }
    }

    &.application-template-form {
      ::ng-deep.mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }

    .mat-mdc-table {
      border: 2px solid map-get($app-gray, 100);

      .mat-mdc-header-row {
        height: 20px;
        background: map-get($app-gray, 100);
      }

      .template-name {
        white-space: nowrap;
        font-weight: bold;
      }

      .template-labels {
        white-space: nowrap;

        span.label:after {
          content: '/';
          margin-left: 2px;
        }

        span.label:last-child:after {
          content: none;
        }
      }
    }

    .env-var-example {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  .form-value {
    text-transform: capitalize;
  }
}

.custom-image-creation-btn {
  margin-bottom: 10px;
}

.session-memory-form .mat-mdc-select,
.session-lifetime-form .mat-mdc-select {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 10px;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid map-get($app-gray, light);
}

.link {
  @include center(both, inline);
  gap: 3px;
  color: $primary-color !important;
  font-size: 1.4rem !important;
  text-decoration: underline;

  mat-icon {
    font-size: 1.8rem !important;
    color: $primary-color !important;
    height: 16px !important;
    width: 18px !important;
  }
}