<div class="mat-typography dialog-container" ngClass.lt-sm="mobile">
  <div class="corner-button-container" fxHide.lt-sm="true">
    <button mat-icon-button mat-dialog-close class="corner-button" (click)="closeForm()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form id="dialog" [formGroup]="applicationItemEditFormGroup">
    <h1 class="mat-dialog-title mat-headline">{{ isCreationMode ? 'Add new' : 'Edit' }} application</h1>
    <div class="form-inner">
      <mat-dialog-content class="plain-form-container">
        <!-- 1 Env Templates-->
        <section class="form-container">
          <h3 class="mat-title">Application template *</h3>
          <ng-container *ngIf="isCreationMode; else templateNameBlock">
            <mat-form-field appearance="fill">
              <mat-select formControlName="applicationTemplateId"
                          (selectionChange)="onChangeApplicationTemplate($event.source.value)"
                          placeholder="Choose your application template from the list">
                <mat-option *ngFor="let tmpl of applicationTemplates" value="{{ tmpl.id }}">
                  <ng-container *ngIf="!tmpl.is_enabled">[disabled]</ng-container>
                  {{ tmpl.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <table mat-table [dataSource]="applicationTemplateDataSource" class="mt-10 mb-20"
                   *ngIf="selectedApplicationTemplate">
              <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef>Template information</th>
                <td mat-cell *matCellDef="let element">
                  <ul>
                    <li class="template-name mat-subheading-2 mb-5"> {{element.name}} </li>
                    <li class="description mat-caption" [innerHTML]="element.description"></li>
                    <li class="template-labels mat-caption center__v">
                      <span class="mr-5 center__v">
                        <mat-icon fontSet="material-icons-outlined" class="md-16 mr-2">label</mat-icon>
                        Labels:
                      </span>
                      <ng-container *ngFor="let label of element.labels">
                        <span class="label mr-2">{{ label }}</span>
                      </ng-container>
                    </li>
                  </ul>
                </td>
              </ng-container>
              <ng-container matColumnDef="spec">
                <th mat-header-cell *matHeaderCellDef>Template Spec</th>
                <td mat-cell *matCellDef="let element">
                  <ul class="mat-caption">
                    <li class="center__v">
                      <mat-icon fontSet="material-icons-outlined" class="md-16 mr-5">apps</mat-icon>
                      Application type: {{ element["application_type"] }}
                    </li>
                  </ul>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="applicationTemplateColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: applicationTemplateColumns;"></tr>
            </table>
          </ng-container>
          <ng-template #templateNameBlock>
            <p>{{ this.data.application.template_name }}</p>
          </ng-template>
        </section>

        <!-- 1-2 Container Image -->
        <section class="form-container">
          <h3 class="mat-title">Container Image *</h3>
          <p class="mat-caption">Change only if you need a custom image. The image has to be compatible with the template.</p>
          <mat-form-field appearance="fill">
            <input matInput formControlName="imageUrl" [value]="selectedApplicationTemplateImage">
          </mat-form-field>
          <mat-checkbox class="mt-10" formControlName="isAlwaysPullImage">
            Always pull image
          </mat-checkbox>
          <p class="mat-caption mt-4 ml-25">(Check if you have to reuse a tag for different image versions.)</p>
        </section>

        <!-- 2 Name-->
        <section class="form-container">
          <h3 class="mat-title">Application name *</h3>
          <mat-form-field appearance="fill">
            <input matInput formControlName="name">
            <mat-error *ngIf="!applicationItemEditFormGroup.controls.name.valid">
              <strong>Name is required</strong>
            </mat-error>
          </mat-form-field>
        </section>

        <!-- 3 Description-->
        <section class="form-container">
          <h3 class="mat-title">Description *</h3>
          <mat-form-field appearance="fill">
            <textarea matInput formControlName="description"></textarea>
            <mat-error *ngIf="!applicationItemEditFormGroup.controls.description.valid">
              <strong>Description is required</strong>
            </mat-error>
          </mat-form-field>
        </section>

        <!-- 4 Category-->
        <section class="form-container">
          <h3 class="mat-title">Category labels </h3>
          <app-main-search-box [labels]="selectedLabels"></app-main-search-box>
        </section>

        <!-- 5 Jupyter Interface-->
        <section class="form-container" *ngIf="applicationType==='jupyter'">
          <h3 class="mat-title">Jupyter interface</h3>
          <mat-radio-group formControlName="jupyterInterface" (change)="onChangeJupyterInterface($event.value)">
            <ul>
              <li>
                <mat-radio-button [value]="'lab'">Lab</mat-radio-button>
              </li>
              <li>
                <mat-radio-button [value]="'notebook'">Notebook</mat-radio-button>
              </li>
            </ul>
          </mat-radio-group>
        </section>

        <!-- 6.1 Lifetime -->
        <section class="form-container session-lifetime">
          <h3 class="mat-title">Session lifetime</h3>
          <mat-select formControlName="sessionLifetimeHours">
            <mat-option *ngFor="let opt of availableLifetimeOptions" [value]="opt.value">
              {{opt.viewValue}}
            </mat-option>
          </mat-select>
        </section>

        <!-- 6.2 Memory -->
        <section class="form-container session-memory">
          <h3 class="mat-title">Session memory</h3>
          <mat-select formControlName="sessionMemoryGiB">
            <mat-option *ngFor="let opt of availableMemoryOptions" [value]="opt.value">
              {{opt.viewValue}}
            </mat-option>
          </mat-select>
        </section>

        <!-- 7-2 Include External files -->
        <section class="form-container">
          <h3 class="mat-title">Download method</h3>
          <mat-radio-group formControlName="downloadMethod" (change)="onChangeDownloadMethod($event.value)">
            <ul>
              <li>
                <mat-radio-button [value]="'none'">None</mat-radio-button>
              </li>
              <li>
                <mat-radio-button [value]="'git-clone'">Git clone from Repository</mat-radio-button>
              </li>
              <li>
                <mat-radio-button [value]="'http-get'">Download the file from URL</mat-radio-button>
              </li>
              <li>
                <mat-radio-button [value]="'local'" disabled>Upload the file from your computer</mat-radio-button>
              </li>
            </ul>
          </mat-radio-group>
        </section>

        <!-- 7-3 Source -->
        <section class="form-container">
          <ng-container [ngSwitch]="selectedDownloadMethod">
            <div *ngSwitchCase="'local'">
              <button mat-flat-button color="primary">Upload file</button>
            </div>
            <div
              *ngSwitchCase=" ['git-clone','http-get'].includes(selectedDownloadMethod) ? selectedDownloadMethod : !selectedDownloadMethod ">
              <h3>Source(URL)</h3>
              <mat-form-field appearance="fill">
                <input matInput formControlName="source">
              </mat-form-field>
            </div>
          </ng-container>
        </section>

        <!-- 7-4 Auto Execution -->
        <section class="form-container" *ngIf="selectedDownloadMethod !== 'none'">
          <h3 class="mat-title">Auto execution</h3>
          <div class="checkbox-group">
            <mat-checkbox formControlName="isAutoExecution"> Execute initial file (Bash file, unZip)</mat-checkbox>
          </div>
        </section>

        <!-- 7-5 Shared / User work folder -->
        <section class="form-container">
          <h3 class="mat-title">Shared folder</h3>
          <div class="checkbox-group">
            <mat-checkbox formControlName="isEnableSharedFolder" [disabled]="data.isWorkspacePublic" >
              Enable 'shared' folder within your workspace. <span class="mat-caption ml-10"></span>
            </mat-checkbox>
            <p class="mat-caption mt-4 ml-25">(It's workspace specific and read-only for users.)</p>
          </div>
        </section>
        <section class="form-container">
          <h3 class="mat-title">Work folder per user</h3>
          <div class="checkbox-group">
            <mat-checkbox formControlName="isEnableUserWorkFolder">
              Enable personal persistent 'work' folder for users.
            </mat-checkbox>
            <p class="mat-caption mt-4 ml-25">(The folder is workspace specific.)</p>
          </div>
        </section>

        <!-- 7-6 Work User Folder Size -->
        <section class="form-container" *ngIf="authService.isAdmin">
          <h3 class="mat-title">Size of the user work folder per user in Gi (Default is 1)</h3>
          <mat-form-field appearance="fill">
            <input matInput type="number" formControlName="userWorkFolderSize">
          </mat-form-field>
        </section>


        <!-- 8 Publish -->
        <section class="form-container">
          <h3 class="mat-title">Publication</h3>
          <mat-radio-group formControlName="publish">
            <ul>
              <li>
                <mat-radio-button [value]="true">Publish immediately</mat-radio-button>
              </li>
              <li>
                <mat-radio-button [value]="false">Save as a draft</mat-radio-button>
              </li>
            </ul>
          </mat-radio-group>
        </section>
      </mat-dialog-content>

      <!-- Submit -->
      <div class="dialog-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px"
           fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center stretch">
        <button mat-flat-button color="primary" fxFlex="grow"
                *ngIf="isCreationMode"
                [disabled]="applicationItemEditFormGroup.invalid || createButtonClicked"
                (click)="createApplicationByPlainMode()">
          Add new
        </button>
        <button mat-flat-button class="submit-button" color="primary" fxFlex="grow"
                *ngIf="!isCreationMode"
                [disabled]="applicationItemEditFormGroup.invalid || editButtonClicked"
                (click)="editApplicationItem()">
          Update
        </button>
        <button mat-button class="button-link button-sm" fxFlex="0 0 auto" (click)="closeForm()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
