<footer class="footer">
  <div class="footer-wrapper">
    <dl class="developer-info">
      <dt>About {{ publicConfigService.getInstallationName() }}</dt>
      <dd>
        <a [href]="publicConfigService.getTermsOfUseUrl()" rel="noopener" target="_blank">Terms of use</a>
      </dd>
      <dd>
        <a [href]="publicConfigService.getAccessibilityStatementUrl()" rel="noopener" target="_blank">Accessibility</a>
      </dd>
      <dd>
        <a [href]="publicConfigService.getTermsOfUseUrl()" rel="noopener" target="_blank">Cookies</a>
      </dd>
      <dd>
        <a [href]="publicConfigService.getPrivacyPolicyUrl()" rel="noopener" target="_blank">Privacy</a>
      </dd>
    </dl>
    <dl class="info-support">
      <dt>{{ publicConfigService.getInstallationName() }} Support</dt>
      <dd>Open Monday to Friday (9:00 - 16:00 Finnish time)</dd>
      <dd>
        <!--        <mat-icon class="md-16 mr-5 no-u-line" fontSet="material-icons-outlined">email</mat-icon>-->
        <a class="contact-info" href="mailto:{{ publicConfigService.getContactEmail() }}" rel="noopener">
          {{ publicConfigService.getContactEmail() }}
        </a>
      </dd>
      <dd>
        <span class="address-info">
          Life Science Center Keilaniemi<br>Keilaranta 14, Espoo, Finland
        </span>
      </dd>
    </dl>
    <dl class="owner-info">
      <dt>
        CSC - IT CENTER FOR SCIENCE LTD.
      </dt>
      <dd>
        <a class="company-link" href="https://www.csc.fi/" rel="noopener" target="_blank">
          <div class="owner-logo">
            <div class="csc-logo">
              <img alt="csc-logo"
                   src="assets/images/logo/csc-logo.svg">
            </div>
            <p>ICT Solutions for Brilliant Minds</p>
          </div>
        </a>
      </dd>
      <!--      <dd>-->
      <!--        <a href="https://www.csc.fi/contact-info" target="_blank" rel="noopener">-->
      <!--          Detailed Contact Information-->
      <!--        </a>-->
      <!--      </dd>-->
    </dl>
  </div>
</footer>
