<footer id="footer" class="footer inversion dark u-line">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between">
    <div class="footer-column">
      <div class="footer-links">
        <dl>
          <dt>About Notebooks</dt>
          <dd>
            <a href="https://research.csc.fi/en/notebooks-terms-of-use" target="_blank" rel="noopener"> Terms of use </a>
          </dd>
          <dd>
            <a href="https://notebooks.csc.fi/accessibility_statement.html" target="_blank" rel="noopener"> Accessibility </a>
          </dd>
          <dd>
            <a href="https://research.csc.fi/en/notebooks-terms-of-use#4" target="_blank" rel="noopener"> Cookies </a>
          </dd>
          <dd>
            <a href="https://research.csc.fi/en/notebooks-terms-of-use#6" target="_blank" rel="noopener"> Privacy </a>
          </dd>
        </dl>
      </div>
    </div>
    <div class="footer-column">
      <dl>
        <dt>Notebooks Support Desk</dt>
        <dd>Open Monday to Friday (9:00 - 16:00)</dd>
        <dd><a href="mailto:servicedesk@csc.fi" rel="noopener">servicedesk@csc.fi</a></dd>
        <dd>
          Life Science Center Keilaniemi: <br>
          Keilaranta 14, Espoo, Finland
        </dd>
        <!-- <dd>
          <a href="http://www.csc.fi/careers" target="_blank" rel="noopener">
          Open positions
          </a>
        </dd> -->
      </dl>
    </div>
    <div class="footer-column company-information">
      <dl>
        <dt>
          CSC - IT CENTER FOR SCIENCE LTD.
        </dt>
        <dd>
          <div class="csc-logo" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <img src="assets/images/logo/csc_logo.svg" alt="csc-logo">
            <p>ICT Solutions for Brilliant Minds</p>
          </div>
        </dd>
        <dd>
          <a href="http://www.csc.fi/contact-info" target="_blank" rel="noopener">
          Detailed Contact Information
          </a>
        </dd>
      </dl>
    </div>

  </div>
</footer>
