@use 'main' as main;

#footer {
  @include main.primary-dark-background;
  padding: 30px 20px 50px;

  .footer-wrapper {
    display: flex;
    gap: 20px;
    max-width: main.$content-max-width;
    min-height: inherit;
    margin: 10px auto 0;

    dl {
      flex: 1;
      line-height: 175%;

      dt {
        margin-bottom: 10px;
        font-size: 1.4rem;
      }

      dd {
        font-size: 1.2rem;
        font-weight: 300;
      }
    }

    .owner-logo {
      display: grid;
      gap: 10px;
    }
  }

  // ----- Laptop
  @media (width >= 600px) {
    .footer-wrapper {
      flex-direction: row;
    }
  }

  // ----- MOBILE
  @media (width <= 599px) {
    .footer-wrapper {
      flex-direction: column;
    }
  }

  .owner-logo {
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    margin: 10px 0;

    img {
      width: 60px;
    }
  }
}

.mobile#footer .container {
  grid-template-rows: auto auto auto !important;
  grid-template-columns: auto !important;
  row-gap: 25px;
  justify-content: space-between;

  dl dd {
    justify-content: start;
    margin-left: 15px;
  }
}
