<footer id="footer" class="bg__primary-dark pt-40 pb-40 u-line" ngClass.lt-sm="p-20">
  <div class="container mat-body-2" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between start"
       fxLayoutGap="30px">
    <dl class="info-notebook footer-column" fxFlex="30">
      <dt>About Notebooks</dt>
      <dd>
        <a [href]="publicConfigService.getTermsOfUseUrl()" target="_blank" rel="noopener">Terms of use</a>
      </dd>
      <dd>
        <a [href]="publicConfigService.getAccessibilityStatementUrl()" target="_blank" rel="noopener">Accessibility</a>
      </dd>
      <dd>
        <a [href]="publicConfigService.getTermsOfUseUrl()" target="_blank" rel="noopener">Cookies</a>
      </dd>
      <dd>
        <a [href]="publicConfigService.getTermsOfUseUrl()" target="_blank" rel="noopener">Privacy</a>
      </dd>
    </dl>
    <dl class="info-support footer-column" fxFlex="30">
      <dt>Notebooks Support</dt>
      <dd>Open Monday to Friday (9:00 - 16:00)</dd>
      <dd>
        <a href="mailto:{{ publicConfigService.getContactEmail() }}" rel="noopener">
        {{ publicConfigService.getContactEmail() }}
        </a>
      </dd>
      <dd>
        Life Science Center Keilaniemi: <br>
        Keilaranta 14, Espoo, Finland
      </dd>
    </dl>
    <dl class="info-company footer-column" fxFlex="30">
      <dt>
        CSC - IT CENTER FOR SCIENCE LTD.
      </dt>
      <dd>
        <div class="csc-logo" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <img src="assets/images/logo/csc_logo.svg" alt="csc-logo">
          <p>ICT Solutions for Brilliant Minds</p>
        </div>
      </dd>
      <dd>
        <a href="https://www.csc.fi/contact-info" target="_blank" rel="noopener">
          Detailed Contact Information
        </a>
      </dd>
    </dl>
  </div>
</footer>
