<ng-container *ngIf="content">
  <div class="content-header v-centering" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
    <h2 class="title">{{ content.title }}</h2>
    <div class="search-form" fxFlex="grow" fxLayout="row"
    *ngIf="isSearchOn">
      <mat-icon fontSet="material-icons-outlined">search</mat-icon>
      <mat-form-field appearance="">
        <mat-label>
          Search
        </mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
</ng-container>